**Set environment**

In [1]:
### basic
import sys
sys.path.append('../')
from config_sing import *

### specific tools
import sqlite3
# https://stackoverflow.com/questions/49456158/integer-in-python-pandas-becomes-blob-binary-in-sqlite
sqlite3.register_adapter(np.int64, lambda val: int(val))
sqlite3.register_adapter(np.int32, lambda val: int(val))

### global variables
fdiry = os.path.join(FD_RES, "KS91_K562_ASTARRseq", 'database')
fname = "fragment_astarr_gata1.db"
FPATH_DB = os.path.join(fdiry, fname)

You are on Duke Server: Singularity: Proj ENCODE FCC
BASE DIRECTORY:     /mount/work
PATH OF SOURCE:     /mount/work/source
PATH OF EXECUTABLE: /mount/work/exe
PATH OF ANNOTATION: /mount/work/annotation
PATH OF PROJECT:    /mount/project
PATH OF RESULTS:    /mount/work/out/proj_encode_fcc

## Sample information

In [2]:
fdiry = os.path.join(FD_RES, "KS91_K562_ASTARRseq", "fragment")
fname = "library_size.tsv"
fpath = os.path.join(fdiry, fname)

dat_sam = pd.read_table(fpath)
print(dat_sam.dtypes)
dat_sam.head()

Sample       object
Group        object
Replicate    object
Size          int64
dtype: object

       Sample  Group Replicate    Size
0  Input_rep1  Input      rep1  358823
1  Input_rep2  Input      rep2  461577
2  Input_rep3  Input      rep3  496229
3  Input_rep4  Input      rep4  464845
4  Input_rep5  Input      rep5  454013

In [3]:
dat_sam.to_records(index=False)

rec.array([('Input_rep1', 'Input', 'rep1', 358823),
           ('Input_rep2', 'Input', 'rep2', 461577),
           ('Input_rep3', 'Input', 'rep3', 496229),
           ('Input_rep4', 'Input', 'rep4', 464845),
           ('Input_rep5', 'Input', 'rep5', 454013),
           ('Input_rep6', 'Input', 'rep6', 409058),
           ('Output_rep1', 'Output', 'rep1', 505724),
           ('Output_rep2', 'Output', 'rep2', 686033),
           ('Output_rep3', 'Output', 'rep3', 441621),
           ('Output_rep4', 'Output', 'rep4', 739000)],
          dtype=[('Sample', 'O'), ('Group', 'O'), ('Replicate', 'O'), ('Size', '<i8')])

## create table and schema

In [6]:
query_reset = ("DROP TABLE IF EXISTS Sample")

query_table = ("""CREATE TABLE IF NOT EXISTS Sample(
    sample    TEXT PRIMARY KEY, 
    treatment TEXT,
    replicate TEXT,
    size      INTEGER
);""")

query_insert = ("INSERT INTO Sample (sample, treatment, replicate, size) VALUES (?, ?, ?, ?)")

In [7]:
fpath_db = FPATH_DB
with sqlite3.connect(fpath_db) as conn:
    ### reset
    cursor = conn.cursor()
    query  = query_reset
    cursor = cursor.execute(query)
    
    ### create table
    query  = query_table
    cursor = cursor.execute(query)
    
    ### insert values
    rows   = dat_sam.to_records(index=False)
    query  = query_insert
    cursor = cursor.executemany(query, rows)
    
    ### show that the table is created
    cursor = cursor.execute("SELECT * FROM Sample")
    for row in cursor.fetchall():
        print(row)

('Input_rep1', 'Input', 'rep1', 358823)
('Input_rep2', 'Input', 'rep2', 461577)
('Input_rep3', 'Input', 'rep3', 496229)
('Input_rep4', 'Input', 'rep4', 464845)
('Input_rep5', 'Input', 'rep5', 454013)
('Input_rep6', 'Input', 'rep6', 409058)
('Output_rep1', 'Output', 'rep1', 505724)
('Output_rep2', 'Output', 'rep2', 686033)
('Output_rep3', 'Output', 'rep3', 441621)
('Output_rep4', 'Output', 'rep4', 739000)

## Scratch

In [2]:
from functools import reduce
fun = np.core.defchararray.add
idx = np.arange(1,6).astype("str")
INPUT = reduce(fun, ["Input_rep", idx])

idx = np.arange(1,5).astype("str")
OUTPUT = reduce(fun, ["Output_rep", idx])

SAMPLES = np.concatenate([INPUT, OUTPUT])
print(SAMPLES)

['Input_rep1' 'Input_rep2' 'Input_rep3' 'Input_rep4' 'Input_rep5'
 'Output_rep1' 'Output_rep2' 'Output_rep3' 'Output_rep4']

In [3]:
sample = "Input_rep1"
fdiry  = os.path.join(FD_RES, "KS91_K562_ASTARRseq", "fragment_nuc")
fname  = f"KS91_K562_hg38_ASTARRseq*{sample}*GATA1*.bed.gz"
fglob  = os.path.join(fdiry, fname)
print(fglob)
glob.glob(fglob)

/mount/work/out/proj_encode_fcc/KS91_K562_ASTARRseq/fragment_nuc/KS91_K562_hg38_ASTARRseq*Input_rep1*GATA1*.bed.gz

['/mount/work/out/proj_encode_fcc/KS91_K562_ASTARRseq/fragment_nuc/KS91_K562_hg38_ASTARRseq_Input_rep1.GATA1.unstranded.dedups.bed.gz']

In [6]:
os.path.join(FD_RES

'/mount/work/out/proj_encode_fcc'

In [14]:
FD_RES

'/mount/work/out/proj_encode_fcc'

In [13]:
fdiry = os.path.join(FD_RES, "KS91_K562_ASTARRseq")
os.listdir(fdiry)

FileNotFoundError: [Errno 2] No such file or directory: '/mount/work/out/proj_encode_fcc/KS91_K562_ASTARRseq'