**Set environment**

In [13]:
suppressWarnings(suppressMessages(source("../config/config_sing.R")))
suppressWarnings(suppressMessages(library("GenomicRanges")))

## Import data

In [6]:
fdiry = file.path(FD_RES, "results", "Tewhey_K562_TileMPRA", "fragment")
dir(fdiry)

[1] "OL13_20220512.FADS.stranded_pos.bed"
[2] "OL13_20220512.hg19.raw.stranded_pos.bed"
[3] "OL13_20220512.hg38.raw.stranded_pos.bed"
[4] "OL13_20220512.unlifted.raw.stranded_pos.bed"
[5] "OL43_20221003.GATA1.stranded_pos.bed"
[6] "OL43_20221003.hg38.raw.stranded_pos.bed"
[7] "OL43_20221003.MYC.stranded_pos.bed"
[8] "OL45_20220927.hg38.raw.stranded_pos.bed"

In [19]:
fdiry = file.path(FD_RES, "results", "Tewhey_K562_TileMPRA", "fragment")
fname = "OL13_20220512.hg38.raw.stranded_pos.bed"
fpath = file.path(fdiry, fname)

cnames = c("Chrom", "Start", "End", "Name", "Score", "Strand")
dat = read_tsv(fpath, col_names = cnames, show_col_types = FALSE)

dat_frag_tmpra_OL13 = dat
print(dim(dat))
head(dat)

[1] 21914     6

  Chrom Start    End      Name                    Score Strand
1 chr11 61787329 61787528 chr11:61554801-61555000 .     +
2 chr11 61787334 61787533 chr11:61554806-61555005 .     +
3 chr11 61787339 61787538 chr11:61554811-61555010 .     +
4 chr11 61787344 61787543 chr11:61554816-61555015 .     +
5 chr11 61787349 61787548 chr11:61554821-61555020 .     +
6 chr11 61787354 61787553 chr11:61554826-61555025 .     +

In [20]:
fdiry = file.path(FD_RES, "results", "Tewhey_K562_TileMPRA", "fragment")
fname = "OL43_20221003.hg38.raw.stranded_pos.bed"
fpath = file.path(fdiry, fname)

cnames = c("Chrom", "Start", "End", "Name", "Score", "Strand")
dat = read_tsv(fpath, col_names = cnames, show_col_types = FALSE)

dat_frag_tmpra_OL43 = dat
print(dim(dat))
head(dat)

[1] 96087     6

  Chrom Start     End       Name                     Score Strand
1 chr8  126735901 126736100 chr8:126735901-126736100 .     +
2 chr8  126735951 126736150 chr8:126735951-126736150 .     +
3 chr8  126736001 126736200 chr8:126736001-126736200 .     +
4 chr8  126736051 126736250 chr8:126736051-126736250 .     +
5 chr8  126736101 126736300 chr8:126736101-126736300 .     +
6 chr8  126736151 126736350 chr8:126736151-126736350 .     +

In [23]:
fdiry = file.path(FD_RES, "results", "Tewhey_K562_TileMPRA", "fragment")
fname = "OL45_20220927.hg38.raw.stranded_pos.bed"
fpath = file.path(fdiry, fname)

cnames = c("Chrom", "Start", "End", "Name", "Score", "Strand")
dat = read_tsv(fpath, col_names = cnames, show_col_types = FALSE)

dat_frag_tmpra_OL45 = dat
print(dim(dat))
head(dat)

[1] 71200     6

  Chrom Start    End      Name                   Score Strand
1 chr2  59553301 59553500 chr2:59553301-59553500 .     +
2 chr2  59553401 59553600 chr2:59553401-59553600 .     +
3 chr2  59553501 59553700 chr2:59553501-59553700 .     +
4 chr2  59553601 59553800 chr2:59553601-59553800 .     +
5 chr2  59553701 59553900 chr2:59553701-59553900 .     +
6 chr2  59553801 59554000 chr2:59553801-59554000 .     +

## Setup GRanges for each file

In [113]:
dat = dat_frag_tmpra_OL13
grg = GRanges(
    seqnames = dat$Chrom,
    ranges   = IRanges(
        start = dat$Start, 
        end   = dat$End, 
        names = dat$Name
    )) #,
    #strand = dat$Strand,
    #score  = dat$Score)

grg_frag_tmpra_OL13 = grg

In [114]:
dat = dat_frag_tmpra_OL43
grg = GRanges(
    seqnames = dat$Chrom,
    ranges   = IRanges(
        start = dat$Start, 
        end   = dat$End, 
        names = dat$Name
    )) #,
    #strand = dat$Strand,
    #score  = dat$Score)

grg_frag_tmpra_OL43 = grg

In [115]:
dat = dat_frag_tmpra_OL45
grg = GRanges(
    seqnames = dat$Chrom,
    ranges   = IRanges(
        start = dat$Start, 
        end   = dat$End, 
        names = dat$Name
    )) #,
    #strand = dat$Strand,
    #score  = dat$Score)

grg_frag_tmpra_OL45 = grg

## OL13 | FADS region

In [116]:
grg = grg_frag_tmpra_OL13
grg

GRanges object with 21914 ranges and 0 metadata columns:
                          seqnames            ranges strand
                             <Rle>         <IRanges>  <Rle>
  chr11:61554801-61555000    chr11 61787329-61787528      *
  chr11:61554806-61555005    chr11 61787334-61787533      *
  chr11:61554811-61555010    chr11 61787339-61787538      *
  chr11:61554816-61555015    chr11 61787344-61787543      *
  chr11:61554821-61555020    chr11 61787349-61787548      *
                      ...      ...               ...    ...
  chr11:61665601-61665800    chr11 61898129-61898328      *
  chr11:61665606-61665805    chr11 61898134-61898333      *
  chr11:61665611-61665810    chr11 61898139-61898338      *
  chr11:61665616-61665815    chr11 61898144-61898343      *
  chr11:61665621-61665820    chr11 61898149-61898348      *
  -------
  seqinfo: 1 sequence from an unspecified genome; no seqlengths

In [117]:
grg = grg_frag_tmpra_OL13
grg = GenomicRanges::reduce(grg)
grg$Name  = "FADS"
grg$Score = "."

grg_fads  = grg
print(grg)

GRanges object with 1 range and 2 metadata columns:
      seqnames            ranges strand |        Name       Score
         <Rle>         <IRanges>  <Rle> | <character> <character>
  [1]    chr11 61787329-61898348      * |        FADS           .
  -------
  seqinfo: 1 sequence from an unspecified genome; no seqlengths

## OL43 | GATA-MYC region

In [118]:
grg = grg_frag_tmpra_OL43
grg

GRanges object with 96087 ranges and 0 metadata columns:
                           seqnames              ranges strand
                              <Rle>           <IRanges>  <Rle>
  chr8:126735901-126736100     chr8 126735901-126736100      *
  chr8:126735951-126736150     chr8 126735951-126736150      *
  chr8:126736001-126736200     chr8 126736001-126736200      *
  chr8:126736051-126736250     chr8 126736051-126736250      *
  chr8:126736101-126736300     chr8 126736101-126736300      *
                       ...      ...                 ...    ...
    chrX:49880251-49880450     chrX   49880251-49880450      *
    chrX:49880301-49880500     chrX   49880301-49880500      *
    chrX:49880351-49880550     chrX   49880351-49880550      *
    chrX:49880401-49880600     chrX   49880401-49880600      *
    chrX:49880451-49880650     chrX   49880451-49880650      *
  -------
  seqinfo: 2 sequences from an unspecified genome; no seqlengths

In [119]:
grg = grg_frag_tmpra_OL43
grg = GenomicRanges::reduce(grg)
grg

GRanges object with 7 ranges and 0 metadata columns:
      seqnames              ranges strand
         <Rle>           <IRanges>  <Rle>
  [1]     chr8 126735901-127794350      *
  [2]     chr8 127794451-128736550      *
  [3]     chrX   47785501-48280750      *
  [4]     chrX   48280801-48660600      *
  [5]     chrX   48660651-48835550      *
  [6]     chrX   48835701-49348350      *
  [7]     chrX   49528401-49880650      *
  -------
  seqinfo: 2 sequences from an unspecified genome; no seqlengths

In [108]:
grg = grg_frag_tmpra_OL43
grg = GenomicRanges::reduce(grg)
grg = range(grg)
grg 
grg

GRanges object with 2 ranges and 0 metadata columns:
      seqnames              ranges strand
         <Rle>           <IRanges>  <Rle>
  [1]     chr8 126735901-128736550      +
  [2]     chrX   47785501-49880650      +
  -------
  seqinfo: 2 sequences from an unspecified genome; no seqlengths

In [95]:
grg = grg_frag_tmpra_OL45
grg = GenomicRanges::reduce(grg)
lst = split(grg, grg@seqnames)
print(length(lst))

[1] 3

In [89]:
grg = lst[[1]]
print(range(grg))

GRanges object with 1 range and 0 metadata columns:
      seqnames            ranges strand
         <Rle>         <IRanges>  <Rle>
  [1]     chr2 59553301-61553700      +
  -------
  seqinfo: 3 sequences from an unspecified genome; no seqlengths

In [92]:
grg = lst[[2]]
idx = grg@ranges@start < 7000000
grg = grg[which(idx)]
print(range(grg))

GRanges object with 1 range and 0 metadata columns:
      seqnames          ranges strand
         <Rle>       <IRanges>  <Rle>
  [1]    chr11 4505501-6505900      +
  -------
  seqinfo: 3 sequences from an unspecified genome; no seqlengths

In [93]:
grg = lst[[2]]
idx = grg@ranges@start > 7000000
grg = grg[which(idx)]
print(range(grg))

GRanges object with 1 range and 0 metadata columns:
      seqnames            ranges strand
         <Rle>         <IRanges>  <Rle>
  [1]    chr11 32869701-34870100      +
  -------
  seqinfo: 3 sequences from an unspecified genome; no seqlengths

In [94]:
grg = lst[[3]]
print(range(grg))

GRanges object with 1 range and 0 metadata columns:
      seqnames        ranges strand
         <Rle>     <IRanges>  <Rle>
  [1]    chr16 10001-1173100      +
  -------
  seqinfo: 3 sequences from an unspecified genome; no seqlengths

In [44]:
slotNames(grg)

[1] "seqnames"        "ranges"          "strand"          "seqinfo"
[5] "elementMetadata" "elementType"     "metadata"

In [45]:
grg@seqnames

factor-Rle of length 87 with 3 runs
  Lengths:    13    30    44
  Values : chr2  chr11 chr16
Levels(3): chr2 chr11 chr16

In [47]:
grg = grg_frag_tmpra_OL45
grg = GenomicRanges::reduce(grg)
lst = split(grg, grg@seqnames)

In [88]:
grg = lst[[2]]
print(range(grg))
cat("+++++++++++++++++++++++++\n")
print(grg)

GRanges object with 1 range and 0 metadata columns:
      seqnames           ranges strand
         <Rle>        <IRanges>  <Rle>
  [1]    chr11 4505501-34870100      +
  -------
  seqinfo: 3 sequences from an unspecified genome; no seqlengths
+++++++++++++++++++++++++
GRanges object with 30 ranges and 0 metadata columns:
       seqnames            ranges strand
          <Rle>         <IRanges>  <Rle>
   [1]    chr11   4505501-4926800      +
   [2]    chr11   4926901-5005200      +
   [3]    chr11   5005301-5010500      +
   [4]    chr11   5010601-5433300      +
   [5]    chr11   5433401-5596500      +
   ...      ...               ...    ...
  [26]    chr11 34037001-34046300      +
  [27]    chr11 34046401-34209600      +
  [28]    chr11 34209801-34687100      +
  [29]    chr11 34687201-34743800      +
  [30]    chr11 34743901-34870100      +
  -------
  seqinfo: 3 sequences from an unspecified genome; no seqlengths

In [72]:
grg = lst[[2]]
print(range(grg))
cat("+++++++++++++++++++++++++\n")
idx = grg@ranges@start < 7000000
grg[which(idx)]

GRanges object with 1 range and 0 metadata columns:
      seqnames           ranges strand
         <Rle>        <IRanges>  <Rle>
  [1]    chr11 4505501-34870100      +
  -------
  seqinfo: 3 sequences from an unspecified genome; no seqlengths
+++++++++++++++++++++++++

GRanges object with 12 ranges and 0 metadata columns:
       seqnames          ranges strand
          <Rle>       <IRanges>  <Rle>
   [1]    chr11 4505501-4926800      +
   [2]    chr11 4926901-5005200      +
   [3]    chr11 5005301-5010500      +
   [4]    chr11 5010601-5433300      +
   [5]    chr11 5433401-5596500      +
   ...      ...             ...    ...
   [8]    chr11 5844301-6086900      +
   [9]    chr11 6087001-6274700      +
  [10]    chr11 6274801-6355800      +
  [11]    chr11 6355901-6387200      +
  [12]    chr11 6387301-6505900      +
  -------
  seqinfo: 3 sequences from an unspecified genome; no seqlengths

In [73]:
grg = lst[[2]]
print(range(grg))
cat("+++++++++++++++++++++++++\n")
idx = grg@ranges@start > 7000000
grg[which(idx)]

GRanges object with 1 range and 0 metadata columns:
      seqnames           ranges strand
         <Rle>        <IRanges>  <Rle>
  [1]    chr11 4505501-34870100      +
  -------
  seqinfo: 3 sequences from an unspecified genome; no seqlengths
+++++++++++++++++++++++++

GRanges object with 18 ranges and 0 metadata columns:
       seqnames            ranges strand
          <Rle>         <IRanges>  <Rle>
   [1]    chr11 32869701-32893100      +
   [2]    chr11 32893201-33163900      +
   [3]    chr11 33164001-33257200      +
   [4]    chr11 33257301-33376300      +
   [5]    chr11 33376501-33422500      +
   ...      ...               ...    ...
  [14]    chr11 34037001-34046300      +
  [15]    chr11 34046401-34209600      +
  [16]    chr11 34209801-34687100      +
  [17]    chr11 34687201-34743800      +
  [18]    chr11 34743901-34870100      +
  -------
  seqinfo: 3 sequences from an unspecified genome; no seqlengths

In [54]:
grg = lst[[3]]
print(range(grg))
cat("+++++++++++++++++++++++++\n")
print(grg)

GRanges object with 1 range and 0 metadata columns:
      seqnames        ranges strand
         <Rle>     <IRanges>  <Rle>
  [1]    chr16 10001-1173100      +
  -------
  seqinfo: 3 sequences from an unspecified genome; no seqlengths
+++++++++++++++++++++++++
GRanges object with 44 ranges and 0 metadata columns:
       seqnames          ranges strand
          <Rle>       <IRanges>  <Rle>
   [1]    chr16    10001-154100      +
   [2]    chr16   154201-163400      +
   [3]    chr16   163501-164700      +
   [4]    chr16   165001-186100      +
   [5]    chr16   187201-280600      +
   ...      ...             ...    ...
  [40]    chr16 1106701-1113900      +
  [41]    chr16 1114101-1116900      +
  [42]    chr16 1117001-1130800      +
  [43]    chr16 1131001-1153000      +
  [44]    chr16 1153501-1173100      +
  -------
  seqinfo: 3 sequences from an unspecified genome; no seqlengths

In [57]:
fdiry = file.path(FD_RES, "region", "KS91_K562_ASTARRseq_peak_macs")
fname = "KS91_K562_hg38_ASTARRseq_Input.all_reps.masked.union_narrowPeak.q5.bed"
fpath = file.path(fdiry, fname)

cnames = c("Chrom", "Start", "End")
dat = read_tsv(fpath, col_names = cnames, show_col_types = FALSE)

dat_peak_atac_wgs = dat %>% mutate(Peak = paste(Chrom, Start, End, sep="_"))
print(dim(dat))
head(dat)

[1] 247520      3

  Chrom Start End
1 chr1  10015 10442
2 chr1  14253 14645
3 chr1  16015 16477
4 chr1  17237 17772
5 chr1  28903 29613
6 chr1  30803 31072

In [65]:
dat = dat_peak_atac_wgs
grg = GRanges(
    seqnames = dat$Chrom,
    ranges   = IRanges(
        start = dat$Start, 
        end   = dat$End
    ),
    strand = "+"
)

grg_peak = grg
grg

GRanges object with 247520 ranges and 0 metadata columns:
           seqnames              ranges strand
              <Rle>           <IRanges>  <Rle>
       [1]     chr1         10015-10442      +
       [2]     chr1         14253-14645      +
       [3]     chr1         16015-16477      +
       [4]     chr1         17237-17772      +
       [5]     chr1         28903-29613      +
       ...      ...                 ...    ...
  [247516]     chrX 156009687-156010227      +
  [247517]     chrX 156016391-156016836      +
  [247518]     chrX 156024950-156025593      +
  [247519]     chrX 156030187-156030740      +
  [247520]     chrY   11215098-11215422      +
  -------
  seqinfo: 83 sequences from an unspecified genome; no seqlengths

In [67]:
grg = lst[[2]]
grg = range(grg)
print(grg)

GRanges object with 1 range and 0 metadata columns:
      seqnames           ranges strand
         <Rle>        <IRanges>  <Rle>
  [1]    chr11 4505501-34870100      +
  -------
  seqinfo: 3 sequences from an unspecified genome; no seqlengths

In [68]:
GenomicRanges::intersect(grg_peak, grg)

GRanges object with 2473 ranges and 0 metadata columns:
         seqnames            ranges strand
            <Rle>         <IRanges>  <Rle>
     [1]    chr11   4539569-4540043      +
     [2]    chr11   4551336-4552012      +
     [3]    chr11   4553969-4555012      +
     [4]    chr11   4569016-4569992      +
     [5]    chr11   4577444-4578031      +
     ...      ...               ...    ...
  [2469]    chr11 34840294-34841204      +
  [2470]    chr11 34850047-34850814      +
  [2471]    chr11 34855682-34856135      +
  [2472]    chr11 34867469-34867931      +
  [2473]    chr11 34869259-34870036      +
  -------
  seqinfo: 83 sequences from an unspecified genome; no seqlengths