**Set environment**

In [1]:
suppressWarnings(suppressMessages(source("../config/config_sing.R")))
suppressWarnings(suppressMessages(library("GenomicRanges")))

In [2]:
fdiry = file.path(FD_RES, "results", "region")
print(dir(fdiry))

[1] "annotation_crispri_casa"
[2] "annotation_enhancer_junke"
[3] "annotation_gencode"
[4] "KS91_K562_ASTARRseq_peak_macs_input"
[5] "region_screened_crispri_flowfish.bed"
[6] "region_screened_tmpra.bed"

In [3]:
fdiry = file.path(FD_RES, "results", "region")
fname = "region_screened_tmpra.bed"
fpath = file.path(fdiry, fname)
print(fpath)

cnames = c("Chrom", "Start", "End", "Gene")
dat = read_tsv(fpath, col_names = cnames, show_col_types = FALSE)

dat_range_tmpra = dat
print(dim(dat))
head(dat)

[1] "/data/reddylab/Kuei/out/proj_combeffect_encode_fcc/results/region/region_screened_tmpra.bed"
[1] 8 4

  Chrom Start    End      Gene
1 chr11  4505501  6505900 HBE1
2 chr11 32869701 34870100 LMO2
3 chr11 61787329 61898348 FADS
4 chr16    10001  1173100 HBA2
5 chr2  59553301 61553700 BCL11A
6 chr20 56391301 58391700 RBM38

In [4]:
fdiry = file.path(FD_RES, "results", "region")
fname = "region_screened_crispri_flowfish.bed"
fpath = file.path(fdiry, fname)
print(fpath)

cnames = c("Chrom", "Start", "End", "Gene")
dat = read_tsv(fpath, col_names = cnames, show_col_types = FALSE)

dat_range_crispr = dat
print(dim(dat))
head(dat)

[1] "/data/reddylab/Kuei/out/proj_combeffect_encode_fcc/results/region/region_screened_crispri_flowfish.bed"
[1] 13  4

  Chrom Start     End       Gene
1 chr11   4091884   6419310 HBE1,HBG1,HBG2,HBS1L,MYB
2 chr11  33064196  34664117 CAPRIN1,CAT,LMO2
3 chr11  61788524  61897153 FADS1,FADS2,FADS3,FEN1
4 chr12  54300766  54301042 GATA1,HDAC6
5 chr12 110726151 112325737 ERP29
6 chr19  12887110  12887237 GATA1,HDAC6

In [5]:
dat = dat_range_tmpra
grg = GRanges(
    seqnames = dat$Chrom,
    ranges   = IRanges(
        start = dat$Start, 
        end   = dat$End
    )
)

grg_range_tmpra = grg
grg

GRanges object with 8 ranges and 0 metadata columns:
      seqnames              ranges strand
         <Rle>           <IRanges>  <Rle>
  [1]    chr11     4505501-6505900      *
  [2]    chr11   32869701-34870100      *
  [3]    chr11   61787329-61898348      *
  [4]    chr16       10001-1173100      *
  [5]     chr2   59553301-61553700      *
  [6]    chr20   56391301-58391700      *
  [7]     chr8 126735901-128736550      *
  [8]     chrX   47785501-49880650      *
  -------
  seqinfo: 6 sequences from an unspecified genome; no seqlengths

In [6]:
dat = dat_range_crispr
grg = GRanges(
    seqnames = dat$Chrom,
    ranges   = IRanges(
        start = dat$Start, 
        end   = dat$End
    )
)

grg_range_crispr = grg
grg

GRanges object with 13 ranges and 0 metadata columns:
       seqnames              ranges strand
          <Rle>           <IRanges>  <Rle>
   [1]    chr11     4091884-6419310      *
   [2]    chr11   33064196-34664117      *
   [3]    chr11   61788524-61897153      *
   [4]    chr12   54300766-54301042      *
   [5]    chr12 110726151-112325737      *
   ...      ...                 ...    ...
   [9]     chr5   87611207-89911163      *
  [10]     chr6 108840570-109828800      *
  [11]     chr6 134253831-136927585      *
  [12]     chr8 126736094-128735225      *
  [13]     chrX   48397930-49656988      *
  -------
  seqinfo: 9 sequences from an unspecified genome; no seqlengths

In [15]:
grg = c(grg_range_tmpra, grg_range_crispr)
grg = reduce(grg)

dat = data.frame(
    Chrom = as.character(seqnames(grg)),
    Start = start(grg),
    End   = end(grg)
)
dat = dat %>% 
    dplyr::mutate(Name = paste0(Chrom, ":", Start, "-", End)) %>%
    dplyr::arrange(Chrom, Start, End)
dat

Warning message in .merge_two_Seqinfo_objects(x, y):
“Each of the 2 combined objects has sequence levels not in the other:
  - in 'x': chr16, chr2, chr20
  - in 'y': chr12, chr19, chr3, chr4, chr5, chr6
  Make sure to always combine/compare objects based on the same reference
  genome (use suppressWarnings() to suppress this warning).”

   Chrom Start     End       Name
1  chr11   4091884   6505900 chr11:4091884-6505900
2  chr11  32869701  34870100 chr11:32869701-34870100
3  chr11  61787329  61898348 chr11:61787329-61898348
4  chr12  54300766  54301042 chr12:54300766-54301042
5  chr12 110726151 112325737 chr12:110726151-112325737
6  chr16     10001   1173100 chr16:10001-1173100
7  chr19  12887110  12887237 chr19:12887110-12887237
8  chr2   59553301  61553700 chr2:59553301-61553700
9  chr20  56391301  58391700 chr20:56391301-58391700
10 chr3  128487571 128487937 chr3:128487571-128487937
11 chr4   55237590  56068531 chr4:55237590-56068531
12 chr5   87611207  89911163 chr5:87611207-89911163
13 chr6  108840570 109828800 chr6:108840570-109828800
14 chr6  134253831 136927585 chr6:134253831-136927585
15 chr8  126735901 128736550 chr8:126735901-128736550
16 chrX   47785501  49880650 chrX:47785501-49880650

In [16]:
fdiry = file.path(FD_RES, "results", "region")
fname = "region_screened_tmpra_crispr.bed"
fpath = file.path(fdiry, fname)
print(fpath)

write_tsv(dat, fpath, col_names = FALSE)

[1] "/data/reddylab/Kuei/out/proj_combeffect_encode_fcc/results/region/region_screened_tmpra_crispr.bed"

In [14]:
55237590-56068531

[1] -830941

In [8]:
reduce(grg)

GRanges object with 16 ranges and 0 metadata columns:
       seqnames              ranges strand
          <Rle>           <IRanges>  <Rle>
   [1]    chr11     4091884-6505900      *
   [2]    chr11   32869701-34870100      *
   [3]    chr11   61787329-61898348      *
   [4]    chr16       10001-1173100      *
   [5]     chr2   59553301-61553700      *
   ...      ...                 ...    ...
  [12]     chr3 128487571-128487937      *
  [13]     chr4   55237590-56068531      *
  [14]     chr5   87611207-89911163      *
  [15]     chr6 108840570-109828800      *
  [16]     chr6 134253831-136927585      *
  -------
  seqinfo: 12 sequences from an unspecified genome; no seqlengths

In [ ]:
grg = grg_range_merge
dat = data.frame(
    Chrom = as.character(seqnames(grg)),
    Start = start(grg),
    End   = end(grg),
    Name  = grg$Name
)
dat = dat %>% dplyr::arrange(Chrom, Start, End)

fdiry = file.path(FD_RES, "results", "region")
fname = "region_screened_tmpra.bed"
fpath = file.path(fdiry, fname)
print(fpath)

write_tsv(dat, fpath, col_names = FALSE)