In [1]:
suppressMessages(suppressWarnings(source("../config/config_sing.R")))
show_env()

You are in Singularity: singularity_proj_encode_fcc
BASE DIRECTORY (FD_BASE): /data/reddylab/Kuei
WORK DIRECTORY (FD_WORK): /data/reddylab/Kuei/out
CODE DIRECTORY (FD_CODE): /data/reddylab/Kuei/code
PATH OF PROJECT (FD_PRJ): /data/reddylab/Kuei/code/Proj_CombEffect_ENCODE_FCC
PATH OF RESULTS (FD_RES): /data/reddylab/Kuei/out/proj_combeffect_encode_fcc
PATH OF LOG     (FD_LOG): /data/reddylab/Kuei/out/proj_combeffect_encode_fcc/log

In [3]:
fpath="/data/reddylab/Kuei/out/proj_combeffect_encode_fcc/results/A001_K562_WSTARRseq/fragment_count/A001_K562_WSTARRseq.Output.rep3.WGS.unstranded.bed.gz"
dat_lib = read_tsv(fpath, col_names = FALSE)

Rows: 38522888 Columns: 6
── Column specification ───────────────────────────────────────────────────────────────────────
Delimiter: "\t"
chr (3): X1, X4, X6
dbl (3): X2, X3, X5

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

In [4]:
dat = dat_lib
print(dim(dat))
head(dat)

[1] 38522888        6

  X1   X2    X3    X4               X5 X6
1 chr1 10537 11067 chr1_10537_11067 1  .
2 chr1 14408 14799 chr1_14408_14799 1  .
3 chr1 14498 14937 chr1_14498_14937 1  .
4 chr1 14676 15184 chr1_14676_15184 1  .
5 chr1 14684 15162 chr1_14684_15162 1  .
6 chr1 14690 15158 chr1_14690_15158 1  .