---
title: Prepare ASTARR CSAW Peaks 02
subtitle: Prepare data
format:
    html:
        code-fold:  true
        code-tools: true
---

**Set environment**

In [1]:
suppressMessages(suppressWarnings(source("../run_config_project_sing.R")))
show_env()

You are working on        Singularity
BASE DIRECTORY (FD_BASE): /mount
REPO DIRECTORY (FD_REPO): /mount/repo
WORK DIRECTORY (FD_WORK): /mount/work
DATA DIRECTORY (FD_DATA): /mount/data

You are working with      ENCODE FCC
PATH OF PROJECT (FD_PRJ): /mount/repo/Proj_ENCODE_FCC
PROJECT RESULTS (FD_RES): /mount/repo/Proj_ENCODE_FCC/results
PROJECT SCRIPTS (FD_EXE): /mount/repo/Proj_ENCODE_FCC/scripts
PROJECT DATA    (FD_DAT): /mount/repo/Proj_ENCODE_FCC/data
PROJECT NOTE    (FD_NBK): /mount/repo/Proj_ENCODE_FCC/notebooks
PROJECT DOCS    (FD_DOC): /mount/repo/Proj_ENCODE_FCC/docs
PROJECT LOG     (FD_LOG): /mount/repo/Proj_ENCODE_FCC/log
PROJECT APP     (FD_APP): /mount/repo/Proj_ENCODE_FCC/app
PROJECT REF     (FD_REF): /mount/repo/Proj_ENCODE_FCC/references

**Set global variables**

In [2]:
TXT_FOLDER_REGION = "fcc_astarr_csaw"

## Import data

In [3]:
txt_folder = TXT_FOLDER_REGION
txt_fdiry  = file.path(FD_DAT, "processed", txt_folder)

vec = dir(txt_fdiry)
for (txt in vec){cat(txt, "\n")}

atacSTARR.ultra_deep.6dna7rna.csaw_tab_best.hg38.v10.tsv
atacSTARR.ultra_deep.6dna7rna.csaw.hg38.v10.common_file_formatted.txt
atacSTARR.ultra_deep.6dna7rna.csaw.hg38.v10.tsv
atacSTARR.ultra_deep.6dna7rna.csaw.hg38.v10.windows.bed
atacSTARR.ultra_deep.6dna7rna.csaw.hg38.v10.windows.txt
atacSTARR.ultra_deep.corrected.csaw.hg38.v10.common_file_formatted.txt
atacSTARR.ultra_deep.corrected.csaw.hg38.v10.tsv
atacSTARR.ultra_deep.corrected.no_reps_5_and_6.csaw_tab_best.hg38.v10.tsv
atacSTARR.ultra_deep.corrected.no_reps_5_and_6.csaw.hg38.v10.tsv
atacSTARR.ultra_deep.corrected.no_reps_5_and_6.csaw.hg38.v10.windows.bed
atacSTARR.ultra_deep.corrected.no_reps_5_and_6.csaw.hg38.v10.windows.txt

In [4]:
###
txt_folder = TXT_FOLDER_REGION
txt_fdiry  = file.path(FD_DAT, "processed", txt_folder)
txt_fname = "atacSTARR.ultra_deep.6dna7rna.csaw.hg38.v10.common_file_formatted.txt"
txt_fpath = file.path(txt_fdiry, txt_fname)

###
dat = read_tsv(txt_fpath, show_col_types = FALSE)

### assign and show
dat_region_6dna7rna_import = dat
print(dim(dat))
fun_display_table(head(dat))

[1] 359118     11

seqnames,start,end,name,score,strand,logFC,input_avg_counts.cpm,output_avg_counts.cpm,minusLog10PValue,minusLog10QValue
chr1,9976,10475,chr1_9976_10475,86,.,-4.604,0.424,0.001,10.243,8.634
chr1,14226,14675,chr1_14226_14675,100,.,-5.400,0.273,0.002,12.021,10.004
chr1,15976,16525,chr1_15976_16525,61,.,-2.227,0.533,0.012,7.203,6.119
chr1,17201,17800,chr1_17201_17800,84,.,-1.594,0.658,0.054,10.069,8.496
chr1,28876,29650,chr1_28876_29650,98,.,-3.123,0.897,0.010,11.867,9.886
chr1,30776,31100,chr1_30776_31100,59,.,-2.743,0.298,0.007,7.057,5.994

In [5]:
###
txt_folder = TXT_FOLDER_REGION
txt_fdiry  = file.path(FD_DAT, "processed", txt_folder)
txt_fname = "atacSTARR.ultra_deep.corrected.csaw.hg38.v10.common_file_formatted.txt"
txt_fpath = file.path(txt_fdiry, txt_fname)

###
dat = read_tsv(txt_fpath, show_col_types = FALSE)

### assign and show
dat_region_corrected_import = dat
print(dim(dat))
fun_display_table(head(dat))

[1] 352944     11

seqnames,start,end,name,score,strand,logFC,input_avg_counts.cpm,output_avg_counts.cpm,minusLog10PValue,minusLog10QValue
chr1,9976,10475,chr1_9976_10475,62,.,-4.184,0.204,0.002,7.358,6.299
chr1,14226,14675,chr1_14226_14675,79,.,-6.187,0.209,0.000,9.192,7.917
chr1,15976,16525,chr1_15976_16525,42,.,-2.236,0.196,0.013,5.062,4.267
chr1,17201,17800,chr1_17201_17800,64,.,-1.944,0.790,0.021,7.506,6.429
chr1,28876,29650,chr1_28876_29650,76,.,-2.559,0.691,0.016,8.940,7.698
chr1,30776,31100,chr1_30776_31100,40,.,-2.501,0.252,0.003,4.826,4.060

**Check**

In [6]:
dat = dat_region_6dna7rna_import
table(dat$seqnames)

 chr1 chr10 chr11 chr12 chr13 chr14 chr15 chr16 chr17 chr18 chr19  chr2 chr20
45294 16767 17689 15505  4994  6314 11618 13218 15032  7363 12384 28011  8764
chr21 chr22  chr3  chr4  chr5  chr6  chr7  chr8  chr9  chrM  chrX
 6310  7075 20643 14267 19439 26508 29510 14374 12270    14  5755

In [7]:
dat = dat_region_corrected_import
table(dat$seqnames)

 chr1 chr10 chr11 chr12 chr13 chr14 chr15 chr16 chr17 chr18 chr19  chr2 chr20
44400 16448 17364 15209  4901  6266 11459 12834 14745  7192 12059 27722  8615
chr21 chr22  chr3  chr4  chr5  chr6  chr7  chr8  chr9  chrX
 6198  6877 20388 14107 19125 26122 28951 14155 12044  5763

## Arrange data

In [20]:
vec_txt_cname1 = c(
    "Chrom",
    "ChromStart",
    "ChromEnd",
    "Name",
    "Score",
    "Strand", 
    "Log2FC",
    "Input_CPM",
    "Output_CPM",
    "MinusLog10PValue",
    "MinusLog10QValue"
)

vec_txt_cname2 = c(
    vec_txt_cname1,
    "Dataset",
    "Group",
    "Label"
)

In [23]:
### init
lst = list(
    "KSMerge" = dat_region_6dna7rna_import,
    "KS91"    = dat_region_corrected_import
)

### arrange data
lst = lapply(lst, function(dat){
    ### rename columns
    colnames(dat) = vec_txt_cname1
    
    ### change format of region
    dat = dat %>% dplyr::mutate(Name = paste0(Chrom, ":", ChromStart, "-", ChromEnd))

    ### filter out mitochondrial regions
    dat = dat %>% dplyr::filter(Chrom != "chrM")
    return(dat)
})

### add group and label
dat = bind_rows(lst, .id = "Dataset")
dat = dat %>% 
    dplyr::mutate(
        Group = "ASTARR",
        Label = ifelse(
            Log2FC >= 0,
            paste("ASTARR_A", "csaw", Dataset, sep = ":"),
            paste("ASTARR_R", "csaw", Dataset, sep = ":")
        )
    ) %>%
    dplyr::select(!!!vec_txt_cname2)
lst = split(dat, dat$Dataset)

### assign
lst_region_arrange = lst

**Check**

In [24]:
lst = lst_region_arrange
dat = lst[["KSMerge"]]
dat_region_6dna7rna_arrange = dat

print(table(dat$Chrom))
cat("\n")
print(dim(dat))
cat("\n")
fun_display_table(head(dat, 3))

 chr1 chr10 chr11 chr12 chr13 chr14 chr15 chr16 chr17 chr18 chr19  chr2 chr20
45294 16767 17689 15505  4994  6314 11618 13218 15032  7363 12384 28011  8764
chr21 chr22  chr3  chr4  chr5  chr6  chr7  chr8  chr9  chrX
 6310  7075 20643 14267 19439 26508 29510 14374 12270  5755

[1] 359104     14

Chrom,ChromStart,ChromEnd,Name,Score,Strand,Log2FC,Input_CPM,Output_CPM,MinusLog10PValue,MinusLog10QValue,Dataset,Group,Label
chr1,9976,10475,chr1:9976-10475,86,.,-4.604,0.424,0.001,10.243,8.634,KSMerge,ASTARR,ASTARR_R:csaw:KSMerge
chr1,14226,14675,chr1:14226-14675,100,.,-5.400,0.273,0.002,12.021,10.004,KSMerge,ASTARR,ASTARR_R:csaw:KSMerge
chr1,15976,16525,chr1:15976-16525,61,.,-2.227,0.533,0.012,7.203,6.119,KSMerge,ASTARR,ASTARR_R:csaw:KSMerge

In [25]:
lst = lst_region_arrange
dat = lst[["KS91"]]
dat_region_corrected_arrange = dat

print(table(dat$Chrom))
cat("\n")
print(dim(dat))
cat("\n")
fun_display_table(head(dat, 3))

 chr1 chr10 chr11 chr12 chr13 chr14 chr15 chr16 chr17 chr18 chr19  chr2 chr20
44400 16448 17364 15209  4901  6266 11459 12834 14745  7192 12059 27722  8615
chr21 chr22  chr3  chr4  chr5  chr6  chr7  chr8  chr9  chrX
 6198  6877 20388 14107 19125 26122 28951 14155 12044  5763

[1] 352944     14

Chrom,ChromStart,ChromEnd,Name,Score,Strand,Log2FC,Input_CPM,Output_CPM,MinusLog10PValue,MinusLog10QValue,Dataset,Group,Label
chr1,9976,10475,chr1:9976-10475,62,.,-4.184,0.204,0.002,7.358,6.299,KS91,ASTARR,ASTARR_R:csaw:KS91
chr1,14226,14675,chr1:14226-14675,79,.,-6.187,0.209,0.000,9.192,7.917,KS91,ASTARR,ASTARR_R:csaw:KS91
chr1,15976,16525,chr1:15976-16525,42,.,-2.236,0.196,0.013,5.062,4.267,KS91,ASTARR,ASTARR_R:csaw:KS91

## Define column description

In [28]:
### setup column description
dat = tribble(
    ~Name,              ~Note,
    "Chrom",            "Name of the chromosome",
    "ChromStart",       "The starting position of the feature in the chromosome",
    "ChromEnd",         "The ending position of the feature in the chromosome",
    "Name",             "Name given to a region; Use '.' if no name is assigned.",
    "Score",            "Score assigned to a region.",
    "Strand",           "+/- to denote strand or orientation. Use '.' if no orientation is assigned.",
    "Log2FC",           "Fold change (normalized output/input ratio, in log2 space)",
    "Input_CPM",        "Input CPM, mean across replicates",
    "Output_CPM",       "Output CPM, mean across replicates",
    "MinusLog10PValue", "-log10 of P-value",
    "MinusLog10QValue", "-log10 of Q-value (FDR)",
    "Dataset",          "Dataset",
    "Group",            "Assay name",
    "Label",            "Region label"
)

### assign and show
dat_cname = dat
fun_display_table(dat)

Name,Note
Chrom,Name of the chromosome
ChromStart,The starting position of the feature in the chromosome
ChromEnd,The ending position of the feature in the chromosome
Name,Name given to a region; Use '.' if no name is assigned.
Score,Score assigned to a region.
Strand,+/- to denote strand or orientation. Use '.' if no orientation is assigned.
Log2FC,"Fold change (normalized output/input ratio, in log2 space)"
Input_CPM,"Input CPM, mean across replicates"
Output_CPM,"Output CPM, mean across replicates"
MinusLog10PValue,-log10 of P-value
MinusLog10QValue,-log10 of Q-value (FDR)
Dataset,Dataset
Group,Assay name
Label,Region label

## Save results

In [31]:
txt_folder = TXT_FOLDER_REGION
txt_fdiry  = file.path(FD_RES, "region", txt_folder, "summary")
txt_fname  = "description.tsv"
txt_fpath  = file.path(txt_fdiry, txt_fname)

dir.create(txt_fdiry, showWarnings = FALSE)
dat = dat_cname
write_tsv(dat, txt_fpath)

In [29]:
### set file path
txt_folder = TXT_FOLDER_REGION
txt_fdiry  = file.path(FD_RES, "region", txt_folder)
txt_fname = "K562.hg38.ASTARR.csaw.KSMerge.bed.gz"
txt_fpath = file.path(txt_fdiry, txt_fname)

### get table
dat = dat_region_6dna7rna_arrange
dat = dat %>% dplyr::arrange(Chrom, ChromStart, ChromEnd)

### write tabel
dir.create(txt_fdiry, showWarnings = FALSE)
write_tsv(dat, txt_fpath, col_names = FALSE)

In [30]:
### set file path
txt_folder = TXT_FOLDER_REGION
txt_fdiry  = file.path(FD_RES, "region", txt_folder)
txt_fname = "K562.hg38.ASTARR.csaw.KS91.bed.gz"
txt_fpath = file.path(txt_fdiry, txt_fname)

### get table
dat = dat_region_corrected_arrange
dat = dat %>% dplyr::arrange(Chrom, ChromStart, ChromEnd)

### write tabel
dir.create(txt_fdiry, showWarnings = FALSE)
write_tsv(dat, txt_fpath, col_names = FALSE)