In [1]:
suppressMessages(suppressWarnings(source("../config/config_sing.R")))
show_env()

You are in Singularity: singularity_proj_encode_fcc
BASE DIRECTORY (FD_BASE): /data/reddylab/Kuei
WORK DIRECTORY (FD_WORK): /data/reddylab/Kuei/out
CODE DIRECTORY (FD_CODE): /data/reddylab/Kuei/code
PATH OF PROJECT (FD_PRJ): /data/reddylab/Kuei/code/Proj_CombEffect_ENCODE_FCC
PATH OF RESULTS (FD_RES): /data/reddylab/Kuei/out/proj_combeffect_encode_fcc
PATH OF LOG     (FD_LOG): /data/reddylab/Kuei/out/proj_combeffect_encode_fcc/log

In [4]:
fdiry = file.path(FD_RES, "results", "region", "KS91_K562_ASTARRseq_peak_macs_input", "annotation_hic")
dir(fdiry)

[1] "peak.annotation.K562.ENCSR479XDG.ENCFF126GED.contact_domains.bed.gz"
[2] "peak.annotation.K562.ENCSR479XDG.ENCFF256ZMD.loops.A.bed.gz"
[3] "peak.annotation.K562.ENCSR479XDG.ENCFF256ZMD.loops.B.bed.gz"

In [16]:
fdiry = file.path(FD_RES, "results", "region", "KS91_K562_ASTARRseq_peak_macs_input", "annotation_hic")
fname = "peak.annotation.K562.ENCSR479XDG.ENCFF126GED.contact_domains.bed.gz"
fpath = file.path(fdiry, fname)

cnames = c("Chrom_Peak", "Start_Peak", "End_Peak", "Chrom_TAD", "Start_TAD", "End_TAD", "Overlap")
dat = read_tsv(fpath, col_names = cnames)
dat = dat %>% 
    dplyr::mutate(
        Peak = paste(Chrom_Peak, Start_Peak, End_Peak, sep="_"),
        TAD  = paste(Chrom_TAD,  Start_TAD,  End_TAD,  sep="_")
    )

dat_peak_annot_tad = dat
print(dim(dat))
head(dat)

Rows: 108318 Columns: 7
── Column specification ────────────────────────────────────────────────────────────────────────
Delimiter: "\t"
chr (2): Chrom_Peak, Chrom_TAD
dbl (5): Start_Peak, End_Peak, Start_TAD, End_TAD, Overlap

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

[1] 108318      9

  Chrom_Peak Start_Peak End_Peak Chrom_TAD Start_TAD End_TAD Overlap
1 chr1       1121788    1122529  chr1      1120000   1240000  741
2 chr1       1122893    1123442  chr1      1120000   1240000  549
3 chr1       1124347    1125709  chr1      1120000   1240000 1362
4 chr1       1127455    1129027  chr1      1120000   1240000 1572
5 chr1       1134673    1136326  chr1      1120000   1240000 1653
6 chr1       1136833    1138125  chr1      1120000   1240000 1292
  Peak                 TAD
1 chr1_1121788_1122529 chr1_1120000_1240000
2 chr1_1122893_1123442 chr1_1120000_1240000
3 chr1_1124347_1125709 chr1_1120000_1240000
4 chr1_1127455_1129027 chr1_1120000_1240000
5 chr1_1134673_1136326 chr1_1120000_1240000
6 chr1_1136833_1138125 chr1_1120000_1240000

In [17]:
fdiry = file.path(FD_RES, "results", "region", "KS91_K562_ASTARRseq_peak_macs_input", "annotation_hic")
fname = "peak.annotation.K562.ENCSR479XDG.ENCFF256ZMD.loops.A.bed.gz"
fpath = file.path(fdiry, fname)

cnames = c("Chrom_Peak", "Start_Peak", "End_Peak", "Chrom_Loop", "Start_Loop", "End_Loop", "Overlap")
dat = read_tsv(fpath, col_names = cnames)
dat = dat %>% 
    dplyr::mutate(
        Peak_A = paste(Chrom_Peak, Start_Peak, End_Peak, sep="_"),
        Loop_A = paste(Chrom_Loop, Start_Loop, End_Loop, sep="_")
    )

dat_peak_annot_loop_A = dat
print(dim(dat))
head(dat)

Rows: 55458 Columns: 7
── Column specification ────────────────────────────────────────────────────────────────────────
Delimiter: "\t"
chr (2): Chrom_Peak, Chrom_Loop
dbl (5): Start_Peak, End_Peak, Start_Loop, End_Loop, Overlap

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

[1] 55458     9

  Chrom_Peak Start_Peak End_Peak Chrom_Loop Start_Loop End_Loop Overlap
1 chr1       770944     771343   chr1       770000     780000    399
2 chr1       777949     779437   chr1       770000     780000   1488
3 chr1       903633     905556   chr1       904000     906000   1556
4 chr1       920697     921526   chr1       920000     925000    829
5 chr1       923417     925194   chr1       920000     925000   1583
6 chr1       978177     980894   chr1       980000     990000    894
  Peak_A             Loop_A
1 chr1_770944_771343 chr1_770000_780000
2 chr1_777949_779437 chr1_770000_780000
3 chr1_903633_905556 chr1_904000_906000
4 chr1_920697_921526 chr1_920000_925000
5 chr1_923417_925194 chr1_920000_925000
6 chr1_978177_980894 chr1_980000_990000

In [18]:
fdiry = file.path(FD_RES, "results", "region", "KS91_K562_ASTARRseq_peak_macs_input", "annotation_hic")
fname = "peak.annotation.K562.ENCSR479XDG.ENCFF256ZMD.loops.B.bed.gz"
fpath = file.path(fdiry, fname)

cnames = c("Chrom_Peak", "Start_Peak", "End_Peak", "Chrom_Loop", "Start_Loop", "End_Loop", "Overlap")
dat = read_tsv(fpath, col_names = cnames)
dat = dat %>% 
    dplyr::mutate(
        Peak_B = paste(Chrom_Peak, Start_Peak, End_Peak, sep="_"),
        Loop_B = paste(Chrom_Loop, Start_Loop, End_Loop, sep="_")
    )

dat_peak_annot_loop_B = dat
print(dim(dat))
head(dat)

Rows: 55505 Columns: 7
── Column specification ────────────────────────────────────────────────────────────────────────
Delimiter: "\t"
chr (2): Chrom_Peak, Chrom_Loop
dbl (5): Start_Peak, End_Peak, Start_Loop, End_Loop, Overlap

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

[1] 55505     9

  Chrom_Peak Start_Peak End_Peak Chrom_Loop Start_Loop End_Loop Overlap
1 chr1        841328     842007  chr1        840000     850000  679
2 chr1        842480     843449  chr1        840000     850000  969
3 chr1        849557     850619  chr1        840000     850000  443
4 chr1        975970     976672  chr1        976000     978000  672
5 chr1       1059010    1060142  chr1       1060000    1065000  142
6 chr1       1059010    1060142  chr1       1060000    1065000  142
  Peak_B               Loop_B
1 chr1_841328_842007   chr1_840000_850000
2 chr1_842480_843449   chr1_840000_850000
3 chr1_849557_850619   chr1_840000_850000
4 chr1_975970_976672   chr1_976000_978000
5 chr1_1059010_1060142 chr1_1060000_1065000
6 chr1_1059010_1060142 chr1_1060000_1065000

In [19]:
fdiry = file.path(FD_RES, "results", "region", "annotation_hic")
fname = "K562.ENCSR479XDG.ENCFF256ZMD.loops.tsv"
fpath = file.path(fdiry, fname)

dat = read_tsv(fpath)
dat = dat %>% 
    dplyr::mutate(
        Loop_A = paste(chr1, x1, x2, sep="_"),
        Loop_B = paste(chr2, y1, y2, sep="_")
    ) %>%
    dplyr::select(Loop_A, Loop_B)

dat_hic_loop = dat
print(dim(dat))
head(dat)

Rows: 46004 Columns: 33
── Column specification ────────────────────────────────────────────────────────────────────────
Delimiter: "\t"
chr  (7): chr1, chr2, name, score, strand1, strand2, color
dbl (26): x1, x2, y1, y2, observed, expectedBL, expectedDonut, expectedH, ex...

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

[1] 46004     2

  Loop_A                    Loop_B
1 chr10_102835000_102836000 chr10_102901000_102902000
2 chr10_123583000_123584000 chr10_123967000_123968000
3 chr10_60780000_60782000   chr10_60828000_60830000
4 chr10_33050000_33051000   chr10_33067000_33068000
5 chr10_11412000_11414000   chr10_11472000_11474000
6 chr10_45005000_45010000   chr10_45465000_45470000

In [27]:
dat = dat_hic_loop
print(dim(dat))

dat = dat %>% distinct
print(dim(dat))

[1] 46004     2
[1] 46004     2

In [31]:
res = table(dat$Loop_A)
print(table(res))

res
    1     2     3     4     5     6     7     8
30018  5418  1213   277    63    11     2     1

In [32]:
res = table(dat$Loop_B)
print(table(res))

res
    1     2     3     4     5     6     7     8     9
29769  5364  1259   318    60    14     7     2     1

In [20]:
dat = dat_peak_annot_loop_A
dat = dat %>% dplyr::select(Peak_A, Loop_A)
dat_loop_A = dat

dat = dat_peak_annot_loop_B
dat = dat %>% dplyr::select(Peak_B, Loop_B)
dat_loop_B = dat

In [44]:
dat = dat_hic_loop
dat = left_join(dat, dat_loop_A, by = "Loop_A", multiple = "all")
dat = left_join(dat, dat_loop_B, by = "Loop_B", multiple = "all")
dat = dat %>% na.omit %>% distinct

dat = dat %>% 
    dplyr::group_by(Peak_A, Peak_B) %>%
    dplyr::summarise(Count = n(), .groups = "drop")

dat_edge = dat
print(dim(dat))
head(dat)

[1] 76853     3

  Peak_A                    Peak_B                    Count
1 chr10_100338359_100339077 chr10_100433434_100434444 1
2 chr10_100342247_100342824 chr10_100433434_100434444 1
3 chr10_100342247_100342824 chr10_100508470_100509309 1
4 chr10_100342247_100342824 chr10_100871690_100872646 1
5 chr10_100342247_100342824 chr10_100878006_100879519 1
6 chr10_100342247_100342824 chr10_100879867_100880309 1

In [45]:
print(table(dat_edge$Count))

    1     2
76850     3

In [47]:
dat_edge %>% dplyr::filter(Count > 1)

  Peak_A                   Peak_B                   Count
1 chr6_20291624_20292659   chr6_20401082_20404716   2
2 chr6_20401082_20404716   chr6_20527706_20529341   2
3 chr9_131124532_131126295 chr9_131273110_131279259 2

In [66]:
dat = dat_peak_annot_tad
dat = dat %>% 
    dplyr::group_by(Peak) %>%
    dplyr::summarise(
        TAD = paste(TAD, collapse = ","),
        .groups = "drop"
    )
dat_tad = dat
print(dim(dat))
head(dat)

[1] 102193      2

  Peak                      TAD
1 chr10_100551537_100552089 chr10_100540000_100885000
2 chr10_100561032_100563457 chr10_100540000_100885000
3 chr10_100569736_100570460 chr10_100540000_100885000
4 chr10_100630761_100631892 chr10_100540000_100885000
5 chr10_100636566_100638239 chr10_100540000_100885000
6 chr10_100654717_100655088 chr10_100540000_100885000

In [75]:
vec = unique(c(dat_edge$Peak_A, dat_edge$Peak_B))
dat = data.frame(Peak = vec) %>% 
    tidyr::separate(Peak, c("Chrom", "Start", "End"), remove = FALSE) %>%
    dplyr::left_join(dat_tad, by = "Peak") %>%
    dplyr::arrange(Chrom, Start, End)
dat = dat %>% replace(is.na(.), "None")

dat_node = dat
print(dim(dat))
head(dat)

[1] 50890     5

  Peak                     Chrom Start     End       TAD
1 chr1_100036871_100039191 chr1  100036871 100039191 None
2 chr1_100044617_100044899 chr1  100044617 100044899 None
3 chr1_100046250_100046578 chr1  100046250 100046578 None
4 chr1_100048234_100048985 chr1  100048234 100048985 None
5 chr1_100049562_100050540 chr1  100049562 100050540 None
6 chr1_100130494_100131245 chr1  100130494 100131245 None

In [72]:
table(dat$TAD == "None")

FALSE  TRUE
22217 28673

In [78]:
fdiry = file.path(FD_RES, "results", "region", "KS91_K562_ASTARRseq_peak_macs_input", "summary")
fname = "peak.summary.hic_intact.edge.tsv"
fpath = file.path(fdiry, fname)

write_tsv(dat_edge, fpath)

In [79]:
fdiry = file.path(FD_RES, "results", "region", "KS91_K562_ASTARRseq_peak_macs_input", "summary")
fname = "peak.summary.hic_intact.node.tsv"
fpath = file.path(fdiry, fname)

write_tsv(dat_node, fpath)

In [ ]:
chr11_61814735_61817343
chr11_61869566_61871916