**Set environment**

In [2]:
suppressMessages(suppressWarnings(source("../run_config_project_sing.R")))
show_env()

You are working on        Singularity: singularity_proj_encode_fcc
BASE DIRECTORY (FD_BASE): /data/reddylab/Kuei
REPO DIRECTORY (FD_REPO): /data/reddylab/Kuei/repo
WORK DIRECTORY (FD_WORK): /data/reddylab/Kuei/work
DATA DIRECTORY (FD_DATA): /data/reddylab/Kuei/data

You are working with      ENCODE FCC
PATH OF PROJECT (FD_PRJ): /data/reddylab/Kuei/repo/Proj_ENCODE_FCC
PROJECT RESULTS (FD_RES): /data/reddylab/Kuei/repo/Proj_ENCODE_FCC/results
PROJECT SCRIPTS (FD_EXE): /data/reddylab/Kuei/repo/Proj_ENCODE_FCC/scripts
PROJECT DATA    (FD_DAT): /data/reddylab/Kuei/repo/Proj_ENCODE_FCC/data
PROJECT NOTE    (FD_NBK): /data/reddylab/Kuei/repo/Proj_ENCODE_FCC/notebooks
PROJECT DOCS    (FD_DOC): /data/reddylab/Kuei/repo/Proj_ENCODE_FCC/docs
PROJECT LOG     (FD_LOG): /data/reddylab/Kuei/repo/Proj_ENCODE_FCC/log
PROJECT REF     (FD_REF): /data/reddylab/Kuei/repo/Proj_ENCODE_FCC/references

**Import the ATAC-TSS closest**

In [4]:
txt_fdiry = file.path(FD_RES, "region_closest", "fcc_astarr_macs_input_overlap", "summary")
vec = dir(txt_fdiry)
for(txt in vec){cat(txt, "\n")}

region.pair.genome_tss.tsv
region.summary.genome_tss.tsv

In [13]:
txt_fdiry = file.path(FD_RES, "region_closest", "fcc_astarr_macs_input_overlap", "genome_tss")
txt_fname = "fcc_astarr_macs_input_overlap.genome_tss_pol2_rnaseq.bed.gz"
txt_fpath = file.path(txt_fdiry, txt_fname)

dat = read_tsv(txt_fpath, col_names = FALSE, show_col_types = FALSE)

dat_region_tss_closest = dat
print(dim(dat))
fun_display_table(head(dat))

[1] 151558     13

X1,X2,X3,X4,X5,X6,X7,X8,X9,X10,X11,X12,X13
chr1,10038,10405,chr1:10038-10405,chr1,29370,29371,chr1:29370-29371,WASH7P,0.00023,TSS_Pol2_RNAseq,WASH7P,18966
chr1,14282,14614,chr1:14282-14614,chr1,29370,29371,chr1:29370-29371,WASH7P,0.00023,TSS_Pol2_RNAseq,WASH7P,14757
chr1,16025,16338,chr1:16025-16338,chr1,29370,29371,chr1:29370-29371,WASH7P,0.00023,TSS_Pol2_RNAseq,WASH7P,13033
chr1,17288,17689,chr1:17288-17689,chr1,29370,29371,chr1:29370-29371,WASH7P,0.00023,TSS_Pol2_RNAseq,WASH7P,11682
chr1,28934,29499,chr1:28934-29499,chr1,29370,29371,chr1:29370-29371,WASH7P,0.00023,TSS_Pol2_RNAseq,WASH7P,0
chr1,115429,115969,chr1:115429-115969,chr1,29370,29371,chr1:29370-29371,WASH7P,0.00023,TSS_Pol2_RNAseq,WASH7P,86059

In [16]:
txt_fdiry = file.path(FD_RES, "region_closest", "fcc_astarr_macs_input_overlap", "summary")
txt_fname = "region.pair.genome_tss.tsv"
txt_fpath = file.path(txt_fdiry, txt_fname)

dat = read_tsv(txt_fpath, show_col_types = FALSE)
dat = dat %>% dplyr::filter(Annotation_B == "genome_tss_pol2_rnaseq")

dat_region_tss_closest = dat
print(dim(dat))
fun_display_table(head(dat))

[1] 151558     15

Chrom_A,ChromStart_A,ChromEnd_A,Region_A,Chrom_B,ChromStart_B,ChromEnd_B,Region_B,Gene_B,Score_B,Group_B,Label_B,Distance,Annotation_A,Annotation_B
chr1,10038,10405,chr1:10038-10405,chr1,29370,29371,chr1:29370-29371,WASH7P,0.00023,TSS_Pol2_RNAseq,WASH7P,18966,fcc_astarr_macs_input_overlap,genome_tss_pol2_rnaseq
chr1,14282,14614,chr1:14282-14614,chr1,29370,29371,chr1:29370-29371,WASH7P,0.00023,TSS_Pol2_RNAseq,WASH7P,14757,fcc_astarr_macs_input_overlap,genome_tss_pol2_rnaseq
chr1,16025,16338,chr1:16025-16338,chr1,29370,29371,chr1:29370-29371,WASH7P,0.00023,TSS_Pol2_RNAseq,WASH7P,13033,fcc_astarr_macs_input_overlap,genome_tss_pol2_rnaseq
chr1,17288,17689,chr1:17288-17689,chr1,29370,29371,chr1:29370-29371,WASH7P,0.00023,TSS_Pol2_RNAseq,WASH7P,11682,fcc_astarr_macs_input_overlap,genome_tss_pol2_rnaseq
chr1,28934,29499,chr1:28934-29499,chr1,29370,29371,chr1:29370-29371,WASH7P,0.00023,TSS_Pol2_RNAseq,WASH7P,0,fcc_astarr_macs_input_overlap,genome_tss_pol2_rnaseq
chr1,115429,115969,chr1:115429-115969,chr1,29370,29371,chr1:29370-29371,WASH7P,0.00023,TSS_Pol2_RNAseq,WASH7P,86059,fcc_astarr_macs_input_overlap,genome_tss_pol2_rnaseq

In [6]:
txt_fdiry = file.path(FD_RES, "region_closest", "fcc_astarr_macs_input_overlap", "summary")
txt_fname = "region.summary.genome_tss.tsv"
txt_fpath = file.path(txt_fdiry, txt_fname)

dat = read_tsv(txt_fpath, show_col_types = FALSE)

dat_region_tss_closest = dat
print(dim(dat))
fun_display_table(head(dat))

[1] 150042      8

Chrom,ChromStart,ChromEnd,Region,Annotation_A,Annotation_B,Distance,Label_TSS_Proximity
chr1,10038,10405,chr1:10038-10405,fcc_astarr_macs_input_overlap,genome_tss_pol2_rnaseq,18966,Distal
chr1,14282,14614,chr1:14282-14614,fcc_astarr_macs_input_overlap,genome_tss_pol2_rnaseq,14757,Distal
chr1,16025,16338,chr1:16025-16338,fcc_astarr_macs_input_overlap,genome_tss_pol2_rnaseq,13033,Distal
chr1,17288,17689,chr1:17288-17689,fcc_astarr_macs_input_overlap,genome_tss_pol2_rnaseq,11682,Distal
chr1,28934,29499,chr1:28934-29499,fcc_astarr_macs_input_overlap,genome_tss_pol2_rnaseq,0,Proximal
chr1,115429,115969,chr1:115429-115969,fcc_astarr_macs_input_overlap,genome_tss_pol2_rnaseq,86059,Distal

**Import the ATAC-TSS overlap**

In [10]:
txt_fdiry = file.path(FD_RES, "region_annotation", "fcc_astarr_macs_input_overlap", "genome_tss")
vec = dir(txt_fdiry)
for(txt in vec){cat(txt, "\n")}

fcc_astarr_macs_input_overlap.genome_tss_pol2_rnaseq.bed.gz
fcc_astarr_macs_input_overlap.genome_tss_pol2.bed.gz

In [11]:
txt_fdiry = file.path(FD_RES, "region_annotation", "fcc_astarr_macs_input_overlap", "genome_tss")
txt_fname = "fcc_astarr_macs_input_overlap.genome_tss_pol2_rnaseq.bed.gz"
txt_fpath = file.path(txt_fdiry, txt_fname)

dat = read_tsv(txt_fpath, col_names = FALSE, show_col_types = FALSE)

dat_region_tss_overlap = dat
print(dim(dat))
fun_display_table(head(dat))

[1] 10831    13

X1,X2,X3,X4,X5,X6,X7,X8,X9,X10,X11,X12,X13
chr1,28934,29499,chr1:28934-29499,chr1,29370,29371,chr1:29370-29371,WASH7P,0.000230,TSS_Pol2_RNAseq,WASH7P,1
chr1,826796,828040,chr1:826796-828040,chr1,827522,827523,chr1:827522-827523,LINC00115,64.465600,TSS_Pol2_RNAseq,LINC00115,1
chr1,826796,828040,chr1:826796-828040,chr1,827590,827591,chr1:827590-827591,LINC01128,64.460300,TSS_Pol2_RNAseq,LINC01128,1
chr1,876493,877795,chr1:876493-877795,chr1,876802,876803,chr1:876802-876803,FAM41C,0.007884,TSS_Pol2_RNAseq,FAM41C,1
chr1,958722,959968,chr1:958722-959968,chr1,959256,959257,chr1:959256-959257,NOC2L,104.866000,TSS_Pol2_RNAseq,NOC2L,1
chr1,960468,961615,chr1:960468-961615,chr1,960583,960584,chr1:960583-960584,KLHL17,8.225710,TSS_Pol2_RNAseq,KLHL17,1

In [3]:
txt_fdiry = file.path(FD_RES, "region", "fcc_astarr_macs_merge", "summary")
txt_fname = "description.tsv"
txt_fpath = file.path(txt_fdiry, txt_fname)
dat_cname = read_tsv(txt_fpath, show_col_types = FALSE)
vec_txt_cname_A = dat_cname$Name
vec_txt_cname_A

[1] "Chrom"      "ChromStart" "ChromEnd"   "Region"

In [4]:
txt_fdiry = file.path(FD_RES, "region", "genome_tss", "summary")
txt_fname = "description.tsv"
txt_fpath = file.path(txt_fdiry, txt_fname)
dat_cname = read_tsv(txt_fpath, show_col_types = FALSE)
vec_txt_cname_B = dat_cname$Name
vec_txt_cname_B

[1] "Chrom"      "ChromStart" "ChromEnd"   "Region"     "Gene"
[6] "Score"      "Group"      "Label"

In [8]:
### get total column names for annotation table
vec_txt_cname = c(
    #paste0(vec_txt_cname_A, "_A"),
    paste0(vec_txt_cname_A),
    paste0(vec_txt_cname_B, "_B")
)

**Question: why closest pair more than region total number**

In [17]:
txt_fdiry = file.path(FD_RES, "region_closest", "fcc_astarr_macs_input_overlap", "genome_tss")
txt_fname = "fcc_astarr_macs_input_overlap.genome_tss_pol2_rnaseq.bed.gz"
txt_fpath = file.path(txt_fdiry, txt_fname)

dat = read_tsv(txt_fpath, col_names = FALSE, show_col_types = FALSE)

dat_region_tss_closest = dat
print(dim(dat))
fun_display_table(head(dat))

[1] 151558     13

X1,X2,X3,X4,X5,X6,X7,X8,X9,X10,X11,X12,X13
chr1,10038,10405,chr1:10038-10405,chr1,29370,29371,chr1:29370-29371,WASH7P,0.00023,TSS_Pol2_RNAseq,WASH7P,18966
chr1,14282,14614,chr1:14282-14614,chr1,29370,29371,chr1:29370-29371,WASH7P,0.00023,TSS_Pol2_RNAseq,WASH7P,14757
chr1,16025,16338,chr1:16025-16338,chr1,29370,29371,chr1:29370-29371,WASH7P,0.00023,TSS_Pol2_RNAseq,WASH7P,13033
chr1,17288,17689,chr1:17288-17689,chr1,29370,29371,chr1:29370-29371,WASH7P,0.00023,TSS_Pol2_RNAseq,WASH7P,11682
chr1,28934,29499,chr1:28934-29499,chr1,29370,29371,chr1:29370-29371,WASH7P,0.00023,TSS_Pol2_RNAseq,WASH7P,0
chr1,115429,115969,chr1:115429-115969,chr1,29370,29371,chr1:29370-29371,WASH7P,0.00023,TSS_Pol2_RNAseq,WASH7P,86059

In [36]:
txt_fdiry = file.path(FD_RES, "region_closest", "fcc_astarr_macs_input_overlap", "summary")
txt_fname = "region.pair.genome_tss.tsv"
txt_fpath = file.path(txt_fdiry, txt_fname)

dat = read_tsv(txt_fpath, show_col_types = FALSE)
dat = dat %>% dplyr::filter(Annotation_B == "genome_tss_pol2_rnaseq")

dat_region_tss_closest = dat
print(dim(dat))
fun_display_table(head(dat))

[1] 151558     15

Chrom_A,ChromStart_A,ChromEnd_A,Region_A,Chrom_B,ChromStart_B,ChromEnd_B,Region_B,Gene_B,Score_B,Group_B,Label_B,Distance,Annotation_A,Annotation_B
chr1,10038,10405,chr1:10038-10405,chr1,29370,29371,chr1:29370-29371,WASH7P,0.00023,TSS_Pol2_RNAseq,WASH7P,18966,fcc_astarr_macs_input_overlap,genome_tss_pol2_rnaseq
chr1,14282,14614,chr1:14282-14614,chr1,29370,29371,chr1:29370-29371,WASH7P,0.00023,TSS_Pol2_RNAseq,WASH7P,14757,fcc_astarr_macs_input_overlap,genome_tss_pol2_rnaseq
chr1,16025,16338,chr1:16025-16338,chr1,29370,29371,chr1:29370-29371,WASH7P,0.00023,TSS_Pol2_RNAseq,WASH7P,13033,fcc_astarr_macs_input_overlap,genome_tss_pol2_rnaseq
chr1,17288,17689,chr1:17288-17689,chr1,29370,29371,chr1:29370-29371,WASH7P,0.00023,TSS_Pol2_RNAseq,WASH7P,11682,fcc_astarr_macs_input_overlap,genome_tss_pol2_rnaseq
chr1,28934,29499,chr1:28934-29499,chr1,29370,29371,chr1:29370-29371,WASH7P,0.00023,TSS_Pol2_RNAseq,WASH7P,0,fcc_astarr_macs_input_overlap,genome_tss_pol2_rnaseq
chr1,115429,115969,chr1:115429-115969,chr1,29370,29371,chr1:29370-29371,WASH7P,0.00023,TSS_Pol2_RNAseq,WASH7P,86059,fcc_astarr_macs_input_overlap,genome_tss_pol2_rnaseq

In [37]:
dat = dat_region_tss_closest
dat = dat %>% dplyr::distinct()
print(dim(dat))

[1] 151558     15

In [39]:
dat = dat_region_tss_closest
dat = dat %>% 
    dplyr::select(Chrom_A, ChromStart_A, ChromEnd_A, Region_A) %>%
    dplyr::distinct()
print(dim(dat))

[1] 150042      4

In [85]:
dat = dat_region_tss_closest
dat = dat %>% 
    dplyr::select(Chrom_A, ChromStart_A, ChromEnd_A, Region_A, Region_B, Distance) %>%
    dplyr::distinct()
print(dim(dat))

[1] 151191      6

**There are more than one gene having the same TSS**

In [42]:
dat = dat_region_tss_closest
dat = dat %>% 
    dplyr::select(Region_B, Gene_B) %>%
    dplyr::distinct()
print(dim(dat))

[1] 11709     2

In [43]:
dat = dat_region_tss_closest
vec = unique(dat$Region_A)
print(length(vec))
vec = unique(dat$Region_B)
print(length(vec))

[1] 150042
[1] 11663

In [86]:
dat = dat_region_tss_closest
dat = dat %>% dplyr::filter(Region_A == "chr1:12390502-12390872")
dat

  Chrom_A ChromStart_A ChromEnd_A Region_A               Chrom_B ChromStart_B
1 chr1    12390502     12390872   chr1:12390502-12390872 chr1    12507245
2 chr1    12390502     12390872   chr1:12390502-12390872 chr1    12507245
  ChromEnd_B Region_B               Gene_B   Score_B  Group_B         Label_B
1 12507246   chr1:12507245-12507246 SNORA59A 0.230725 TSS_Pol2_RNAseq SNORA59A
2 12507246   chr1:12507245-12507246 SNORA59B 0.230725 TSS_Pol2_RNAseq SNORA59B
  Distance Annotation_A                  Annotation_B
1 116374   fcc_astarr_macs_input_overlap genome_tss_pol2_rnaseq
2 116374   fcc_astarr_macs_input_overlap genome_tss_pol2_rnaseq

**Multiple TSS could overlapped to the same ATAC**

In [45]:
dat = dat_region_tss_closest
dat = dat %>% dplyr::filter(Region_A == "chr1:100132375-100133491")
dat

  Chrom_A ChromStart_A ChromEnd_A Region_A                 Chrom_B ChromStart_B
1 chr1    100132375    100133491  chr1:100132375-100133491 chr1    100132930
2 chr1    100132375    100133491  chr1:100132375-100133491 chr1    100133149
  ChromEnd_B Region_B                 Gene_B Score_B Group_B         Label_B
1 100132931  chr1:100132930-100132931 SASS6  120.003 TSS_Pol2_RNAseq SASS6
2 100133150  chr1:100133149-100133150 TRMT13 115.646 TSS_Pol2_RNAseq TRMT13
  Distance Annotation_A                  Annotation_B
1 0        fcc_astarr_macs_input_overlap genome_tss_pol2_rnaseq
2 0        fcc_astarr_macs_input_overlap genome_tss_pol2_rnaseq

**Double check if that is the only possible reason? Answer: No**

In [78]:
dat = dat_region_tss_closest
dat = dat %>% 
    dplyr::select(Chrom_A, ChromStart_A, ChromEnd_A, Region_A, Distance) %>%
    dplyr::distinct()

print(dim(dat))

[1] 150042      5

In [87]:
dat = dat_region_tss_closest
dat = dat %>% 
    dplyr::select(Chrom_A, ChromStart_A, ChromEnd_A, Region_A, Region_B, Distance) %>% 
    dplyr::distinct()

print(dim(dat))

[1] 151191      6

In [89]:
dat = dat_region_tss_closest
dat = dat %>% 
    dplyr::select(Chrom_A, ChromStart_A, ChromEnd_A, Region_A, Region_B, Distance) %>% 
    dplyr::distinct()
print(dim(dat))

tmp = dat %>% dplyr::filter(Distance == 0)
print(nrow(tmp))
vec = unique(tmp$Region_A)
print(length(vec))

tmp = dat %>% dplyr::filter(Distance > 0)
print(nrow(tmp))
vec = unique(tmp$Region_A)
print(length(vec))

[1] 151191      6
[1] 10798
[1] 9649
[1] 140393
[1] 140393

In [91]:
dat = dat_region_tss_closest
dat = dat %>% dplyr::filter(Distance == 0)
vec = unique(dat$Region_A)
print(length(vec))

[1] 9649

In [83]:
dat = dat_region_tss_closest
dat = dat %>% 
    dplyr::select(Chrom_A, ChromStart_A, ChromEnd_A, Region_A, Distance) %>%
    dplyr::filter(Distance > 0)

vec = dat$Region_A
dat = as.data.frame(table(vec))
colnames(dat) = c("Region", "Count")

dat = dat %>% dplyr::filter(Count > 1)
vec = dat$Region
dat %>% nrow
dat %>% head

[1] 334

  Region                 Count
1 chr1:12390502-12390872 2
2 chr1:12400304-12401226 2
3 chr1:12406103-12406691 2
4 chr1:12407330-12408845 2
5 chr1:12419471-12419894 2
6 chr1:12427987-12428606 2

In [84]:
dat = dat_region_tss_closest
dat = dat %>% dplyr::filter(Region_A == "chr1:12390502-12390872")
dat

  Chrom_A ChromStart_A ChromEnd_A Region_A               Chrom_B ChromStart_B
1 chr1    12390502     12390872   chr1:12390502-12390872 chr1    12507245
2 chr1    12390502     12390872   chr1:12390502-12390872 chr1    12507245
  ChromEnd_B Region_B               Gene_B   Score_B  Group_B         Label_B
1 12507246   chr1:12507245-12507246 SNORA59A 0.230725 TSS_Pol2_RNAseq SNORA59A
2 12507246   chr1:12507245-12507246 SNORA59B 0.230725 TSS_Pol2_RNAseq SNORA59B
  Distance Annotation_A                  Annotation_B
1 116374   fcc_astarr_macs_input_overlap genome_tss_pol2_rnaseq
2 116374   fcc_astarr_macs_input_overlap genome_tss_pol2_rnaseq

In [47]:
dat = dat_region_tss_closest

dat = dat %>% dplyr::mutate(Note = ifelse(Distance == 0, "D==0", "D>0"))
table(dat$Note)

  D==0    D>0
 10831 140727

In [48]:
dat = dat_region_tss_closest
dat = dat %>% 
    dplyr::select(Chrom_A, ChromStart_A, ChromEnd_A, Region_A, Region_B, Distance) %>%
    dplyr::distinct()

dat = dat %>% dplyr::mutate(Note = ifelse(Distance == 0, "D==0", "D>0"))
table(dat$Note)

  D==0    D>0
 10798 140393

In [76]:
dat = dat_region_tss_closest

dat = dat %>% 
    dplyr::select(Chrom_A, ChromStart_A, ChromEnd_A, Region_A, Region_B, Distance) %>%
    dplyr::filter(Distance > 0) %>%
    dplyr::distinct()

vec = dat$Region_A
dat = as.data.frame(table(vec))
colnames(dat) = c("Region", "Count")

dat = dat %>% dplyr::filter(Count > 1)
vec = dat$Region
dat %>% nrow
dat %>% head

[1] 0

     Region Count

In [74]:
dat = dat_region_tss_closest
dat = dat %>% dplyr::filter(Region_A == "chr1:100894637-100896932")
dat

  Chrom_A ChromStart_A ChromEnd_A Region_A                 Chrom_B ChromStart_B
1 chr1    100894637    100896932  chr1:100894637-100896932 chr1    100895179
2 chr1    100894637    100896932  chr1:100894637-100896932 chr1    100896089
  ChromEnd_B Region_B                 Gene_B  Score_B  Group_B         Label_B
1 100895180  chr1:100895179-100895180 EXTL2    68.2628 TSS_Pol2_RNAseq EXTL2
2 100896090  chr1:100896089-100896090 SLC30A7 119.4770 TSS_Pol2_RNAseq SLC30A7
  Distance Annotation_A                  Annotation_B
1 0        fcc_astarr_macs_input_overlap genome_tss_pol2_rnaseq
2 0        fcc_astarr_macs_input_overlap genome_tss_pol2_rnaseq

In [75]:
dat = dat_region_tss_closest
dat = dat %>% dplyr::filter(Region_A %in% vec)
lst = split(dat$Distance, dat$Region_A)
lst = lapply(lst, function(vec){sum(vec) != 0})

dat = tibble(Region = names(lst), Label = unlist(lst))
dat = dat %>% dplyr::filter(Label)
#dat = bind_rows(lst, .id = "Region")
#head(dat)
print(head(dat))

# A tibble: 0  2
#  2 variables: Region <chr>, Label <lgl>

In [68]:
dat = dat_region_tss_closest
dat = dat %>% dplyr::filter(Region_A == "chr1:12390502-12390872")
dat

  Chrom_A ChromStart_A ChromEnd_A Region_A               Chrom_B ChromStart_B
1 chr1    12390502     12390872   chr1:12390502-12390872 chr1    12507245
2 chr1    12390502     12390872   chr1:12390502-12390872 chr1    12507245
  ChromEnd_B Region_B               Gene_B   Score_B  Group_B         Label_B
1 12507246   chr1:12507245-12507246 SNORA59A 0.230725 TSS_Pol2_RNAseq SNORA59A
2 12507246   chr1:12507245-12507246 SNORA59B 0.230725 TSS_Pol2_RNAseq SNORA59B
  Distance Annotation_A                  Annotation_B
1 116374   fcc_astarr_macs_input_overlap genome_tss_pol2_rnaseq
2 116374   fcc_astarr_macs_input_overlap genome_tss_pol2_rnaseq