**Set environment**

In [1]:
suppressMessages(suppressWarnings(source("../run_config_project_sing.R")))
show_env()

You are working on        Singularity: singularity_proj_encode_fcc
BASE DIRECTORY (FD_BASE): /data/reddylab/Kuei
REPO DIRECTORY (FD_REPO): /data/reddylab/Kuei/repo
WORK DIRECTORY (FD_WORK): /data/reddylab/Kuei/work
DATA DIRECTORY (FD_DATA): /data/reddylab/Kuei/data

You are working with      ENCODE FCC
PATH OF PROJECT (FD_PRJ): /data/reddylab/Kuei/repo/Proj_ENCODE_FCC
PROJECT RESULTS (FD_RES): /data/reddylab/Kuei/repo/Proj_ENCODE_FCC/results
PROJECT SCRIPTS (FD_EXE): /data/reddylab/Kuei/repo/Proj_ENCODE_FCC/scripts
PROJECT DATA    (FD_DAT): /data/reddylab/Kuei/repo/Proj_ENCODE_FCC/data
PROJECT NOTE    (FD_NBK): /data/reddylab/Kuei/repo/Proj_ENCODE_FCC/notebooks
PROJECT DOCS    (FD_DOC): /data/reddylab/Kuei/repo/Proj_ENCODE_FCC/docs
PROJECT LOG     (FD_LOG): /data/reddylab/Kuei/repo/Proj_ENCODE_FCC/log
PROJECT REF     (FD_REF): /data/reddylab/Kuei/repo/Proj_ENCODE_FCC/references

In [2]:
txt_fdiry = file.path(FD_RES, "region", "fcc_astarr_macs_merge", "summary")
txt_fname = "description.tsv"
txt_fpath = file.path(txt_fdiry, txt_fname)
dat_cname = read_tsv(txt_fpath, show_col_types = FALSE)
vec_txt_cname_A = dat_cname$Name
vec_txt_cname_A

[1] "Chrom"      "ChromStart" "ChromEnd"   "Region"

In [3]:
txt_fdiry = file.path(FD_RES, "region", "genome_tss", "summary")
txt_fname = "description.tsv"
txt_fpath = file.path(txt_fdiry, txt_fname)
dat_cname = read_tsv(txt_fpath, show_col_types = FALSE)
vec_txt_cname_B = dat_cname$Name
vec_txt_cname_B

[1] "Chrom"      "ChromStart" "ChromEnd"   "Region"     "Gene"
[6] "Score"      "Group"      "Label"

In [4]:
### get total column names for annotation table
vec_txt_cname = c(
    #paste0(vec_txt_cname_A, "_A"),
    paste0(vec_txt_cname_A),
    paste0(vec_txt_cname_B, "_B")
)

In [5]:
txt_fdiry = file.path(FD_RES, "region", "tmp")
txt_fname = "region.intersect.atac_tss.bed.gz"
txt_fpath = file.path(txt_fdiry, txt_fname)

vec = c(vec_txt_cname, "Overlap")
dat = read_tsv(txt_fpath, col_names = vec, show_col_types = FALSE)

dat_region_tss_intersect = dat
print(dim(dat))
head(dat, 3)

[1] 10831    13

  Chrom ChromStart ChromEnd Region             Chrom_B ChromStart_B ChromEnd_B
1 chr1   28934      29499   chr1:28934-29499   chr1     29370        29371
2 chr1  826796     828040   chr1:826796-828040 chr1    827522       827523
3 chr1  826796     828040   chr1:826796-828040 chr1    827590       827591
  Region_B           Gene_B    Score_B  Group_B         Label_B   Overlap
1 chr1:29370-29371   WASH7P     0.00023 TSS_Pol2_RNAseq WASH7P    1
2 chr1:827522-827523 LINC00115 64.46560 TSS_Pol2_RNAseq LINC00115 1
3 chr1:827590-827591 LINC01128 64.46030 TSS_Pol2_RNAseq LINC01128 1

In [6]:
txt_fdiry = file.path(FD_RES, "region", "tmp")
txt_fname = "region.closest.atac_tss.bed.gz"
txt_fpath = file.path(txt_fdiry, txt_fname)

vec = c(vec_txt_cname, "Distance2TSS")
dat = read_tsv(txt_fpath, col_names = vec, show_col_types = FALSE)

dat_region_tss_closest = dat
print(dim(dat))
head(dat, 3)

[1] 151558     13

  Chrom ChromStart ChromEnd Region           Chrom_B ChromStart_B ChromEnd_B
1 chr1  10038      10405    chr1:10038-10405 chr1    29370        29371
2 chr1  14282      14614    chr1:14282-14614 chr1    29370        29371
3 chr1  16025      16338    chr1:16025-16338 chr1    29370        29371
  Region_B         Gene_B Score_B Group_B         Label_B Distance2TSS
1 chr1:29370-29371 WASH7P 0.00023 TSS_Pol2_RNAseq WASH7P  18966
2 chr1:29370-29371 WASH7P 0.00023 TSS_Pol2_RNAseq WASH7P  14757
3 chr1:29370-29371 WASH7P 0.00023 TSS_Pol2_RNAseq WASH7P  13033

## Arrange

In [9]:
dat = dat_region_tss_closest
dat = dat %>% 
    dplyr::rename(
        TSS_Region_Closest = Region_B,
        TSS_Target_Closest = Gene_B,
    ) %>%
    dplyr::select(
        Chrom, ChromStart, ChromEnd, Region, 
        TSS_Region_Closest, 
        TSS_Target_Closest,
        Distance2TSS
    )

### assign and show
dat1 = dat
cat("Missing?", any(is.na(dat)), "\n")
cat("#Rows?  ", nrow(dat),       "\n")
head(dat)

Missing? FALSE
#Rows?   151558

  Chrom ChromStart ChromEnd Region             TSS_Region_Closest
1 chr1   10038      10405   chr1:10038-10405   chr1:29370-29371
2 chr1   14282      14614   chr1:14282-14614   chr1:29370-29371
3 chr1   16025      16338   chr1:16025-16338   chr1:29370-29371
4 chr1   17288      17689   chr1:17288-17689   chr1:29370-29371
5 chr1   28934      29499   chr1:28934-29499   chr1:29370-29371
6 chr1  115429     115969   chr1:115429-115969 chr1:29370-29371
  TSS_Target_Closest Distance2TSS
1 WASH7P             18966
2 WASH7P             14757
3 WASH7P             13033
4 WASH7P             11682
5 WASH7P                 0
6 WASH7P             86059

In [10]:
### summarize the overlapped TSS for each region
dat = dat_region_tss_intersect
dat = dat %>% 
    dplyr::group_by(Region) %>%
    dplyr::summarize(
        TSS_Region_Overlap = paste(Region_B, collapse = ";"),
        TSS_Target_Overlap = paste(Gene_B,   collapse = ";"),
        .groups = "drop"
    ) %>%
    dplyr::mutate(TSS = 1)

### assign and show
dat2 = dat
cat("Missing?", any(is.na(dat)), "\n")
cat("#Rows?  ", nrow(dat),       "\n")
head(dat)

Missing? FALSE
#Rows?   9649

  Region                    TSS_Region_Overlap        TSS_Target_Overlap TSS
1 chr10:100009244-100010395 chr10:100009947-100009948 DNMBP              1
2 chr10:100185030-100186618 chr10:100186029-100186030 ERLIN1             1
3 chr10:100228544-100230080 chr10:100229596-100229597 CHUK               1
4 chr10:100267188-100268217 chr10:100267638-100267639 CWF19L1            1
5 chr10:100285996-100287311 chr10:100286680-100286681 BLOC1S2            1
6 chr10:100346339-100347622 chr10:100347232-100347233 SCD                1

In [11]:
dat = dplyr::left_join(dat1, dat2, by = "Region")
dat = dat %>% dplyr::mutate(TSS = ifelse(is.na(TSS), 0, TSS))

dat_region_annot_tss = dat
print(dim(dat))
head(dat)

[1] 151558     10

  Chrom ChromStart ChromEnd Region             TSS_Region_Closest
1 chr1   10038      10405   chr1:10038-10405   chr1:29370-29371
2 chr1   14282      14614   chr1:14282-14614   chr1:29370-29371
3 chr1   16025      16338   chr1:16025-16338   chr1:29370-29371
4 chr1   17288      17689   chr1:17288-17689   chr1:29370-29371
5 chr1   28934      29499   chr1:28934-29499   chr1:29370-29371
6 chr1  115429     115969   chr1:115429-115969 chr1:29370-29371
  TSS_Target_Closest Distance2TSS TSS_Region_Overlap TSS_Target_Overlap TSS
1 WASH7P             18966        NA                 NA                 0
2 WASH7P             14757        NA                 NA                 0
3 WASH7P             13033        NA                 NA                 0
4 WASH7P             11682        NA                 NA                 0
5 WASH7P                 0        chr1:29370-29371   WASH7P             1
6 WASH7P             86059        NA                 NA                 0

In [12]:
### init
dat = dat_region_annot_tss

### check TSS annotation and distance
cat("If D==0:", "\n")
tmp = dat %>% 
    dplyr::filter(Distance2TSS == 0) %>%
    dplyr::mutate(Note = ifelse(TSS == 1, "TSS==1", "TSS!=1"))
res = table(tmp$Note)
print(res)
cat("\n")

cat("If TSS==1:", "\n")
tmp = dat %>% 
    dplyr::filter(TSS == 1) %>% 
    dplyr::mutate(Note = ifelse(Distance2TSS == 0, "D==0", "D>0"))
res = table(tmp$Note)
print(res)

If D==0:

TSS==1
 10831

If TSS==1:

 D==0
10831

## Test

In [14]:
dat = dat_region_tss_closest
dat = dat %>% 
    dplyr::rename(
        TSS_Region_Closest = Region_B,
        TSS_Target_Closest = Gene_B,
    ) %>%
    dplyr::select(
        Chrom, ChromStart, ChromEnd, Region, 
        #TSS_Region_Closest, 
        #TSS_Target_Closest,
        Distance2TSS
    ) %>% 
    dplyr::distinct()

### assign and show
dat1 = dat
cat("Missing?", any(is.na(dat)), "\n")
cat("#Rows?  ", nrow(dat),       "\n")
head(dat)

Missing? FALSE
#Rows?   150042

  Chrom ChromStart ChromEnd Region             Distance2TSS
1 chr1   10038      10405   chr1:10038-10405   18966
2 chr1   14282      14614   chr1:14282-14614   14757
3 chr1   16025      16338   chr1:16025-16338   13033
4 chr1   17288      17689   chr1:17288-17689   11682
5 chr1   28934      29499   chr1:28934-29499       0
6 chr1  115429     115969   chr1:115429-115969 86059

In [15]:
### summarize the overlapped TSS for each region
dat = dat_region_tss_intersect
dat = dat %>% 
    dplyr::group_by(Region) %>%
    dplyr::summarize(
        TSS_Region_Overlap = paste(Region_B, collapse = ";"),
        TSS_Target_Overlap = paste(Gene_B,   collapse = ";"),
        .groups = "drop"
    ) %>%
    dplyr::mutate(TSS = 1)

### assign and show
dat2 = dat
cat("Missing?", any(is.na(dat)), "\n")
cat("#Rows?  ", nrow(dat),       "\n")
head(dat)

Missing? FALSE
#Rows?   9649

  Region                    TSS_Region_Overlap        TSS_Target_Overlap TSS
1 chr10:100009244-100010395 chr10:100009947-100009948 DNMBP              1
2 chr10:100185030-100186618 chr10:100186029-100186030 ERLIN1             1
3 chr10:100228544-100230080 chr10:100229596-100229597 CHUK               1
4 chr10:100267188-100268217 chr10:100267638-100267639 CWF19L1            1
5 chr10:100285996-100287311 chr10:100286680-100286681 BLOC1S2            1
6 chr10:100346339-100347622 chr10:100347232-100347233 SCD                1

In [16]:
dat = dplyr::left_join(dat1, dat2, by = "Region")
dat = dat %>% dplyr::mutate(TSS = ifelse(is.na(TSS), 0, TSS))

dat_region_annot_tss = dat
print(dim(dat))
head(dat)

[1] 150042      8

  Chrom ChromStart ChromEnd Region             Distance2TSS TSS_Region_Overlap
1 chr1   10038      10405   chr1:10038-10405   18966        NA
2 chr1   14282      14614   chr1:14282-14614   14757        NA
3 chr1   16025      16338   chr1:16025-16338   13033        NA
4 chr1   17288      17689   chr1:17288-17689   11682        NA
5 chr1   28934      29499   chr1:28934-29499       0        chr1:29370-29371
6 chr1  115429     115969   chr1:115429-115969 86059        NA
  TSS_Target_Overlap TSS
1 NA                 0
2 NA                 0
3 NA                 0
4 NA                 0
5 WASH7P             1
6 NA                 0

In [17]:
### init
dat = dat_region_annot_tss

### check TSS annotation and distance
cat("If D==0:", "\n")
tmp = dat %>% 
    dplyr::filter(Distance2TSS == 0) %>%
    dplyr::mutate(Note = ifelse(TSS == 1, "TSS==1", "TSS!=1"))
res = table(tmp$Note)
print(res)
cat("\n")

cat("If TSS==1:", "\n")
tmp = dat %>% 
    dplyr::filter(TSS == 1) %>% 
    dplyr::mutate(Note = ifelse(Distance2TSS == 0, "D==0", "D>0"))
res = table(tmp$Note)
print(res)

If D==0:

TSS==1
  9649

If TSS==1:

D==0
9649