---
title: FCC Peak calls
subtitle: export annotation
format:
    html:
        code-fold:  true
        code-tools: true
---

**Set environment**

In [2]:
suppressMessages(suppressWarnings(source("../run_config_project_sing.R")))
show_env()

You are working on        Singularity: singularity_proj_encode_fcc
BASE DIRECTORY (FD_BASE): /data/reddylab/Kuei
REPO DIRECTORY (FD_REPO): /data/reddylab/Kuei/repo
WORK DIRECTORY (FD_WORK): /data/reddylab/Kuei/work
DATA DIRECTORY (FD_DATA): /data/reddylab/Kuei/data

You are working with      ENCODE FCC
PATH OF PROJECT (FD_PRJ): /data/reddylab/Kuei/repo/Proj_ENCODE_FCC
PROJECT RESULTS (FD_RES): /data/reddylab/Kuei/repo/Proj_ENCODE_FCC/results
PROJECT SCRIPTS (FD_EXE): /data/reddylab/Kuei/repo/Proj_ENCODE_FCC/scripts
PROJECT DATA    (FD_DAT): /data/reddylab/Kuei/repo/Proj_ENCODE_FCC/data
PROJECT NOTE    (FD_NBK): /data/reddylab/Kuei/repo/Proj_ENCODE_FCC/notebooks
PROJECT DOCS    (FD_DOC): /data/reddylab/Kuei/repo/Proj_ENCODE_FCC/docs
PROJECT LOG     (FD_LOG): /data/reddylab/Kuei/repo/Proj_ENCODE_FCC/log
PROJECT REF     (FD_REF): /data/reddylab/Kuei/repo/Proj_ENCODE_FCC/references

## Prepare

**Set global variable**

In [3]:
TXT_FNAME_INP = "region.intersect.summary.module_tf_shannon.tsv"
TXT_FNAME_OUT = "region.annotation.genome_tss.tsv"

**View files**

In [4]:
### get annotated region folder
txt_fdiry = file.path(FD_RES, "region_annotation")
vec = dir(txt_fdiry)

### assign and show
vec_txt_folder = vec
for(txt in vec){cat(txt, "\n")}

fcc_astarr_macs_input_overlap
fcc_astarr_macs_input_union

In [5]:
txt_fdiry = file.path(FD_RES, "region_annotation", "*", "summary")
txt_fname = TXT_FNAME_INP
txt_fglob = file.path(txt_fdiry, txt_fname)

vec = Sys.glob(txt_fglob)
for(txt in vec){cat(txt, "\n")}

/data/reddylab/Kuei/repo/Proj_ENCODE_FCC/results/region_annotation/fcc_astarr_macs_input_overlap/summary/region.intersect.summary.module_tf_shannon.tsv
/data/reddylab/Kuei/repo/Proj_ENCODE_FCC/results/region_annotation/fcc_astarr_macs_input_union/summary/region.intersect.summary.module_tf_shannon.tsv

## Import data

**Import region pairs**

In [6]:
### loop to import data
lst = lapply(vec_txt_folder, function(txt_folder){
    ### set file directory
    txt_fdiry = file.path(FD_RES, "region_annotation", txt_folder, "summary")
    txt_fname = TXT_FNAME_INP
    txt_fpath = file.path(txt_fdiry, txt_fname)

    ### read table
    dat = read_tsv(txt_fpath, show_col_types = FALSE)
    return(dat)
})
names(lst) = vec_txt_folder

### assign and show
lst_dat_region_annot_import = lst

res = lapply(lst, dim)
print(res)

dat = lst[[1]]
fun_display_table(head(dat, 3))

$fcc_astarr_macs_input_overlap
[1] 261836     10

$fcc_astarr_macs_input_union
[1] 290390     10

Chrom,ChromStart,ChromEnd,Region,Annotation_A,Annotation_B,Group,Label,Region_Annot,Region_Count
chr1,115429,115969,chr1:115429-115969,fcc_astarr_macs_input_overlap,module_tf_shannon,TF_Module,Module_02,chr1:115702-115751,1
chr1,115429,115969,chr1:115429-115969,fcc_astarr_macs_input_overlap,module_tf_shannon,TF_Module,Module_05,chr1:115702-115751,1
chr1,115429,115969,chr1:115429-115969,fcc_astarr_macs_input_overlap,module_tf_shannon,TF_Module,Module_10,chr1:115702-115751,1

**Explore: Group**

In [7]:
lst = lst_dat_region_annot_import
lst = lapply(lst, function(dat){
    res = table(dat$Group, dnn = "Group")
    dat = as.data.frame(res)
    return(res)
})

dat = bind_rows(lst, .id = "Region")
fun_display_table(dat)

Region,TF_Module
fcc_astarr_macs_input_overlap,261836
fcc_astarr_macs_input_union,290390

**Explore: Group x Label**

In [8]:
lst = lst_dat_region_annot_import
lst = lapply(lst, function(dat){
    res = table(dat$Group, dat$Label, dnn = c("Group", "Label"))
    dat = as.data.frame(res)
    return(dat)
})

dat = bind_rows(lst, .id = "Region")
dat = dat %>% tidyr::spread(Label, Freq)
fun_display_table(dat)

Region,Group,Module_01,Module_02,Module_03,Module_04,Module_05,Module_06,Module_07,Module_08,Module_09,Module_10,Module_11,Module_12,Module_13,Module_14,Module_15,Module_16,Module_17,Module_18,Module_19,Module_20,Module_21,Module_22,Module_23,Module_24,Module_25,Module_26,Module_27,Module_28,Module_29,Module_30,Module_31,Module_33,Module_34,Module_35,Module_36,Module_37,Module_39,Module_40,Module_41,Module_42,Module_43,Module_44,Module_45,Module_46,Module_47,Module_48,Module_49,Module_50,Module_51,Module_52,Module_53,Module_54,Module_55,Module_56,Module_57,Module_58,Module_59,Module_61,Module_63,Module_64,Module_65,Module_66,Module_67,Module_68,Module_71,Module_72,Module_73,Module_74,Module_75,Module_77
fcc_astarr_macs_input_overlap,TF_Module,6134,12700,3226,5283,2926,8480,2119,522,525,8588,4718,3630,6514,978,12325,3710,3670,4603,1725,4249,4216,3817,1178,3743,1102,301,8451,3264,756,6625,3351,572,4745,5532,2506,6372,5858,4887,6410,4315,4661,8650,4030,1413,3921,5883,982,5570,4240,10014,498,2646,3609,2299,4136,4096,1025,1724,5030,995,447,2354,1288,398,1246,1767,1571,579,1515,623
fcc_astarr_macs_input_union,TF_Module,6975,14611,3565,6462,3157,10121,2257,547,627,9195,4915,3777,7559,1044,13616,4074,3867,4781,1811,4448,4602,3962,1359,3908,1279,374,9636,3555,807,7430,3479,652,5612,6394,2618,7015,6344,5319,7342,4454,4886,10350,4687,1560,4469,6988,1012,5988,4914,10691,545,2838,4265,2391,4311,4225,1141,1980,5255,1079,492,2655,1426,440,1503,2002,1760,612,1692,683

**Explore: Group x Region Count**

In [9]:
lst = lst_dat_region_annot_import
lst = lapply(lst, function(dat){
    res = table(dat$Group, dat$Region_Count, dnn = c("Group", "Region_Count"))
    dat = as.data.frame(res)
    return(dat)
})

dat = bind_rows(lst, .id = "Region")
dat = dat %>% tidyr::spread(Region_Count, Freq)
fun_display_table(dat)

Region,Group,1,2,3,4,5
fcc_astarr_macs_input_overlap,TF_Module,258228,3479,116,11,2
fcc_astarr_macs_input_union,TF_Module,285755,4426,186,20,3

## Matrix

In [12]:
### assign essential label
lst = lst_dat_region_annot_import
lst = lapply(lst, function(dat){
    dat = dat %>%
        dplyr::select(Chrom, ChromStart, ChromEnd, Region, Label) %>%
        dplyr::mutate(Value = 1) %>%
        dplyr::distinct() 

    dat = dat %>% 
        tidyr::spread(Label, Value) %>%
        replace(is.na(.), 0)
    return(dat)
})

### assign and show
lst_dat_region_annot_matrix = lst

res = lapply(lst, dim)
print(res)

dat = lst[[1]]
fun_display_table(head(dat, 3))

$fcc_astarr_macs_input_overlap
[1] 56  5

$fcc_astarr_macs_input_union
[1] 58  5

Chrom,ChromStart,ChromEnd,Region,CRISPRi-HCRFF
chr11,5249957,5250351,chr11:5249957-5250351,1
chr11,5254200,5254444,chr11:5254200-5254444,1
chr11,5269503,5270633,chr11:5269503-5270633,1

## Export results

In [13]:
lst = lst_dat_region_annot_matrix
for (idx in names(lst)){

    ### get
    #dat_region_annot_result = lst_dat_region_annot_result[[idx]]
    dat_region_annot_matrix = lst_dat_region_annot_matrix[[idx]]
    
    ### set file directory
    txt_folder = idx
    txt_fdiry = file.path(
        FD_RES, 
        "region_annotation", 
        txt_folder,
        "summary"
    )
    
    ###
    #txt_fname = "region.annotation.fcc_starrmpra_junke.tsv"
    #txt_fpath = file.path(txt_fdiry, txt_fname)
    
    #dat = dat_region_annot_result
    #dat = dat %>% dplyr::arrange(Chrom, ChromStart, ChromEnd)
    #write_tsv(dat, txt_fpath)

    ###
    txt_fname = "matrix.annotation.fcc_crispri_hcrff.tsv"
    txt_fpath = file.path(txt_fdiry, txt_fname)
    
    dat = dat_region_annot_matrix
    dat = dat %>% dplyr::arrange(Chrom, ChromStart, ChromEnd)
    #write_tsv(dat, txt_fpath)
}