---
title: FCC Peak calls
subtitle: export annotation
format:
    html:
        code-fold:  true
        code-tools: true
---

**Set environment**

In [1]:
suppressMessages(suppressWarnings(source("../run_config_project_sing.R")))
show_env()

You are working on        Singularity: singularity_proj_encode_fcc
BASE DIRECTORY (FD_BASE): /data/reddylab/Kuei
REPO DIRECTORY (FD_REPO): /data/reddylab/Kuei/repo
WORK DIRECTORY (FD_WORK): /data/reddylab/Kuei/work
DATA DIRECTORY (FD_DATA): /data/reddylab/Kuei/data

You are working with      ENCODE FCC
PATH OF PROJECT (FD_PRJ): /data/reddylab/Kuei/repo/Proj_ENCODE_FCC
PROJECT RESULTS (FD_RES): /data/reddylab/Kuei/repo/Proj_ENCODE_FCC/results
PROJECT SCRIPTS (FD_EXE): /data/reddylab/Kuei/repo/Proj_ENCODE_FCC/scripts
PROJECT DATA    (FD_DAT): /data/reddylab/Kuei/repo/Proj_ENCODE_FCC/data
PROJECT NOTE    (FD_NBK): /data/reddylab/Kuei/repo/Proj_ENCODE_FCC/notebooks
PROJECT DOCS    (FD_DOC): /data/reddylab/Kuei/repo/Proj_ENCODE_FCC/docs
PROJECT LOG     (FD_LOG): /data/reddylab/Kuei/repo/Proj_ENCODE_FCC/log
PROJECT REF     (FD_REF): /data/reddylab/Kuei/repo/Proj_ENCODE_FCC/references

## Prepare

**Set global variable**

In [2]:
TXT_FNAME_INP = "region.intersect.pair.genome_tss.tsv"
TXT_FNAME_OUT = "region.annotation.genome_tss.tsv"

**View files**

In [3]:
### get annotated region folder
txt_fdiry = file.path(FD_RES, "region_annotation")
vec = dir(txt_fdiry)

### assign and show
vec_txt_folder = vec
for(txt in vec){cat(txt, "\n")}

fcc_astarr_macs_input_overlap
fcc_astarr_macs_input_union

In [4]:
txt_fdiry = file.path(FD_RES, "region_annotation", "*", "summary")
txt_fname = TXT_FNAME_INP
txt_fglob = file.path(txt_fdiry, txt_fname)

vec = Sys.glob(txt_fglob)
for(txt in vec){cat(txt, "\n")}

/data/reddylab/Kuei/repo/Proj_ENCODE_FCC/results/region_annotation/fcc_astarr_macs_input_overlap/summary/region.intersect.pair.genome_tss.tsv
/data/reddylab/Kuei/repo/Proj_ENCODE_FCC/results/region_annotation/fcc_astarr_macs_input_union/summary/region.intersect.pair.genome_tss.tsv

## Import data

**Import region pairs**

In [5]:
### loop to import data
lst = lapply(vec_txt_folder, function(txt_folder){
    ### set file directory
    txt_fdiry = file.path(FD_RES, "region_annotation", txt_folder, "summary")
    txt_fname = TXT_FNAME_INP
    txt_fpath = file.path(txt_fdiry, txt_fname)

    ### read table
    dat = read_tsv(txt_fpath, show_col_types = FALSE)
    return(dat)
})
names(lst) = vec_txt_folder

### assign and show
lst_dat_region_annot_import = lst

res = lapply(lst, dim)
print(res)

dat = lst[[1]]
fun_display_table(head(dat, 3))

$fcc_astarr_macs_input_overlap
[1] 26974    15

$fcc_astarr_macs_input_union
[1] 28716    15

Chrom_A,ChromStart_A,ChromEnd_A,Region_A,Chrom_B,ChromStart_B,ChromEnd_B,Region_B,Gene_B,Score_B,Group_B,Label_B,Overlap,Annotation_A,Annotation_B
chr1,17288,17689,chr1:17288-17689,chr1,17436,17437,chr1:17436-17437,MIR6859-1,9.43812,TSS_Pol2,MIR6859-1,1,fcc_astarr_macs_input_overlap,genome_tss_pol2
chr1,17288,17689,chr1:17288-17689,chr1,17436,17437,chr1:17436-17437,MIR6859-2,9.43812,TSS_Pol2,MIR6859-2,1,fcc_astarr_macs_input_overlap,genome_tss_pol2
chr1,17288,17689,chr1:17288-17689,chr1,17436,17437,chr1:17436-17437,MIR6859-3,9.43812,TSS_Pol2,MIR6859-3,1,fcc_astarr_macs_input_overlap,genome_tss_pol2

In [6]:
lst = lst_dat_region_annot_import
dat = lst[["fcc_astarr_macs_input_overlap"]]
dat = dat %>% dplyr::filter(Group_B == "TSS_Pol2_RNAseq")
vec = unique(dat$Region_A)
print(length(vec))
print(dim(dat))

[1] 9649
[1] 10831    15

**Import essential gene list**

In [7]:
### set file directory
txt_fdiry = file.path(FD_REF, "genome_gene")
txt_fname = "demap.v24Q2.AchillesCommonEssentialControls.csv"
txt_fpath = file.path(txt_fdiry, txt_fname)

### read table
dat = read_csv(txt_fpath, show_col_types = FALSE)

### assign and show
dat_gene_essential_import = dat
print(dim(dat))
fun_display_table(head(dat, 3))

[1] 1247    1

Gene
AAMP (14)
AARS1 (16)
AASDHPPT (60496)

**Explore: Group**

In [8]:
lst = lst_dat_region_annot_import
lst = lapply(lst, function(dat){
    res = table(dat$Group_B, dnn = "Group")
    dat = as.data.frame(res)
    return(res)
})

dat = bind_rows(lst, .id = "Region")
fun_display_table(dat)

Region,TSS_Pol2,TSS_Pol2_RNAseq
fcc_astarr_macs_input_overlap,16143,10831
fcc_astarr_macs_input_union,17734,10982

## Arrange table

**Arrange essential gene list**

In [9]:
### init
vec_txt_cname1 = c(
    "Chrom_A", "ChromStart_A", "ChromEnd_A", "Region_A", 
    "Annotation_A", "Annotation_B", 
    "Group_B", "Label_B"
)
vec_txt_cname2 = c(
    "Chrom", "ChromStart", "ChromEnd", "Region", 
    "Annotation_A", "Annotation_B", 
    "Group", "Label"
)
vec_txt_loopup = setNames(vec_txt_cname1, vec_txt_cname2)

### rename columns
lst = lst_dat_region_annot_import
lst = lapply(lst, function(dat){
    dat = dat %>% 
        dplyr::select(!!!vec_txt_cname1) %>% 
        dplyr::rename(all_of(vec_txt_loopup))
    return(dat)
})

### assign and show
lst_dat_region_annot_arrange = lst
print(names(lst))
dat = lst[[1]]
fun_display_table(head(dat, 3))

[1] "fcc_astarr_macs_input_overlap" "fcc_astarr_macs_input_union"

Chrom,ChromStart,ChromEnd,Region,Annotation_A,Annotation_B,Group,Label
chr1,17288,17689,chr1:17288-17689,fcc_astarr_macs_input_overlap,genome_tss_pol2,TSS_Pol2,MIR6859-1
chr1,17288,17689,chr1:17288-17689,fcc_astarr_macs_input_overlap,genome_tss_pol2,TSS_Pol2,MIR6859-2
chr1,17288,17689,chr1:17288-17689,fcc_astarr_macs_input_overlap,genome_tss_pol2,TSS_Pol2,MIR6859-3

**Arrange region intersected pairs**

In [10]:
dat = dat_gene_essential_import
dat = dat %>% tidyr::separate(col="Gene", into=c("Gene", "Note"), sep = " ")

dat_gene_essential_arrange = dat
fun_display_table(head(dat))

Gene,Note
AAMP,(14)
AARS1,(16)
AASDHPPT,(60496)
ABCB7,(22)
ABCE1,(6059)
ABCF1,(23)

In [11]:
lst = lst_dat_region_annot_arrange
dat = lst[["fcc_astarr_macs_input_overlap"]]
dat = dat %>% dplyr::filter(Group == "TSS_Pol2_RNAseq")
vec = unique(dat$Region)
print(length(vec))
print(dim(dat))

[1] 9649
[1] 10831     8

## Process

In [12]:
### get gene list
dat = dat_gene_essential_arrange
vec = dat$Gene
vec_txt_gene = vec


lst = lst_dat_region_annot_arrange
lst = lapply(lst, function(dat){
    
    ### filter by group: select TSS filtered by POL2 and RNA-seq
    dat = dat %>% dplyr::filter(Group == "TSS_Pol2_RNAseq")

    ### assign essential label
    dat = dat %>% 
        dplyr::rowwise() %>%
        dplyr::mutate(Essential = Label %in% vec_txt_gene) %>%
        dplyr::ungroup()
    return(dat)
})

### assign and show
lst_dat_region_annot_result = lst
print(names(lst))
dat = lst[[1]]
fun_display_table(head(dat, 3))

[1] "fcc_astarr_macs_input_overlap" "fcc_astarr_macs_input_union"

Chrom,ChromStart,ChromEnd,Region,Annotation_A,Annotation_B,Group,Label,Essential
chr1,28934,29499,chr1:28934-29499,fcc_astarr_macs_input_overlap,genome_tss_pol2_rnaseq,TSS_Pol2_RNAseq,WASH7P,FALSE
chr1,826796,828040,chr1:826796-828040,fcc_astarr_macs_input_overlap,genome_tss_pol2_rnaseq,TSS_Pol2_RNAseq,LINC00115,FALSE
chr1,826796,828040,chr1:826796-828040,fcc_astarr_macs_input_overlap,genome_tss_pol2_rnaseq,TSS_Pol2_RNAseq,LINC01128,FALSE

In [13]:
lst = lst_dat_region_annot_result
dat = lst[["fcc_astarr_macs_input_overlap"]]
dat = dat %>% dplyr::filter(Group == "TSS_Pol2_RNAseq")
vec = unique(dat$Region)
print(length(vec))
print(dim(dat))

[1] 9649
[1] 10831     9

**Explore: Group x Essential**

In [14]:
lst = lst_dat_region_annot_result
lst = lapply(lst, function(dat){
    dat = dat %>% dplyr::mutate(Note = paste("Essential", Essential, sep = ":"))
    res = table(dat$Group, dat$Note, dnn = c("Group", "Note"))
    dat = as.data.frame(res)
    return(dat)
})

dat = bind_rows(lst, .id = "Region")
dat = dat %>% tidyr::spread(Note, Freq)
fun_display_table(dat)

Region,Group,Essential:FALSE,Essential:TRUE
fcc_astarr_macs_input_overlap,TSS_Pol2_RNAseq,9590,1241
fcc_astarr_macs_input_union,TSS_Pol2_RNAseq,9741,1241

## Matrix

In [15]:
### assign essential label
lst = lst_dat_region_annot_arrange
lst = lapply(lst, function(dat){
    ### filter by group: select TSS filtered by POL2 and RNA-seq
    dat = dat %>% dplyr::filter(Group == "TSS_Pol2_RNAseq")

    ### arrange to wide format
    dat = dat %>%
        dplyr::select(Chrom, ChromStart, ChromEnd, Region) %>%
        dplyr::mutate(TSS = 1) %>%
        dplyr::distinct()
    return(dat)
})

### assign and show
lst_dat_region_annot_matrix = lst

res = lapply(lst, dim)
print(res)

dat = lst[[1]]
fun_display_table(head(dat, 3))

$fcc_astarr_macs_input_overlap
[1] 9649    5

$fcc_astarr_macs_input_union
[1] 9788    5

Chrom,ChromStart,ChromEnd,Region,TSS
chr1,28934,29499,chr1:28934-29499,1
chr1,826796,828040,chr1:826796-828040,1
chr1,876493,877795,chr1:876493-877795,1

## Export results

In [16]:
lst = lst_dat_region_annot_result
for (idx in names(lst)){

    ### get
    dat_region_annot_result = lst_dat_region_annot_result[[idx]]
    dat_region_annot_matrix = lst_dat_region_annot_matrix[[idx]]
    
    ### set file directory
    txt_folder = idx
    txt_fdiry = file.path(
        FD_RES, 
        "region_annotation", 
        txt_folder,
        "summary"
    )
    
    ###
    txt_fname = "region.annotation.genome_tss.tsv"
    txt_fpath = file.path(txt_fdiry, txt_fname)
    
    dat = dat_region_annot_result
    dat = dat %>% dplyr::arrange(Chrom, ChromStart, ChromEnd)
    write_tsv(dat, txt_fpath)

    ###
    txt_fname = "matrix.annotation.genome_tss.tsv"
    txt_fpath = file.path(txt_fdiry, txt_fname)
    
    dat = dat_region_annot_matrix
    dat = dat %>% dplyr::arrange(Chrom, ChromStart, ChromEnd)
    write_tsv(dat, txt_fpath)
}