In [1]:
suppressMessages(suppressWarnings(source("../config/config_sing.R")))
show_env()

You are in Singularity: singularity_proj_combeffect
BASE DIRECTORY:     /data/reddylab/Kuei
WORK DIRECTORY:     /data/reddylab/Kuei/out
CODE DIRECTORY:     /data/reddylab/Kuei/code
PATH OF SOURCE:     /data/reddylab/Kuei/source
PATH OF EXECUTABLE: /data/reddylab/Kuei/bin
PATH OF ANNOTATION: /data/reddylab/Kuei/annotation
PATH OF PROJECT:    /data/reddylab/Kuei/code/Proj_CombEffect_ENCODE_FCC
PATH OF RESULTS:    /data/reddylab/Kuei/out/proj_combeffect_encode_fcc

## Count matrix

In [2]:
### set file directory
fdiry = file.path(FD_RES, "source", "MPRA", "Tewhey_TMPRA", "tiling_counts")
fname = "OL43_K562.bed"
fpath = file.path(fdiry, fname)

### import data
dat = read_tsv(fpath)

### show info
dat_OL43_bed = dat
print(dim(dat))
head(dat)

New names:
• `` -> `...14`
Rows: 99875 Columns: 14
── Column specification ───────────────────────────────────────────────────────────
Delimiter: "\t"
chr (5): chr, id, score, strand, project
dbl (8): start, stop, log2fc, input-count, output-count, log10pval, log10fdr...
lgl (1): ...14

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

[1] 99875    14

  chr  start     stop      id                   score strand log2fc
1 chr1  10377620  10377820 1:10437778:C:T:R:wC  .     +      2.3864208
2 chr1  10391642  10391842 1:10451799:C:T:R:wC  .     +      0.1754183
3 chr1 109656005 109656205 1:110198727:C:G:R:wC .     +      6.8943339
4 chr1 110339020 110339220 1:110881742:NA:NA    .     +      5.2288830
5 chr1 111295972 111296172 1:111838694:C:T:R:wC .     +      6.3593967
6 chr1 112504342 112504542 1:113047064:NA:NA    .     +      0.1185008
  input-count output-count log10pval   log10fdr    lfc-se     project  ...14
1 883.1270     4616.2761   105.4323311 104.3126694 0.10904898 ctrl_pos NA
2 385.7977      435.1086     0.9976882   0.7892488 0.10681444 ctrl_neg NA
3 310.5569    36946.5245           Inf         Inf 0.14168132 ctrl_pos NA
4 614.8229    23058.1543           Inf         Inf 0.12739918 ctrl_pos NA
5 322.7563    26499.8215           Inf         Inf 0.11973394 ctrl_pos NA
6 908.8158      985.1292     0.7989544   0.6199606 0.08411008 ctrl_neg NA

In [3]:
### set file directory
fdiry = file.path(FD_RES, "source", "MPRA", "Tewhey_TMPRA", "tiling_counts")
fname = "OL45_K562.bed"
fpath = file.path(fdiry, fname)

### import data
dat = read_tsv(fpath)

### show info
dat_OL45_bed = dat
print(dim(dat))
head(dat)

New names:
• `` -> `...14`
Rows: 94907 Columns: 14
── Column specification ───────────────────────────────────────────────────────────
Delimiter: "\t"
chr (5): chr, id, score, strand, project
dbl (8): start, stop, log2fc, input-count, output-count, log10pval, log10fdr...
lgl (1): ...14

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

[1] 94907    14

  chr  start     stop      id                   score strand log2fc
1 chr1  10377620  10377820 1:10437778:C:T:R:wC  .     +      2.72866254
2 chr1  10391642  10391842 1:10451799:C:T:R:wC  .     +      0.02132837
3 chr1 109656005 109656205 1:110198727:C:G:R:wC .     +      6.78034189
4 chr1 110339020 110339220 1:110881742:NA:NA    .     +      5.37326918
5 chr1 111295972 111296172 1:111838694:C:T:R:wC .     +      6.26556059
6 chr1 112504342 112504542 1:113047064:NA:NA    .     +      0.16035171
  input-count output-count log10pval   log10fdr    lfc-se    project  ...14
1 435.0935     2882.2589   80.42056268 79.26804236 0.1430215 ctrl_pos NA
2 425.2694      433.2791    0.05943077  0.04112316 0.1324874 ctrl_neg NA
3 515.3041    56641.9395           Inf         Inf 0.1150093 ctrl_pos NA
4 704.5580    29204.1611           Inf         Inf 0.1183570 ctrl_pos NA
5 617.9661    47545.4957           Inf         Inf 0.1242856 ctrl_pos NA
6 461.8867      515.0716    0.68814119  0.53007439 0.1265306 ctrl_neg NA

## Attributes

In [4]:
### set file directory
fdiry = file.path(FD_RES, "source", "MPRA", "Tewhey_TMPRA", "tiling_counts")
fname = "FADS_tile_snp.20190214.attributes"
fpath = file.path(fdiry, fname)

### import data
dat = read_tsv(fpath)

### show info
dat_OL13_attributes = dat
print(dim(dat))
head(dat)

Rows: 57010 Columns: 12
── Column specification ───────────────────────────────────────────────────────────
Delimiter: "\t"
chr (8): ID, SNP, ref_allele, alt_allele, allele, window, strand, project
dbl (4): chr, snp_pos, start, stop

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

[1] 57010    12

  ID                      SNP chr snp_pos ref_allele alt_allele allele window
1 11:61554801-61555000_RC NA  11  NA      NA         NA         NA     NA
2 11:61554806-61555005_RC NA  11  NA      NA         NA         NA     NA
3 11:61554811-61555010_RC NA  11  NA      NA         NA         NA     NA
4 11:61554816-61555015_RC NA  11  NA      NA         NA         NA     NA
5 11:61554821-61555020_RC NA  11  NA      NA         NA         NA     NA
6 11:61554826-61555025_RC NA  11  NA      NA         NA         NA     NA
  strand start    stop     project
1 rev    61554801 61555000 Tiles
2 rev    61554806 61555005 Tiles
3 rev    61554811 61555010 Tiles
4 rev    61554816 61555015 Tiles
5 rev    61554821 61555020 Tiles
6 rev    61554826 61555025 Tiles

In [5]:
### set file directory
fdiry = file.path(FD_RES, "source", "MPRA", "Tewhey_TMPRA", "tiling_counts")
fname = "OL43.attributes"
fpath = file.path(fdiry, fname)

### import data
dat = read_tsv(fpath)

### show info
dat_OL43_attributes = dat
print(dim(dat))
head(dat)

Rows: 99875 Columns: 13
── Column specification ───────────────────────────────────────────────────────────
Delimiter: "\t"
chr (10): ID, SNP, chr, ref_allele, alt_allele, allele, window, strand, proj...
dbl  (3): snp_pos, start, stop

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

[1] 99875    13

  ID                   SNP               chr snp_pos   ref_allele alt_allele
1 1:10437778:C:T:R:wC  1:10437778:C:T    1    10437778 C          T
2 1:10451799:C:T:R:wC  1:10451799:C:T    1    10451799 C          T
3 1:110198727:C:G:R:wC 1:110198727:C:G   1   110198727 C          G
4 1:110881742:NA:NA    1:110881742:NA:NA 1   110881742 NA         NA
5 1:111838694:C:T:R:wC 1:111838694:C:T   1   111838694 C          T
6 1:113047064:NA:NA    1:113047064:NA:NA 1   113047064 NA         NA
  allele window strand start stop project  haplotype
1 ref    center fwd    NA    NA   ctrl_pos ref
2 ref    center fwd    NA    NA   ctrl_neg ref
3 ref    center fwd    NA    NA   ctrl_pos ref
4 NA     NA     fwd    NA    NA   ctrl_pos ref
5 ref    center fwd    NA    NA   ctrl_pos ref
6 NA     NA     fwd    NA    NA   ctrl_neg ref

In [6]:
### set file directory
fdiry = file.path(FD_RES, "source", "MPRA", "Tewhey_TMPRA", "tiling_counts")
fname = "OL45.attributes"
fpath = file.path(fdiry, fname)

### import data
dat = read_tsv(fpath)

### show info
dat_OL45_attributes = dat
print(dim(dat))
head(dat)

Rows: 94942 Columns: 13
── Column specification ───────────────────────────────────────────────────────────
Delimiter: "\t"
chr (10): ID, SNP, chr, ref_allele, alt_allele, allele, window, strand, proj...
dbl  (3): snp_pos, start, stop

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

[1] 94942    13

  ID                   SNP chr snp_pos ref_allele alt_allele allele window
1 ORF13856:870:0-200   NA  NA  NA      NA         ref        NA     NA
2 ORF13856:870:100-300 NA  NA  NA      NA         ref        NA     NA
3 ORF13856:870:200-400 NA  NA  NA      NA         ref        NA     NA
4 ORF13856:870:300-500 NA  NA  NA      NA         ref        NA     NA
5 ORF13856:870:400-600 NA  NA  NA      NA         ref        NA     NA
6 ORF13856:870:500-700 NA  NA  NA      NA         ref        NA     NA
  strand start stop project         haplotype
1 fwd    NA    NA   ctrl_neg-Yu-ORF ref
2 fwd    NA    NA   ctrl_neg-Yu-ORF ref
3 fwd    NA    NA   ctrl_neg-Yu-ORF ref
4 fwd    NA    NA   ctrl_neg-Yu-ORF ref
5 fwd    NA    NA   ctrl_neg-Yu-ORF ref
6 fwd    NA    NA   ctrl_neg-Yu-ORF ref

## Extract contrls for OL13

In [7]:
dat = dat_OL13_attributes
head(dat)

  ID                      SNP chr snp_pos ref_allele alt_allele allele window
1 11:61554801-61555000_RC NA  11  NA      NA         NA         NA     NA
2 11:61554806-61555005_RC NA  11  NA      NA         NA         NA     NA
3 11:61554811-61555010_RC NA  11  NA      NA         NA         NA     NA
4 11:61554816-61555015_RC NA  11  NA      NA         NA         NA     NA
5 11:61554821-61555020_RC NA  11  NA      NA         NA         NA     NA
6 11:61554826-61555025_RC NA  11  NA      NA         NA         NA     NA
  strand start    stop     project
1 rev    61554801 61555000 Tiles
2 rev    61554806 61555005 Tiles
3 rev    61554811 61555010 Tiles
4 rev    61554816 61555015 Tiles
5 rev    61554821 61555020 Tiles
6 rev    61554826 61555025 Tiles

In [8]:
### init
dat = dat_OL13_attributes

### process: 
###     extract negative and positive controls
###     rename columns and values
dat = dat %>% 
    #dplyr::filter(str_detect(project, "negCtrl|expCtrl")) %>%
    dplyr::filter(str_detect(SNP, "rs")) %>%
    dplyr::mutate(
        RSID    = SNP,
        Dataset = "OL13",
        Project = project) %>%
    dplyr::select(Dataset, Project, RSID)

### assign and show
dat_ctrl_OL13 = dat
print(dim(dat))
head(dat, 10)

[1] 236   3

   Dataset Project   RSID
1  OL13    negCtrl   rs10035423
2  OL13    emVarCtrl rs1008917
3  OL13    emVarCtrl rs1008917
4  OL13    negCtrl   rs10146602
5  OL13    expCtrl   rs10146759
6  OL13    emVarCtrl rs1016110
7  OL13    emVarCtrl rs1016110
8  OL13    negCtrl   rs10201513
9  OL13    negCtrl   rs10247186
10 OL13    negCtrl   rs10269336

In [9]:
### init
dat = dat_OL13_attributes

### process: 
###     extract negative and positive controls
###     rename columns and values
dat = dat %>% 
    dplyr::filter(str_detect(project, "negCtrl|expCtrl")) %>%
    dplyr::filter(str_detect(SNP, "rs")) %>%
    dplyr::mutate(
        RSID    = SNP,
        Dataset = "OL13", 
        Project = ifelse(project == "negCtrl", "ctrl_neg", "ctrl_pos")) %>%
    dplyr::select(Dataset, Project, RSID)

### assign and show
dat_ctrl_OL13 = dat
print(dim(dat))
head(dat, 10)

[1] 160   3

   Dataset Project  RSID
1  OL13    ctrl_neg rs10035423
2  OL13    ctrl_neg rs10146602
3  OL13    ctrl_pos rs10146759
4  OL13    ctrl_neg rs10201513
5  OL13    ctrl_neg rs10247186
6  OL13    ctrl_neg rs10269336
7  OL13    ctrl_neg rs10490679
8  OL13    ctrl_neg rs10763302
9  OL13    ctrl_neg rs10986638
10 OL13    ctrl_neg rs11003412

In [10]:
fdiry = file.path(FD_RES, "region", "control_tmpra")
fname = "control_OL13_info.tsv"
fpath = file.path(fdiry, fname)

dat = dat_ctrl_OL13
write_tsv(dat, fpath)

In [11]:
fdiry = file.path(FD_RES, "region", "control_tmpra")
fname = "control_OL13_rsid.txt"
fpath = file.path(fdiry, fname)

dat = dat_ctrl_OL13 %>% dplyr::select(RSID)
write_tsv(dat, fpath)

## Extract contrls for OL43, OL45

In [17]:
###
lst = list(
    "OL43" = dat_OL43_bed,
    "OL45" = dat_OL45_bed
)

lst = lapply(lst, function(dat){
    dat = dat %>% 
        dplyr::filter(str_detect(project, "ctrl_pos|ctrl_neg")) %>%
        dplyr::filter(!str_detect(id, "Nadav|ORF")) %>%
        dplyr::select(chr, start, stop, id, score, strand, project) %>%
        tidyr::separate(
            col   = id, 
            into  = c("Chrom", "Loc_hg19", "Allele_Ref", "Allele_Alt"), 
            sep   = ":",
            extra = "drop") %>%
        dplyr::mutate(
            SNP      = paste(Chrom, Loc_hg19, Allele_Ref, Allele_Alt, sep=":"),
            Chrom    = paste("chr", Chrom, sep=""),
            Loc_hg38 = start + 100,
            Project  = project) %>%
        dplyr::select(Project, SNP, Chrom, Loc_hg19, Loc_hg38, Allele_Ref, Allele_Alt)
    return(dat)
})

dat_ctrl = bind_rows(lst, .id = "Dataset")
dat_snps = dat_ctrl %>% dplyr::filter(Allele_Ref != "NA")

In [18]:
dat = dat_ctrl
print(dim(dat))
head(dat)

[1] 1194    8

  Dataset Project  SNP               Chrom Loc_hg19  Loc_hg38  Allele_Ref
1 OL43    ctrl_pos 1:10437778:C:T    chr1  10437778   10377720 C
2 OL43    ctrl_neg 1:10451799:C:T    chr1  10451799   10391742 C
3 OL43    ctrl_pos 1:110198727:C:G   chr1  110198727 109656105 C
4 OL43    ctrl_pos 1:110881742:NA:NA chr1  110881742 110339120 NA
5 OL43    ctrl_pos 1:111838694:C:T   chr1  111838694 111296072 C
6 OL43    ctrl_neg 1:113047064:NA:NA chr1  113047064 112504442 NA
  Allele_Alt
1 T
2 T
3 G
4 NA
5 T
6 NA

In [19]:
dat = dat_snps
print(dim(dat))
head(dat)

[1] 438   8

  Dataset Project  SNP             Chrom Loc_hg19  Loc_hg38  Allele_Ref
1 OL43    ctrl_pos 1:10437778:C:T  chr1  10437778   10377720 C
2 OL43    ctrl_neg 1:10451799:C:T  chr1  10451799   10391742 C
3 OL43    ctrl_pos 1:110198727:C:G chr1  110198727 109656105 C
4 OL43    ctrl_pos 1:111838694:C:T chr1  111838694 111296072 C
5 OL43    ctrl_neg 1:119063648:C:T chr1  119063648 118521025 C
6 OL43    ctrl_neg 1:171893999:A:T chr1  171893999 171924859 A
  Allele_Alt
1 T
2 T
3 G
4 T
5 T
6 T

In [20]:
dat = dat_ctrl
print(all(dat$SNP %in% snps))
print(all(snps %in% dat$SNP))

[1] TRUE
[1] TRUE

In [21]:
fdiry = file.path(FD_RES, "region", "control_tmpra")
fname = "control_OL43_OL45_info.tsv"
fpath = file.path(fdiry, fname)

dat = dat_ctrl
write_tsv(dat, fpath)