In [1]:
suppressMessages(suppressWarnings(source("../config/config_sing.R")))
show_env()

You are in Singularity: singularity_proj_combeffect
BASE DIRECTORY:     /data/reddylab/Kuei
WORK DIRECTORY:     /data/reddylab/Kuei/out
CODE DIRECTORY:     /data/reddylab/Kuei/code
PATH OF SOURCE:     /data/reddylab/Kuei/source
PATH OF EXECUTABLE: /data/reddylab/Kuei/bin
PATH OF ANNOTATION: /data/reddylab/Kuei/annotation
PATH OF PROJECT:    /data/reddylab/Kuei/code/Proj_CombEffect_ENCODE_FCC
PATH OF RESULTS:    /data/reddylab/Kuei/out/proj_combeffect_encode_fcc

In [2]:
### set file directory
fdiry = file.path(FD_RES, "source", "MPRA", "Tewhey_TMPRA", "tiling_counts")
fname = "FADS_tile_snp.20190214.attributes"
fpath = file.path(fdiry, fname)

### import data
dat = read_tsv(fpath)

### show info
dat_OL13_attributes = dat
print(dim(dat))
head(dat)

Rows: 57010 Columns: 12
── Column specification ───────────────────────────────────────────────────────────
Delimiter: "\t"
chr (8): ID, SNP, ref_allele, alt_allele, allele, window, strand, project
dbl (4): chr, snp_pos, start, stop

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

[1] 57010    12

  ID                      SNP chr snp_pos ref_allele alt_allele allele window
1 11:61554801-61555000_RC NA  11  NA      NA         NA         NA     NA
2 11:61554806-61555005_RC NA  11  NA      NA         NA         NA     NA
3 11:61554811-61555010_RC NA  11  NA      NA         NA         NA     NA
4 11:61554816-61555015_RC NA  11  NA      NA         NA         NA     NA
5 11:61554821-61555020_RC NA  11  NA      NA         NA         NA     NA
6 11:61554826-61555025_RC NA  11  NA      NA         NA         NA     NA
  strand start    stop     project
1 rev    61554801 61555000 Tiles
2 rev    61554806 61555005 Tiles
3 rev    61554811 61555010 Tiles
4 rev    61554816 61555015 Tiles
5 rev    61554821 61555020 Tiles
6 rev    61554826 61555025 Tiles

In [7]:
### init
dat = dat_OL13_attributes

### process: 
###     extract SNP rs ID
###     rename columns and values
dat = dat %>% 
    dplyr::filter(str_detect(SNP, "rs")) %>%
    dplyr::mutate(
        RSID    = SNP,
        Dataset = "OL13",
        Project = project) %>%
    dplyr::select(Dataset, Project, RSID) %>%
    distinct

### assign and show
dat_snps_OL13 = dat
print(dim(dat))
head(dat, 10)

[1] 198   3

   Dataset Project   RSID
1  OL13    negCtrl   rs10035423
2  OL13    emVarCtrl rs1008917
3  OL13    negCtrl   rs10146602
4  OL13    expCtrl   rs10146759
5  OL13    emVarCtrl rs1016110
6  OL13    negCtrl   rs10201513
7  OL13    negCtrl   rs10247186
8  OL13    negCtrl   rs10269336
9  OL13    emVarCtrl rs10409085
10 OL13    negCtrl   rs10490679

In [8]:
fdiry = file.path(FD_RES, "region", "control_tmpra")
fname = "snps_OL13_info.tsv"
fpath = file.path(fdiry, fname)

dat = dat_snps_OL13
write_tsv(dat, fpath)

In [10]:
fdiry = file.path(FD_RES, "region", "control_tmpra")
fname = "snps_OL13_rsid.txt"
fpath = file.path(fdiry, fname)

dat = dat_snps_OL13 
dat = dat %>% dplyr::select(RSID) %>% distinct
write_tsv(dat, fpath, col_names = FALSE)