In [1]:
suppressMessages(suppressWarnings(source("../config/config_sing.R")))
show_env()

You are in Singularity: singularity_proj_combeffect
BASE DIRECTORY:     /data/reddylab/Kuei
WORK DIRECTORY:     /data/reddylab/Kuei/out
CODE DIRECTORY:     /data/reddylab/Kuei/code
PATH OF SOURCE:     /data/reddylab/Kuei/source
PATH OF EXECUTABLE: /data/reddylab/Kuei/bin
PATH OF ANNOTATION: /data/reddylab/Kuei/annotation
PATH OF PROJECT:    /data/reddylab/Kuei/code/Proj_CombEffect_ENCODE_FCC
PATH OF RESULTS:    /data/reddylab/Kuei/out/proj_combeffect_encode_fcc

In [7]:
### set file directory
fdiry = file.path(FD_RES, "source", "negative_control_junke")
fname = "deep_atac_starr_orf_ctrl_count_mat_all_sorted.bed"
fpath = file.path(fdiry, fname)

### import data
cnames = c("Chrom", "Start", "End", "Strand", paste("Sample", 1:10, sep="_"))
dat = read_tsv(fpath, col_names = cnames)

### show info
dat_astarr_orf = dat
print(dim(dat))
head(dat)

Rows: 18612 Columns: 14
── Column specification ──────────────────────────────────────────
Delimiter: "\t"
chr  (2): Chrom, Strand
dbl (12): Start, End, Sample_1, Sample_2, Sample_3, Sample_4, Sample_5, Samp...

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

[1] 18612    14

  Chrom Start  End    Strand Sample_1 Sample_2 Sample_3 Sample_4 Sample_5
1 chr1  966531 966614 +      0        0        0        0        0
2 chr1  966531 966614 -      0        0        0        0        0
3 chr1  966703 966803 +      0        0        0        0        0
4 chr1  966703 966803 -      0        0        0        0        0
5 chr1  970276 970423 +      0        2        2        1        1
6 chr1  970276 970423 -      1        2        3        2        4
  Sample_6 Sample_7 Sample_8 Sample_9 Sample_10
1 0        0        0        0        0
2 0        0        0        0        0
3 0        0        0        0        0
4 0        0        0        0        0
5 0        0        0        0        0
6 2        0        0        0        0

In [8]:
### set file directory
fdiry = file.path(FD_RES, "source", "negative_control_junke")
fname = "whg_starr_tr_orf_ctrl_count_mat_all_sorted.bed"
fpath = file.path(fdiry, fname)

### import data
cnames = c("Chrom", "Start", "End", "Strand", paste("Sample", 1:4, sep="_"))
dat = read_tsv(fpath, col_names = cnames)

### show info
dat_wstarr_orf = dat
print(dim(dat))
head(dat)

Rows: 18612 Columns: 8
── Column specification ──────────────────────────────────────────
Delimiter: "\t"
chr (2): Chrom, Strand
dbl (6): Start, End, Sample_1, Sample_2, Sample_3, Sample_4

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

[1] 18612     8

  Chrom Start  End    Strand Sample_1 Sample_2 Sample_3 Sample_4
1 chr1  966531 966614 +      0        0        0        0
2 chr1  966531 966614 -      0        0        0        0
3 chr1  966703 966803 +      0        0        0        0
4 chr1  966703 966803 -      0        0        0        0
5 chr1  970276 970423 +      0        0        0        0
6 chr1  970276 970423 -      0        0        0        0

In [10]:
dat = dat_astarr_orf
dat = dat %>% dplyr::mutate(Length = End - Start)
summary(dat$Length)

   Min. 1st Qu.  Median    Mean 3rd Qu.    Max.
    3.0    59.0   107.0   131.3   160.0  3215.0

In [11]:
dat = dat_wstarr_orf
dat = dat %>% dplyr::mutate(Length = End - Start)
summary(dat$Length)

   Min. 1st Qu.  Median    Mean 3rd Qu.    Max.
    3.0    59.0   107.0   131.3   160.0  3215.0