**Set environment**

In [5]:
suppressMessages(suppressWarnings(source("../config/config_sing.R")))
suppressMessages(suppressWarnings(library("rtracklayer")))
show_env()

You are in Singularity: singularity_proj_combeffect
BASE DIRECTORY (FD_BASE): /data/reddylab/Kuei
WORK DIRECTORY (FD_WORK): /data/reddylab/Kuei/out
CODE DIRECTORY (FD_CODE): /data/reddylab/Kuei/code
PATH OF PROJECT (FD_PRJ): /data/reddylab/Kuei/code/Proj_CombEffect_ENCODE_FCC
PATH OF RESULTS (FD_RES): /data/reddylab/Kuei/out/proj_combeffect_encode_fcc
PATH OF LOG     (FD_LOG): /data/reddylab/Kuei/out/proj_combeffect_encode_fcc/log

## Group 01: NMU

In [2]:
### set file path
fdiry = file.path(FD_RES, "source", "CRISPRi_FlowFISH", "casa_peak_calls")
fname = "NMU_HCRFF_CASA_elem_quant.bed"
fpath = file.path(fdiry, fname)

### read file
dat = read_tsv(fpath, col_names = FALSE, show_col_types = FALSE)

### assign and show info
dat_crispr_peak = dat
print(dim(dat))
head(dat)

[1] 11 25

  X1   X2       X3       X4                       X5        X6
1 chr4 55602941 55606941 chr4:55602941-55606941:. 0.5019663 .
2 chr4 55608941 55610941 chr4:55608941-55610941:. 0.5041968 .
3 chr4 55611441 55613941 chr4:55611441-55613941:. 0.4248977 .
4 chr4 55614441 55616941 chr4:55614441-55616941:. 0.6069630 .
5 chr4 55617441 55618441 chr4:55617441-55618441:. 0.4442868 .
6 chr4 55624941 55627441 chr4:55624941-55627441:. 0.4792917 .
  X7                       X8   X9       X10      ⋯ X16 X17 X18  X19 X20 X21
1 chr4:55602941-55606941:. chr4 55636297 55636298 ⋯ NA  NA  TRUE NA  NA  NA
2 chr4:55608941-55610941:. chr4 55636297 55636298 ⋯ NA  NA  TRUE NA  NA  NA
3 chr4:55611441-55613941:. chr4 55636297 55636298 ⋯ NA  NA  TRUE NA  NA  NA
4 chr4:55614441-55616941:. chr4 55636297 55636298 ⋯ NA  NA  TRUE NA  NA  NA
5 chr4:55617441-55618441:. chr4 55636297 55636298 ⋯ NA  NA  TRUE NA  NA  NA
6 chr4:55624941-55627441:. chr4 55636297 55636298 ⋯ NA  NA  TRUE NA  NA  NA
  X22 X23 X24  X25
1 NA  NA  TRUE NA
2 NA  NA  TRUE NA
3 NA  NA  TRUE NA
4 NA  NA  TRUE NA
5 NA  NA  TRUE NA
6 NA  NA  TRUE NA

In [20]:
### set file path
fdiry = file.path(FD_RES, "source", "CRISPRi_FlowFISH", "track_bigwig")
fname = "NMU_HCRFF_rAVG.log2FC_2.bw"
fpath = file.path(fdiry, fname)


### read file
grg = import(fpath, format="BigWig")

### assign and show
grg_crispr_track_bw = grg
grg

GRanges object with 43563 ranges and 1 metadata column:
          seqnames    ranges strand |      score
             <Rle> <IRanges>  <Rle> |  <numeric>
      [1]     chr1  74582277      * |  0.0245143
      [2]     chr1  74582311      * | -0.4396874
      [3]     chr1  80526340      * |  1.1536757
      [4]     chr1 102025741      * | -0.1152497
      [5]     chr1 102026465      * | -0.0229528
      ...      ...       ...    ... .        ...
  [43559]     chrX 149651715      * |  0.3820211
  [43560]     chrX 149652577      * | -0.0124368
  [43561]     chrX 151921815      * | -0.4995973
  [43562]     chrX 151922456      * | -0.3210040
  [43563]     chrX 151922523      * |  0.3334368
  -------
  seqinfo: 21 sequences from an unspecified genome

In [21]:
### set file path
fdiry = file.path(FD_RES, "result", "CRISPRi_FlowFISH", "coverage")
fname = "NMU_HCRFF_rAVG.log2FC_2.bed"
fpath = file.path(fdiry, fname)

### read file
grg = import(fpath, format="BED")

### assign and show
grg_crispr_track_bed = grg
grg

GRanges object with 43563 ranges and 2 metadata columns:
          seqnames    ranges strand |        name     score
             <Rle> <IRanges>  <Rle> | <character> <numeric>
      [1]     chr1  74582276      * |        id-1  0.024514
      [2]     chr1  74582310      * |        id-2 -0.439687
      [3]     chr1  80526339      * |        id-3  1.153680
      [4]     chr1 102025740      * |        id-4 -0.115250
      [5]     chr1 102026464      * |        id-5 -0.022953
      ...      ...       ...    ... .         ...       ...
  [43559]     chrX 149651714      * |    id-43559  0.382021
  [43560]     chrX 149652576      * |    id-43560 -0.012437
  [43561]     chrX 151921814      * |    id-43561 -0.499597
  [43562]     chrX 151922455      * |    id-43562 -0.321004
  [43563]     chrX 151922522      * |    id-43563  0.333437
  -------
  seqinfo: 21 sequences from an unspecified genome; no seqlengths

In [22]:
### set file path
fdiry = file.path(FD_RES, "result", "CRISPRi_FlowFISH", "coverage")
fname = "NMU_HCRFF_rAVG.log2FC_2.bed"
fpath = file.path(fdiry, fname)

### read file
cnames = c("Chrom", "Start", "End", "Name", "Score")
ctypes = cols(
    "Chrom" = col_character(),
    "Start" = col_integer(),
    "End"   = col_integer(),
    "Score" = col_double()
)
dat = read_tsv(fpath, col_names = cnames, col_types = ctypes)

### assign and show info
dat_crispr_track = dat
print(dim(dat))
head(dat)

[1] 43563     5

  Chrom Start     End       Name Score
1 chr1   74582275  74582276 id-1  0.024514
2 chr1   74582309  74582310 id-2 -0.439687
3 chr1   80526338  80526339 id-3  1.153680
4 chr1  102025739 102025740 id-4 -0.115250
5 chr1  102026463 102026464 id-5 -0.022953
6 chr1  102522706 102522707 id-6 -0.469711

In [23]:
grg = grg_crispr_track_bw
range(grg)

GRanges object with 21 ranges and 0 metadata columns:
       seqnames             ranges strand
          <Rle>          <IRanges>  <Rle>
   [1]     chr1 74582277-248233869      *
   [2]    chr10  2350911-130456456      *
   [3]    chr11  5996387-124027721      *
   [4]    chr12 11520060-128194750      *
   [5]    chr13 19040912-105391551      *
   ...      ...                ...    ...
  [17]     chr6 47776775-142078147      *
  [18]     chr7  9707777-156331017      *
  [19]     chr8  4306953-139535920      *
  [20]     chr9 24548733-103913442      *
  [21]     chrX 14261427-151922523      *
  -------
  seqinfo: 21 sequences from an unspecified genome

In [24]:
grg = grg_crispr_track_bed
range(grg)

GRanges object with 21 ranges and 0 metadata columns:
       seqnames             ranges strand
          <Rle>          <IRanges>  <Rle>
   [1]     chr1 74582276-248233868      *
   [2]    chr10  2350910-130456455      *
   [3]    chr11  5996386-124027720      *
   [4]    chr12 11520059-128194749      *
   [5]    chr13 19040911-105391550      *
   ...      ...                ...    ...
  [17]     chr6 47776774-142078146      *
  [18]     chr7  9707776-156331016      *
  [19]     chr8  4306952-139535919      *
  [20]     chr9 24548732-103913441      *
  [21]     chrX 14261426-151922522      *
  -------
  seqinfo: 21 sequences from an unspecified genome; no seqlengths

In [16]:
dat = dat_crispr_track
dat = dat %>%
    dplyr::group_by(Chrom) %>%
    dplyr::summarise(
        Start = min(Start),
        End   = max(End),
        Count = n()
    )
dat

   Chrom Start    End       Count
1  chr1  74582275 248233868    60
2  chr10  2350909 130456455  1552
3  chr11  5996385 124027720  3074
4  chr12 11520058 128194749    30
5  chr13 19040910 105391550    67
6  chr14 27400449  97170083    27
7  chr15 19960785  87166250    34
8  chr16 46501260  63965316     8
9  chr17 22603780  71592262     7
10 chr18 29747998  78327940    29
11 chr19 22909104  22909891     2
12 chr2  13724999 208919973    63
13 chr21 22502174  23816077    21
14 chr3   5862433 167072305    48
15 chr4   9208187 180005322 38183
16 chr5   2409769 165081179    68
17 chr6  47776773 142078146    58
18 chr7   9707775 156331016    66
19 chr8   4306951 139535919    92
20 chr9  24548731 103913441    38
21 chrX  14261425 151922522    36