**Set environment**

In [1]:
suppressWarnings(suppressMessages(source("../config/config_sing.R")))
suppressWarnings(suppressMessages(library("GenomicRanges")))
show_env()

You are in Singularity: singularity_proj_encode_fcc
BASE DIRECTORY (FD_BASE): /data/reddylab/Kuei
WORK DIRECTORY (FD_WORK): /data/reddylab/Kuei/out
CODE DIRECTORY (FD_CODE): /data/reddylab/Kuei/code
PATH OF PROJECT (FD_PRJ): /data/reddylab/Kuei/code/Proj_CombEffect_ENCODE_FCC
PATH OF RESULTS (FD_RES): /data/reddylab/Kuei/out/proj_combeffect_encode_fcc
PATH OF LOG     (FD_LOG): /data/reddylab/Kuei/out/proj_combeffect_encode_fcc/log

## Import data

In [2]:
fdiry = file.path(FD_RES, "results", "CRISPRi_FlowFISH", "coverage")
fname = "Merge_HCRFF_rAVG.log2FC_2.bed"
fpath = file.path(fdiry, fname)

cnames = c("Chrom", "Start", "End", "Name", "Score", "Gene")
dat = read_tsv(fpath, col_names = cnames, show_col_types = FALSE)

dat_crispr_guides = dat
print(dim(dat))
head(dat)

[1] 656178      6

  Chrom Start     End       Name Score     Gene
1 chr10 100694991 100694992 id-1  0.436247 CAPRIN1
2 chr10 100695172 100695173 id-2 -1.057770 CAPRIN1
3 chr10 100695184 100695185 id-3  1.242010 CAPRIN1
4 chr10 100695209 100695210 id-4 -0.471250 CAPRIN1
5 chr10 100695328 100695329 id-5 -1.293510 CAPRIN1
6 chr10 100695346 100695347 id-6  0.928888 CAPRIN1

In [3]:
fdiry = file.path(FD_RES, "results", "CRISPRi_FlowFISH", "coverage")
fname = "Merge_HCRFF_rAVG.log2FC_2.filtered.bed"
fpath = file.path(fdiry, fname)

cnames = c("Chrom", "Start", "End", "Name", "Score", "Gene")
dat = read_tsv(fpath, col_names = cnames, show_col_types = FALSE)

dat_crispr_guides_filter = dat
print(dim(dat))
head(dat)

[1] 610960      6

  Chrom Start    End      Name    Score     Gene
1 chr11 33064196 33064197 id-1495  0.807624 CAPRIN1
2 chr11 33064217 33064218 id-1496 -2.712460 CAPRIN1
3 chr11 33064229 33064230 id-1497  0.642045 CAPRIN1
4 chr11 33064230 33064231 id-1498  1.853540 CAPRIN1
5 chr11 33064258 33064259 id-1499  0.126467 CAPRIN1
6 chr11 33064264 33064265 id-1500  0.217096 CAPRIN1

**Check results**

In [8]:
dat = dat_crispr_guides
res = table(dat$Gene, dat$Chrom)
dat = data.frame(res) %>% tidyr::spread(Var2, Freq)
dat

   Var1    chr1 chr10 chr11 chr12 chr13 chr14 chr15 chr16 chr17 ⋯ chr2 chr21
1  CAPRIN1  0   1494  54529     0  0     0     0    0     0     ⋯  0    0
2  CAT      0   1494  54529     0  0     0     0    0     0     ⋯  0    0
3  CD164   60   1552   3074    30 67    27    34    8     7     ⋯ 63   21
4  ERP29    0   1494   2986 51429  0     0     0    0     0     ⋯  0    0
5  FADS1    0      0   9398     0  0     0     0    0     0     ⋯  0    0
6  FADS2    0      0   9398     0  0     0     0    0     0     ⋯  0    0
7  FADS3    0      0   9398     0  0     0     0    0     0     ⋯  0    0
8  FEN1     0      0   9398     0  0     0     0    0     0     ⋯  0    0
9  GATA1    0      0      0     4  0     0     0    0     0     ⋯  0    0
10 HBE1    40     58   9454    30 67    27    34    8     7     ⋯ 63   21
11 HBG1    40     58   9454    30 67    27    34    8     7     ⋯ 63   21
12 HBG2    40     58   9454    30 67    27    34    8     7     ⋯ 63   21
13 HBS1L   40     58   9454    30 67    27    34    8     7     ⋯ 63   21
14 HDAC6    0      0      0     4  0     0     0    0     0     ⋯  0    0
15 LMO2     0   1494  54529     0  0     0     0    0     0     ⋯  0    0
16 MEF2C    0   1494   2986     0  0     0     0    0     0     ⋯  0    0
17 MYB     40     58   9454    30 67    27    34    8     7     ⋯ 63   21
18 MYC     60     58     89    30 67    27    34    8     7     ⋯ 63   21
19 NMU     60   1552   3074    30 67    27    34    8     7     ⋯ 63   21
20 PVT1    60     58     89    30 67    27    34    8     7     ⋯ 63   21
   chr3 chr4  chr5  chr6  chr7 chr8  chr9 chrX
1   0       0  1472     0  0       0  0       0
2   0       0  1472     0  0       0  0       0
3  48      99    68 52243 66      92 38      36
4   0       0  1472     0  0       0  0       0
5   0       0     0     0  0       0  0       0
6   0       0     0     0  0       0  0       0
7   0       0     0     0  0       0  0       0
8   0       0     0     0  0       0  0       0
9   4       0     0     0  0       0  0   13720
10 25       0     0 10620  0       0  0       0
11 25       0     0 10620  0       0  0       0
12 25       0     0 10620  0       0  0       0
13 25       0     0 10620  0       0  0       0
14  4       0     0     0  0       0  0   13720
15  0       0  1472     0  0       0  0       0
16  0       0 53152     0  0       0  0       0
17 25       0     0 10620  0       0  0       0
18 48      99    68    58 66   49078 38      36
19 48   38183    68    58 66      92 38      36
20 48      99    68    58 66   49078 38      36

In [5]:
dat = dat_crispr_guides_filter
table(dat$Gene, dat$Chrom)

          chr11 chr12 chr19  chr3  chr4  chr5  chr6  chr8  chrX
  CAPRIN1 51543     0     0     0     0     0     0     0     0
  CAT     51543     0     0     0     0     0     0     0     0
  CD164       0     0     0     0     0     0 52185     0     0
  ERP29       0 51429     0     0     0     0     0     0     0
  FADS1    9398     0     0     0     0     0     0     0     0
  FADS2    9398     0     0     0     0     0     0     0     0
  FADS3    9398     0     0     0     0     0     0     0     0
  FEN1     9398     0     0     0     0     0     0     0     0
  GATA1       0     4     4     4     0     0     0     0 13720
  HBE1     9365     0     0     0     0     0 10620     0     0
  HBG1     9365     0     0     0     0     0 10620     0     0
  HBG2     9365     0     0     0     0     0 10620     0     0
  HBS1L    9365     0     0     0     0     0 10620     0     0
  HDAC6       0     4     4     4     0     0     0     0 13720
  LMO2    51543     0     0     0     0     0     0     0     0
  MEF2C       0     0     0     0     0 51680     0     0     0
  MYB      9365     0     0     0     0     0 10620     0     0
  MYC         0     0     0     0     0     0     0 48986     0
  NMU         0     0     0     0 38084     0     0     0     0
  PVT1        0     0     0     0     0     0     0 48986     0

## Merge screened regions

In [20]:
lst = list(
    dat_crispr_guides,
    dat_crispr_guides_filter
)

lst_dat_crispr_guides_total = lst

**Create Granges object of the guides**

In [23]:
lst = lst_dat_crispr_guides_total 

lst = lapply(lst, function(dat){
    ### construct a granges object of the guides
    grg = GRanges(
        seqnames = dat$Chrom,
        ranges   = IRanges(
            start = dat$Start, 
            end   = dat$End
        )
    )
    grg$Name = dat$Gene
    return(grg)
})

lst_grg_crispr_guides_total = lst

**Get the ranges for each gene**

In [25]:
lst = lst_grg_crispr_guides_total

lst = lapply(lst, function(grg){
    ### get the range for each gene
    ### since some genes are screening at the same regions
    lst = split(grg, grg$Name)
    lst = lapply(lst, function(grg){
        grg = range(reduce(grg))
        return(grg)
    })
    grg = unlist(as(lst, "GRangesList"))
})

lst_grg_crispr_guides_gene = lst

**Get the ranges of total guides**

In [30]:
lst = lst_grg_crispr_guides_gene

lst = lapply(lst, function(grg){
    grg = reduce(grg)
    return(grg)
})

lst_grg_crispr_guides_reduce = lst

**Check results**

In [31]:
lst = lst_grg_crispr_guides_total
for (grg in lst){
    cat("=============================\n")
    cat("Total:", sum(lengths(grg))/10^6, "M", "\n")
}

=============================
Total: 1.312356 M
=============================
Total: 1.22192 M

In [32]:
lst = lst_grg_crispr_guides_gene
for (grg in lst){
    cat("=============================\n")
    cat("Total:", sum(lengths(grg))/10^6, "M", "\n")
}

=============================
Total: 13904.41 M
=============================
Total: 42.47684 M

In [33]:
lst = lst_grg_crispr_guides_reduce
for (grg in lst){
    cat("=============================\n")
    cat("Total:", sum(lengths(grg))/10^6, "M", "\n")
}

=============================
Total: 2161.094 M
=============================
Total: 15.68741 M

In [51]:
### construct a granges object of the guides
dat = dat_crispr_log2fc_filter
grg = GRanges(
    seqnames = dat$Chrom,
    ranges   = IRanges(
        start = dat$Start, 
        end   = dat$End
    )
)
grg$Name = dat$Gene

### assign and show
grg_guides_total = grg
print(length(grg))
print(grg)

[1] 610960
GRanges object with 610960 ranges and 1 metadata column:
           seqnames              ranges strand |        Name
              <Rle>           <IRanges>  <Rle> | <character>
       [1]    chr11   33064196-33064197      * |     CAPRIN1
       [2]    chr11   33064217-33064218      * |     CAPRIN1
       [3]    chr11   33064229-33064230      * |     CAPRIN1
       [4]    chr11   33064230-33064231      * |     CAPRIN1
       [5]    chr11   33064258-33064259      * |     CAPRIN1
       ...      ...                 ...    ... .         ...
  [610956]     chr8 128731456-128731457      * |        PVT1
  [610957]     chr8 128732458-128732459      * |        PVT1
  [610958]     chr8 128732691-128732692      * |        PVT1
  [610959]     chr8 128733323-128733324      * |        PVT1
  [610960]     chr8 128735224-128735225      * |        PVT1
  -------
  seqinfo: 9 sequences from an unspecified genome; no seqlengths

In [57]:
### get the range for each gene
### since some genes are screening at the same regions
grg = grg_guides_total
lst = split(grg, grg$Name)
lst = lapply(lst, function(grg){
    grg = range(reduce(grg))
    return(grg)
})
grg = unlist(as(lst, "GRangesList"))

### assign and show
grg_guides_gene = grg
print(length(grg))
print(grg)

[1] 31
GRanges object with 31 ranges and 0 metadata columns:
          seqnames              ranges strand
             <Rle>           <IRanges>  <Rle>
  CAPRIN1    chr11   33064196-34664117      *
      CAT    chr11   33064196-34664117      *
    CD164     chr6 108840570-109828800      *
    ERP29    chr12 110726151-112325737      *
    FADS1    chr11   61788524-61897153      *
      ...      ...                 ...    ...
      MYB    chr11     4091884-6419310      *
      MYB     chr6 134253831-136927585      *
      MYC     chr8 126736094-128735225      *
      NMU     chr4   55237590-56068531      *
     PVT1     chr8 126736094-128735225      *
  -------
  seqinfo: 9 sequences from an unspecified genome; no seqlengths

In [58]:
### reduce the range by overlapping
grg = grg_guides_gene
grg = reduce(grg)

### assign and show
grg_guides_reduce = grg
print(length(grg))
print(grg)

[1] 13
GRanges object with 13 ranges and 0 metadata columns:
       seqnames              ranges strand
          <Rle>           <IRanges>  <Rle>
   [1]    chr11     4091884-6419310      *
   [2]    chr11   33064196-34664117      *
   [3]    chr11   61788524-61897153      *
   [4]     chr6 108840570-109828800      *
   [5]     chr6 134253831-136927585      *
   ...      ...                 ...    ...
   [9]     chr3 128487571-128487937      *
  [10]     chrX   48397930-49656988      *
  [11]     chr5   87611207-89911163      *
  [12]     chr8 126736094-128735225      *
  [13]     chr4   55237590-56068531      *
  -------
  seqinfo: 9 sequences from an unspecified genome; no seqlengths

In [64]:
grg = grg_guides_reduce
print(lengths(grg))
cat("=============================\n")
cat("Total:", sum(lengths(grg))/10^6, "M")

 [1] 2327427 1599922  108630  988231 2673755     277 1599587     128     367
[10] 1259059 2299957 1999132  830942
=============================
Total: 15.68741 M

In [101]:
grg = grg_guides_total
grg = reduce(grg)
cat("=============================\n")
cat("Total:", sum(lengths(grg))/10^6, "M")

=============================
Total: 0.608668 M

In [84]:
### init
grg_query   = grg_guides_reduce
grg_subject = grg_guides_gene

### overlap, split and summarize
res = GenomicRanges::findOverlaps(grg_query, grg_subject)
lst = split(subjectHits(res), queryHits(res))
lst = lapply(lst, function(idx){
    grg = grg_subject[idx]
    txt = sort(unique(names(grg)))
    txt = paste(txt, collapse = ",")
    return(txt)
})
grg_query$Name = unlist(lst)

grg_guides_reduce_label = grg_query
grg_query

GRanges object with 13 ranges and 1 metadata column:
       seqnames              ranges strand |                   Name
          <Rle>           <IRanges>  <Rle> |            <character>
   [1]    chr11     4091884-6419310      * | HBE1,HBG1,HBG2,HBS1L..
   [2]    chr11   33064196-34664117      * |       CAPRIN1,CAT,LMO2
   [3]    chr11   61788524-61897153      * | FADS1,FADS2,FADS3,FEN1
   [4]     chr6 108840570-109828800      * |                  CD164
   [5]     chr6 134253831-136927585      * | HBE1,HBG1,HBG2,HBS1L..
   ...      ...                 ...    ... .                    ...
   [9]     chr3 128487571-128487937      * |            GATA1,HDAC6
  [10]     chrX   48397930-49656988      * |            GATA1,HDAC6
  [11]     chr5   87611207-89911163      * |                  MEF2C
  [12]     chr8 126736094-128735225      * |               MYC,PVT1
  [13]     chr4   55237590-56068531      * |                    NMU
  -------
  seqinfo: 9 sequences from an unspecified genome; no seqlengths

In [98]:
grg = grg_guides_reduce_label
dat = data.frame(
    Chrom = as.character(seqnames(grg)),
    Start = start(ranges(grg)),
    End   = end(ranges(grg)),
    Name  = grg$Name
)
dat = dat %>% dplyr::arrange(Chrom, Start, End)

dat_guides_reduce_label = dat
print(dim(dat))
dat

[1] 13  4

   Chrom Start     End       Name
1  chr11   4091884   6419310 HBE1,HBG1,HBG2,HBS1L,MYB
2  chr11  33064196  34664117 CAPRIN1,CAT,LMO2
3  chr11  61788524  61897153 FADS1,FADS2,FADS3,FEN1
6  chr12  54300766  54301042 GATA1,HDAC6
7  chr12 110726151 112325737 ERP29
8  chr19  12887110  12887237 GATA1,HDAC6
9  chr3  128487571 128487937 GATA1,HDAC6
13 chr4   55237590  56068531 NMU
11 chr5   87611207  89911163 MEF2C
4  chr6  108840570 109828800 CD164
5  chr6  134253831 136927585 HBE1,HBG1,HBG2,HBS1L,MYB
12 chr8  126736094 128735225 MYC,PVT1
10 chrX   48397930  49656988 GATA1,HDAC6

## Save

In [99]:
fdiry = file.path(FD_RES, "results", "region")
fname = "region_screened_crispri_flowfish.bed"
fpath = file.path(fdiry, fname)

dat = dat_guides_reduce_label
write_tsv(dat, fpath, col_names = FALSE)

In [69]:
queryHits(res)

 [1]  1  1  1  1  1  2  2  2  3  3  3  3  4  5  5  5  5  5  6  6  7  8  8  9  9
[26] 10 10 11 12 12 13

In [73]:
idx = lst[[1]]
idx

[1] 13 15 17 19 27

In [74]:
grg = grg_subject[idx]
grg

GRanges object with 5 ranges and 0 metadata columns:
        seqnames          ranges strand
           <Rle>       <IRanges>  <Rle>
   HBE1    chr11 4091884-6419310      *
   HBG1    chr11 4091884-6419310      *
   HBG2    chr11 4091884-6419310      *
  HBS1L    chr11 4091884-6419310      *
    MYB    chr11 4091884-6419310      *
  -------
  seqinfo: 9 sequences from an unspecified genome; no seqlengths

In [78]:
txt = sort(unique(names(grg)))
print(txt)
txt = paste(txt, collapse = ",")
print(txt)

[1] "HBE1"  "HBG1"  "HBG2"  "HBS1L" "MYB"
[1] "HBE1,HBG1,HBG2,HBS1L,MYB"

In [80]:
lst = split(subjectHits(res), queryHits(res))
lst = lapply(lst, function(idx){
    grg = grg_subject[idx]
    txt = sort(unique(names(grg)))
    txt = paste(txt, collapse = ",")
    return(txt)
})
unlist(lst)

                         1                          2
"HBE1,HBG1,HBG2,HBS1L,MYB"         "CAPRIN1,CAT,LMO2"
                         3                          4
  "FADS1,FADS2,FADS3,FEN1"                    "CD164"
                         5                          6
"HBE1,HBG1,HBG2,HBS1L,MYB"              "GATA1,HDAC6"
                         7                          8
                   "ERP29"              "GATA1,HDAC6"
                         9                         10
             "GATA1,HDAC6"              "GATA1,HDAC6"
                        11                         12
                   "MEF2C"                 "MYC,PVT1"
                        13
                     "NMU"

In [81]:
grg_query$Name = unlist(lst)
grg_query

GRanges object with 13 ranges and 1 metadata column:
       seqnames              ranges strand |                   Name
          <Rle>           <IRanges>  <Rle> |            <character>
   [1]    chr11     4091884-6419310      * | HBE1,HBG1,HBG2,HBS1L..
   [2]    chr11   33064196-34664117      * |       CAPRIN1,CAT,LMO2
   [3]    chr11   61788524-61897153      * | FADS1,FADS2,FADS3,FEN1
   [4]     chr6 108840570-109828800      * |                  CD164
   [5]     chr6 134253831-136927585      * | HBE1,HBG1,HBG2,HBS1L..
   ...      ...                 ...    ... .                    ...
   [9]     chr3 128487571-128487937      * |            GATA1,HDAC6
  [10]     chrX   48397930-49656988      * |            GATA1,HDAC6
  [11]     chr5   87611207-89911163      * |                  MEF2C
  [12]     chr8 126736094-128735225      * |               MYC,PVT1
  [13]     chr4   55237590-56068531      * |                    NMU
  -------
  seqinfo: 9 sequences from an unspecified genome; no seqlengths

In [17]:
grg = lst[["GATA1"]]
print(grg)

GRanges object with 13732 ranges and 1 metadata column:
          seqnames            ranges strand |        Name
             <Rle>         <IRanges>  <Rle> | <character>
      [1]    chr12 54300766-54300767      * |       GATA1
      [2]    chr12 54300810-54300811      * |       GATA1
      [3]    chr12 54300998-54300999      * |       GATA1
      [4]    chr12 54301041-54301042      * |       GATA1
      [5]    chr19 12887110-12887111      * |       GATA1
      ...      ...               ...    ... .         ...
  [13728]     chrX 49656944-49656945      * |       GATA1
  [13729]     chrX 49656965-49656966      * |       GATA1
  [13730]     chrX 49656977-49656978      * |       GATA1
  [13731]     chrX 49656978-49656979      * |       GATA1
  [13732]     chrX 49656987-49656988      * |       GATA1
  -------
  seqinfo: 9 sequences from an unspecified genome; no seqlengths

In [20]:
grg = range(grg)
grg

GRanges object with 4 ranges and 0 metadata columns:
      seqnames              ranges strand
         <Rle>           <IRanges>  <Rle>
  [1]    chr12   54300766-54301042      *
  [2]    chr19   12887110-12887237      *
  [3]     chr3 128487571-128487937      *
  [4]     chrX   48397930-49656988      *
  -------
  seqinfo: 9 sequences from an unspecified genome; no seqlengths

In [21]:
lengths(grg)

[1]     277     128     367 1259059

In [22]:
sum(lengths(grg))

[1] 1259831

In [23]:
dat = dat_crispr_log2fc_filter
grg = GRanges(
    seqnames = dat$Chrom,
    ranges   = IRanges(
        start = dat$Start, 
        end   = dat$End
    )
)
grg$Name = dat$Gene

print(length(grg))
print(grg)

[1] 610960
GRanges object with 610960 ranges and 1 metadata column:
           seqnames              ranges strand |        Name
              <Rle>           <IRanges>  <Rle> | <character>
       [1]    chr11   33064196-33064197      * |     CAPRIN1
       [2]    chr11   33064217-33064218      * |     CAPRIN1
       [3]    chr11   33064229-33064230      * |     CAPRIN1
       [4]    chr11   33064230-33064231      * |     CAPRIN1
       [5]    chr11   33064258-33064259      * |     CAPRIN1
       ...      ...                 ...    ... .         ...
  [610956]     chr8 128731456-128731457      * |        PVT1
  [610957]     chr8 128732458-128732459      * |        PVT1
  [610958]     chr8 128732691-128732692      * |        PVT1
  [610959]     chr8 128733323-128733324      * |        PVT1
  [610960]     chr8 128735224-128735225      * |        PVT1
  -------
  seqinfo: 9 sequences from an unspecified genome; no seqlengths

In [34]:
lst = split(grg, grg$Name)
tmp = lapply(lst, function(grg){
    grg = range(reduce(grg))
    len = sum(lengths(grg))
    return(len)
})

In [35]:
tmp

$CAPRIN1
[1] 1599922

$CAT
[1] 1599922

$CD164
[1] 988231

$ERP29
[1] 1599587

$FADS1
[1] 108630

$FADS2
[1] 108630

$FADS3
[1] 108630

$FEN1
[1] 108630

$GATA1
[1] 1259831

$HBE1
[1] 5001182

$HBG1
[1] 5001182

$HBG2
[1] 5001182

$HBS1L
[1] 5001182

$HDAC6
[1] 1259831

$LMO2
[1] 1599922

$MEF2C
[1] 2299957

$MYB
[1] 5001182

$MYC
[1] 1999132

$NMU
[1] 830942

$PVT1
[1] 1999132

In [37]:
dat = dat_crispr_log2fc_filter
grg = GRanges(
    seqnames = dat$Chrom,
    ranges   = IRanges(
        start = dat$Start, 
        end   = dat$End
    )
)
reduce(grg)

GRanges object with 265586 ranges and 0 metadata columns:
           seqnames            ranges strand
              <Rle>         <IRanges>  <Rle>
       [1]    chr11   4091884-4091887      *
       [2]    chr11   4091898-4091900      *
       [3]    chr11   4091903-4091905      *
       [4]    chr11   4091908-4091909      *
       [5]    chr11   4091914-4091917      *
       ...      ...               ...    ...
  [265582]     chr4 56068423-56068424      *
  [265583]     chr4 56068452-56068453      *
  [265584]     chr4 56068462-56068463      *
  [265585]     chr4 56068465-56068467      *
  [265586]     chr4 56068530-56068531      *
  -------
  seqinfo: 9 sequences from an unspecified genome; no seqlengths

In [39]:
sum(lengths(grg))

[1] 1221920