---
title: Region annotation 11 (ASTARR MACS peaks)
subtitle: Summarize annotations (Main)
format:
    html:
        code-fold:  true
        code-tools: true
---

**Set environment**

In [1]:
suppressMessages(suppressWarnings(source("../run_config_project_sing.R")))
show_env()

You are working on        Singularity: singularity_proj_encode_fcc
BASE DIRECTORY (FD_BASE): /data/reddylab/Kuei
REPO DIRECTORY (FD_REPO): /data/reddylab/Kuei/repo
WORK DIRECTORY (FD_WORK): /data/reddylab/Kuei/work
DATA DIRECTORY (FD_DATA): /data/reddylab/Kuei/data

You are working with      ENCODE FCC
PATH OF PROJECT (FD_PRJ): /data/reddylab/Kuei/repo/Proj_ENCODE_FCC
PROJECT RESULTS (FD_RES): /data/reddylab/Kuei/repo/Proj_ENCODE_FCC/results
PROJECT SCRIPTS (FD_EXE): /data/reddylab/Kuei/repo/Proj_ENCODE_FCC/scripts
PROJECT DATA    (FD_DAT): /data/reddylab/Kuei/repo/Proj_ENCODE_FCC/data
PROJECT NOTE    (FD_NBK): /data/reddylab/Kuei/repo/Proj_ENCODE_FCC/notebooks
PROJECT DOCS    (FD_DOC): /data/reddylab/Kuei/repo/Proj_ENCODE_FCC/docs
PROJECT LOG     (FD_LOG): /data/reddylab/Kuei/repo/Proj_ENCODE_FCC/log
PROJECT REF     (FD_REF): /data/reddylab/Kuei/repo/Proj_ENCODE_FCC/references

## Import data

In [2]:
txt_fdiry = file.path(
    FD_RES, 
    "region", 
    "encode_chromatin_states",
    "summary"
)
vec = dir(txt_fdiry)
for (txt in vec){cat(txt, "\n")}

description.tsv
K562.hg38.ENCSR913HQX.ENCFF286VQG.cCREs.label2name.bed.gz
K562.hg38.ENCSR913HQX.ENCFF286VQG.cCREs.label2name.PLS_ELS.bed.gz
metadata.label.tsv

In [3]:
txt_fdiry = file.path(
    FD_RES, 
    "region", 
    "encode_chromatin_states",
    "summary"
)
txt_fname = "K562.hg38.ENCSR913HQX.ENCFF286VQG.cCREs.label2name.bed.gz"
txt_fpath = file.path(txt_fdiry, txt_fname)

dat = read_tsv(txt_fpath, col_names = FALSE, show_col_types = FALSE)

dat_region_ccres = dat
print(dim(dat))
fun_display_table(head(dat))

[1] 2348854      11

X1,X2,X3,X4,X5,X6,X7,X8,X9,X10,X11
chr1,10033,10250,Low-DNase,0,.,10033,10250,"225,225,225",Low-DNase,All-data/Full-classification
chr1,10385,10713,Low-DNase,0,.,10385,10713,"225,225,225",Low-DNase,All-data/Full-classification
chr1,16097,16381,Low-DNase,0,.,16097,16381,"225,225,225",Low-DNase,All-data/Full-classification
chr1,17343,17642,Low-DNase,0,.,17343,17642,"225,225,225",Low-DNase,All-data/Full-classification
chr1,29320,29517,Low-DNase,0,.,29320,29517,"225,225,225",Low-DNase,All-data/Full-classification
chr1,66350,66509,Low-DNase,0,.,66350,66509,"225,225,225",Low-DNase,All-data/Full-classification

In [4]:
dat = dat_region_ccres
dat = dat %>% dplyr::select(X4, X9) %>% dplyr::distinct()
dat

  X4         X9
1 Low-DNase  225,225,225
2 CA-CTCF    0,176,240
3 pELS       255,167,0
4 CA-TF      190,40,229
5 PLS        255,0,0
6 CA-only    6,218,147
7 CA-H3K4me3 255,170,170
8 dELS       255,205,0

In [5]:
dat = tribble(
    ~Label,  ~Color,
    "C00",   "255,0,0",   ### #ff0000; Red
    "C01",   "255,167,0", ### #ffa700; Orange
    "C02",   "255,205,0", ### #ffcd00; Yellow
    "C03",   "255,205,0", ### #ffcd00; Yellow
    "C04",   "190,186,218", ### #bebada; light purple
    "C05",   "231,138,195", ### #e78ac3; pink
    "C06",   "0,176,240",   ### #00b0f0; Blue
    "C07",   "229,196,148", ### #e5c494; light brown
    "C08",   "229,196,148", ### #e5c494; light brown
    "C09",   "190,186,218", ### #bebada; light purple
    "C10",   "255,170,170", ### #ffaaaa; light red
    "C11",   "225,225,225", ### Grey
    "C12",   "190,40,229",  ### #be28e5; Purple
    "C13",   "225,225,225", ### Grey
    "C14",   "225,225,225", ### Grey
)
dat_label_color = dat
dat

   Label Color
1  C00   255,0,0
2  C01   255,167,0
3  C02   255,205,0
4  C03   255,205,0
5  C04   190,186,218
6  C05   231,138,195
7  C06   0,176,240
8  C07   229,196,148
9  C08   229,196,148
10 C09   190,186,218
11 C10   255,170,170
12 C11   225,225,225
13 C12   190,40,229
14 C13   225,225,225
15 C14   225,225,225

In [6]:
txt_fdiry = file.path(
    FD_RES, 
    "analysis_umap_cluster_by_coverage_score", 
    "fcc_astarr_macs_input_overlap",
    "fcc_starrmpracrispri_vote2",
    "cluster_phenograph"
)
txt_fname = "cluster.neighbors_070.coverage.encode_chipseq_full_log2p.tsv"
txt_fpath = file.path(txt_fdiry, txt_fname)

dat = read_tsv(txt_fpath, show_col_types = FALSE)

dat_region_cluster = dat
print(dim(dat))
head(dat)

[1] 18341     2

  Cluster Region
1  0      chr1:100036895-100039189
2  0      chr1:100132375-100133491
3  0      chr1:100265562-100266994
4 13      chr1:10032429-10033763
5  0      chr1:100362769-100363401
6  1      chr1:100400445-100400762

In [10]:
###
dat = dat_region_cluster 
dat = dat %>% 
    tidyr::separate(Region, c("Chrom", "ChromStart", "ChromEnd"), remove = FALSE) %>%
    dplyr::mutate(Label = str_pad(Cluster, width = 2, pad = "0")) %>%
    dplyr::mutate(Label = paste0("C", Label))

###
dat = dat %>%
    dplyr::mutate(
        ChromStart = as.integer(ChromStart), 
        ChromEnd   = as.integer(ChromEnd), 
        Name       = Label,
        Score      = 0,
        Strand     = ".",
        ThickStart = ChromStart,
        ThickEnd   = ChromEnd
    ) 

###
dat = dat %>%
    dplyr::left_join(dat_label_color, by = "Label") %>%
    #dplyr::select(Chrom, ChromStart, ChromEnd, Name, Score, Strand, ThickStart, ThickEnd, Color, Label) %>%
dplyr::select(Chrom, ChromStart, ChromEnd, Name, Score, Strand, ThickStart, ThickEnd, Color) %>%
    dplyr::arrange(Chrom, ChromStart, ChromEnd)

###
dat_region_cluster_arranged = dat
print(dim(dat))
head(dat)

[1] 18341     9

  Chrom ChromStart ChromEnd Name Score Strand ThickStart ThickEnd Color
1 chr1   778233     779389  C00  0     .       778233     779389  255,0,0
2 chr1   958722     959968  C00  0     .       958722     959968  255,0,0
3 chr1   960468     961615  C00  0     .       960468     961615  255,0,0
4 chr1  1005094    1005553  C01  0     .      1005094    1005553  255,167,0
5 chr1  1013154    1014482  C05  0     .      1013154    1014482  231,138,195
6 chr1  1059012    1060137  C00  0     .      1059012    1060137  255,0,0

In [11]:
txt_fdiry = file.path(
    FD_RES, 
    "region", 
    "fcc_table_cluster",
    "summary"
)
txt_fname = "K562.hg38.fcc_starrmpracrispri_vote2.cluster_total.bed.gz"
txt_fpath = file.path(txt_fdiry, txt_fname)

dat = dat_region_cluster_arranged
write_tsv(dat, txt_fpath, col_names = FALSE)

In [12]:
txt_fdiry = file.path(
    FD_RES, 
    "region", 
    "fcc_table_cluster",
    "summary"
)
txt_fname = "K562.hg38.fcc_starrmpracrispri_vote2.cluster_total.bed"
txt_fpath = file.path(txt_fdiry, txt_fname)

dat = dat_region_cluster_arranged
write_tsv(dat, txt_fpath, col_names = FALSE)