**Set environment**

In [12]:
suppressMessages(suppressWarnings(source("../config/config_sing.R")))
suppressWarnings(suppressMessages(library("GenomicRanges")))
show_env()

You are in Singularity: singularity_proj_encode_fcc
BASE DIRECTORY (FD_BASE): /data/reddylab/Kuei
WORK DIRECTORY (FD_WORK): /data/reddylab/Kuei/out
CODE DIRECTORY (FD_CODE): /data/reddylab/Kuei/code
PATH OF PROJECT (FD_PRJ): /data/reddylab/Kuei/code/Proj_CombEffect_ENCODE_FCC
PATH OF RESULTS (FD_RES): /data/reddylab/Kuei/out/proj_combeffect_encode_fcc
PATH OF LOG     (FD_LOG): /data/reddylab/Kuei/out/proj_combeffect_encode_fcc/log

## Import data

In [3]:
fdiry = file.path(FD_RES, "results")
dir(fdiry)

[1] "A001_K562_WSTARRseq"  "CRISPRi_FlowFISH"     "KS91_K562_ASTARRseq"
[4] "region"               "Tewhey_K562_TileMPRA"

In [7]:
### init
ASSAY  = "KS91_K562_ASTARRseq"
FOLDER = "coverage_astarrseq_peak_macs_input"

### set file path
fdiry = file.path(FD_RES, "results", ASSAY, FOLDER, "summary")
fname = "result.Log2FC.raw.deseq.WGS.tsv"
fpath = file.path(fdiry, fname)

### read data
dat = read_tsv(fpath, show_col_types = FALSE)

### assign and show
dat_peak_log2fc_deseq_astarr = dat
print(dim(dat))
head(dat)

[1] 246850      7

  Peak                     baseMean  log2FoldChange lfcSE      stat
1 chr1_100006256_100006880  74.39238 -0.01311792    0.15512423 -0.08456397
2 chr1_100010437_100010915  48.25931 -0.80687947    0.22174651 -3.63874709
3 chr1_10002087_10003910   224.35927 -0.34892859    0.09743886 -3.58100041
4 chr1_100021298_100021629  38.13434 -1.03799571    0.25401013 -4.08643436
5 chr1_100023727_100023976  32.62049 -0.19100207    0.25625467 -0.74536036
6 chr1_100027983_100029702 290.98442 -0.18001582    0.09610434 -1.87312902
  pvalue       padj
1 9.326080e-01 0.9510236543
2 2.739677e-04 0.0008947519
3 3.422811e-04 0.0010926173
4 4.380534e-05 0.0001707736
5 4.560539e-01 0.5497617125
6 6.105057e-02 0.1032752224

In [8]:
### init
ASSAY  = "A001_K562_WSTARRseq"
FOLDER = "coverage_astarrseq_peak_macs_input"

### set file path
fdiry = file.path(FD_RES, "results", ASSAY, FOLDER, "summary")
fname = "result.Log2FC.raw.deseq.WGS.tsv"
fpath = file.path(fdiry, fname)

### read data
dat = read_tsv(fpath, show_col_types = FALSE)

### assign and show
dat_peak_log2fc_deseq_wstarr = dat
print(dim(dat))
head(dat)

[1] 246688      7

  Peak                     baseMean  log2FoldChange lfcSE     stat
1 chr1_100006256_100006880 54.500445 -0.48849764    0.1997784 -2.4451969
2 chr1_100010437_100010915 30.645878 -0.30895395    0.2528932 -1.2216777
3 chr1_10002087_10003910   66.045530 -0.38624192    0.1730120 -2.2324569
4 chr1_100021298_100021629  8.289442 -0.59404974    0.4799400 -1.2377583
5 chr1_100023727_100023976 12.258468  0.04988694    0.4075494  0.1224071
6 chr1_100027983_100029702 80.536286 -0.22927538    0.1665249 -1.3768236
  pvalue     padj
1 0.01447731 0.09534129
2 0.22182954 0.50094986
3 0.02558478 0.14019267
4 0.21580568         NA
5 0.90257663 0.96366009
6 0.16856680 0.43305688

In [9]:
### init
ASSAY  = "Tewhey_K562_TileMPRA"
FOLDER = "coverage_astarrseq_peak_macs_input"

### set file path
fdiry = file.path(FD_RES, "results", ASSAY, FOLDER, "summary")
fname = "result.Log2FC.raw.deseq.Merge.tsv"
fpath = file.path(fdiry, fname)

### read data
dat = read_tsv(fpath, show_col_types = FALSE)

### assign and show
dat_peak_log2fc_deseq_tmpra = dat
print(dim(dat))
head(dat)

[1] 1722    8

  Dataset Peak                    baseMean  log2FoldChange lfcSE
1 OL13    chr11_61792068_61793464 260242.12  1.6665654     0.03671583
2 OL13    chr11_61800085_61801113 216437.58  1.8554038     0.04389284
3 OL13    chr11_61806630_61807154  49327.33 -1.3562271     0.07733082
4 OL13    chr11_61814735_61817343 682819.52  2.5310145     0.03600593
5 OL13    chr11_61822094_61822443  20363.10 -1.7731459     0.16511332
6 OL13    chr11_61825795_61826306  29539.40 -0.3921375     0.05359585
  stat       pvalue       padj
1  45.390919 0.000000e+00 0.000000e+00
2  42.271214 0.000000e+00 0.000000e+00
3 -17.537989 7.348170e-69 1.347165e-68
4  70.294376 0.000000e+00 0.000000e+00
5 -10.738963 6.679004e-27 8.163227e-27
6  -7.316565 2.543988e-13 2.665130e-13

In [10]:
fdiry = file.path(FD_RES, "results", "region", "KS91_K562_ASTARRseq_peak_macs_input")
fname = "KS91_K562_hg38_ASTARRseq_Input.all_reps.masked.union_narrowPeak.q5.bed"
fpath = file.path(fdiry, fname)

cnames = c("Chrom", "Start", "End")
dat = read_tsv(fpath, col_names = cnames)
dat = dat %>%
    dplyr::mutate(
        Peak   = paste(Chrom, Start, End, sep="_"),
        Length = End - Start
    )

dat_peak_atac_wgs = dat
print(dim(dat))
head(dat)

Rows: 247520 Columns: 3
── Column specification ───────────────────────────────────────────────────────────────────────
Delimiter: "\t"
chr (1): Chrom
dbl (2): Start, End

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

[1] 247520      5

  Chrom Start End   Peak             Length
1 chr1  10015 10442 chr1_10015_10442 427
2 chr1  14253 14645 chr1_14253_14645 392
3 chr1  16015 16477 chr1_16015_16477 462
4 chr1  17237 17772 chr1_17237_17772 535
5 chr1  28903 29613 chr1_28903_29613 710
6 chr1  30803 31072 chr1_30803_31072 269

In [19]:
fdiry = file.path(FD_RES, "results", "region")
fname = "region_screened_tmpra.bed"
fpath = file.path(fdiry, fname)
print(fpath)

cnames = c("Chrom", "Start", "End", "Gene")
dat = read_tsv(fpath, col_names = cnames, show_col_types = FALSE)

dat_range_tmpra = dat
print(dim(dat))
head(dat)

[1] "/data/reddylab/Kuei/out/proj_combeffect_encode_fcc/results/region/region_screened_tmpra.bed"
[1] 8 4

  Chrom Start    End      Gene
1 chr11  4505501  6505900 HBE1
2 chr11 32869701 34870100 LMO2
3 chr11 61787329 61898348 FADS
4 chr16    10001  1173100 HBA2
5 chr2  59553301 61553700 BCL11A
6 chr20 56391301 58391700 RBM38

In [14]:
vec = dat_peak_log2fc_deseq_astarr$Peak
dat = dat_peak_atac_wgs
dat = dat %>% dplyr::filter(Peak %in% vec)

dat_peak_astarr = dat 
print(dim(dat))
head(dat)

[1] 246850      5

  Chrom Start End   Peak             Length
1 chr1  10015 10442 chr1_10015_10442 427
2 chr1  14253 14645 chr1_14253_14645 392
3 chr1  16015 16477 chr1_16015_16477 462
4 chr1  17237 17772 chr1_17237_17772 535
5 chr1  28903 29613 chr1_28903_29613 710
6 chr1  30803 31072 chr1_30803_31072 269

In [15]:
vec = dat_peak_log2fc_deseq_wstarr$Peak
dat = dat_peak_atac_wgs
dat = dat %>% dplyr::filter(Peak %in% vec)

dat_peak_wstarr = dat 
print(dim(dat))
head(dat)

[1] 246688      5

  Chrom Start  End    Peak               Length
1 chr1   16015  16477 chr1_16015_16477    462
2 chr1   17237  17772 chr1_17237_17772    535
3 chr1   28903  29613 chr1_28903_29613    710
4 chr1  115411 115986 chr1_115411_115986  575
5 chr1  136071 137429 chr1_136071_137429 1358
6 chr1  137737 139544 chr1_137737_139544 1807

In [16]:
vec = dat_peak_log2fc_deseq_tmpra$Peak
dat = dat_peak_atac_wgs
dat = dat %>% dplyr::filter(Peak %in% vec)

dat_peak_tmpra = dat 
print(dim(dat))
head(dat)

[1] 1722    5

  Chrom Start   End     Peak                  Length
1 chr11 4539569 4540043 chr11_4539569_4540043  474
2 chr11 4551336 4552012 chr11_4551336_4552012  676
3 chr11 4553969 4555012 chr11_4553969_4555012 1043
4 chr11 4569016 4569992 chr11_4569016_4569992  976
5 chr11 4577444 4578031 chr11_4577444_4578031  587
6 chr11 4601808 4602487 chr11_4601808_4602487  679

In [18]:
lst = list(
    dat_peak_astarr,
    dat_peak_wstarr,
    dat_peak_tmpra
)

lst = lapply(lst, function(dat){
    grg = GRanges(
        seqnames = dat$Chrom,
        ranges   = IRanges(
            start = dat$Start, 
            end   = dat$End
        )
    )
    return(grg)
})

lst_peak = lst
lst

[[1]]
GRanges object with 246850 ranges and 0 metadata columns:
           seqnames              ranges strand
              <Rle>           <IRanges>  <Rle>
       [1]     chr1         10015-10442      *
       [2]     chr1         14253-14645      *
       [3]     chr1         16015-16477      *
       [4]     chr1         17237-17772      *
       [5]     chr1         28903-29613      *
       ...      ...                 ...    ...
  [246846]     chrX 156000382-156003205      *
  [246847]     chrX 156009687-156010227      *
  [246848]     chrX 156016391-156016836      *
  [246849]     chrX 156024950-156025593      *
  [246850]     chrX 156030187-156030740      *
  -------
  seqinfo: 23 sequences from an unspecified genome; no seqlengths

[[2]]
GRanges object with 246688 ranges and 0 metadata columns:
           seqnames              ranges strand
              <Rle>           <IRanges>  <Rle>
       [1]     chr1         16015-16477      *
       [2]     chr1         17237-17772      *
       [3]     chr1         28903-29613      *
       [4]     chr1       115411-115986      *
       [5]     chr1       136071-137429      *
       ...      ...                 ...    ...
  [246684]     chrX 155997267-155998045      *
  [246685]     chrX 156000382-156003205      *
  [246686]     chrX 156009687-156010227      *
  [246687]     chrX 156016391-156016836      *
  [246688]     chrX 156024950-156025593      *
  -------
  seqinfo: 24 sequences from an unspecified genome; no seqlengths

[[3]]
GRanges object with 1722 ranges and 0 metadata columns:
         seqnames            ranges strand
            <Rle>         <IRanges>  <Rle>
     [1]    chr11   4539569-4540043      *
     [2]    chr11   4551336-4552012      *
     [3]    chr11   4553969-4555012      *
     [4]    chr11   4569016-4569992      *
     [5]    chr11   4577444-4578031      *
     ...      ...               ...    ...
  [1718]     chrX 49856806-49857279      *
  [1719]     chrX 49860981-49861475      *
  [1720]     chrX 49862119-49862823      *
  [1721]     chrX 49868244-49869175      *
  [1722]     chrX 49878402-49880117      *
  -------
  seqinfo: 6 sequences from an unspecified genome; no seqlengths

In [22]:
dat = dat_range_tmpra
grg = GRanges(
    seqnames = dat$Chrom,
    ranges   = IRanges(
        start = dat$Start, 
        end   = dat$End
    )
)
grg$Name = dat$Gene

grg_range_tmpra = grg
grg

GRanges object with 8 ranges and 1 metadata column:
      seqnames              ranges strand |        Name
         <Rle>           <IRanges>  <Rle> | <character>
  [1]    chr11     4505501-6505900      * |        HBE1
  [2]    chr11   32869701-34870100      * |        LMO2
  [3]    chr11   61787329-61898348      * |        FADS
  [4]    chr16       10001-1173100      * |        HBA2
  [5]     chr2   59553301-61553700      * |      BCL11A
  [6]    chr20   56391301-58391700      * |       RBM38
  [7]     chr8 126735901-128736550      * |         MYC
  [8]     chrX   47785501-49880650      * |       GATA1
  -------
  seqinfo: 6 sequences from an unspecified genome; no seqlengths

In [36]:
for (grg in lst_peak){
    
    res = GenomicRanges::findOverlaps(grg, grg_range_tmpra)
    idx = subjectHits(res)
    vec = grg_range_tmpra$Name[idx]
    
    cat("\n=============================\n")
    print(length(grg))
    print(length(vec))
    print(table(vec))
    
}

=============================
[1] 246850
[1] 1722
vec
BCL11A   FADS  GATA1   HBA2   HBE1   LMO2    MYC  RBM38
   184     22    206    284    266    301    188    271

=============================
[1] 246688
[1] 1722
vec
BCL11A   FADS  GATA1   HBA2   HBE1   LMO2    MYC  RBM38
   184     22    206    284    266    301    188    271

=============================
[1] 1722
[1] 1722
vec
BCL11A   FADS  GATA1   HBA2   HBE1   LMO2    MYC  RBM38
   184     22    206    284    266    301    188    271