**Set environment**

In [1]:
suppressMessages(suppressWarnings(source("../config/config_sing.R")))
suppressWarnings(suppressMessages(library("GenomicRanges")))
show_env()

You are in Singularity: singularity_proj_encode_fcc
BASE DIRECTORY (FD_BASE): /data/reddylab/Kuei
WORK DIRECTORY (FD_WORK): /data/reddylab/Kuei/out
CODE DIRECTORY (FD_CODE): /data/reddylab/Kuei/code
PATH OF PROJECT (FD_PRJ): /data/reddylab/Kuei/code/Proj_CombEffect_ENCODE_FCC
PATH OF RESULTS (FD_RES): /data/reddylab/Kuei/out/proj_combeffect_encode_fcc
PATH OF LOG     (FD_LOG): /data/reddylab/Kuei/out/proj_combeffect_encode_fcc/log

## ATAC Peaks

In [2]:
fdiry = file.path(FD_RES, "results", "region", "KS91_K562_ASTARRseq_peak_macs_input")
fname = "KS91_K562_hg38_ASTARRseq_Input.all_reps.masked.union_narrowPeak.q5.bed"
fpath = file.path(fdiry, fname)

cnames = c("Chrom", "Start", "End")
dat = read_tsv(fpath, col_names = cnames, show_col_types = FALSE)
dat = dat %>% mutate(Peak = paste0(Chrom, ":", Start, "-", End))

dat_peak_atac_wgs = dat
print(dim(dat))
head(dat)

[1] 247520      4

  Chrom Start End   Peak
1 chr1  10015 10442 chr1:10015-10442
2 chr1  14253 14645 chr1:14253-14645
3 chr1  16015 16477 chr1:16015-16477
4 chr1  17237 17772 chr1:17237-17772
5 chr1  28903 29613 chr1:28903-29613
6 chr1  30803 31072 chr1:30803-31072

In [3]:
dat = dat_peak_atac_wgs
grg = GRanges(
    seqnames = dat$Chrom,
    ranges   = IRanges(
        start = dat$Start, 
        end   = dat$End
    )
)

grg_peak_atac_wgs = grg
grg

GRanges object with 247520 ranges and 0 metadata columns:
           seqnames              ranges strand
              <Rle>           <IRanges>  <Rle>
       [1]     chr1         10015-10442      *
       [2]     chr1         14253-14645      *
       [3]     chr1         16015-16477      *
       [4]     chr1         17237-17772      *
       [5]     chr1         28903-29613      *
       ...      ...                 ...    ...
  [247516]     chrX 156009687-156010227      *
  [247517]     chrX 156016391-156016836      *
  [247518]     chrX 156024950-156025593      *
  [247519]     chrX 156030187-156030740      *
  [247520]     chrY   11215098-11215422      *
  -------
  seqinfo: 83 sequences from an unspecified genome; no seqlengths

## TMPRA

In [4]:
fdiry = file.path(FD_RES, "results", "region")
fname = "region_screened_tmpra.bed"
fpath = file.path(fdiry, fname)
print(fpath)

cnames = c("Chrom", "Start", "End", "Gene", "Dataset")
dat = read_tsv(fpath, col_names = cnames, show_col_types = FALSE)

dat_range_tmpra = dat
print(dim(dat))
head(dat)

[1] "/data/reddylab/Kuei/out/proj_combeffect_encode_fcc/results/region/region_screened_tmpra.bed"
[1] 8 5

  Chrom Start    End      Gene   Dataset
1 chr11  4505501  6505900 HBE1   OL45
2 chr11 32869701 34870100 LMO2   OL45
3 chr11 61787329 61898348 FADS   OL13
4 chr16    10001  1173100 HBA2   OL45
5 chr2  59553301 61553700 BCL11A OL45
6 chr20 56391301 58391700 RBM38  OL45

In [5]:
dat = dat_range_tmpra
grg = GRanges(
    seqnames = dat$Chrom,
    ranges   = IRanges(
        start = dat$Start, 
        end   = dat$End
    )
)
grg$Gene    = dat$Gene
grg$Dataset = dat$Dataset
grg_range_tmpra = grg
grg

GRanges object with 8 ranges and 2 metadata columns:
      seqnames              ranges strand |        Gene     Dataset
         <Rle>           <IRanges>  <Rle> | <character> <character>
  [1]    chr11     4505501-6505900      * |        HBE1        OL45
  [2]    chr11   32869701-34870100      * |        LMO2        OL45
  [3]    chr11   61787329-61898348      * |        FADS        OL13
  [4]    chr16       10001-1173100      * |        HBA2        OL45
  [5]     chr2   59553301-61553700      * |      BCL11A        OL45
  [6]    chr20   56391301-58391700      * |       RBM38        OL45
  [7]     chr8 126735901-128736550      * |         MYC        OL43
  [8]     chrX   47785501-49880650      * |       GATA1        OL43
  -------
  seqinfo: 6 sequences from an unspecified genome; no seqlengths

## CRISPR

In [6]:
fdiry = file.path(FD_RES, "results", "CRISPRi_FlowFISH", "coverage")
fname = "Merge_HCRFF_rAVG.log2FC_2.filtered.bed"
fpath = file.path(fdiry, fname)

cnames = c("Chrom", "Start", "End", "Name", "Score", "Gene")
dat = read_tsv(fpath, col_names = cnames, show_col_types = FALSE)

dat_crispr_log2fc_filter = dat
print(dim(dat))
head(dat)

[1] 610960      6

  Chrom Start    End      Name    Score     Gene
1 chr11 33064196 33064197 id-1495  0.807624 CAPRIN1
2 chr11 33064217 33064218 id-1496 -2.712460 CAPRIN1
3 chr11 33064229 33064230 id-1497  0.642045 CAPRIN1
4 chr11 33064230 33064231 id-1498  1.853540 CAPRIN1
5 chr11 33064258 33064259 id-1499  0.126467 CAPRIN1
6 chr11 33064264 33064265 id-1500  0.217096 CAPRIN1

In [7]:
### construct a granges object of the guides
dat = dat_crispr_log2fc_filter
grg = GRanges(
    seqnames = dat$Chrom,
    ranges   = IRanges(
        start = dat$Start, 
        end   = dat$End
    )
)
grg$Gene = dat$Gene

### assign and show
grg_crispr_guides = grg
print(length(grg))
print(grg)

[1] 610960
GRanges object with 610960 ranges and 1 metadata column:
           seqnames              ranges strand |        Gene
              <Rle>           <IRanges>  <Rle> | <character>
       [1]    chr11   33064196-33064197      * |     CAPRIN1
       [2]    chr11   33064217-33064218      * |     CAPRIN1
       [3]    chr11   33064229-33064230      * |     CAPRIN1
       [4]    chr11   33064230-33064231      * |     CAPRIN1
       [5]    chr11   33064258-33064259      * |     CAPRIN1
       ...      ...                 ...    ... .         ...
  [610956]     chr8 128731456-128731457      * |        PVT1
  [610957]     chr8 128732458-128732459      * |        PVT1
  [610958]     chr8 128732691-128732692      * |        PVT1
  [610959]     chr8 128733323-128733324      * |        PVT1
  [610960]     chr8 128735224-128735225      * |        PVT1
  -------
  seqinfo: 9 sequences from an unspecified genome; no seqlengths

## Annotate ATAC Peaks with TMPRA

In [8]:
grg_query   = grg_peak_atac_wgs
grg_subject = grg_range_tmpra

res = GenomicRanges::findOverlaps(grg_query, grg_subject)
idx_query   = queryHits(res)
idx_subject = subjectHits(res)

grg = grg_query[idx_query]
dat = data.frame(
    Chrom  = as.character(seqnames(grg)),
    Start  = start(grg),
    End    = end(grg),
    TMPRA_Gene    = grg_subject$Gene[idx_subject],
    TMPRA_Dataset = grg_subject$Dataset[idx_subject]
)
dat = dat %>% dplyr::arrange(Chrom, Start, End)

### assign and show
dat_peak_annot_tmpra = dat
print(dim(dat))
head(dat)

[1] 1722    5

  Chrom Start   End     TMPRA_Gene TMPRA_Dataset
1 chr11 4539569 4540043 HBE1       OL45
2 chr11 4551336 4552012 HBE1       OL45
3 chr11 4553969 4555012 HBE1       OL45
4 chr11 4569016 4569992 HBE1       OL45
5 chr11 4577444 4578031 HBE1       OL45
6 chr11 4601808 4602487 HBE1       OL45

## Annotate ATAC Peaks with CRISPR

In [9]:
grg_query   = grg_peak_atac_wgs
grg_subject = grg_crispr_guides

res = GenomicRanges::findOverlaps(grg_query, grg_subject)
idx_query   = queryHits(res)
idx_subject = subjectHits(res)

grg = grg_query[idx_query]
dat = data.frame(
    Chrom = as.character(seqnames(grg)),
    Start = start(grg),
    End   = end(grg),
    Gene  = grg_subject$Gene[idx_subject]
)

dat = dat %>% 
    dplyr::arrange(Chrom, Start, End) %>% 
    distinct

dat = dat %>% 
    dplyr::group_by(Chrom, Start, End) %>% 
    dplyr::summarise(
        CRISPR_HCFF = paste(Gene, collapse=","), 
        .groups = "drop"
    )

### assign and show
dat_peak_annot_crispr = dat
print(dim(dat))
head(dat)

[1] 1330    4

  Chrom Start   End     CRISPR_HCFF
1 chr11 4092104 4092566 HBE1,HBG1,HBG2,HBS1L,MYB
2 chr11 4094204 4095676 HBE1,HBG1,HBG2,HBS1L,MYB
3 chr11 4144511 4147030 HBE1,HBG1,HBG2,HBS1L,MYB
4 chr11 4167268 4168022 HBE1,HBG1,HBG2,HBS1L,MYB
5 chr11 4181723 4182583 HBE1,HBG1,HBG2,HBS1L,MYB
6 chr11 4186880 4188018 HBE1,HBG1,HBG2,HBS1L,MYB

## Combine the results

In [10]:
###
dat = dat_peak_atac_wgs
dat = dat %>% 
    left_join(dat_peak_annot_tmpra,  by=c("Chrom", "Start", "End")) %>%
    left_join(dat_peak_annot_crispr, by=c("Chrom", "Start", "End"))

### assign and show
dat_peak_annot_merge = dat
print(dim(dat))
head(dat)

[1] 247520      7

  Chrom Start End   Peak             TMPRA_Gene TMPRA_Dataset CRISPR_HCFF
1 chr1  10015 10442 chr1:10015-10442 NA         NA            NA
2 chr1  14253 14645 chr1:14253-14645 NA         NA            NA
3 chr1  16015 16477 chr1:16015-16477 NA         NA            NA
4 chr1  17237 17772 chr1:17237-17772 NA         NA            NA
5 chr1  28903 29613 chr1:28903-29613 NA         NA            NA
6 chr1  30803 31072 chr1:30803-31072 NA         NA            NA

**Examine the results**

In [11]:
dat = dat_peak_annot_merge
dat = dat %>% na.omit

print(dim(dat))
head(dat)

[1] 632   7

  Chrom Start   End     Peak                  TMPRA_Gene TMPRA_Dataset
1 chr11 4539569 4540043 chr11:4539569-4540043 HBE1       OL45
2 chr11 4607676 4608647 chr11:4607676-4608647 HBE1       OL45
3 chr11 4626130 4626814 chr11:4626130-4626814 HBE1       OL45
4 chr11 4636783 4637731 chr11:4636783-4637731 HBE1       OL45
5 chr11 4658480 4659558 chr11:4658480-4659558 HBE1       OL45
6 chr11 4801687 4802066 chr11:4801687-4802066 HBE1       OL45
  CRISPR_HCFF
1 HBE1,HBG1,HBG2,HBS1L,MYB
2 HBE1,HBG1,HBG2,HBS1L,MYB
3 HBE1,HBG1,HBG2,HBS1L,MYB
4 HBE1,HBG1,HBG2,HBS1L,MYB
5 HBE1,HBG1,HBG2,HBS1L,MYB
6 HBE1,HBG1,HBG2,HBS1L,MYB

In [12]:
### init
dat = dat_peak_annot_merge

###
dat = dat %>% 
    dplyr::group_by(TMPRA_Gene, TMPRA_Dataset, CRISPR_HCFF) %>% 
    dplyr::summarize(Count = n(), .groups = "drop")

print(dim(dat))
IRdisplay::display(dat)

### 
cat("\n======================================\n")
dat = dat %>% na.omit


print(dim(dat))
IRdisplay::display(dat)

[1] 20  4

   TMPRA_Gene TMPRA_Dataset CRISPR_HCFF              Count
1  BCL11A     OL45          NA                          184
2  FADS       OL13          FADS1,FADS2,FADS3,FEN1       21
3  FADS       OL13          NA                            1
4  GATA1      OL43          GATA1,HDAC6                 110
5  GATA1      OL43          NA                           96
6  HBA2       OL45          NA                          284
7  HBE1       OL45          HBE1,HBG1,HBG2,HBS1L,MYB     89
8  HBE1       OL45          NA                          177
9  LMO2       OL45          CAPRIN1,CAT,LMO2            230
10 LMO2       OL45          NA                           71
11 MYC        OL43          MYC,PVT1                    182
12 MYC        OL43          NA                            6
13 RBM38      OL45          NA                          271
14 NA         NA            CD164                       114
15 NA         NA            ERP29                       244
16 NA         NA            GATA1,HDAC6                   3
17 NA         NA            HBE1,HBG1,HBG2,HBS1L,MYB    145
18 NA         NA            MEF2C                        92
19 NA         NA            NMU                         100
20 NA         NA            NA                       245100

======================================
[1] 5 4

  TMPRA_Gene TMPRA_Dataset CRISPR_HCFF              Count
1 FADS       OL13          FADS1,FADS2,FADS3,FEN1    21
2 GATA1      OL43          GATA1,HDAC6              110
3 HBE1       OL45          HBE1,HBG1,HBG2,HBS1L,MYB  89
4 LMO2       OL45          CAPRIN1,CAT,LMO2         230
5 MYC        OL43          MYC,PVT1                 182

## Save table

In [13]:
fdiry = file.path(FD_RES, "results", "region", "KS91_K562_ASTARRseq_peak_macs_input")
fname = "peak.annotation.screen.tsv"
fpath = file.path(fdiry, fname)
print(fpath)

dat = dat_peak_annot_merge
write_tsv(dat, fpath)

[1] "/data/reddylab/Kuei/out/proj_combeffect_encode_fcc/results/region/KS91_K562_ASTARRseq_peak_macs_input/peak.annotation.screen.tsv"