In [1]:
suppressMessages(suppressWarnings(source("../config/config_sing.R")))
show_env()

You are in Singularity: singularity_proj_combeffect
BASE DIRECTORY:     /data/reddylab/Kuei
WORK DIRECTORY:     /data/reddylab/Kuei/out
CODE DIRECTORY:     /data/reddylab/Kuei/code
PATH OF SOURCE:     /data/reddylab/Kuei/source
PATH OF EXECUTABLE: /data/reddylab/Kuei/bin
PATH OF ANNOTATION: /data/reddylab/Kuei/annotation
PATH OF PROJECT:    /data/reddylab/Kuei/code/Proj_CombEffect_ENCODE_FCC
PATH OF RESULTS:    /data/reddylab/Kuei/out/proj_combeffect_encode_fcc

In [17]:
fdiry = file.path(FD_RES, "region", "annotation_remap2022")
dir(fdiry)

[1] "remap2022_K562_all_macs2_hg38_v1_0.bed.gz"
[2] "remap2022_K562_crm_macs2_hg38_v1_0.bed.gz"
[3] "remap2022_K562_nr_macs2_hg38_v1_0.bed.gz"
[4] "remap2022_SP1_nr_macs2_hg38_v1_0.bed.gz"

In [56]:
### set file path
fdiry = file.path(FD_RES, "region", "annotation_remap2022")
fname = "remap2022_K562_nr_macs2_hg38_v1_0.bed.gz"
fpath = file.path(fdiry, fname)

cnames = c("Chrom", "Start", "End", "Name", "Score", "Strand", 
           "thickStart", "thickEnd", "reserved")
dat = read_tsv(fpath, col_names = cnames, show_col_types = FALSE)
dat = dat %>% separate(col = Name, into = c("TF", "Biotype"), sep=":")

### assign
dat_remap = dat
print(dim(dat))
head(dat)

[1] 9936638      10

  Chrom Start End   TF     Biotype                    Score Strand thickStart
1 chr1  9899  10349 EP400  K-562                      1     .      10089
2 chr1  9901  10232 NCOA1  K-562                      1     .      10078
3 chr1  9902  10328 ZBTB40 MCF-7,Hep-G2,K-562,GM12878 4     .      10093
4 chr1  9905  10132 AFF1   K-562                      1     .      10088
5 chr1  9905  10288 ZNF184 K-562                      1     .      10104
6 chr1  9907  10242 E2F8   K-562                      1     .      10090
  thickEnd reserved
1 10090    102132184
2 10079     56224224
3 10094      7314946
4 10089       113477
5 10105    157198124
6 10091    124224254

In [54]:
### set file path
fdiry = file.path(FD_RES, "region", "annotation_remap2022")
fname = "remap2022_SP1_nr_macs2_hg38_v1_0.bed.gz"
fpath = file.path(fdiry, fname)

cnames = c("Chrom", "Start", "End", "Name", "Score", "Strand", 
           "Value1", "Value2", "Value3")
dat = read_tsv(fpath, col_names = cnames, col_types="ciiciciic", show_col_types = FALSE)

### assign
dat_remap_sp1 = dat
print(dim(dat))
head(dat)

[1] 178311      9

  Chrom Start  End    Name                                              Score
1 chr1  778591 778809 SP1:GM12878,A-549,K-562,WA01,HCT-116,Hep-G2,A-375 9
2 chr1  827444 827590 SP1:GM12878,A-375                                 2
3 chr1  904629 904871 SP1:GM12878,HEK293T,HEK293,A-549,Hep-G2,A-375     6
4 chr1  906826 907030 SP1:A-549                                         1
5 chr1  907110 907208 SP1:Hep-G2                                        1
6 chr1  910550 910758 SP1:HEK293                                        1
  Strand Value1 Value2 Value3
1 .      778712 778713 28,196,84
2 .      827488 827489 28,196,84
3 .      904742 904743 28,196,84
4 .      906949 906950 28,196,84
5 .      907152 907153 28,196,84
6 .      910665 910666 28,196,84

In [57]:
length(unique(dat_remap$TF))

[1] 413

In [58]:
head(dat_remap)

  Chrom Start End   TF     Biotype                    Score Strand thickStart
1 chr1  9899  10349 EP400  K-562                      1     .      10089
2 chr1  9901  10232 NCOA1  K-562                      1     .      10078
3 chr1  9902  10328 ZBTB40 MCF-7,Hep-G2,K-562,GM12878 4     .      10093
4 chr1  9905  10132 AFF1   K-562                      1     .      10088
5 chr1  9905  10288 ZNF184 K-562                      1     .      10104
6 chr1  9907  10242 E2F8   K-562                      1     .      10090
  thickEnd reserved
1 10090    102132184
2 10079     56224224
3 10094      7314946
4 10089       113477
5 10105    157198124
6 10091    124224254

In [60]:
TFs = c("SP1", "ELK1", "NRF1", "NFY", "GATA1", "NFE2", "FOS", "JUN", "YY1", "ATF")
dat_remap_sub = dat_remap %>% dplyr::filter(str_detect(TF, TFs))
head(dat_remap_sub)

Warning message in stri_detect_regex(string, pattern, negate = negate, opts_regex = opts(pattern)):
“longer object length is not a multiple of shorter object length”

  Chrom Start  End    TF   Biotype
1 chr1  136554 136963 ATF3 K-562
2 chr1  778552 778809 FOS  K-562,HCT-116,IMR-90,Hep-G2
3 chr1  778591 778809 SP1  GM12878,A-549,K-562,WA01,HCT-116,Hep-G2,A-375
4 chr1  778619 778840 NRF1 K-562,Hep-G2,Namalwa,HMEC-1,T-47D,MCF-7,HCC1954
5 chr1  817239 817484 ATF2 K-562
6 chr1  912972 913110 NRF1 K-562,Hep-G2
  Score Strand thickStart thickEnd reserved
1  1    .      136749     136750    56224168
2  4    .      778679     778680   112140140
3  9    .      778712     778713     2819684
4 11    .      778722     778723   140252252
5  1    .      817337     817338   196140224
6  2    .      913041     913042   140252252

In [61]:
dat = dat_remap_sub
table(dat$TF)

  ATF1   ATF2   ATF3   ATF4   ATF7   ELK1    FOS  FOSL1  GATA1    JUN   JUNB
  4366   5070   8838   5488   4785    753   2737   4987  10307   5138   4167
  JUND   NFE2 NFE2L1 NFE2L2   NFYA   NFYB   NRF1    SP1    YY1
  7765   5654    412   5736   2652   2029   3103    984   8155

In [21]:
bindings = unique(dat_remap$Name)
head(bindings)

[1] "EP400:K-562"                       "NCOA1:K-562"
[3] "ZBTB40:MCF-7,Hep-G2,K-562,GM12878" "AFF1:K-562"
[5] "ZNF184:K-562"                      "E2F8:K-562"

In [ ]:
TFs = c("SP1", "GABP1", "ETS", "ELK1", "NRF1", "NFY", "GATA1", "NFE2", "KLF", "AP1", "FOS", "JUN", "YY1", "ATF")

In [22]:
idx = str_detect(bindings, "SP1")
print(sum(idx))
print(head(bindings[idx]))

[1] 401
[1] "SP1:GM12878,A-549,K-562,WA01,HCT-116,Hep-G2,A-375"
[2] "SP1:GM12878,HEK293,A-549,K-562,WA01,HCT-116,Hep-G2"
[3] "SP1:HEK293T,HEK293,A-549,K-562,Hep-G2"
[4] "SP1:GM12878,HEK293T,A-549,K-562,WA01,HCT-116,Hep-G2,A-375"
[5] "SP1:GM12878,A-549,K-562,HCT-116,Hep-G2,A-375"
[6] "SP1:GM12878,HEK293T,HEK293,A-549,K-562,Hep-G2,A-375"

In [59]:
idx = str_detect(bindings, "^KLF")
print(sum(idx))
print(head(bindings[idx]))

[1] 34
[1] "KLF16:K-562"                  "KLF13:K-562"
[3] "KLF16:K-562,HEK293"           "KLF16:HEK293,K-562"
[5] "KLF13:K-562,HEK293"           "KLF1:HUDEP-2,K-562,erythroid"

In [31]:
idx = str_detect(bindings, "^AP1")
print(sum(idx))
print(head(bindings[idx]))

[1] 0
character(0)

In [32]:
idx = str_detect(bindings, "^JUN")
print(sum(idx))
print(head(bindings[idx]))

[1] 19785
[1] "JUNB:K-562"
[2] "JUN:HAEC,MDA-MB-231,Hep-G2,K-562,HUES-8,MDA-BoM-1833"
[3] "JUND:liver,WA01,GP5D,K-562,HeLa-S3"
[4] "JUN:MDA-MB-231,Karpas-299,K-562"
[5] "JUN:K-562"
[6] "JUND:K-562"

In [33]:
idx = str_detect(bindings, "^FOS")
print(sum(idx))
print(head(bindings[idx]))

[1] 4409
[1] "FOS:K-562,HCT-116,IMR-90,Hep-G2"
[2] "FOSL1:MDA-MB-231,K-562,BT-549,WA01"
[3] "FOSL1:K-562"
[4] "FOSL1:K-562,BT-549"
[5] "FOSL1:K-562,143B"
[6] "FOS:CFPAC-1,MCF-10A,endothelial,K-562,MCF-7,IMR-90"

In [34]:
lst = lapply(TFs, function(query){
    query = paste0("^", query)
    idx = str_detect(bindings, query)
    res = bindings[idx]
    return(res)
})

In [35]:
lapply(seq_along(lst), function(idx){c(TFs[idx], length(lst[[idx]]))})

[[1]]
[1] "SP1" "401"

[[2]]
[1] "GABP1" "0"

[[3]]
[1] "ETS"  "6161"

[[4]]
[1] "ELK1" "62"

[[5]]
[1] "NRF1" "1115"

[[6]]
[1] "NFY" "31"

[[7]]
[1] "GATA1" "78"

[[8]]
[1] "NFE2" "153"

[[9]]
[1] "KLF" "34"

[[10]]
[1] "AP1" "0"

[[11]]
[1] "FOS"  "4409"

[[12]]
[1] "JUN"   "19785"

[[13]]
[1] "YY1"   "14656"

[[14]]
[1] "ATF" "294"

In [ ]:
idx = str_detect(bindings, "SP1")
print(sum(idx))
print(head(bindings[idx]))

In [51]:
dat = dat_remap %>% dplyr::filter(Chrom == "chr16", Start > 559300, End < 560000, str_detect(Name, "^NELFE"))
head(dat)

  Chrom Start  End    Name        Score Strand Value1 Value2 Value3
1 chr16 559314 559704 NELFE:K-562 1     .      559519 559520 146242243

In [52]:
dat = dat_remap %>% dplyr::filter(Chrom == "chr1", Start >= 165974518, End <= 	165974696)
head(dat)

  Chrom Start     End       Name        Score Strand Value1    Value2
1 chr1  165974518 165974696 U2AF1:K-562 1     .      165974613 165974614
  Value3
1 226113149

In [45]:
set.seed(123)
dat = dat_remap %>% slice_sample(n=100)
dat = dat %>% separate(col = Name, into = c("TF", "CellType"), sep=":")
head(dat)

  Chrom Start    End      TF     CellType              Score Strand Value1
1 chr16   559445   559996 ZBTB33 K-562                 1     .        559696
2 chr14 39431460 39431952 ZNF263 K-562,Hep-G2          2     .      39431758
3 chr6   2944534  2944665 NFE2   K-562,erythroid       2     .       2944598
4 chr20 56419108 56419580 CTBP1  K-562                 1     .      56419328
5 chr19 30084330 30084486 SPI1   K-562                 1     .      30084431
6 chr1  44047633 44047863 TAL1   ProEs,CHRF28811,K-562 7     .      44047751
  Value2   Value3
1   559697 252224252
2 39431759  11256224
3  2944599 168252112
4 56419329    285656
5 30084432  25228112
6 44047752  11216884

In [47]:
table(dat$TF, dat$Value3) %>% apply(., 1, max)

   AFF1    ATF3    ATF7    BCOR    BRD2 CBFA2T2 CBFA2T3    CBX8   CEBPB   CREB3
      1       2       2       1       1       1       2       1       1       1
  CTBP1   CTCFL    ELF1   EP300   GABPA   GATA1  GTF2F1   HCFC1   HDAC1  HNRNPL
      2       1       3       1       1       1       1       1       1       1
   IRF1    JUND   KDM1A   KDM5B    MAFF    MAFG     MAZ   MEIS2    MITF   MLLT1
      1       2       1       1       1       2       1       1       1       2
    MNT    MTA2    MTA3    MYNN   NELFE    NFE2  NFE2L2    NFIX    NFYA    NONO
      1       1       3       1       1       1       2       1       2       1
  NR2F6    NRF1    PBX2   PCBP1    PHF8   PLAG1     PML  POU5F1   RBM22   RBM25
      1       1       1       1       1       1       1       1       1       1
  RBM39   RCOR1    REST    RFX1 SMARCA4    SPI1   STAG1    TAF7    TAL1    TCF3
      1       1       4       1       1       3       1       1       2       1
  TFDP1   THAP1  TRIM24  TRIP13    USF1    WDR5   XRCC5  ZBTB33  ZBTB7A   ZFP36
      1       1       1       1       1       1       1       1       1       2
 ZNF143   ZNF24  ZNF257  ZNF263    ZNF3  ZNF316  ZNF592
      2       1       1       3       1       1       1

In [37]:
dat = dat_remap %>% dplyr::filter(str_detect(Name, "^ELK1"))
head(dat)

  Chrom Start   End     Name                     Score Strand Value1  Value2
1 chr1   904683  904921 ELK1:K-562               1     .       904800  904801
2 chr1   959183  959361 ELK1:HeLa-S3,K-562       3     .       959254  959255
3 chr1  1019591 1019923 ELK1:K-562               1     .      1019753 1019754
4 chr1  1116095 1116350 ELK1:HeLa-S3,K-562       3     .      1116212 1116213
5 chr1  1185551 1185879 ELK1:K-562               1     .      1185727 1185728
6 chr1  1231901 1232189 ELK1:HeLa-S3,K-562,MCF-7 3     .      1232034 1232035
  Value3
1 5625284
2 5625284
3 5625284
4 5625284
5 5625284
6 5625284

In [26]:
dat = dat_remap %>% dplyr::filter(str_detect(Name, "FOS"))
head(dat)

  Chrom Start  End    Name                               Score Strand Value1
1 chr1  778552 778809 FOS:K-562,HCT-116,IMR-90,Hep-G2    4     .      778679
2 chr1  904641 904878 FOSL1:MDA-MB-231,K-562,BT-549,WA01 5     .      904734
3 chr1  911169 911440 FOSL1:K-562                        2     .      911299
4 chr1  923766 923928 FOSL1:K-562,BT-549                 2     .      923837
5 chr1  938526 938648 FOSL1:K-562                        1     .      938576
6 chr1  941832 941998 FOSL1:K-562,BT-549                 2     .      941913
  Value2 Value3
1 778680 112140140
2 904735  14011228
3 911300  14011228
4 923838  14011228
5 938577  14011228
6 941914  14011228

In [4]:
### set file path
fdiry = file.path(FD_RES, "region", "KS91_K562_ASTARRseq_peak_macs")
fname = "KS91_K562_hg38_ASTARRseq_Input.remap2022_nr.tsv"
fpath = file.path(fdiry, fname)

### import data
dat = read_tsv(fpath, show_col_types = FALSE)

### assign
dat_freq_remap = dat
print(dim(dat))
head(dat)

[1] 5162105       9

  Peak                     Chrom Start     End       Len
1 chr1_100006256_100006880 chr1  100006256 100006880  624
2 chr1_10002087_10003910   chr1   10002087  10003910 1823
3 chr1_10002087_10003910   chr1   10002087  10003910 1823
4 chr1_10002087_10003910   chr1   10002087  10003910 1823
5 chr1_10002087_10003910   chr1   10002087  10003910 1823
6 chr1_10002087_10003910   chr1   10002087  10003910 1823
  Name                     Count Total Freq
1 TAF15:K-562              1     1     1.0000000
2 CBX2:K-562               1     6     0.1666667
3 CBX8:K-562               1     6     0.1666667
4 CEBPB:MCF-7,K-562,Hep-G2 1     6     0.1666667
5 ETS1:K-562               1     6     0.1666667
6 HINFP:K-562              1     6     0.1666667

In [5]:
bindings = unique(dat_freq_remap$Name)
head(bindings)

[1] "TAF15:K-562"              "CBX2:K-562"
[3] "CBX8:K-562"               "CEBPB:MCF-7,K-562,Hep-G2"
[5] "ETS1:K-562"               "HINFP:K-562"

In [6]:
TFs = c("SP1", "GABP1", "ETS", "ELK1", "NRF1", "NFY", "GATA1", "NFE2", "KLF", "AP1", "FOS", "JUN", "YY1", "ATF")

In [9]:
idx = str_detect(bindings, "SP1")
print(sum(idx))
print(head(bindings[idx]))

[1] 398
[1] "SP1:GM12878,HEK293T,A-549,K-562,WA01,HCT-116,Hep-G2,A-375"
[2] "SP1:GM12878,HEK293T,HEK293,A-549,K-562,WA01,HCT-116,Hep-G2,A-375"
[3] "SP1:A-549,K-562,GM12878,Hep-G2"
[4] "SP1:GM12878,HEK293T,HEK293,K-562,WA01,HCT-116,Hep-G2,A-375"
[5] "SP1:GM12878,HEK293T,K-562,WA01,Hep-G2"
[6] "SP1:GM12878,HEK293T,A-549,K-562,WA01,Hep-G2,A-375"

In [11]:
lst = lapply(TFs, function(query){
    idx = str_detect(bindings, query)
    res = bindings[idx]
    return(res)
})

In [14]:
lapply(seq_along(lst), function(idx){c(TFs[idx], length(lst[[idx]]))})

[[1]]
[1] "SP1" "398"

[[2]]
[1] "GABP1" "0"

[[3]]
[1] "ETS"  "5886"

[[4]]
[1] "ELK1" "59"

[[5]]
[1] "NRF1" "1050"

[[6]]
[1] "NFY" "31"

[[7]]
[1] "GATA1" "71"

[[8]]
[1] "NFE2" "148"

[[9]]
[1] "KLF" "34"

[[10]]
[1] "AP1"   "57345"

[[11]]
[1] "FOS"  "3735"

[[12]]
[1] "JUN"   "14390"

[[13]]
[1] "YY1"   "12259"

[[14]]
[1] "ATF" "281"