In [1]:
suppressMessages(suppressWarnings(source("../config/config_sing.R")))
show_env()

You are in Singularity: singularity_proj_encode_fcc
BASE DIRECTORY (FD_BASE): /data/reddylab/Kuei
WORK DIRECTORY (FD_WORK): /data/reddylab/Kuei/out
CODE DIRECTORY (FD_CODE): /data/reddylab/Kuei/code
PATH OF PROJECT (FD_PRJ): /data/reddylab/Kuei/code/Proj_CombEffect_ENCODE_FCC
PATH OF RESULTS (FD_RES): /data/reddylab/Kuei/out/proj_combeffect_encode_fcc
PATH OF LOG     (FD_LOG): /data/reddylab/Kuei/out/proj_combeffect_encode_fcc/log

In [3]:
### set file path
fdiry = file.path(FD_RES, "source")
fname = "ENCSR099CRL.ENCFF349CHI.TSS.RAMPAGE.bed.gz"
fpath = file.path(fdiry, fname)

### read file
dat = read_tsv(fpath, col_names = FALSE, show_col_types = FALSE)

### assign and show info
dat_encode_tss_rampage = dat
print(dim(dat))
head(dat)

[1] 44197     6

  X1   X2     X3     X4 X5 X6
1 chr1 629639 629933 .  .  +
2 chr1 631869 632014 .  .  +
3 chr1 632233 632301 .  .  +
4 chr1 633715 633730 .  .  +
5 chr1 633733 633816 .  .  +
6 chr1 633849 634021 .  .  +

In [4]:
### set file path
fdiry = file.path(FD_RES, "source")
fname = "ENCSR491RPJ.ENCFF395ERE.TSS.CAGE.bed.gz"
fpath = file.path(fdiry, fname)

### read file
dat = read_tsv(fpath, col_names = FALSE, show_col_types = FALSE)

### assign and show info
dat_encode_tss_cage = dat
print(dim(dat))
head(dat)

[1] 63315     6

  X1   X2     X3     X4 X5 X6
1 chr1 629889 629939 .  .  +
2 chr1 630294 630316 .  .  +
3 chr1 631364 631385 .  .  +
4 chr1 631509 631739 .  .  +
5 chr1 633648 633656 .  .  +
6 chr1 633993 634031 .  .  +