---
title: ...
subtitle: ...
format:
    html:
        code-fold:  true
        code-tools: true
---

**Set environment**

In [1]:
suppressMessages(suppressWarnings(source("../run_config_project_sing.R")))
show_env()

You are working on        Singularity: singularity_proj_encode_fcc
BASE DIRECTORY (FD_BASE): /data/reddylab/Kuei
REPO DIRECTORY (FD_REPO): /data/reddylab/Kuei/repo
WORK DIRECTORY (FD_WORK): /data/reddylab/Kuei/work
DATA DIRECTORY (FD_DATA): /data/reddylab/Kuei/data

You are working with      ENCODE FCC
PATH OF PROJECT (FD_PRJ): /data/reddylab/Kuei/repo/Proj_ENCODE_FCC
PROJECT RESULTS (FD_RES): /data/reddylab/Kuei/repo/Proj_ENCODE_FCC/results
PROJECT SCRIPTS (FD_EXE): /data/reddylab/Kuei/repo/Proj_ENCODE_FCC/scripts
PROJECT DATA    (FD_DAT): /data/reddylab/Kuei/repo/Proj_ENCODE_FCC/data
PROJECT NOTE    (FD_NBK): /data/reddylab/Kuei/repo/Proj_ENCODE_FCC/notebooks
PROJECT DOCS    (FD_DOC): /data/reddylab/Kuei/repo/Proj_ENCODE_FCC/docs
PROJECT LOG     (FD_LOG): /data/reddylab/Kuei/repo/Proj_ENCODE_FCC/log
PROJECT REF     (FD_REF): /data/reddylab/Kuei/repo/Proj_ENCODE_FCC/references

In [2]:
txt_fdiry = file.path(FD_RES, "region_coverage_fcc")
vec = dir(txt_fdiry)
for (txt in vec) {cat(txt, "\n")}

atac_ENCFF333TAT
atac_ENCFF558BLC
atac_ENCFF925CYR
atac_ENCFF948AFM
dnase_ENCFF185XRG
dnase_ENCFF274YGF
fcc_astarr_macs_input_overlap
fcc_astarr_macs_input_union

In [3]:
txt_region = "fcc_astarr_macs_input_union"
txt_fdiry  = file.path(FD_RES, "region_coverage_fcc", txt_region)
vec = dir(txt_fdiry)
for (txt in vec) {cat(txt, "\n")}

CRISPRi_FlowFISH_K562_Riley_JinWoo
CRISPRi_Growth_K562_Gersbach_JinWoo
MPRA_Lenti_K562_Nadav_Vikram
MPRA_Tiling_K562_Tewhey_Hannah
STARR_ATAC_K562_Reddy_KS274
STARR_ATAC_K562_Reddy_KS91
STARR_ATAC_K562_Reddy_KSMerge
STARR_WHG_K562_Reddy_A001

```
vec_txt_assay = c(
    "CRISPRi_FlowFISH_K562_Riley_JinWoo",
    "CRISPRi_Growth_K562_Gersbach_JinWoo",
    "MPRA_Lenti_K562_Nadav_Vikram"
)
```

## Import region data

**Read region metadata table**

In [4]:
### set directory
txt_fdiry = file.path(FD_RES, "region", "summary")
txt_fname = "metadata.label.region_for_analysis.tsv"
txt_fpath = file.path(txt_fdiry, txt_fname)

### read table
dat = read_tsv(txt_fpath, show_col_types = FALSE)

### assign and show
dat_meta_region = dat
fun_display_table(dat)

Folder,FName,Label,FPath
region_for_analysis,K562.hg38.ASTARR.macs.KS91.input.rep_all.max_overlaps.q5.bed.gz,fcc_astarr_macs_input_overlap,/data/reddylab/Kuei/repo/Proj_ENCODE_FCC/results/region/region_for_analysis/K562.hg38.ASTARR.macs.KS91.input.rep_all.max_overlaps.q5.bed.gz
region_for_analysis,K562.hg38.ASTARR.macs.KS91.input.rep_all.union.q5.bed.gz,fcc_astarr_macs_input_union,/data/reddylab/Kuei/repo/Proj_ENCODE_FCC/results/region/region_for_analysis/K562.hg38.ASTARR.macs.KS91.input.rep_all.union.q5.bed.gz
region_for_analysis,K562.hg38.ENCSR000EKS.ENCFF274YGF.DNase.bed.gz,dnase_ENCFF274YGF,/data/reddylab/Kuei/repo/Proj_ENCODE_FCC/results/region/region_for_analysis/K562.hg38.ENCSR000EKS.ENCFF274YGF.DNase.bed.gz
region_for_analysis,K562.hg38.ENCSR000EOT.ENCFF185XRG.DNase.bed.gz,dnase_ENCFF185XRG,/data/reddylab/Kuei/repo/Proj_ENCODE_FCC/results/region/region_for_analysis/K562.hg38.ENCSR000EOT.ENCFF185XRG.DNase.bed.gz
region_for_analysis,K562.hg38.ENCSR483RKN.ENCFF558BLC.ATAC.bed.gz,atac_ENCFF558BLC,/data/reddylab/Kuei/repo/Proj_ENCODE_FCC/results/region/region_for_analysis/K562.hg38.ENCSR483RKN.ENCFF558BLC.ATAC.bed.gz
region_for_analysis,K562.hg38.ENCSR483RKN.ENCFF925CYR.ATAC.bed.gz,atac_ENCFF925CYR,/data/reddylab/Kuei/repo/Proj_ENCODE_FCC/results/region/region_for_analysis/K562.hg38.ENCSR483RKN.ENCFF925CYR.ATAC.bed.gz
region_for_analysis,K562.hg38.ENCSR868FGK.ENCFF333TAT.ATAC.bed.gz,atac_ENCFF333TAT,/data/reddylab/Kuei/repo/Proj_ENCODE_FCC/results/region/region_for_analysis/K562.hg38.ENCSR868FGK.ENCFF333TAT.ATAC.bed.gz
region_for_analysis,K562.hg38.ENCSR868FGK.ENCFF948AFM.ATAC.bed.gz,atac_ENCFF948AFM,/data/reddylab/Kuei/repo/Proj_ENCODE_FCC/results/region/region_for_analysis/K562.hg38.ENCSR868FGK.ENCFF948AFM.ATAC.bed.gz

**Create region list for looping**

In [5]:
dat = dat_meta_region
lst = split(dat$Folder, dat$Label)

lst_txt_region = lst
print(lst)

$atac_ENCFF333TAT
[1] "region_for_analysis"

$atac_ENCFF558BLC
[1] "region_for_analysis"

$atac_ENCFF925CYR
[1] "region_for_analysis"

$atac_ENCFF948AFM
[1] "region_for_analysis"

$dnase_ENCFF185XRG
[1] "region_for_analysis"

$dnase_ENCFF274YGF
[1] "region_for_analysis"

$fcc_astarr_macs_input_overlap
[1] "region_for_analysis"

$fcc_astarr_macs_input_union
[1] "region_for_analysis"

## Helper functions

In [6]:
fun_get_absmax = function(x){ x[which.max(abs(x))] }

## CRISPRi-HCRFF

In [7]:
### init
txt_assay  = "CRISPRi_FlowFISH_K562_Riley_JinWoo"
#txt_fdiry = file.path(FD_RES, "region_coverage_fcc")
#vec_txt_region = dir(txt_fdiry)
vec_txt_region   = "fcc_astarr_macs_input_overlap"
vec_txt_fname    = c(
    "CRISPRi_HCRFF_K562.hg38.ZScore.filtered.unstranded.bed.gz",
    "CRISPRi_HCRFF_K562.hg38.ZScore.unstranded.bed.gz"
)

for (txt_region in vec_txt_region){
        
    ### show progress:
    cat("====================\n")
    cat("Region Folder:", txt_region, "\n")
    cat("Assay  Folder:", txt_assay,  "\n")
    cat("Import Files:\n")
    print(vec_txt_fname)
    cat("\n")
    flush.console()
    
    for (txt_fname_import in vec_txt_fname){
        
        ### set directory and import assay description
        txt_fdiry = file.path(FD_RES, "assay_fcc", txt_assay, "coverage", "summary")
        txt_fname = "description.tsv"
        txt_fpath = file.path(txt_fdiry, txt_fname)
        
        dat_cname_assay = read_tsv(txt_fpath, show_col_types = FALSE)

        ### set directory and import region description
        txt_folder = lst_txt_region[[txt_region]]
        txt_fdiry  = file.path(FD_RES, "region", txt_folder, "summary")
        txt_fname  = "description.tsv"
        txt_fpath  = file.path(txt_fdiry, txt_fname)
        
        dat_cname_region = read_tsv(txt_fpath, show_col_types = FALSE)

        ### set column names/types for overlap score
        vec_txt_cname = c(
            paste(dat_cname_region$Name, "A", sep = "_"), 
            paste(dat_cname_assay$Name,  "B", sep = "_"), 
            "Overlap"
        )

        ### set directory and import region-assay overlap
        txt_folder = "overlap_score"
        txt_fdiry  = file.path(FD_RES, "region_coverage_fcc", txt_region, txt_assay, txt_folder)
        txt_fname  = txt_fname_import
        txt_fpath  = file.path(txt_fdiry, txt_fname)

        dat_overlap_import = read_tsv(txt_fpath, col_names = vec_txt_cname, show_col_types = FALSE)
        
        ### arrange overlapped scores
        dat = dat_overlap_import
        dat = dat %>% 
            dplyr::mutate(
                Chrom      = Chrom_A,
                ChromStart = ChromStart_A,
                ChromEnd   = ChromEnd_A,
                Region     = fun_gen_region(Chrom_A, ChromStart_A, ChromEnd_A),
                Score      = Score_B,
                Target     = Target_B,
                Sign       = ifelse(Score > 0, "pos", "neg")
            )
        dat_overlap_arrange = dat
        
        ### summarize scores for each region
        dat = dat_overlap_arrange
        dat = dat %>% 
            dplyr::group_by(Chrom, ChromStart, ChromEnd, Region) %>%
            dplyr::summarise(
                Mean    = mean(Score),
                Median  = median(Score),
                AbsMax  = fun_get_absmax(Score),
                Max     = max(Score),
                Min     = min(Score),
                Count   = n(),
                .groups = "drop"
            )
        dat_score_summary_total = dat

        ### summarize scores for each region + sign
        dat = dat_overlap_arrange
        dat = dat %>%
            dplyr::group_by(Region, Sign) %>%
            dplyr::summarise(Mean = mean(Score), .groups = "drop") %>%
            dplyr::mutate(Sign = dplyr::recode(Sign, `pos` = "Mean_Pos", `neg` = "Mean_Neg")) %>% 
            tidyr::spread(Sign, Mean) %>% 
            replace(is.na(.), 0)
        dat_score_summary_sign = dat

        ### summarize scores for each region + target
        dat = dat_overlap_arrange
        dat = dat %>%
            dplyr::group_by(Region, Target) %>%
            dplyr::summarise(Mean = mean(Score), .groups = "drop") %>%
            dplyr::mutate(Target = paste("Target", Target, sep = "_")) %>% 
            tidyr::spread(Target, Mean)
        dat_score_summary_target = dat

        ### combine score summaries
        dat = dat_score_summary_total %>%
            dplyr::left_join(
                dat_score_summary_sign,
                by = c("Region")
            ) %>%
            dplyr::left_join(
                dat_score_summary_target,
                by = c("Region")
            )
        dat_score_summary = dat
        
        ### set directory to save results
        if (str_detect(txt_fname_import, "filtered")){
            txt_fname = "result.score.filtered.tsv"
        } else {
            txt_fname = "result.score.tsv"
        }
        txt_folder = "overlap_score"
        txt_fdiry  = file.path(FD_RES, "region_coverage_fcc", txt_region, txt_assay, txt_folder, "summary")
        txt_fpath  = file.path(txt_fdiry, txt_fname)
    
        ### export region scores
        txt_cmd = paste("mkdir -p", txt_fdiry)
        system(txt_cmd)
        dat = dat_score_summary
        dat = dat %>% dplyr::arrange(Chrom, ChromStart, ChromEnd)
        write_tsv(dat, txt_fpath)
        
        ### show progress:
        cat("Save File:\n")
        print(txt_fpath)
        cat("\n")
        flush.console()
    }
}

====================
Region Folder: fcc_astarr_macs_input_overlap
Assay  Folder: CRISPRi_FlowFISH_K562_Riley_JinWoo
Import Files:
[1] "CRISPRi_HCRFF_K562.hg38.ZScore.filtered.unstranded.bed.gz"
[2] "CRISPRi_HCRFF_K562.hg38.ZScore.unstranded.bed.gz"

Save File:
[1] "/data/reddylab/Kuei/repo/Proj_ENCODE_FCC/results/region_coverage_fcc/fcc_astarr_macs_input_overlap/CRISPRi_FlowFISH_K562_Riley_JinWoo/overlap_score/summary/result.score.filtered.tsv"

Save File:
[1] "/data/reddylab/Kuei/repo/Proj_ENCODE_FCC/results/region_coverage_fcc/fcc_astarr_macs_input_overlap/CRISPRi_FlowFISH_K562_Riley_JinWoo/overlap_score/summary/result.score.tsv"

In [8]:
dat = dat_overlap_import
print(table(dat$Chrom_A))
fun_display_table(head(dat))

chr10 chr11 chr12 chr19 chr21  chr3  chr4  chr5  chr6  chr8  chrX
  483 58606  7347     8    36     8  4148  2890 36870  9496 18766

Chrom_A,ChromStart_A,ChromEnd_A,Region_A,Chrom_B,ChromStart_B,ChromEnd_B,Name_B,Score_B,Strand_B,Target_B,Overlap
chr10,100729094,100729750,chr10:100729094-100729750,chr10,100729112,100729113,id-242,-1.319770,.,CAPRIN1,1
chr10,100729094,100729750,chr10:100729094-100729750,chr10,100729112,100729113,id-242,-0.259811,.,CAT,1
chr10,100729094,100729750,chr10:100729094-100729750,chr10,100729112,100729113,id-341,-0.422878,.,CD164,1
chr10,100729094,100729750,chr10:100729094-100729750,chr10,100729112,100729113,id-242,1.634620,.,ERP29,1
chr10,100729094,100729750,chr10:100729094-100729750,chr10,100729112,100729113,id-242,-0.500198,.,LMO2,1
chr10,100729094,100729750,chr10:100729094-100729750,chr10,100729112,100729113,id-242,-0.230107,.,MEF2C,1

In [9]:
dat = dat_score_summary
print(table(dat$Chrom))
fun_display_table(head(dat))

chr10 chr11 chr12 chr19 chr21  chr3  chr4  chr5  chr6  chr8  chrX
    4   259   144     1     1     1    58    61   183   132    97

Chrom,ChromStart,ChromEnd,Region,Mean,Median,AbsMax,Max,Min,Count,Mean_Neg,Mean_Pos,Target_CAPRIN1,Target_CAT,Target_CD164,Target_ERP29,Target_FADS1,Target_FADS2,Target_FADS3,Target_FEN1,Target_GATA1,Target_HBE1,Target_HBG1,Target_HBG2,Target_HBS1L,Target_HDAC6,Target_LMO2,Target_MEF2C,Target_MYB,Target_MYC,Target_NMU,Target_PVT1
chr10,100729094,100729750,chr10:100729094-100729750,-0.0770856,-0.155771,-1.82683,1.63462,-1.82683,84,-0.5187814,0.4839875,-0.0293408,-0.0232081,-0.3693438,0.4447452,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,0.0534315,-0.4537152,NA,NA,-0.1621681,NA
chr10,100743501,100744571,chr10:100743501-100744571,-0.0635050,-0.101530,-1.97401,1.83498,-1.97401,147,-0.4956430,0.5126791,-0.1292172,-0.4828771,0.2229348,0.0833267,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,-0.1640059,0.1591823,NA,NA,-0.1338784,NA
chr10,100745413,100745741,chr10:100745413-100745741,0.0800352,0.111189,2.60601,2.60601,-2.44093,42,-0.8476507,0.7108616,0.4235642,0.6766427,-0.5305453,-0.1555092,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,-0.1335742,-0.0048538,NA,NA,0.2845222,NA
chr10,100827671,100829454,chr10:100827671-100829454,-0.0451764,-0.086142,2.97608,2.97608,-1.97879,210,-0.5542560,0.5593556,0.0868731,-0.1350247,-0.0155093,0.1029290,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,-0.1139037,-0.1202471,NA,NA,-0.1213522,NA
chr11,4092109,4092511,chr11:4092109-4092511,-0.1294364,-0.154327,-2.05570,1.47841,-2.05570,320,-0.5218713,0.4669411,NA,NA,NA,NA,NA,NA,NA,NA,NA,-0.1137124,-0.1517430,-0.2425928,-0.0471902,NA,NA,NA,-0.0919436,NA,NA,NA
chr11,4094223,4095304,chr11:4094223-4095304,-0.0484957,-0.045032,-3.02950,2.38441,-3.02950,1030,-0.5075883,0.4673919,NA,NA,NA,NA,NA,NA,NA,NA,NA,-0.2516657,-0.0611086,-0.0201760,-0.0041318,NA,NA,NA,0.0946038,NA,NA,NA

In [21]:
dat = dat_overlap_import
print(table(dat$Chrom_A))
fun_display_table(head(dat))

chr10 chr11 chr12 chr19 chr21  chr3  chr4  chr5  chr6  chr8  chrX
  483 58606  7347     8    36     8  4148  2890 36870  9496 18766

Chrom_A,ChromStart_A,ChromEnd_A,Chrom_B,ChromStart_B,ChromEnd_B,Name_B,Score_B,Strand_B,Target_B,Overlap
chr10,100729094,100729750,chr10,100729112,100729113,id-242,-1.319770,.,CAPRIN1,1
chr10,100729094,100729750,chr10,100729112,100729113,id-242,-0.259811,.,CAT,1
chr10,100729094,100729750,chr10,100729112,100729113,id-341,-0.422878,.,CD164,1
chr10,100729094,100729750,chr10,100729112,100729113,id-242,1.634620,.,ERP29,1
chr10,100729094,100729750,chr10,100729112,100729113,id-242,-0.500198,.,LMO2,1
chr10,100729094,100729750,chr10,100729112,100729113,id-242,-0.230107,.,MEF2C,1

In [22]:
dat = dat_score_summary
print(table(dat$Chrom))
fun_display_table(head(dat))

chr10 chr11 chr12 chr19 chr21  chr3  chr4  chr5  chr6  chr8  chrX
    4   259   144     1     1     1    58    61   183   132    97

Chrom,ChromStart,ChromEnd,Region,Mean,Median,AbsMax,Max,Min,Count,Mean_Neg,Mean_Pos,Target_CAPRIN1,Target_CAT,Target_CD164,Target_ERP29,Target_FADS1,Target_FADS2,Target_FADS3,Target_FEN1,Target_GATA1,Target_HBE1,Target_HBG1,Target_HBG2,Target_HBS1L,Target_HDAC6,Target_LMO2,Target_MEF2C,Target_MYB,Target_MYC,Target_NMU,Target_PVT1
chr10,100729094,100729750,chr10:100729094-100729750,-0.0770856,-0.155771,-1.82683,1.63462,-1.82683,84,-0.5187814,0.4839875,-0.0293408,-0.0232081,-0.3693438,0.4447452,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,0.0534315,-0.4537152,NA,NA,-0.1621681,NA
chr10,100743501,100744571,chr10:100743501-100744571,-0.0635050,-0.101530,-1.97401,1.83498,-1.97401,147,-0.4956430,0.5126791,-0.1292172,-0.4828771,0.2229348,0.0833267,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,-0.1640059,0.1591823,NA,NA,-0.1338784,NA
chr10,100745413,100745741,chr10:100745413-100745741,0.0800352,0.111189,2.60601,2.60601,-2.44093,42,-0.8476507,0.7108616,0.4235642,0.6766427,-0.5305453,-0.1555092,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,-0.1335742,-0.0048538,NA,NA,0.2845222,NA
chr10,100827671,100829454,chr10:100827671-100829454,-0.0451764,-0.086142,2.97608,2.97608,-1.97879,210,-0.5542560,0.5593556,0.0868731,-0.1350247,-0.0155093,0.1029290,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,-0.1139037,-0.1202471,NA,NA,-0.1213522,NA
chr11,4092109,4092511,chr11:4092109-4092511,-0.1294364,-0.154327,-2.05570,1.47841,-2.05570,320,-0.5218713,0.4669411,NA,NA,NA,NA,NA,NA,NA,NA,NA,-0.1137124,-0.1517430,-0.2425928,-0.0471902,NA,NA,NA,-0.0919436,NA,NA,NA
chr11,4094223,4095304,chr11:4094223-4095304,-0.0484957,-0.045032,-3.02950,2.38441,-3.02950,1030,-0.5075883,0.4673919,NA,NA,NA,NA,NA,NA,NA,NA,NA,-0.2516657,-0.0611086,-0.0201760,-0.0041318,NA,NA,NA,0.0946038,NA,NA,NA