In [1]:
### basic
import sys
sys.path.append('../')
from config_sing import *
show_env()

### specific tools
from collections import defaultdict
from functools import reduce
import itertools as it
import math
import random
import sqlite3
# https://stackoverflow.com/questions/49456158/integer-in-python-pandas-becomes-blob-binary-in-sqlite
sqlite3.register_adapter(np.int64, lambda val: int(val))
sqlite3.register_adapter(np.int32, lambda val: int(val))

### file path of fragment database
fdiry = os.path.join(FD_RES, "KS91_K562_ASTARRseq", 'database')
fname = "fragment_astarr_gata1.db"
FPATH_DB_ASTARR = os.path.join(fdiry, fname)

fdiry = os.path.join(FD_RES, "Tewhey_K562_TileMPRA", 'database')
fname = "fragment_tilempra_gata1.db"
FPATH_DB_TMPRA = os.path.join(fdiry, fname)

FPATHS_DB = [FPATH_DB_ASTARR, FPATH_DB_TMPRA]

You are in: Singularity | singularity_proj_combeffect
    BASE DIRECTORY:     /mount/work
    PATH OF SOURCE:     /mount/work/source
    PATH OF EXECUTABLE: /mount/work/exe
    PATH OF ANNOTATION: /mount/work/annotation
    PATH OF PROJECT:    /mount/project
    PATH OF RESULTS:    /mount/work/out/proj_combeffect_encode_fcc

Library imported:
    numpy, pandas, matplotlib.pyplot
    os, sys, time, gzip, glob

In [2]:
### set query
query_out = """
    SELECT name 
    FROM sqlite_master 
    WHERE type = 'table';
    """

### get table names
for fpath_db in FPATHS_DB:
    print(fpath_db)
    with sqlite3.connect(fpath_db) as conn:
        query  = query_out
        cursor = conn.cursor()
        cursor = cursor.execute(query)
        rows   = cursor.fetchall()
    print(rows)

/mount/work/out/proj_combeffect_encode_fcc/KS91_K562_ASTARRseq/database/fragment_astarr_gata1.db
[('Sample',), ('Motif',), ('Count',), ('Annotation',), ('Fragment',), ('Coverage',)]
/mount/work/out/proj_combeffect_encode_fcc/Tewhey_K562_TileMPRA/database/fragment_tilempra_gata1.db
[('Fragment',), ('Motif',), ('Count',), ('Annotation',)]

In [4]:
### set query
query_out = """
    SELECT * FROM Sample
    """

fpath_db = FPATH_DB_ASTARR
with sqlite3.connect(fpath_db) as conn:
    query  = query_out
    cursor = conn.cursor()
    cursor = cursor.execute(query)
    rows   = cursor.fetchall()
rows

[('Input_rep1', 'Input', 'rep1', 358823),
 ('Input_rep2', 'Input', 'rep2', 461577),
 ('Input_rep3', 'Input', 'rep3', 496229),
 ('Input_rep4', 'Input', 'rep4', 464845),
 ('Input_rep5', 'Input', 'rep5', 454013),
 ('Input_rep6', 'Input', 'rep6', 409058),
 ('Output_rep1', 'Output', 'rep1', 505724),
 ('Output_rep2', 'Output', 'rep2', 686033),
 ('Output_rep3', 'Output', 'rep3', 441621),
 ('Output_rep4', 'Output', 'rep4', 739000)]