---
title: FCC Peak calls
subtitle: export annotation
format:
    html:
        code-fold:  true
        code-tools: true
---

**Set environment**

In [1]:
suppressMessages(suppressWarnings(source("../run_config_project_sing.R")))
show_env()

You are working on        Singularity
BASE DIRECTORY (FD_BASE): /mount
REPO DIRECTORY (FD_REPO): /mount/repo
WORK DIRECTORY (FD_WORK): /mount/work
DATA DIRECTORY (FD_DATA): /mount/data

You are working with      ENCODE FCC
PATH OF PROJECT (FD_PRJ): /mount/repo/Proj_ENCODE_FCC
PROJECT RESULTS (FD_RES): /mount/repo/Proj_ENCODE_FCC/results
PROJECT SCRIPTS (FD_EXE): /mount/repo/Proj_ENCODE_FCC/scripts
PROJECT DATA    (FD_DAT): /mount/repo/Proj_ENCODE_FCC/data
PROJECT NOTE    (FD_NBK): /mount/repo/Proj_ENCODE_FCC/notebooks
PROJECT DOCS    (FD_DOC): /mount/repo/Proj_ENCODE_FCC/docs
PROJECT LOG     (FD_LOG): /mount/repo/Proj_ENCODE_FCC/log
PROJECT APP     (FD_APP): /mount/repo/Proj_ENCODE_FCC/app
PROJECT REF     (FD_REF): /mount/repo/Proj_ENCODE_FCC/references

## Import data

In [2]:
txt_fdiry = file.path(
    FD_RES, 
    "region_annotation", 
    "fcc_astarr_macs_input_overlap",
    "summary"
)
txt_fname = "region.annotation.genome_tss.tsv"
txt_fpath = file.path(txt_fdiry, txt_fname)

dat = read_tsv(txt_fpath, show_col_types = FALSE)

dat_region_annot_import = dat
print(dim(dat))
fun_display_table(head(dat, 3))

[1] 26926    10

Chrom,ChromStart,ChromEnd,Region,Annotation_A,Annotation_B,Group,Label,Region_Annot,Region_Count
chr1,17288,17689,chr1:17288-17689,fcc_astarr_macs_input_overlap,genome_tss_pol2,TSS_Pol2,MIR6859-1,chr1:17436-17437,1
chr1,17288,17689,chr1:17288-17689,fcc_astarr_macs_input_overlap,genome_tss_pol2,TSS_Pol2,MIR6859-2,chr1:17436-17437,1
chr1,17288,17689,chr1:17288-17689,fcc_astarr_macs_input_overlap,genome_tss_pol2,TSS_Pol2,MIR6859-3,chr1:17436-17437,1

In [3]:
txt_fdiry = file.path(
    FD_REF,
    "genome_gene"
)
txt_fname = "demap.v24Q2.AchillesCommonEssentialControls.csv"
txt_fpath = file.path(txt_fdiry, txt_fname)

dat = read_csv(txt_fpath, show_col_types = FALSE)

dat_gene_essential_import = dat
print(dim(dat))
fun_display_table(head(dat, 3))

[1] 1247    1

Gene
AAMP (14)
AARS1 (16)
AASDHPPT (60496)

In [4]:
dat = dat_region_annot_import
table(dat$Group)

       TSS_Pol2 TSS_Pol2_RNAseq
          16109           10817

## Summary

In [5]:
dat = dat_gene_essential_import
dat = dat %>% tidyr::separate(col="Gene", into=c("Gene", "Note"), sep = " ")

dat_gene_essential_arrange = dat
head(dat)

  Gene     Note
1 AAMP     (14)
2 AARS1    (16)
3 AASDHPPT (60496)
4 ABCB7    (22)
5 ABCE1    (6059)
6 ABCF1    (23)

In [7]:
dat = dat_gene_essential_arrange
vec = dat$Gene

dat = dat_region_annot_import
dat = dat %>% 
    dplyr::filter(Group == "TSS_Pol2_RNAseq") %>%
    dplyr::select(Chrom, ChromStart, ChromEnd, Region, Group, Label) %>%
    dplyr::distinct()

dat = dat %>% 
    dplyr::rowwise() %>%
    dplyr::mutate(Essential = Label %in% vec) %>%
    dplyr::ungroup()


dat_region_annot_arrange = dat
print(dim(dat))
fun_display_table(head(dat, 3))

[1] 10817     7

Chrom,ChromStart,ChromEnd,Region,Group,Label,Essential
chr1,28934,29499,chr1:28934-29499,TSS_Pol2_RNAseq,WASH7P,FALSE
chr1,826796,828040,chr1:826796-828040,TSS_Pol2_RNAseq,LINC00115,FALSE
chr1,826796,828040,chr1:826796-828040,TSS_Pol2_RNAseq,LINC01128,FALSE

In [8]:
dat = dat_region_annot_arrange
dat = dat %>%
    dplyr::select(Chrom, ChromStart, ChromEnd, Region) %>%
    dplyr::mutate(TSS = 1)

mat_region_annot = dat
print(dim(dat))
fun_display_table(head(dat, 3))

[1] 10817     5

Chrom,ChromStart,ChromEnd,Region,TSS
chr1,28934,29499,chr1:28934-29499,1
chr1,826796,828040,chr1:826796-828040,1
chr1,826796,828040,chr1:826796-828040,1

## Export results

In [9]:
txt_fdiry = file.path(
    FD_RES, 
    "region_annotation", 
    "fcc_astarr_macs_input_overlap",
    "summary"
)
txt_fname = "region.summary.genome_tss.tsv"
txt_fpath = file.path(txt_fdiry, txt_fname)

dat = dat_region_annot_arrange
dat = dat %>% dplyr::arrange(Chrom, ChromStart, ChromEnd)

write_tsv(dat, txt_fpath)

In [10]:
txt_fdiry = file.path(
    FD_RES, 
    "region_annotation", 
    "fcc_astarr_macs_input_overlap",
    "summary"
)
txt_fname = "matrix.annotation.genome_tss.tsv"
txt_fpath = file.path(txt_fdiry, txt_fname)

dat = mat_region_annot
dat = dat %>% dplyr::arrange(Chrom, ChromStart, ChromEnd)

write_tsv(dat, txt_fpath)