In [3]:
suppressMessages(suppressWarnings(source("../config/config_sing.R")))
show_env()

You are in Singularity: singularity_proj_combeffect
BASE DIRECTORY:     /mount/work
PATH OF SOURCE:     /mount/work/source
PATH OF EXECUTABLE: /mount/work/exe
PATH OF ANNOTATION: /mount/work/annotation
PATH OF PROJECT:    /mount/project
PATH OF RESULTS:    /mount/work/out/proj_combeffect_encode_fcc

In [4]:
fdiry = file.path(FD_RES, "source", "MPRA", "Tewhey_TMPRA", "tiling_counts")
print(dir(fdiry))

[1] "OL13_20220512_counts.out"
[2] "OL13_20220512_normalized_counts.out"
[3] "OL43_20211228_counts.out"
[4] "OL43_20211228_normalized_counts.out"
[5] "OL43_20221003_counts.out"
[6] "OL43_20221003_K562_normalized_counts.out"
[7] "OL45_20220927_counts.out"
[8] "OL45_20220927_K562_normalized_counts.out"

## Import data: FADS

In [40]:
fname = "OL13_20220512_counts.out"
fpath = file.path(fdiry, fname)
dat = read.table(fpath, row.names=1)
dat = dat %>% rownames_to_column(var = "Name")
dat_fads_raw = dat

print(head(dat_fads_raw))
cat("++++++++++++++++++++++++++++++++++++++++\n")
print(tail(dat_fads_raw))

                                               Name plasmid_r1 plasmid_r2
1       (11:61555216-61555415;11:61555315:T:C_A_wC)       1609       1221
2 (11:61555231-61555430_RC;11:61555330:T:C_A_wC_RC)       1179        582
3 (11:61555315:T:C_A_wC_RC;11:61555216-61555415_RC)       1066        643
4       (11:61555330:T:C_A_wC;11:61555231-61555430)       1063        701
5 (11:61555366-61555565_RC;11:61555465:A:G_A_wC_RC)       1239        722
6       (11:61555366-61555565;11:61555465:A:G_A_wC)       1362        885
  plasmid_r3 plasmid_r4 k562_r1 k562_r2 k562_r3 k562_r4
1       1396        798     845     283     574    1223
2       1225        721     476     416     912     956
3       1206        681     470     846     540     847
4        786        416     357     568     599     518
5       1341        682     311     421     604     556
6       1213        856     407      49     519     344
++++++++++++++++++++++++++++++++++++++++
             Name plasmid_r1 plasmid_r2 plasmid_r3 plasmid_r4 k562_r1 k562_r2
55224 rs9672127_A       1100        666        811        695     261     252
55225 rs9749442_A        784        398        904        472   77083   76360
55226 rs9815834_A        267        243        307        205      63      98
55227 rs9848848_A        393        248        391        170     159      46
55228 rs9871549_A        522        220        417        174      83     135
55229 rs9886992_A        782        271        472        252     936     738
      k562_r3 k562_r4
55224     288     403
55225  106964   80767
55226      28     447
55227     100     215
55228     150     154
55229    1248    1149

In [39]:
fname = "OL13_20220512_normalized_counts.out"
fpath = file.path(fdiry, fname)
dat = read.table(fpath, row.names=1)
dat = dat %>% rownames_to_column(var = "Name")
dat_fads_norm = dat

print(head(dat_fads_norm))
cat("++++++++++++++++++++++++++++++++++++++++\n")
print(tail(dat_fads_norm))

                                               Name plasmid_r1 plasmid_r2
1       (11:61555216-61555415;11:61555315:T:C_A_wC)   881.8510  1196.3976
2 (11:61555231-61555430_RC;11:61555330:T:C_A_wC_RC)   646.1792   570.2730
3 (11:61555315:T:C_A_wC_RC;11:61555216-61555415_RC)   584.2468   630.0439
4       (11:61555330:T:C_A_wC;11:61555231-61555430)   582.6026   686.8753
5 (11:61555366-61555565_RC;11:61555465:A:G_A_wC_RC)   679.0636   707.4521
6       (11:61555366-61555565;11:61555465:A:G_A_wC)   746.4767   867.1678
  plasmid_r3 plasmid_r4   k562_r1   k562_r2   k562_r3   k562_r4
1   855.5317   774.9257 1807.9470  569.6449  730.4747 1493.4449
2   750.7352   700.1522 1018.4412  837.3579 1160.6148 1167.4025
3   739.0912   661.3088 1005.6037 1702.8961  687.2061 1034.2991
4   481.6962   403.9713  763.8309 1143.3156  762.2898  632.5466
5   821.8253   662.2799  665.4101  847.4223  768.6528  678.9496
6   743.3811   831.2486  870.8100   98.6311  660.4815  420.0695
++++++++++++++++++++++++++++++++++++++++
             Name plasmid_r1 plasmid_r2 plasmid_r3 plasmid_r4     k562_r1
55224 rs9672127_A   602.8813   652.5805   497.0174   674.9040    558.4310
55225 rs9749442_A   429.6900   389.9805   554.0120   458.3521 164925.4227
55226 rs9815834_A   146.3357   238.1037   188.1434   199.0724    134.7937
55227 rs9848848_A   215.3931   243.0029   239.6224   165.0844    340.1936
55228 rs9871549_A   286.0946   215.5671   255.5564   168.9688    177.5853
55229 rs9886992_A   428.5938   265.5395   289.2629   244.7134   2002.6490
           k562_r2      k562_r3    k562_r4
55224    507.24565    366.50994   492.1163
55225 153703.48254 136122.80907 98627.1977
55226    197.26220     35.63291   545.8462
55227     92.59246    127.26040   262.5435
55228    271.73874    190.89059   188.0544
55229   1485.50511   1588.20973  1403.0811

## Import

In [41]:
fname = "OL43_20221003_counts.out"
fpath = file.path(fdiry, fname)
dat = read.table(fpath, row.names=1)
dat = dat %>% rownames_to_column(var = "Name")
dat_gatamyc_raw = dat

print(head(dat_gatamyc_raw))
cat("++++++++++++++++++++++++++++++++++++++++\n")
print(tail(dat_gatamyc_raw))

                                                     Name plasmid_r1 plasmid_r2
1           (8:127381651-127381850;8:127320401-127320600)       1318       1810
2 (8:127742001-127742200;Nadav:negCtrl:seq31776.neg1.MYC)        634        730
3 (8:128045001-128045200;Nadav:posCtrl:seq31797.pos5.MYC)        416        432
4 (8:128176951-128177150;Nadav:negCtrl:seq31802.neg5.MYC)       1150       1271
5  (X:48782961-48783160;Nadav:posCtrl:ENSG00000102317.270        345        370
6          (X:48800591-48800790;Nadav:posCtrl:pos2.GATA1)       1008       1075
  plasmid_r3 plasmid_r4 plasmid_r5 plasmid_r6 K562_r1 K562_r2 K562_r3 K562_r4
1       1477       1505        738        687     620     636     781     520
2        698        761        316        343     158     194     268     141
3        418        409        181        211   11164    6818   12118    9512
4       1325       1255        597        580   14919    9299   28832   15790
5        389        373        211        187   17116   10370   22126   16725
6       1137       1049        531        528    9987    7807   13192    9978
  K562_r5
1     538
2     251
3   10450
4   19501
5   18361
6   11306
++++++++++++++++++++++++++++++++++++++++
                     Name plasmid_r1 plasmid_r2 plasmid_r3 plasmid_r4
99302 X:49880301-49880500        694        910        731        809
99303 X:49880351-49880550        816        897        825        812
99304 X:49880401-49880600        346        390        370        332
99305 X:49880451-49880650        463        489        432        536
99306    X:64815540:NA:NA       1365       1641       1415       1427
99307    X:69674065:NA:NA       1899       1875       1808       1685
      plasmid_r5 plasmid_r6 K562_r1 K562_r2 K562_r3 K562_r4 K562_r5
99302        375        366     278     233     445     257     308
99303        365        377     323     273     530     371     482
99304        158        181     152     123     269     137     178
99305        241        278     230     240     366     273     352
99306        703        698   19011   14198   23520   17595   18655
99307        909        954    1008    1099    1473     957    1326

In [43]:
fname = "OL43_20221003_K562_normalized_counts.out"
fpath = file.path(fdiry, fname)
dat = read.table(fpath, row.names=1)
dat = dat %>% rownames_to_column(var = "Name")
dat_gatamyc_norm = dat

print(head(dat_gatamyc_norm))
cat("++++++++++++++++++++++++++++++++++++++++\n")
print(tail(dat_gatamyc_norm))

                                                     Name plasmid_r1 plasmid_r2
1           (8:127381651-127381850;8:127320401-127320600)   887.4466  1078.7715
2 (8:127742001-127742200;Nadav:negCtrl:seq31776.neg1.MYC)   426.8901   435.0846
3 (8:128045001-128045200;Nadav:posCtrl:seq31797.pos5.MYC)   280.1045   257.4747
4 (8:128176951-128177150;Nadav:negCtrl:seq31802.neg5.MYC)   774.3274   757.5241
5  (X:48782961-48783160;Nadav:posCtrl:ENSG00000102317.270   232.2982   220.5223
6          (X:48800591-48800790;Nadav:posCtrl:pos2.GATA1)   678.7148   640.7068
  plasmid_r3 plasmid_r4 plasmid_r5 plasmid_r6    K562_r1    K562_r2    K562_r3
1   946.8314   945.7219   962.3235   893.9085   961.7725  1136.6673   842.9706
2   447.4531   478.2022   412.0518   446.3037   245.0969   346.7193   289.2652
3   267.9590   257.0101   236.0170   274.5483 17318.1102 12185.2169 13079.5358
4   849.3917   788.6253   778.4649   754.6826 23143.0388 16619.2919 31119.7539
5   249.3686   234.3882   275.1359   243.3201 26551.1262 18533.3969 23881.6480
6   728.8743   659.1776   692.4035   687.0214 15492.2936 13952.7704 14238.7553
     K562_r4    K562_r5
1   896.6654   760.1443
2   243.1343   354.6398
3 16402.0789 14764.8855
4 27227.5890 27553.1130
5 28839.8623 25942.3983
6 17205.6291 15974.3344
++++++++++++++++++++++++++++++++++++++++
                     Name plasmid_r1 plasmid_r2 plasmid_r3 plasmid_r4
99302 X:49880301-49880500   467.2898   542.3658   468.6078   508.3648
99303 X:49880351-49880550   549.4358   534.6177   528.8665   510.2500
99304 X:49880401-49880600   232.9716   232.4425   237.1886   208.6244
99305 X:49880451-49880650   311.7510   291.4471   276.9338   336.8152
99306    X:64815540:NA:NA   919.0930   978.0464   907.0863   896.7078
99307    X:69674065:NA:NA  1278.6503  1117.5119  1159.0190  1058.8315
      plasmid_r5 plasmid_r6    K562_r1    K562_r2    K562_r3    K562_r4
99302   488.9855   476.2307   431.2464   416.4206   480.3097   443.1596
99303   475.9459   490.5437   501.0525   487.9091   572.0543   639.7363
99304   206.0259   235.5130   235.7894   219.8272   290.3445   236.2368
99305   314.2547   361.7272   356.7866   428.9311   395.0413   470.7493
99306   916.6848   908.2215 29490.7374 25374.8475 25386.2587 30340.0525
99307  1185.3009  1241.3228  1563.6560  1964.1469  1589.8792  1650.2092
         K562_r5
99302   435.1756
99303   681.0215
99304   251.4976
99305   497.3435
99306 26357.7931
99307  1873.5156

## Import

In [47]:
fname = "OL45_20220927_counts.out"
fpath = file.path(fdiry, fname)
dat = read.table(fpath, row.names=1)
dat = dat %>% rownames_to_column(var = "Name")
dat_other_raw = dat

print(head(dat_other_raw))
cat("++++++++++++++++++++++++++++++++++++++++\n")
print(tail(dat_other_raw))

                                                                  Name
1 (Nadav:posCtrl:seq33763.pos1.GATA1;Nadav:posCtrl:ENSG00000102317.270
2                                                  1:10437778:C:T:R:wC
3                                                  1:10451799:C:T:R:wC
4                                                 1:110198727:C:G:R:wC
5                                                    1:110881742:NA:NA
6                                                 1:111838694:C:T:R:wC
  plasmid_r1 plasmid_r2 plasmid_r3 plasmid_r4 K562_r1 K562_r2 K562_r3 K562_r4
1        897        717        761        724   56816   37391   36946   52349
2        645        437        491        493    2239    1698    1202    2532
3        603        584        512        429     336     280     321     333
4        681        589        628        550   46046   37138   33992   53823
5        930        795        874        765   24701   18211   17386   29053
6        834        579        755        763   34228   34188   32379   37480
++++++++++++++++++++++++++++++++++++++++
                  Name plasmid_r1 plasmid_r2 plasmid_r3 plasmid_r4 K562_r1
94376 X:24819107:NA:NA        667        588        585        534     421
94377 X:24893812:NA:NA        809        716        698        723     485
94378 X:39110157:NA:NA        509        425        551        474     428
94379 X:49154578:NA:NA        868        776        830        720     535
94380 X:64815540:NA:NA        603        522        498        525   10737
94381 X:69674065:NA:NA       1461       1287       1267       1226    1172
      K562_r2 K562_r3 K562_r4
94376     247     320     418
94377     582     341     553
94378     237     310     372
94379     373     435     648
94380    9883    9705   13399
94381    1016     954    1365

In [48]:
fname = "OL45_20220927_K562_normalized_counts.out"
fpath = file.path(fdiry, fname)
dat = read.table(fpath, row.names=1)
dat = dat %>% rownames_to_column(var = "Name")
dat_other_norm = dat

print(head(dat_other_norm))
cat("++++++++++++++++++++++++++++++++++++++++\n")
print(tail(dat_other_norm))

                                                                  Name
1 (Nadav:posCtrl:seq33763.pos1.GATA1;Nadav:posCtrl:ENSG00000102317.270
2                                                  1:10437778:C:T:R:wC
3                                                  1:10451799:C:T:R:wC
4                                                 1:110198727:C:G:R:wC
5                                                    1:110881742:NA:NA
6                                                 1:111838694:C:T:R:wC
  plasmid_r1 plasmid_r2 plasmid_r3 plasmid_r4    K562_r1    K562_r2    K562_r3
1   660.3527   622.9447   644.2283   623.2888 69961.0133 56175.0918 62517.7362
2   474.8355   379.6748   415.6585   424.4218  2757.0175  2551.0231  2033.9501
3   443.9160   507.3915   433.4361   369.3244   413.7373   420.6634   543.1763
4   501.3380   511.7356   531.6365   473.4929 56699.2541 55794.9924 57519.1601
5   684.6466   690.7128   739.8890   658.5855 30415.8510 27359.6480 29419.5139
6   613.9734   503.0474   639.1490   656.8637 42147.0284 51363.0028 54789.7412
     K562_r4
1 58457.7541
2  2827.4663
3   371.8587
4 60103.7594
5 32443.2774
6 41853.6481
++++++++++++++++++++++++++++++++++++++++
                  Name plasmid_r1 plasmid_r2 plasmid_r3 plasmid_r4    K562_r1
94376 X:24819107:NA:NA   491.0315   510.8668   495.2346   459.7185   518.4030
94377 X:24893812:NA:NA   595.5689   622.0759   590.8953   622.4279   597.2101
94378 X:39110157:NA:NA   374.7152   369.2490   466.4518   408.0648   527.0226
94379 X:49154578:NA:NA   639.0035   674.2052   702.6406   619.8452   658.7782
94380 X:64815540:NA:NA   443.9160   453.5246   421.5843   451.9705 13221.1243
94381 X:69674065:NA:NA  1075.5577  1118.1727  1072.5851  1055.4587  1443.1552
         K562_r2    K562_r3    K562_r4
94376   371.0852   541.4842   466.7776
94377   874.3790   577.0191   617.5311
94378   356.0615   524.5628   415.4097
94379   560.3838   736.0801   723.6170
94380 14847.9161 16422.2008 14962.5675
94381  1526.4072  1614.2998  1524.2857

In [49]:
dat = dat_other_raw
dat = dat %>% 
    dplyr::mutate(Name = gsub("\\(|\\)", "", Name)) %>% 
    tidyr::separate_rows(Name, sep=";") %>%
    dplyr::filter(!grepl(pattern = "Nadav", Name)) %>%
    dplyr::filter(str_detect(string=Name, pattern="^chr11:[0-9]*-[0-9]*")) %>% 
    tidyr::separate(Name, c("Chrom", "Start", "End"), remove=FALSE) 
head(dat)

     Name Chrom Start End plasmid_r1 plasmid_r2 plasmid_r3 plasmid_r4 K562_r1
     K562_r2 K562_r3 K562_r4

In [7]:
tmp = head(dat$Fragment)
tmp

[1] "(8:127381651-127381850;8:127320401-127320600)"
[2] "(8:127742001-127742200;Nadav:negCtrl:seq31776.neg1.MYC)"
[3] "(8:128045001-128045200;Nadav:posCtrl:seq31797.pos5.MYC)"
[4] "(8:128176951-128177150;Nadav:negCtrl:seq31802.neg5.MYC)"
[5] "(X:48782961-48783160;Nadav:posCtrl:ENSG00000102317.270"
[6] "(X:48800591-48800790;Nadav:posCtrl:pos2.GATA1)"

In [12]:
str_remove_all(string=tmp, pattern="\\(|\\)")

[1] "8:127381651-127381850;8:127320401-127320600"
[2] "8:127742001-127742200;Nadav:negCtrl:seq31776.neg1.MYC"
[3] "8:128045001-128045200;Nadav:posCtrl:seq31797.pos5.MYC"
[4] "8:128176951-128177150;Nadav:negCtrl:seq31802.neg5.MYC"
[5] "X:48782961-48783160;Nadav:posCtrl:ENSG00000102317.270"
[6] "X:48800591-48800790;Nadav:posCtrl:pos2.GATA1"

In [13]:
str_detect(string=tmp, pattern="[8|X]:[0-9]*-[0-9]*")

[1] TRUE TRUE TRUE TRUE TRUE TRUE

In [29]:
tmp = dat %>% 
    dplyr::mutate(Name = gsub("\\(|\\)", "", Name)) %>% 
    tidyr::separate_rows(Name, sep=";") %>%
    dplyr::filter(!grepl(pattern = "Nadav", Name)) %>%
    dplyr::filter(str_detect(string=Name, pattern="^[8|X]:[0-9]*-[0-9]*")) %>% 
    tidyr::separate(Name, c("Chrom", "Start", "End"), remove=FALSE) 
head(tmp)

  Name                  Chrom Start     End       plasmid_r1 plasmid_r2
1 8:127381651-127381850 8     127381651 127381850 1318       1810
2 8:127320401-127320600 8     127320401 127320600 1318       1810
3 8:127742001-127742200 8     127742001 127742200  634        730
4 8:128045001-128045200 8     128045001 128045200  416        432
5 8:128176951-128177150 8     128176951 128177150 1150       1271
6 X:48782961-48783160   X     48782961  48783160   345        370
  plasmid_r3 plasmid_r4 plasmid_r5 plasmid_r6 K562_r1 K562_r2 K562_r3 K562_r4
1 1477       1505       738        687          620     636     781     520
2 1477       1505       738        687          620     636     781     520
3  698        761       316        343          158     194     268     141
4  418        409       181        211        11164    6818   12118    9512
5 1325       1255       597        580        14919    9299   28832   15790
6  389        373       211        187        17116   10370   22126   16725
  K562_r5
1   538
2   538
3   251
4 10450
5 19501
6 18361

In [27]:
tmp %>% tidyr::separate(Fragment, c("Chrom", "Start", "End"), remove=FALSE) %>% head

  Fragment              Chrom Start     End       plasmid_r1 plasmid_r2
1 8:127381651-127381850 8     127381651 127381850 1318       1810
2 8:127320401-127320600 8     127320401 127320600 1318       1810
3 8:127742001-127742200 8     127742001 127742200  634        730
4 8:128045001-128045200 8     128045001 128045200  416        432
5 8:128176951-128177150 8     128176951 128177150 1150       1271
6 X:48782961-48783160   X     48782961  48783160   345        370
  plasmid_r3 plasmid_r4 plasmid_r5 plasmid_r6 K562_r1 K562_r2 K562_r3 K562_r4
1 1477       1505       738        687          620     636     781     520
2 1477       1505       738        687          620     636     781     520
3  698        761       316        343          158     194     268     141
4  418        409       181        211        11164    6818   12118    9512
5 1325       1255       597        580        14919    9299   28832   15790
6  389        373       211        187        17116   10370   22126   16725
  K562_r5
1   538
2   538
3   251
4 10450
5 19501
6 18361

In [26]:
tmp[c(42019, 42020, 42021, 42022),]

  Fragment            plasmid_r1 plasmid_r2 plasmid_r3 plasmid_r4 plasmid_r5
1 X:47785501-47785700 1559       1632       1593       1599       781
2 X:47785551-47785750  746        771        798        827       425
3 X:47785601-47785800  867       1075        975        987       417
4 X:47785651-47785850  729        838        725        855       410
  plasmid_r6 K562_r1 K562_r2 K562_r3 K562_r4 K562_r5
1 812        1180    1179    1684    955     1338
2 377         403     384     576    351      441
3 498         444     396     717    400      435
4 406         643     558     906    628      618

In [6]:
idx = rownames(dat)
print(head(idx, 20))

 [1] "1"  "2"  "3"  "4"  "5"  "6"  "7"  "8"  "9"  "10" "11" "12" "13" "14" "15"
[16] "16" "17" "18" "19" "20"

In [9]:
print(tail(idx, 10))

 [1] "X:49880101-49880300" "X:49880151-49880350" "X:49880201-49880400"
 [4] "X:49880251-49880450" "X:49880301-49880500" "X:49880351-49880550"
 [7] "X:49880401-49880600" "X:49880451-49880650" "X:64815540:NA:NA"
[10] "X:69674065:NA:NA"

In [78]:
fruit <- c("apple", "banana", "pear", "pinapple")
str_detect(fruit, "a")

Warning message in str_detect(fruit, "a"):
“internal error -3 in R_decompress1”

ERROR: Error in str_detect(fruit, "a"): lazy-load database '/usr/lib/R/site-library/stringi/R/stringi.rdb' is corrupt

In [73]:
tmp[42019,]

  Fragment           plasmid_r1 plasmid_r2 plasmid_r3 plasmid_r4 plasmid_r5
1 ORF13856:870:0-200 511        522        489        488        244
  plasmid_r6 K562_r1 K562_r2 K562_r3 K562_r4 K562_r5
1 288        189     194     376     135     219

In [77]:
tmp[c(42019, 42020, 42021),]

  Fragment             plasmid_r1 plasmid_r2 plasmid_r3 plasmid_r4 plasmid_r5
1 ORF13856:870:0-200    511        522        489        488       244
2 ORF13856:870:100-300  784        843        840        853       455
3 ORF13856:870:200-400 1357       1705       1362       1376       627
  plasmid_r6 K562_r1 K562_r2 K562_r3 K562_r4 K562_r5
1 288        189     194     376     135     219
2 380        269     192     514     253     323
3 638        544     453     735     456     726

In [69]:
head(tmp, 10)

   Chrom Start     End       plasmid_r1 plasmid_r2 plasmid_r3 plasmid_r4
1  8     127381651 127381850 1318       1810       1477       1505
2  8     127320401 127320600 1318       1810       1477       1505
3  8     127742001 127742200  634        730        698        761
4  8     128045001 128045200  416        432        418        409
5  8     128176951 128177150 1150       1271       1325       1255
6  X     48782961  48783160   345        370        389        373
7  X     48800591  48800790  1008       1075       1137       1049
8  X     48801781  48801980   334        390        383        391
9  X     49298001  49298200  2194       2534       2366       2443
10 X     49322601  49322800  2164       2372       2184       2371
   plasmid_r5 plasmid_r6 K562_r1 K562_r2 K562_r3 K562_r4 K562_r5
1   738        687         620     636     781     520     538
2   738        687         620     636     781     520     538
3   316        343         158     194     268     141     251
4   181        211       11164    6818   12118    9512   10450
5   597        580       14919    9299   28832   15790   19501
6   211        187       17116   10370   22126   16725   18361
7   531        528        9987    7807   13192    9978   11306
8   145        164        4853    2861    4438    3504    3545
9  1117       1166        1322     823    1698    1174    1148
10 1181       1087        4503    3182    5161    3330    3702

In [64]:
tail(tmp, 10)

   Fragment            plasmid_r1 plasmid_r2 plasmid_r3 plasmid_r4 plasmid_r5
1  X:49880001-49880200 1375       1453       1454       1387       679
2  X:49880051-49880250 1883       2116       1816       2064       906
3  X:49880101-49880300 1239       1312       1318       1212       576
4  X:49880151-49880350 1509       1566       1481       1469       662
5  X:49880201-49880400  509        579        647        574       280
6  X:49880251-49880450 1708       1870       1890       1845       832
7  X:49880301-49880500  694        910        731        809       375
8  X:49880351-49880550  816        897        825        812       365
9  X:49880401-49880600  346        390        370        332       158
10 X:49880451-49880650  463        489        432        536       241
   plasmid_r6 K562_r1 K562_r2 K562_r3 K562_r4 K562_r5
1  650        946     678     1287     834     887
2  937        907     755     1631    1009    1057
3  571        618     473      997     546     579
4  749        698     455      976     498     661
5  297        262     259      561     370     351
6  925        542     498      832     502     665
7  366        278     233      445     257     308
8  377        323     273      530     371     482
9  181        152     123      269     137     178
10 278        230     240      366     273     352

In [38]:
fruits <- c("one apple", "two pears", "three bananas")
stringr::str_remove(fruits, "[aeiou]")

Warning message in str_replace(string, pattern, ""):
“restarting interrupted promise evaluation”
Warning message in str_replace(string, pattern, ""):
“internal error -3 in R_decompress1”

ERROR: Error in str_replace(string, pattern, ""): lazy-load database '/usr/lib/R/site-library/stringi/R/stringi.rdb' is corrupt

In [22]:
str_remove(string = "(X)", pattern = "\\(")

Warning message in str_replace(string, pattern, ""):
“restarting interrupted promise evaluation”
Warning message in str_replace(string, pattern, ""):
“internal error -3 in R_decompress1”

ERROR: Error in str_replace(string, pattern, ""): lazy-load database '/usr/lib/R/site-library/stringi/R/stringi.rdb' is corrupt

In [ ]:
### Expand IDs that denote duplicate oligos in count/DESeq results
# Requires the output_2 of dataOut function - This is a df containing the control (DNA) means and experimental (RNA) means and
  # normalized-celltype specific DESeq results
## Returns: Final output table with no duplicates - Table in the same format as above, except with IDs that were previously several oligos
  ## separated by semi-colons have been separated into separate rows.
expandDups <- function(output){
  output_orig <- output
  if(class(output_orig)=="matrix"){
    output_orig <- as.data.frame(output_orig)
  }
  output_new <- cbind(rownames(output_orig), output_orig)
  colnames(output_new)[1] <- "Row.names"
  # Identify duplicates, if any exist
  message("identifying duplicates")
  dups <- output_new[grep("\\(.*\\)$",output_new$Row.names),]
  dups$Row.names <- gsub("^\\((.*)\\)$","\\1",dups$Row.names)
  # Add everything but the duplicates to the final output
  message("resolving duplicates")
  output_final <- output_new[-(grep("\\(.*\\)$",output_new$Row.names)),]
  output_final <- output_final[!(is.na(output_final$Row.names)),]
  if(nrow(dups) > 0) {
    for(i in 1:nrow(dups)){
      dup_id <- unlist(strsplit(dups$Row.names[i],";"))
      dup_exp <- dups[rep(i, length(dup_id)), ]
      dup_exp$Row.names <- dup_id
      output_final <- rbind(dup_exp,output_final)
    }
    rownames(output_final) <- output_final[,1]
    output_final <- output_final[,-1]
  }else {
    output_final <- output_orig
  }
  return(output_final)
}