**Set environment**

In [1]:
suppressMessages(suppressWarnings(source("../config/config_sing.R")))
show_env()

You are in Singularity: singularity_proj_encode_fcc
BASE DIRECTORY (FD_BASE): /data/reddylab/Kuei
WORK DIRECTORY (FD_WORK): /data/reddylab/Kuei/out
CODE DIRECTORY (FD_CODE): /data/reddylab/Kuei/code
PATH OF PROJECT (FD_PRJ): /data/reddylab/Kuei/code/Proj_CombEffect_ENCODE_FCC
PATH OF RESULTS (FD_RES): /data/reddylab/Kuei/out/proj_combeffect_encode_fcc
PATH OF LOG     (FD_LOG): /data/reddylab/Kuei/out/proj_combeffect_encode_fcc/log

In [10]:
PREFIX_REGS = c("Loop_A", "Loop_B")
FOLDER_REG  = "hic_intact_deep"
FOLDER_ANT  = "annotation_enhancer_merge"

FD_REG = file.path(FD_RES, "results", "region", FOLDER_REG)
FD_ANT = file.path(FD_RES, "results", "region", FOLDER_ANT)
FD_OUT = file.path(FD_RES, "results", "region", FOLDER_REG, FOLDER_ANT)

dir(FD_REG)

 [1] "annotation_crispri_growth"           "annotation_crispri_hcrff"
 [3] "annotation_encode_e2g_benchmark"     "annotation_encode_e2g_prediction"
 [5] "annotation_enhancer_merge"           "annotation_enhancer_zscore_junke"
 [7] "hic_intact.deep.Loop_A.bed.gz"       "hic_intact.deep.Loop_B.bed.gz"
 [9] "hic_intact.deep.Loop_info.tsv"       "KS91_K562_ASTARRseq_peak_macs_input"

In [11]:
fdiry = FD_REG
fname = "hic_intact.deep.Loop_info.tsv"
fpath = file.path(fdiry, fname)

dat = read_tsv(fpath, show_col_types = FALSE)

dat_loop_info = dat
print(dim(dat))
head(dat)

[1] 128714     12

  Chrom_A Start_A   End_A     Chrom_B Start_B   End_B
1 chr10    72223000  72224000 chr10    72328000  72329000
2 chr10    64041000  64042000 chr10    67697000  67698000
3 chr10    78302000  78304000 chr10    79194000  79196000
4 chr10    13372000  13373000 chr10    13404000  13405000
5 chr10   132388000 132389000 chr10   132637000 132638000
6 chr10   114550000 114552000 chr10   114876000 114878000
  Loop_A                    Loop_B                    Length_A Length_B
1 chr10:72223000-72224000   chr10:72328000-72329000   1000     1000
2 chr10:64041000-64042000   chr10:67697000-67698000   1000     1000
3 chr10:78302000-78304000   chr10:79194000-79196000   2000     2000
4 chr10:13372000-13373000   chr10:13404000-13405000   1000     1000
5 chr10:132388000-132389000 chr10:132637000-132638000 1000     1000
6 chr10:114550000-114552000 chr10:114876000-114878000 2000     2000
  Distance Loop
1  105000  chr10:72223000-72224000|chr10:72328000-72329000
2 3656000  chr10:64041000-64042000|chr10:67697000-67698000
3  892000  chr10:78302000-78304000|chr10:79194000-79196000
4   32000  chr10:13372000-13373000|chr10:13404000-13405000
5  249000  chr10:132388000-132389000|chr10:132637000-132638000
6  326000  chr10:114550000-114552000|chr10:114876000-114878000

In [5]:
fdiry = FD_ANT
fname = "description.tsv"
fpath = file.path(fdiry, fname)

dat = read_tsv(fpath, show_col_types = FALSE)

dat_cnames = dat
dat

  Name        Description
1 Chrom       Chromosome
2 Start       Start
3 End         End
4 Assay_Type  Assay type
5 Assay_Label Assay label

In [13]:
fdiry = FD_OUT
fname = "Loop_A.annotation.enhancer_merge.concat.starrmpra_crispr_atac.active.merge.bed.gz"
fpath = file.path(fdiry, fname)

cnames = dat_cnames$Name
cnames = c(cnames, "Chrom_Loop", "Start_Loop", "End_Loop", "Distance")
dat    = read_tsv(fpath, col_names = cnames, show_col_types = FALSE)

dat_annot_loop_A = dat
print(dim(dat))
head(dat)

[1] 365894      9

  Chrom Start End   Assay_Type Assay_Label Chrom_Loop Start_Loop End_Loop
1 chr1  10015 10442 ATAC       ATAC        chr1       778000     779000
2 chr1  14253 14645 ATAC       ATAC        chr1       778000     779000
3 chr1  16015 16477 ATAC       ATAC        chr1       778000     779000
4 chr1  17237 17772 ATAC       ATAC        chr1       778000     779000
5 chr1  28903 29613 ATAC       ATAC        chr1       778000     779000
6 chr1  30803 31072 ATAC       ATAC        chr1       778000     779000
  Distance
1 767559
2 763356
3 761524
4 760229
5 748388
6 746929

In [14]:
fdiry = FD_OUT
fname = "Loop_B.annotation.enhancer_merge.concat.starrmpra_crispr_atac.active.merge.bed.gz"
fpath = file.path(fdiry, fname)

cnames = dat_cnames$Name
cnames = c(cnames, "Chrom_Loop", "Start_Loop", "End_Loop", "Distance")
dat    = read_tsv(fpath, col_names = cnames, show_col_types = FALSE)

dat_annot_loop_B = dat
print(dim(dat))
head(dat)

[1] 365858      9

  Chrom Start End   Assay_Type Assay_Label Chrom_Loop Start_Loop End_Loop
1 chr1  10015 10442 ATAC       ATAC        chr1       827000     828000
2 chr1  14253 14645 ATAC       ATAC        chr1       827000     828000
3 chr1  16015 16477 ATAC       ATAC        chr1       827000     828000
4 chr1  17237 17772 ATAC       ATAC        chr1       827000     828000
5 chr1  28903 29613 ATAC       ATAC        chr1       827000     828000
6 chr1  30803 31072 ATAC       ATAC        chr1       827000     828000
  Distance
1 816559
2 812356
3 810524
4 809229
5 797388
6 795929

In [19]:
dat = dat_annot_loop_A
dat = dat %>% 
    dplyr::filter(Distance == 0) %>% 
    dplyr::mutate(Peak   = paste0(Chrom, ":", Start, "-", End)) %>%
    dplyr::mutate(Loop_A = paste0(Chrom_Loop, ":", Start_Loop, "-", End_Loop)) %>%
    dplyr::select(Peak, Loop_A, Assay_Type) %>% 
    dplyr::distinct()
head(dat)

  Peak               Loop_A
1 chr1:777949-779437 chr1:778000-779000
2 chr1:869623-870250 chr1:868000-870000
3 chr1:869623-870250 chr1:870000-872000
4 chr1:869623-870250 chr1:870000-875000
5 chr1:873248-873781 chr1:870000-875000
6 chr1:903633-905556 chr1:904000-905000
  Assay_Type
1 ASTARR,ATAC,ENCODE-E2G_Prediction,LMPRA,WSTARR
2 ATAC
3 ATAC
4 ATAC
5 ATAC
6 ATAC,ENCODE-E2G_Prediction,LMPRA

In [23]:
dat = dat_annot_loop_A
dat = dat %>% dplyr::select(
    head(names(.), 3),
    tail(names(.), 4))
head(dat)

  Chrom Start End   Chrom_Loop Start_Loop End_Loop Distance
1 chr1  10015 10442 chr1       778000     779000   767559
2 chr1  14253 14645 chr1       778000     779000   763356
3 chr1  16015 16477 chr1       778000     779000   761524
4 chr1  17237 17772 chr1       778000     779000   760229
5 chr1  28903 29613 chr1       778000     779000   748388
6 chr1  30803 31072 chr1       778000     779000   746929

In [21]:
last_col

function (offset = 0L, vars = NULL)
{
    if (!is_integerish(offset, n = 1)) {
        not <- obj_type_friendly(offset)
        cli::cli_abort("{.arg offset} must be a single integer, not {not}.")
    }
    vars <- vars %||% peek_vars(fn = "last_col")
    n <- length(vars)
    if (offset && n <= offset) {
        cli::cli_abort("{.arg offset} ({offset}) must be smaller than the number of columns ({n}).")
    }
    else if (n == 0) {
        cli::cli_abort("Can't select last column when input is empty.")
    }
    else {
        n - as.integer(offset)
    }
}
<bytecode: 0x55b66b6c3448>
<environment: namespace:tidyselect>