**Set environment**

In [1]:
suppressWarnings(suppressMessages(source("../config/config_sing.R")))
suppressWarnings(suppressMessages(library("GenomicRanges")))
show_env()

You are in Singularity: singularity_proj_encode_fcc
BASE DIRECTORY (FD_BASE): /data/reddylab/Kuei
WORK DIRECTORY (FD_WORK): /data/reddylab/Kuei/out
CODE DIRECTORY (FD_CODE): /data/reddylab/Kuei/code
PATH OF PROJECT (FD_PRJ): /data/reddylab/Kuei/code/Proj_CombEffect_ENCODE_FCC
PATH OF RESULTS (FD_RES): /data/reddylab/Kuei/out/proj_combeffect_encode_fcc
PATH OF LOG     (FD_LOG): /data/reddylab/Kuei/out/proj_combeffect_encode_fcc/log

## Import data

In [2]:
fdiry = file.path(FD_RES, "results", "Tewhey_K562_TileMPRA", "fragment")
print(dir(fdiry))

[1] "OL13_20220512.hg19.raw.stranded_pos.bed"
[2] "OL13_20220512.hg38.raw.stranded_pos.bed"
[3] "OL13_20220512.unlifted.raw.stranded_pos.bed"
[4] "OL43_20221003.hg38.raw.stranded_pos.bed"
[5] "OL45_20220927.hg38.raw.stranded_pos.bed"

In [3]:
fdiry = file.path(FD_RES, "results", "Tewhey_K562_TileMPRA", "fragment")
fname = "OL13_20220512.hg38.raw.stranded_pos.bed"
fpath = file.path(fdiry, fname)

cnames = c("Chrom", "Start", "End", "Name", "Score", "Strand")
dat = read_tsv(fpath, col_names = cnames, show_col_types = FALSE)

dat_frag_tmpra_OL13 = dat
print(dim(dat))
head(dat)

[1] 21914     6

  Chrom Start    End      Name                    Score Strand
1 chr11 61787329 61787528 chr11:61554801-61555000 .     +
2 chr11 61787334 61787533 chr11:61554806-61555005 .     +
3 chr11 61787339 61787538 chr11:61554811-61555010 .     +
4 chr11 61787344 61787543 chr11:61554816-61555015 .     +
5 chr11 61787349 61787548 chr11:61554821-61555020 .     +
6 chr11 61787354 61787553 chr11:61554826-61555025 .     +

In [4]:
fdiry = file.path(FD_RES, "results", "Tewhey_K562_TileMPRA", "fragment")
fname = "OL43_20221003.hg38.raw.stranded_pos.bed"
fpath = file.path(fdiry, fname)

cnames = c("Chrom", "Start", "End", "Name", "Score", "Strand")
dat = read_tsv(fpath, col_names = cnames, show_col_types = FALSE)

dat_frag_tmpra_OL43 = dat
print(dim(dat))
head(dat)

[1] 96087     6

  Chrom Start     End       Name                     Score Strand
1 chr8  126735901 126736100 chr8:126735901-126736100 .     +
2 chr8  126735951 126736150 chr8:126735951-126736150 .     +
3 chr8  126736001 126736200 chr8:126736001-126736200 .     +
4 chr8  126736051 126736250 chr8:126736051-126736250 .     +
5 chr8  126736101 126736300 chr8:126736101-126736300 .     +
6 chr8  126736151 126736350 chr8:126736151-126736350 .     +

In [5]:
fdiry = file.path(FD_RES, "results", "Tewhey_K562_TileMPRA", "fragment")
fname = "OL45_20220927.hg38.raw.stranded_pos.bed"
fpath = file.path(fdiry, fname)

cnames = c("Chrom", "Start", "End", "Name", "Score", "Strand")
dat = read_tsv(fpath, col_names = cnames, show_col_types = FALSE)

dat_frag_tmpra_OL45 = dat
print(dim(dat))
head(dat)

[1] 91092     6

  Chrom Start   End     Name                  Score Strand
1 chr11 4505501 4505700 chr11:4505501-4505700 .     +
2 chr11 4505601 4505800 chr11:4505601-4505800 .     +
3 chr11 4505701 4505900 chr11:4505701-4505900 .     +
4 chr11 4505801 4506000 chr11:4505801-4506000 .     +
5 chr11 4505901 4506100 chr11:4505901-4506100 .     +
6 chr11 4506001 4506200 chr11:4506001-4506200 .     +

## Setup GRanges for each file

In [6]:
dat = dat_frag_tmpra_OL13
grg = GRanges(
    seqnames = dat$Chrom,
    ranges   = IRanges(
        start = dat$Start, 
        end   = dat$End, 
        names = dat$Name
    ))

grg_frag_tmpra_OL13 = grg

In [7]:
dat = dat_frag_tmpra_OL43
grg = GRanges(
    seqnames = dat$Chrom,
    ranges   = IRanges(
        start = dat$Start, 
        end   = dat$End, 
        names = dat$Name
    ))

grg_frag_tmpra_OL43 = grg

In [8]:
dat = dat_frag_tmpra_OL45
grg = GRanges(
    seqnames = dat$Chrom,
    ranges   = IRanges(
        start = dat$Start, 
        end   = dat$End, 
        names = dat$Name
    ))

grg_frag_tmpra_OL45 = grg

## OL13 | FADS region

In [9]:
grg = grg_frag_tmpra_OL13
grg

GRanges object with 21914 ranges and 0 metadata columns:
                          seqnames            ranges strand
                             <Rle>         <IRanges>  <Rle>
  chr11:61554801-61555000    chr11 61787329-61787528      *
  chr11:61554806-61555005    chr11 61787334-61787533      *
  chr11:61554811-61555010    chr11 61787339-61787538      *
  chr11:61554816-61555015    chr11 61787344-61787543      *
  chr11:61554821-61555020    chr11 61787349-61787548      *
                      ...      ...               ...    ...
  chr11:61665601-61665800    chr11 61898129-61898328      *
  chr11:61665606-61665805    chr11 61898134-61898333      *
  chr11:61665611-61665810    chr11 61898139-61898338      *
  chr11:61665616-61665815    chr11 61898144-61898343      *
  chr11:61665621-61665820    chr11 61898149-61898348      *
  -------
  seqinfo: 1 sequence from an unspecified genome; no seqlengths

In [10]:
grg = grg_frag_tmpra_OL13
grg = GenomicRanges::reduce(grg)

grg$Gene  = "FADS"
grg$Dataset = "OL13"
grg_range_OL13  = grg
print(grg)

GRanges object with 1 range and 2 metadata columns:
      seqnames            ranges strand |        Gene     Dataset
         <Rle>         <IRanges>  <Rle> | <character> <character>
  [1]    chr11 61787329-61898348      * |        FADS        OL13
  -------
  seqinfo: 1 sequence from an unspecified genome; no seqlengths

**Summary**
```
chr11 61787329 61898348 FADS
```

## OL43 | GATA-MYC region

In [11]:
grg = grg_frag_tmpra_OL43
grg

GRanges object with 96087 ranges and 0 metadata columns:
                           seqnames              ranges strand
                              <Rle>           <IRanges>  <Rle>
  chr8:126735901-126736100     chr8 126735901-126736100      *
  chr8:126735951-126736150     chr8 126735951-126736150      *
  chr8:126736001-126736200     chr8 126736001-126736200      *
  chr8:126736051-126736250     chr8 126736051-126736250      *
  chr8:126736101-126736300     chr8 126736101-126736300      *
                       ...      ...                 ...    ...
    chrX:49880251-49880450     chrX   49880251-49880450      *
    chrX:49880301-49880500     chrX   49880301-49880500      *
    chrX:49880351-49880550     chrX   49880351-49880550      *
    chrX:49880401-49880600     chrX   49880401-49880600      *
    chrX:49880451-49880650     chrX   49880451-49880650      *
  -------
  seqinfo: 2 sequences from an unspecified genome; no seqlengths

In [12]:
grg = grg_frag_tmpra_OL43

grg = GenomicRanges::reduce(grg)
print(grg)
cat("\n")

grg = range(grg)
print(grg)

GRanges object with 7 ranges and 0 metadata columns:
      seqnames              ranges strand
         <Rle>           <IRanges>  <Rle>
  [1]     chr8 126735901-127794350      *
  [2]     chr8 127794451-128736550      *
  [3]     chrX   47785501-48280750      *
  [4]     chrX   48280801-48660600      *
  [5]     chrX   48660651-48835550      *
  [6]     chrX   48835701-49348350      *
  [7]     chrX   49528401-49880650      *
  -------
  seqinfo: 2 sequences from an unspecified genome; no seqlengths

GRanges object with 2 ranges and 0 metadata columns:
      seqnames              ranges strand
         <Rle>           <IRanges>  <Rle>
  [1]     chr8 126735901-128736550      *
  [2]     chrX   47785501-49880650      *
  -------
  seqinfo: 2 sequences from an unspecified genome; no seqlengths

In [13]:
grg = grg_frag_tmpra_OL43
grg = GenomicRanges::reduce(grg)
grg = range(grg)

grg$Gene = c("MYC", "GATA1")
grg$Dataset = "OL43"
grg_range_OL43 = grg
grg

GRanges object with 2 ranges and 2 metadata columns:
      seqnames              ranges strand |        Gene     Dataset
         <Rle>           <IRanges>  <Rle> | <character> <character>
  [1]     chr8 126735901-128736550      * |         MYC        OL43
  [2]     chrX   47785501-49880650      * |       GATA1        OL43
  -------
  seqinfo: 2 sequences from an unspecified genome; no seqlengths

**Summary**
```
chr8 126735901 128736550 MYC
chrX  47785501 49880650  GATA1
```

## OL45

In [14]:
grg = grg_frag_tmpra_OL45
grg = GenomicRanges::reduce(grg)
lst = split(grg, grg@seqnames)
print(length(lst))
print(names(lst))

[1] 4
[1] "chr11" "chr16" "chr2"  "chr20"

In [15]:
lapply(lst, range)

$chr11
GRanges object with 1 range and 0 metadata columns:
      seqnames           ranges strand
         <Rle>        <IRanges>  <Rle>
  [1]    chr11 4505501-34870100      *
  -------
  seqinfo: 4 sequences from an unspecified genome; no seqlengths

$chr16
GRanges object with 1 range and 0 metadata columns:
      seqnames        ranges strand
         <Rle>     <IRanges>  <Rle>
  [1]    chr16 10001-1173100      *
  -------
  seqinfo: 4 sequences from an unspecified genome; no seqlengths

$chr2
GRanges object with 1 range and 0 metadata columns:
      seqnames            ranges strand
         <Rle>         <IRanges>  <Rle>
  [1]     chr2 59553301-61553700      *
  -------
  seqinfo: 4 sequences from an unspecified genome; no seqlengths

$chr20
GRanges object with 1 range and 0 metadata columns:
      seqnames            ranges strand
         <Rle>         <IRanges>  <Rle>
  [1]    chr20 56391301-58391700      *
  -------
  seqinfo: 4 sequences from an unspecified genome; no seqlengths

In [16]:
grg = lst[["chr11"]]
idx = grg@ranges@start < 7000000
grg = grg[which(idx)]

grg = range(grg)
grg$Gene = "HBE1"
grg$Dataset = "OL45"
grg_range_OL45_chr11_v1 = grg
print(grg)

GRanges object with 1 range and 2 metadata columns:
      seqnames          ranges strand |        Gene     Dataset
         <Rle>       <IRanges>  <Rle> | <character> <character>
  [1]    chr11 4505501-6505900      * |        HBE1        OL45
  -------
  seqinfo: 4 sequences from an unspecified genome; no seqlengths

In [17]:
grg = lst[["chr11"]]
idx = grg@ranges@start > 7000000
grg = grg[which(idx)]

grg = range(grg)
grg$Gene = "LMO2"
grg$Dataset = "OL45"
grg_range_OL45_chr11_v2 = grg
print(grg)

GRanges object with 1 range and 2 metadata columns:
      seqnames            ranges strand |        Gene     Dataset
         <Rle>         <IRanges>  <Rle> | <character> <character>
  [1]    chr11 32869701-34870100      * |        LMO2        OL45
  -------
  seqinfo: 4 sequences from an unspecified genome; no seqlengths

In [18]:
grg = lst[["chr16"]]
grg = range(grg)
grg$Gene = "HBA2"
grg$Dataset = "OL45"
grg_range_OL45_chr16 = grg
print(grg)

GRanges object with 1 range and 2 metadata columns:
      seqnames        ranges strand |        Gene     Dataset
         <Rle>     <IRanges>  <Rle> | <character> <character>
  [1]    chr16 10001-1173100      * |        HBA2        OL45
  -------
  seqinfo: 4 sequences from an unspecified genome; no seqlengths

In [19]:
grg = lst[["chr2"]]
grg = range(grg)
grg$Gene = "BCL11A"
grg$Dataset = "OL45"
grg_range_OL45_chr2 = grg
print(grg)

GRanges object with 1 range and 2 metadata columns:
      seqnames            ranges strand |        Gene     Dataset
         <Rle>         <IRanges>  <Rle> | <character> <character>
  [1]     chr2 59553301-61553700      * |      BCL11A        OL45
  -------
  seqinfo: 4 sequences from an unspecified genome; no seqlengths

In [20]:
grg = lst[["chr20"]]
grg = range(grg)
grg$Gene = "RBM38"
grg$Dataset = "OL45"
grg_range_OL45_chr20 = grg
print(grg)

GRanges object with 1 range and 2 metadata columns:
      seqnames            ranges strand |        Gene     Dataset
         <Rle>         <IRanges>  <Rle> | <character> <character>
  [1]    chr20 56391301-58391700      * |       RBM38        OL45
  -------
  seqinfo: 4 sequences from an unspecified genome; no seqlengths

## Combine and export

In [21]:
grg = c(
    grg_range_OL13,
    grg_range_OL43,
    grg_range_OL45_chr11_v1, 
    grg_range_OL45_chr11_v2,
    grg_range_OL45_chr16,
    grg_range_OL45_chr2,
    grg_range_OL45_chr20
)

grg_range_merge = grg
print(grg)

Warning message in .merge_two_Seqinfo_objects(x, y):
“The 2 combined objects have no sequence levels in common. (Use
  suppressWarnings() to suppress this warning.)”
Warning message in .merge_two_Seqinfo_objects(x, y):
“Each of the 2 combined objects has sequence levels not in the other:
  - in 'x': chr8, chrX
  - in 'y': chr16, chr2, chr20
  Make sure to always combine/compare objects based on the same reference
  genome (use suppressWarnings() to suppress this warning).”

GRanges object with 8 ranges and 2 metadata columns:
      seqnames              ranges strand |        Gene     Dataset
         <Rle>           <IRanges>  <Rle> | <character> <character>
  [1]    chr11   61787329-61898348      * |        FADS        OL13
  [2]     chr8 126735901-128736550      * |         MYC        OL43
  [3]     chrX   47785501-49880650      * |       GATA1        OL43
  [4]    chr11     4505501-6505900      * |        HBE1        OL45
  [5]    chr11   32869701-34870100      * |        LMO2        OL45
  [6]    chr16       10001-1173100      * |        HBA2        OL45
  [7]     chr2   59553301-61553700      * |      BCL11A        OL45
  [8]    chr20   56391301-58391700      * |       RBM38        OL45
  -------
  seqinfo: 6 sequences from an unspecified genome; no seqlengths

In [22]:
grg = grg_range_merge
dat = data.frame(
    Chrom   = as.character(seqnames(grg)),
    Start   = start(grg),
    End     = end(grg),
    Gene    = grg$Gene,
    Dataset = grg$Dataset
)
dat = dat %>% dplyr::arrange(Chrom, Start, End)
dat

  Chrom Start     End       Gene   Dataset
1 chr11   4505501   6505900 HBE1   OL45
2 chr11  32869701  34870100 LMO2   OL45
3 chr11  61787329  61898348 FADS   OL13
4 chr16     10001   1173100 HBA2   OL45
5 chr2   59553301  61553700 BCL11A OL45
6 chr20  56391301  58391700 RBM38  OL45
7 chr8  126735901 128736550 MYC    OL43
8 chrX   47785501  49880650 GATA1  OL43

In [23]:
grg = grg_range_merge
dat = data.frame(
    Chrom   = as.character(seqnames(grg)),
    Start   = start(grg),
    End     = end(grg),
    Gene    = grg$Gene,
    Dataset = grg$Dataset
)
dat = dat %>% dplyr::arrange(Chrom, Start, End)

fdiry = file.path(FD_RES, "results", "region")
fname = "region_screened_tmpra.bed"
fpath = file.path(fdiry, fname)
print(fpath)

write_tsv(dat, fpath, col_names = FALSE)

[1] "/data/reddylab/Kuei/out/proj_combeffect_encode_fcc/results/region/region_screened_tmpra.bed"

## Check: total length

In [28]:
grg = grg_range_merge
grg

GRanges object with 8 ranges and 1 metadata column:
      seqnames              ranges strand |        Name
         <Rle>           <IRanges>  <Rle> | <character>
  [1]    chr11   61787329-61898348      * |        FADS
  [2]     chr8 126735901-128736550      * |         MYC
  [3]     chrX   47785501-49880650      * |       GATA1
  [4]    chr11     4505501-6505900      * |        HBE1
  [5]    chr11   32869701-34870100      * |        LMO2
  [6]    chr16       10001-1173100      * |        HBA2
  [7]     chr2   59553301-61553700      * |      BCL11A
  [8]    chr20   56391301-58391700      * |       RBM38
  -------
  seqinfo: 6 sequences from an unspecified genome; no seqlengths

In [31]:
lengths(grg)

[1]  111020 2000650 2095150 2000400 2000400 1163100 2000400 2000400

In [33]:
sum(lengths(grg))

[1] 13371520

In [34]:
dat = bind_rows(
    dat_frag_tmpra_OL13,
    dat_frag_tmpra_OL43,
    dat_frag_tmpra_OL45)
print(dim(dat))

[1] 209093      6

## Check: intersect ranges with peak

In [36]:
fdiry = file.path(FD_RES, "results", "region", "KS91_K562_ASTARRseq_peak_macs_input")
fname = "KS91_K562_hg38_ASTARRseq_Input.all_reps.masked.union_narrowPeak.q5.bed"
fpath = file.path(fdiry, fname)

cnames = c("Chrom", "Start", "End")
dat = read_tsv(fpath, col_names = cnames, show_col_types = FALSE)

dat_peak_atac_wgs = dat %>% mutate(Peak = paste(Chrom, Start, End, sep="_"))
print(dim(dat))
head(dat)

[1] 247520      3

  Chrom Start End
1 chr1  10015 10442
2 chr1  14253 14645
3 chr1  16015 16477
4 chr1  17237 17772
5 chr1  28903 29613
6 chr1  30803 31072

In [37]:
dat = dat_peak_atac_wgs
grg = GRanges(
    seqnames = dat$Chrom,
    ranges   = IRanges(
        start = dat$Start, 
        end   = dat$End
    )
)

grg_peak = grg
grg

GRanges object with 247520 ranges and 0 metadata columns:
           seqnames              ranges strand
              <Rle>           <IRanges>  <Rle>
       [1]     chr1         10015-10442      *
       [2]     chr1         14253-14645      *
       [3]     chr1         16015-16477      *
       [4]     chr1         17237-17772      *
       [5]     chr1         28903-29613      *
       ...      ...                 ...    ...
  [247516]     chrX 156009687-156010227      *
  [247517]     chrX 156016391-156016836      *
  [247518]     chrX 156024950-156025593      *
  [247519]     chrX 156030187-156030740      *
  [247520]     chrY   11215098-11215422      *
  -------
  seqinfo: 83 sequences from an unspecified genome; no seqlengths

In [40]:
print(length(grg_peak))
print(sum(lengths(grg_peak)))

[1] 247520
[1] 198313779

In [92]:
grg  = grg_range_merge
lst  = split(grg, grg$Name)
idxs = names(lst)

lst = lapply(idxs, function(idx){
    grg = lst[[idx]]
    grg = GenomicRanges::intersect(grg_peak, grg, ignore.strand = TRUE)
    grg$Name = idx
    return(grg)
})
names(lst) = idxs

In [93]:
lapply(lst, length)

$BCL11A
[1] 184

$FADS
[1] 22

$GATA1
[1] 206

$HBA2
[1] 284

$HBE1
[1] 266

$LMO2
[1] 301

$MYC
[1] 188

$RBM38
[1] 271