**Set environment**

In [1]:
suppressMessages(suppressWarnings(source("../config/config_sing.R")))
show_env()

You are in Singularity: singularity_proj_combeffect
BASE DIRECTORY:     /data/reddylab/Kuei
WORK DIRECTORY:     /data/reddylab/Kuei/out
CODE DIRECTORY:     /data/reddylab/Kuei/code
PATH OF SOURCE:     /data/reddylab/Kuei/source
PATH OF EXECUTABLE: /data/reddylab/Kuei/bin
PATH OF ANNOTATION: /data/reddylab/Kuei/annotation
PATH OF PROJECT:    /data/reddylab/Kuei/code/Proj_CombEffect_ENCODE_FCC
PATH OF RESULTS:    /data/reddylab/Kuei/out/proj_combeffect_encode_fcc

In [7]:
fdiry = file.path(FD_RES, "results", "Tewhey_K562_TileMPRA", "fragment")
dir(fdiry)

[1] "OL13_20220512.FADS.stranded_pos.bed"
[2] "OL43_20221003.GATA1.stranded_pos.bed"
[3] "OL43_20221003.MYC.stranded_pos.bed"

In [11]:
fdiry  = file.path(FD_RES, "results", "Tewhey_K562_TileMPRA", "fragment")
cnames = c("Chrom", "Start", "End", "Name", "Score", "Strand")

fname = "OL13_20220512.FADS.stranded_pos.bed"
fpath = file.path(fdiry, fname)
dat_frg_fads = read_tsv(fpath, col_names=cnames, show_col_types=FALSE)

fname = "OL43_20221003.GATA1.stranded_pos.bed"
fpath = file.path(fdiry, fname)
dat_frg_gata = read_tsv(fpath, col_names=cnames, show_col_types=FALSE)

fname = "OL43_20221003.MYC.stranded_pos.bed"
fpath = file.path(fdiry, fname)
dat_frg_myc  = read_tsv(fpath, col_names=cnames, show_col_types=FALSE)

```
FADS
chr11:61,554,801-61,665,820
```

In [23]:
dat = dat_frg_fads
print(summary(dat$Start)) ### range(61554801, 61665621)
print(summary(dat$End))   ### range(61555000, 61665820)

    Min.  1st Qu.   Median     Mean  3rd Qu.     Max.
61554801 61582292 61610144 61610095 61637700 61665621
    Min.  1st Qu.   Median     Mean  3rd Qu.     Max.
61555000 61582491 61610342 61610294 61637899 61665820

In [24]:
head(dat) ### chr11:61554801-61555000

  Chrom Start    End      Name                    Score Strand
1 chr11 61554801 61555000 chr11:61554801-61555000 .     +
2 chr11 61554806 61555005 chr11:61554806-61555005 .     +
3 chr11 61554811 61555010 chr11:61554811-61555010 .     +
4 chr11 61554816 61555015 chr11:61554816-61555015 .     +
5 chr11 61554821 61555020 chr11:61554821-61555020 .     +
6 chr11 61554826 61555025 chr11:61554826-61555025 .     +

In [25]:
tail(dat) ### chr11:61665621-61665820

  Chrom Start    End      Name                    Score Strand
1 chr11 61665596 61665795 chr11:61665596-61665795 .     +
2 chr11 61665601 61665800 chr11:61665601-61665800 .     +
3 chr11 61665606 61665805 chr11:61665606-61665805 .     +
4 chr11 61665611 61665810 chr11:61665611-61665810 .     +
5 chr11 61665616 61665815 chr11:61665616-61665815 .     +
6 chr11 61665621 61665820 chr11:61665621-61665820 .     +

```
GATA
chrX:47,785,501-49,880,650
```

In [26]:
dat = dat_frg_gata
print(summary(dat$Start)) ### range(47785501, 49880451)
print(summary(dat$End))   ### range(47785700, 49880650)

    Min.  1st Qu.   Median     Mean  3rd Qu.     Max.
47785501 48452014 48814146 48813188 49176018 49880451
    Min.  1st Qu.   Median     Mean  3rd Qu.     Max.
47785700 48452212 48814345 48813387 49176218 49880650

In [27]:
head(dat) ### chrX:47785501-47785700

  Chrom Start    End      Name                   Score Strand
1 chrX  47785501 47785700 chrX:47785501-47785700 .     +
2 chrX  47785551 47785750 chrX:47785551-47785750 .     +
3 chrX  47785601 47785800 chrX:47785601-47785800 .     +
4 chrX  47785651 47785850 chrX:47785651-47785850 .     +
5 chrX  47785701 47785900 chrX:47785701-47785900 .     +
6 chrX  47785751 47785950 chrX:47785751-47785950 .     +

In [28]:
tail(dat) ### chrX:49880451-49880650

  Chrom Start    End      Name                   Score Strand
1 chrX  49880201 49880400 chrX:49880201-49880400 .     +
2 chrX  49880251 49880450 chrX:49880251-49880450 .     +
3 chrX  49880301 49880500 chrX:49880301-49880500 .     +
4 chrX  49880351 49880550 chrX:49880351-49880550 .     +
5 chrX  49880401 49880600 chrX:49880401-49880600 .     +
6 chrX  49880451 49880650 chrX:49880451-49880650 .     +

```
MYC
chr8:126,735,901-128,736,550
```

In [29]:
dat = dat_frg_myc
print(summary(dat$Start)) ### range(126735901, 128736351)
print(summary(dat$End))   ### range(126736100, 128736550)

     Min.   1st Qu.    Median      Mean   3rd Qu.      Max.
126735901 127260401 127775951 127747465 128217751 128736351
     Min.   1st Qu.    Median      Mean   3rd Qu.      Max.
126736100 127260600 127776150 127747664 128217950 128736550

In [30]:
head(dat) ### chr8:126735901-126736100

  Chrom Start     End       Name                     Score Strand
1 chr8  126735901 126736100 chr8:126735901-126736100 .     +
2 chr8  126735951 126736150 chr8:126735951-126736150 .     +
3 chr8  126736001 126736200 chr8:126736001-126736200 .     +
4 chr8  126736051 126736250 chr8:126736051-126736250 .     +
5 chr8  126736101 126736300 chr8:126736101-126736300 .     +
6 chr8  126736151 126736350 chr8:126736151-126736350 .     +

In [31]:
tail(dat)

  Chrom Start     End       Name                     Score Strand
1 chr8  128736101 128736300 chr8:128736101-128736300 .     +
2 chr8  128736151 128736350 chr8:128736151-128736350 .     +
3 chr8  128736201 128736400 chr8:128736201-128736400 .     +
4 chr8  128736251 128736450 chr8:128736251-128736450 .     +
5 chr8  128736301 128736500 chr8:128736301-128736500 .     +
6 chr8  128736351 128736550 chr8:128736351-128736550 .     +