https://www.ncbi.nlm.nih.gov/genome/guide/human/#download

**Set environment**

In [150]:
suppressWarnings(suppressMessages(source("../config/config_sing.R")))
show_env()

You are in Singularity: singularity_proj_encode_fcc
BASE DIRECTORY (FD_BASE): /data/reddylab/Kuei
WORK DIRECTORY (FD_WORK): /data/reddylab/Kuei/out
CODE DIRECTORY (FD_CODE): /data/reddylab/Kuei/code
PATH OF PROJECT (FD_PRJ): /data/reddylab/Kuei/code/Proj_CombEffect_ENCODE_FCC
PATH OF RESULTS (FD_RES): /data/reddylab/Kuei/out/proj_combeffect_encode_fcc
PATH OF LOG     (FD_LOG): /data/reddylab/Kuei/out/proj_combeffect_encode_fcc/log

**Check data**

In [58]:
fdiry = file.path(FD_RES, "source", "annotation_gene")
print(dir(fdiry))

[1] "GRCh38_latest_genomic.download_230430.gff.gz"
[2] "K562_TSS_selected_by_higest_Pol2_TSS_sig.out"

In [64]:
fdiry = file.path(FD_RES, "source", "annotation_gene")
fname = "GRCh38_latest_genomic.20230315.gff.gz"
fpath = file.path(fdiry, fname)

txt = paste("zcat", fpath, "|", "head -n 10")
res = system(txt, intern = TRUE)
for (x in res){cat(x, "\n")}

##gff-version 3
#!gff-spec-version 1.21
#!processor NCBI annotwriter
#!genome-build GRCh38.p14
#!genome-build-accession NCBI_Assembly:GCF_000001405.40
#!annotation-date 03/15/2023
#!annotation-source NCBI RefSeq GCF_000001405.40-RS_2023_03
##sequence-region NC_000001.11 1 248956422
##species https://www.ncbi.nlm.nih.gov/Taxonomy/Browser/wwwtax.cgi?id=9606
NC_000001.11	RefSeq	region	1	248956422	.	+	.	ID=NC_000001.11:1..248956422;Dbxref=taxon:9606;Name=1;chromosome=1;gbkey=Src;genome=chromosome;mol_type=genomic DNA

## Import data

In [3]:
### set file directory
fdiry = file.path(FD_RES, "source", "annotation_gene")
fname = "K562_TSS_selected_by_higest_Pol2_TSS_sig.out"
fpath = file.path(fdiry, fname)

### read file
dat = read_tsv(fpath)

### assign and show
dat_gene_tss_pol2 = dat
print(dim(dat))
head(dat)

Rows: 29330 Columns: 4
── Column specification ──────────────────────────────────────────────────────────────────────
Delimiter: "\t"
chr (2): gene_name, chr
dbl (2): TSS, TSS_POL2_sig

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

[1] 29330     4

  gene_name chr   TSS      TSS_POL2_sig
1 A1BG-AS1  chr19 58351969 1.52180000
2 A1BG      chr19 58353492 5.62284000
3 A1CF      chr10 50885675 0.00706126
4 A2M-AS1   chr12  9065176 0.00201544
5 A2M       chr12  9115919 0.04005220
6 A2ML1     chr12  8845003 0.26862300

https://www.ncbi.nlm.nih.gov/genbank/genomes_gff/

In [138]:
### set file directory
fdiry = file.path(FD_RES, "source", "annotation_gene")
fname = "GRCh38_latest_genomic.download_230430.gff.gz"
fpath = file.path(fdiry, fname)

### read file
### https://useast.ensembl.org/info/website/upload/gff3.html
cnames = c("Seqid", "Source", "Type", "Start", "End", "Score", "Strand", "Phase", "Attributes")
dat = read_tsv(fpath, col_names = cnames, comment = "#")

### assign and show
dat_refseq_ncbi = dat
print(dim(dat))
head(dat)

Warning message:
“One or more parsing issues, call `problems()` on your data frame for details, e.g.:
  dat <- vroom(...)
  problems(dat)”
Rows: 4718570 Columns: 9
── Column specification ──────────────────────────────────────────────────────────────────────
Delimiter: "\t"
chr (7): Seqid, Source, Type, Score, Strand, Phase, Attributes
dbl (2): Start, End

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

[1] 4718570       9

  Seqid        Source     Type       Start End       Score Strand Phase
1 NC_000001.11 RefSeq     region         1 248956422 .     +      .
2 NC_000001.11 BestRefSeq pseudogene 11874     14409 .     +      .
3 NC_000001.11 BestRefSeq transcript 11874     14409 .     +      .
4 NC_000001.11 BestRefSeq exon       11874     12227 .     +      .
5 NC_000001.11 BestRefSeq exon       12613     12721 .     +      .
6 NC_000001.11 BestRefSeq exon       13221     14409 .     +      .
  Attributes
1 ID=NC_000001.11:1..248956422;Dbxref=taxon:9606;Name=1;chromosome=1;gbkey=Src;genome=chromosome;mol_type=genomic DNA
2 ID=gene-DDX11L1;Dbxref=GeneID:100287102,HGNC:HGNC:37102;Name=DDX11L1;description=DEAD/H-box helicase 11 like 1 (pseudogene);gbkey=Gene;gene=DDX11L1;gene_biotype=transcribed_pseudogene;pseudo=true
3 ID=rna-NR_046018.2;Parent=gene-DDX11L1;Dbxref=GeneID:100287102,GenBank:NR_046018.2,HGNC:HGNC:37102;Name=NR_046018.2;gbkey=misc_RNA;gene=DDX11L1;product=DEAD/H-box helicase 11 like 1 (pseudogene);pseudo=true;transcript_id=NR_046018.2
4 ID=exon-NR_046018.2-1;Parent=rna-NR_046018.2;Dbxref=GeneID:100287102,GenBank:NR_046018.2,HGNC:HGNC:37102;gbkey=misc_RNA;gene=DDX11L1;product=DEAD/H-box helicase 11 like 1 (pseudogene);pseudo=true;transcript_id=NR_046018.2
5 ID=exon-NR_046018.2-2;Parent=rna-NR_046018.2;Dbxref=GeneID:100287102,GenBank:NR_046018.2,HGNC:HGNC:37102;gbkey=misc_RNA;gene=DDX11L1;product=DEAD/H-box helicase 11 like 1 (pseudogene);pseudo=true;transcript_id=NR_046018.2
6 ID=exon-NR_046018.2-3;Parent=rna-NR_046018.2;Dbxref=GeneID:100287102,GenBank:NR_046018.2,HGNC:HGNC:37102;gbkey=misc_RNA;gene=DDX11L1;product=DEAD/H-box helicase 11 like 1 (pseudogene);pseudo=true;transcript_id=NR_046018.2

In [139]:
problems(dat)

   row     col expected  actual    file
1    29926 1   9 columns 1 columns
2   486970 1   9 columns 1 columns
3   584896 1   9 columns 1 columns
4   839222 1   9 columns 1 columns
5  1119966 1   9 columns 1 columns
6  1184578 1   9 columns 1 columns
7  1185604 1   9 columns 1 columns
8  1468872 1   9 columns 1 columns
9  1737764 1   9 columns 1 columns
10 1822000 1   9 columns 1 columns
11 1971463 1   9 columns 1 columns
12 2360212 1   9 columns 1 columns
13 2636990 1   9 columns 1 columns
14 3524470 1   9 columns 1 columns
15 3578506 1   9 columns 1 columns
16 3805482 1   9 columns 1 columns
17 3889864 1   9 columns 1 columns

In [9]:
fdiry = file.path(FD_RES, "source", "annotation_gencode")
fname = "gencode.v42.primary_assembly.basic.annotation.gtf.gz"
fpath = file.path(fdiry, fname)

#cnames = c("Chrom", "Start", "End", "Name", "Score", "Strand", "Gene_Symbol", "X", "Note")
dat = read_tsv(fpath, col_names = FALSE, comment = "##")

dat_gencode_basic = dat
print(dim(dat))
head(dat)

Rows: 1996102 Columns: 9
── Column specification ──────────────────────────────────────────────────────────────────────
Delimiter: "\t"
chr (7): X1, X2, X3, X6, X7, X8, X9
dbl (2): X4, X5

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

[1] 1996102       9

  X1   X2     X3         X4    X5    X6 X7 X8
1 chr1 HAVANA gene       11869 14409 .  +  .
2 chr1 HAVANA transcript 11869 14409 .  +  .
3 chr1 HAVANA exon       11869 12227 .  +  .
4 chr1 HAVANA exon       12613 12721 .  +  .
5 chr1 HAVANA exon       13221 14409 .  +  .
6 chr1 HAVANA gene       12010 13670 .  +  .
  X9
1 gene_id "ENSG00000290825.1"; gene_type "lncRNA"; gene_name "DDX11L2"; level 2; tag "overlaps_pseudogene";
2 gene_id "ENSG00000290825.1"; transcript_id "ENST00000456328.2"; gene_type "lncRNA"; gene_name "DDX11L2"; transcript_type "lncRNA"; transcript_name "DDX11L2-202"; level 2; transcript_support_level "1"; tag "basic"; tag "Ensembl_canonical"; havana_transcript "OTTHUMT00000362751.1";
3 gene_id "ENSG00000290825.1"; transcript_id "ENST00000456328.2"; gene_type "lncRNA"; gene_name "DDX11L2"; transcript_type "lncRNA"; transcript_name "DDX11L2-202"; exon_number 1; exon_id "ENSE00002234944.1"; level 2; transcript_support_level "1"; tag "basic"; tag "Ensembl_canonical"; havana_transcript "OTTHUMT00000362751.1";
4 gene_id "ENSG00000290825.1"; transcript_id "ENST00000456328.2"; gene_type "lncRNA"; gene_name "DDX11L2"; transcript_type "lncRNA"; transcript_name "DDX11L2-202"; exon_number 2; exon_id "ENSE00003582793.1"; level 2; transcript_support_level "1"; tag "basic"; tag "Ensembl_canonical"; havana_transcript "OTTHUMT00000362751.1";
5 gene_id "ENSG00000290825.1"; transcript_id "ENST00000456328.2"; gene_type "lncRNA"; gene_name "DDX11L2"; transcript_type "lncRNA"; transcript_name "DDX11L2-202"; exon_number 3; exon_id "ENSE00002312635.1"; level 2; transcript_support_level "1"; tag "basic"; tag "Ensembl_canonical"; havana_transcript "OTTHUMT00000362751.1";
6 gene_id "ENSG00000223972.6"; gene_type "transcribed_unprocessed_pseudogene"; gene_name "DDX11L1"; level 2; hgnc_id "HGNC:37102"; havana_gene "OTTHUMG00000000961.2";

## Construct a bed file

In [49]:
dat = dat_gencode_basic
dat = dat %>% dplyr::filter(X3 == "transcript")

dat = dat %>%
    dplyr::mutate(Gene_Name = str_extract(X9, "gene_name[^;]*")) %>%
    dplyr::mutate(Gene_Name = str_remove_all(Gene_Name, 'gene_name |\"'))

dat = dat %>%
    dplyr::mutate(Gene_ID = str_extract(X9, "gene_id[^;]*")) %>%
    dplyr::mutate(Gene_ID = str_remove_all(Gene_ID, 'gene_id |\"'))

dat = dat %>%
    dplyr::mutate(
        Chrom  = X1,
        Strand = X7,
        Start  = X4,
        End    = X5
    ) %>%
    dplyr::select(
        Chrom, Start, End, Strand, Gene_ID, Gene_Name
    ) %>%
    dplyr::distinct()

dat = dat %>%
    dplyr::rowwise() %>%
    dplyr::mutate(
        TSS = ifelse(
            Strand == "+",
            Start,
            End
        ))

dat_transcript_info = dat
print(dim(dat))
tail(dat)

[1] 114718      7

  Chrom      Start  End    Strand Gene_ID           Gene_Name       TSS
1 KI270734.1  72411  74814 +      ENSG00000276017.1 ENSG00000276017  72411
2 KI270734.1 131494 137392 +      ENSG00000278817.1 ENSG00000278817 131494
3 KI270734.1 138082 161750 -      ENSG00000277196.4 ENSG00000277196 161750
4 KI270734.1 138082 161852 -      ENSG00000277196.4 ENSG00000277196 161852
5 KI270744.1  51009  51114 -      ENSG00000278625.1 U6               51114
6 KI270750.1 148668 148843 +      ENSG00000277374.1 U1              148668

In [140]:
dat = dat_refseq_ncbi
dat = dat %>% dplyr::filter(Type == "region")

dat = dat %>%
    dplyr::mutate(Chrom = str_extract(Attributes, "chromosome=[^;]*")) %>%
    dplyr::mutate(Chrom = str_remove_all(Chrom, 'chromosome=')) %>%
    na.omit %>%
    dplyr::mutate(Chrom = paste0("chr", Chrom))

dat = dat %>%
    dplyr::select(Seqid, Chrom) %>%
    dplyr::distinct()

vec = unique(dat$Chrom)
print(length(vec))
print(vec)

dat_chrom = dat
print(dim(dat))
head(dat)

[1] 25
 [1] "chr1"       "chr2"       "chr3"       "chr4"       "chr5"
 [6] "chr6"       "chr7"       "chr8"       "chr9"       "chr10"
[11] "chr11"      "chr12"      "chr13"      "chr14"      "chr15"
[16] "chr16"      "chr17"      "chr18"      "chr19"      "chr20"
[21] "chr21"      "chr22"      "chrX"       "chrY"       "chrUnknown"
[1] 704   2

  Seqid        Chrom
1 NC_000001.11 chr1
2 NT_187361.1  chr1
3 NT_187362.1  chr1
4 NT_187363.1  chr1
5 NT_187364.1  chr1
6 NT_187365.1  chr1

In [141]:
dat = dat_chrom
dat %>% dplyr::filter(Seqid == "NC_000005.10")

  Seqid        Chrom
1 NC_000005.10 chr5

In [142]:
dat = dat_refseq_ncbi

dat = dat %>%
    dplyr::mutate(Gene_Name = str_extract(Attributes, "gene=[^;]*")) %>%
    dplyr::mutate(Gene_Name = str_remove_all(Gene_Name, 'gene=')) %>%
    na.omit

dat = dat %>%
    dplyr::mutate(Gene_ID_NCBI = str_extract(Attributes, "GeneID[^;,]*")) %>%
    dplyr::mutate(Gene_ID_NCBI = str_remove_all(Gene_ID_NCBI, 'GeneID:')) %>%
    na.omit

dat = dat %>%
    dplyr::left_join(dat_chrom, by="Seqid") %>%
    dplyr::select(Chrom, Strand, Gene_ID_NCBI, Gene_Name) %>%
    dplyr::distinct()

dat_gene = dat
print(dim(dat))
head(dat)

[1] 60020     4

  Chrom Strand Gene_ID_NCBI Gene_Name
1 chr1  +      100287102    DDX11L1
2 chr1  -      653635       WASH7P
3 chr1  -      102466751    MIR6859-1
4 chr1  +      107985730    MIR1302-2HG
5 chr1  +      100302278    MIR1302-2
6 chr1  -      645520       FAM138A

In [143]:
dat = dat_gene
dat %>% dplyr::filter(Gene_ID_NCBI == "503538")

  Chrom Strand Gene_ID_NCBI Gene_Name
1 chr19 +      503538       A1BG-AS1

In [149]:
dat = dat_gene
dat %>% dplyr::filter(Gene_Name == "ABCC6P2")

  Chrom Strand Gene_ID_NCBI Gene_Name
1 chr16 -      730013       ABCC6P2
2 chr16 +      730013       ABCC6P2

In [145]:
dat = dat_gene_tss_pol2
dat = dat %>% 
    dplyr::rename(
        "Chrom" = "chr",
        "Gene_Name"  = "gene_name",
        "Score" = "TSS_POL2_sig"
    ) %>%
    dplyr::left_join(dat_gene, by = c("Chrom", "Gene_Name"))

head(dat)

Warning message in dplyr::left_join(., dat_gene, by = c("Chrom", "Gene_Name")):
“Detected an unexpected many-to-many relationship between `x` and `y`.
ℹ Row 77 of `x` matches multiple rows in `y`.
ℹ Row 44316 of `y` matches multiple rows in `x`.
ℹ If a many-to-many relationship is expected, set `relationship = "many-to-many"` to silence
  this warning.”

  Gene_Name Chrom TSS      Score      Strand Gene_ID_NCBI
1 A1BG-AS1  chr19 58351969 1.52180000 +      503538
2 A1BG      chr19 58353492 5.62284000 -      1
3 A1CF      chr10 50885675 0.00706126 -      29974
4 A2M-AS1   chr12  9065176 0.00201544 +      144571
5 A2M       chr12  9115919 0.04005220 -      2
6 A2ML1     chr12  8845003 0.26862300 +      144568

In [146]:
dat = dat_gene_tss_pol2
dat[77,]

  gene_name chr   TSS      TSS_POL2_sig
1 ABCC6P2   chr16 14824702 0.00023

In [39]:
dat_gene_info %>% dplyr::filter(Gene_Name == "A2MP1")

  Chrom Strand Gene_Name Gene_ID
1 chr12 -      A2MP1     ENSG00000291190.1|ENSG00000256069.8

In [43]:
dat_gene_info %>% dplyr::filter(Gene_Name == "CTSLP2")

  Chrom Strand Gene_Name Gene_ID
1 chr10 +      CTSLP2    ENSG00000290874.1
2 chr10 -      CTSLP2    ENSG00000266217.2

## create data dictionary

In [ ]:
dat = tibble::tribble(
  ~Name, ~Description,
  "a",   1,
  "b",   2,
  "c",   3
)

## Explore

In [ ]:
dat = dat_gene_tss_pol2
dat = dat %>% dplyr::filter(gene_name == "HBE1")
dat

In [ ]:
dat = dat_gencode_basic
dat = dat %>% dplyr::filter(str_detect(X9, "HBE1")) %>% dplyr::select(-X9)
dat

## Save results