**Set environment**

In [1]:
suppressMessages(suppressWarnings(source("../config/config_sing.R")))
show_env()

You are in Singularity: singularity_proj_encode_fcc
BASE DIRECTORY (FD_BASE): /data/reddylab/Kuei
WORK DIRECTORY (FD_WORK): /data/reddylab/Kuei/out
CODE DIRECTORY (FD_CODE): /data/reddylab/Kuei/code
PATH OF PROJECT (FD_PRJ): /data/reddylab/Kuei/code/Proj_CombEffect_ENCODE_FCC
PATH OF RESULTS (FD_RES): /data/reddylab/Kuei/out/proj_combeffect_encode_fcc
PATH OF LOG     (FD_LOG): /data/reddylab/Kuei/out/proj_combeffect_encode_fcc/log

In [2]:
fdiry = file.path(FD_RES, "source", "annotation_cCREs")
fname = "K562.ENCSR913HQX.ENCFF286VQG.ccres.bed.gz"
fpath = file.path(fdiry, fname)

cnames = c(
    "Chrom", "Start", "End", "Name", "Score", "Strand", 
    "ThickStart", "ThickEnd", "ItemRgb", 
    "Category", "Note")
dat = read_tsv(fpath, col_names = cnames)

dat_ccre_v4 = dat
print(dim(dat))
head(dat)

Rows: 2348854 Columns: 11
── Column specification ──────────────────────────────────────────────────────────────────────
Delimiter: "\t"
chr (6): Chrom, Name, Strand, ItemRgb, Category, Note
dbl (5): Start, End, Score, ThickStart, ThickEnd

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

[1] 2348854      11

  Chrom Start End   Name         Score Strand ThickStart ThickEnd ItemRgb
1 chr1  10033 10250 EH38E2776516 0     .      10033      10250    225,225,225
2 chr1  10385 10713 EH38E2776517 0     .      10385      10713    225,225,225
3 chr1  16097 16381 EH38E3951272 0     .      16097      16381    225,225,225
4 chr1  17343 17642 EH38E3951273 0     .      17343      17642    225,225,225
5 chr1  29320 29517 EH38E3951274 0     .      29320      29517    225,225,225
6 chr1  66350 66509 EH38E3951275 0     .      66350      66509    225,225,225
  Category  Note
1 Low-DNase All-data/Full-classification
2 Low-DNase All-data/Full-classification
3 Low-DNase All-data/Full-classification
4 Low-DNase All-data/Full-classification
5 Low-DNase All-data/Full-classification
6 Low-DNase All-data/Full-classification

## For IGV visualization

In [3]:
dat = dat_ccre_v4
dat$Name = dat$Category

dat_ccre_v4_cat2name = dat
print(dim(dat))
head(dat)

[1] 2348854      11

  Chrom Start End   Name      Score Strand ThickStart ThickEnd ItemRgb
1 chr1  10033 10250 Low-DNase 0     .      10033      10250    225,225,225
2 chr1  10385 10713 Low-DNase 0     .      10385      10713    225,225,225
3 chr1  16097 16381 Low-DNase 0     .      16097      16381    225,225,225
4 chr1  17343 17642 Low-DNase 0     .      17343      17642    225,225,225
5 chr1  29320 29517 Low-DNase 0     .      29320      29517    225,225,225
6 chr1  66350 66509 Low-DNase 0     .      66350      66509    225,225,225
  Category  Note
1 Low-DNase All-data/Full-classification
2 Low-DNase All-data/Full-classification
3 Low-DNase All-data/Full-classification
4 Low-DNase All-data/Full-classification
5 Low-DNase All-data/Full-classification
6 Low-DNase All-data/Full-classification

In [4]:
dat = dat_ccre_v4_cat2name
vec = c("PLS", "pELS", "dELS")

dat = dat %>% dplyr::filter(Category %in% vec)
res = table(dat$Name)

dat_ccre_v4_cat2name_subset = dat
print(res)
print(dim(dat))
head(dat, 3)

 dELS  pELS   PLS
35488 41813 20041
[1] 97342    11

  Chrom Start  End    Name Score Strand ThickStart ThickEnd ItemRgb   Category
1 chr1  138917 139112 pELS 0     .      138917     139112   255,167,0 pELS
2 chr1  778570 778919 PLS  0     .      778570     778919   255,0,0   PLS
3 chr1  779023 779182 PLS  0     .      779023     779182   255,0,0   PLS
  Note
1 All-data/Full-classification
2 All-data/Full-classification
3 All-data/Full-classification

In [5]:
fdiry = file.path(FD_RES, "results", "region", "annotation_ccre", "summary")
fname = "K562.ENCSR913HQX.ENCFF286VQG.ccres.cat2name.bed.gz"
fpath = file.path(fdiry, fname)

dat = dat_ccre_v4_cat2name
write_tsv(dat, fpath, col_names = FALSE)

In [6]:
fdiry = file.path(FD_RES, "results", "region", "annotation_ccre", "summary")
fname = "K562.ENCSR913HQX.ENCFF286VQG.ccres.cat2name.PLS_ELS.bed.gz"
fpath = file.path(fdiry, fname)

dat = dat_ccre_v4_cat2name_subset
write_tsv(dat, fpath, col_names = FALSE)

## For LOLA enrichment

In [10]:
dat = dat_ccre_v4
res = table(dat$Category)
print(res)
head(dat)

   CA-CTCF CA-H3K4me3    CA-only      CA-TF       dELS  Low-DNase       pELS
     28271       5861       2958      38859      35488    2175563      41813
       PLS
     20041

  Chrom Start End   Name         Score Strand ThickStart ThickEnd ItemRgb
1 chr1  10033 10250 EH38E2776516 0     .      10033      10250    225,225,225
2 chr1  10385 10713 EH38E2776517 0     .      10385      10713    225,225,225
3 chr1  16097 16381 EH38E3951272 0     .      16097      16381    225,225,225
4 chr1  17343 17642 EH38E3951273 0     .      17343      17642    225,225,225
5 chr1  29320 29517 EH38E3951274 0     .      29320      29517    225,225,225
6 chr1  66350 66509 EH38E3951275 0     .      66350      66509    225,225,225
  Category  Note
1 Low-DNase All-data/Full-classification
2 Low-DNase All-data/Full-classification
3 Low-DNase All-data/Full-classification
4 Low-DNase All-data/Full-classification
5 Low-DNase All-data/Full-classification
6 Low-DNase All-data/Full-classification

In [11]:
dat = dat_ccre_v4
dat = dat %>% 
    dplyr::mutate(
        Category2 = str_replace(
            Category, 
            pattern = "-", 
            replacement = "_")
    )
dat %>% dplyr::select(Category, Category2) %>% dplyr::distinct()

  Category   Category2
1 Low-DNase  Low_DNase
2 CA-CTCF    CA_CTCF
3 pELS       pELS
4 CA-TF      CA_TF
5 PLS        PLS
6 CA-only    CA_only
7 CA-H3K4me3 CA_H3K4me3
8 dELS       dELS

In [14]:
dat = dat_ccre_v4
dat = dat %>% 
    dplyr::mutate(
        Category2 = str_replace(
            Category, 
            pattern = "-", 
            replacement = "_")
    )

lst = split(dat, dat$Category2)
print(names(lst))
head(lst[[1]])

[1] "CA_CTCF"    "CA_H3K4me3" "CA_only"    "CA_TF"      "dELS"
[6] "Low_DNase"  "pELS"       "PLS"

  Chrom Start  End    Name         Score Strand ThickStart ThickEnd ItemRgb
1 chr1  115562 115912 EH38E3951280 0     .      115562     115912   0,176,240
2 chr1  181289 181639 EH38E2776524 0     .      181289     181639   0,176,240
3 chr1  267925 268171 EH38E2776528 0     .      267925     268171   0,176,240
4 chr1  586036 586264 EH38E2776532 0     .      586036     586264   0,176,240
5 chr1  869718 870065 EH38E2776581 0     .      869718     870065   0,176,240
6 chr1  898789 899041 EH38E2776592 0     .      898789     899041   0,176,240
  Category Note                         Category2
1 CA-CTCF  All-data/Full-classification CA_CTCF
2 CA-CTCF  All-data/Full-classification CA_CTCF
3 CA-CTCF  All-data/Full-classification CA_CTCF
4 CA-CTCF  All-data/Full-classification CA_CTCF
5 CA-CTCF  All-data/Full-classification CA_CTCF
6 CA-CTCF  All-data/Full-classification CA_CTCF

In [15]:
fdiry = file.path(FD_RES, "results", "region", "annotation_ccre", "summary")

for (txt in names(lst)){
    #fname = "K562.ENCSR913HQX.ENCFF286VQG.ccres.cat2name.bed.gz"
    fname = paste("K562.ENCSR913HQX.ENCFF286VQG.ccres", txt, "bed.gz", sep=".")
    fpath = file.path(fdiry, fname)
    
    dat = lst[[txt]]
    dat = dat %>% dplyr::select(-Category2)
    write_tsv(dat, fpath, col_names = FALSE)
}