**Set environment**

In [2]:
### set environment
import sys
sys.path.append('../config')
from config_sing import *
show_env()

### import more tools
import sqlite3
# https://stackoverflow.com/questions/49456158/integer-in-python-pandas-becomes-blob-binary-in-sqlite
sqlite3.register_adapter(np.int64, lambda val: int(val))
sqlite3.register_adapter(np.int32, lambda val: int(val))

You are in: Singularity | singularity_proj_combeffect
    BASE DIRECTORY:     /mount/work
    PATH OF SOURCE:     /mount/work/source
    PATH OF EXECUTABLE: /mount/work/exe
    PATH OF ANNOTATION: /mount/work/annotation
    PATH OF PROJECT:    /mount/project
    PATH OF RESULTS:    /mount/work/out/proj_combeffect_encode_fcc

Library imported:
    numpy, pandas, matplotlib.pyplot
    os, sys, time, gzip, glob
    itertools, collections.Counter

In [3]:
FDIRY  = "KS91_K562_ASTARRseq"
#FDIRY = "A001_K562_WSTARRseq"
#FDIRY = "Tewhey_K562_TileMPRA"

FNAME   = "astarr"
REGIONS = ["GATA1", "MYC"]

In [4]:
for REGION in REGIONS:
    ###
    fdiry    = os.path.join(FD_RES, FDIRY, "database")
    fname    = f"fragment_{FNAME}_{REGION}.db"
    fpath_db = os.path.join(fdiry, fname)
    print(fname)
    print(fpath_db)

fragment_astarr_GATA1.db
/mount/work/out/proj_combeffect_encode_fcc/KS91_K562_ASTARRseq/database/fragment_astarr_GATA1.db
fragment_astarr_MYC.db
/mount/work/out/proj_combeffect_encode_fcc/KS91_K562_ASTARRseq/database/fragment_astarr_MYC.db

## Sample information

In [6]:
fdiry = os.path.join(FD_RES, FDIRY, "coverage", "library_size")
fname = "library_size_summary.csv"
fpath = os.path.join(fdiry, fname)

dat_sample = pd.read_table(fpath, sep=",")
print(dat_sample.dtypes)
dat_sample.head()

Fpath     object
Count      int64
Sample    object
Group     object
dtype: object

,Fpath,Count,Sample,Group
0,KS91_K562_hg38_ASTARRseq_Input_rep1.masked.ded...,348695063,Input_rep1,Input
1,KS91_K562_hg38_ASTARRseq_Input_rep2.masked.ded...,451369741,Input_rep2,Input
2,KS91_K562_hg38_ASTARRseq_Input_rep3.masked.ded...,487579055,Input_rep3,Input
3,KS91_K562_hg38_ASTARRseq_Input_rep4.masked.ded...,456246254,Input_rep4,Input
4,KS91_K562_hg38_ASTARRseq_Input_rep5.masked.ded...,444268950,Input_rep5,Input