---
title: Prepare Tiling MPRA data 06
subtitle: Get the genomic range of fragments designed in TMPRA
format:
    html:
        code-fold:  true
        code-tools: true
---

**Set environment**

In [1]:
suppressMessages(suppressWarnings(source("../run_config_project_sing.R")))
suppressWarnings(suppressMessages(library("GenomicRanges")))
show_env()

You are working on        Singularity
BASE DIRECTORY (FD_BASE): /mount
REPO DIRECTORY (FD_REPO): /mount/repo
WORK DIRECTORY (FD_WORK): /mount/work
DATA DIRECTORY (FD_DATA): /mount/data

You are working with      ENCODE FCC
PATH OF PROJECT (FD_PRJ): /mount/repo/Proj_ENCODE_FCC
PROJECT RESULTS (FD_RES): /mount/repo/Proj_ENCODE_FCC/results
PROJECT SCRIPTS (FD_EXE): /mount/repo/Proj_ENCODE_FCC/scripts
PROJECT DATA    (FD_DAT): /mount/repo/Proj_ENCODE_FCC/data
PROJECT NOTE    (FD_NBK): /mount/repo/Proj_ENCODE_FCC/notebooks
PROJECT DOCS    (FD_DOC): /mount/repo/Proj_ENCODE_FCC/docs
PROJECT LOG     (FD_LOG): /mount/repo/Proj_ENCODE_FCC/log
PROJECT APP     (FD_APP): /mount/repo/Proj_ENCODE_FCC/app
PROJECT REF     (FD_REF): /mount/repo/Proj_ENCODE_FCC/references

## Import data

In [2]:
fdiry = file.path(FD_RES, "assay_fcc")
print(dir(fdiry))

[1] "MPRA_Tiling_K562_Tewhey_hannah" "STARR_ATAC_K562_Reddy_KS274"
[3] "STARR_ATAC_K562_Reddy_KS91"     "STARR_WHG_K562_Reddy_A001"

In [3]:
fdiry = file.path(FD_RES, "assay_fcc", "MPRA_Tiling_K562_Tewhey_hannah", "fragment")
print(dir(fdiry))

[1] "TMPRA_K562_OL13_20220512.hg19.raw.stranded_pos.bed.gz"
[2] "TMPRA_K562_OL13_20220512.hg38.raw.stranded_pos.bed.gz"
[3] "TMPRA_K562_OL13_20220512.unlifted.raw.stranded_pos.bed.gz"
[4] "TMPRA_K562_OL43_20221003.hg38.raw.stranded_pos.bed.gz"
[5] "TMPRA_K562_OL45_20220927.hg38.raw.stranded_pos.bed.gz"

In [4]:
fdiry = file.path(FD_RES, "assay_fcc", "MPRA_Tiling_K562_Tewhey_hannah", "fragment")
fname = "TMPRA_K562_OL13_20220512.hg38.raw.stranded_pos.bed.gz"
fpath = file.path(fdiry, fname)

cnames = c("Chrom", "Start", "End", "Name", "Score", "Strand")
dat = read_tsv(fpath, col_names = cnames, show_col_types = FALSE)

dat_frag_tmpra_OL13 = dat
print(dim(dat))
head(dat)

[1] 21914     6

  Chrom Start    End      Name                    Score Strand
1 chr11 61787329 61787528 chr11:61554801-61555000 .     +
2 chr11 61787334 61787533 chr11:61554806-61555005 .     +
3 chr11 61787339 61787538 chr11:61554811-61555010 .     +
4 chr11 61787344 61787543 chr11:61554816-61555015 .     +
5 chr11 61787349 61787548 chr11:61554821-61555020 .     +
6 chr11 61787354 61787553 chr11:61554826-61555025 .     +

In [5]:
fdiry = file.path(FD_RES, "assay_fcc", "MPRA_Tiling_K562_Tewhey_hannah", "fragment")
fname = "TMPRA_K562_OL43_20221003.hg38.raw.stranded_pos.bed.gz"
fpath = file.path(fdiry, fname)

cnames = c("Chrom", "Start", "End", "Name", "Score", "Strand")
dat = read_tsv(fpath, col_names = cnames, show_col_types = FALSE)

dat_frag_tmpra_OL43 = dat
print(dim(dat))
head(dat)

[1] 96087     6

  Chrom Start     End       Name                     Score Strand
1 chr8  126735901 126736100 chr8:126735901-126736100 .     +
2 chr8  126735951 126736150 chr8:126735951-126736150 .     +
3 chr8  126736001 126736200 chr8:126736001-126736200 .     +
4 chr8  126736051 126736250 chr8:126736051-126736250 .     +
5 chr8  126736101 126736300 chr8:126736101-126736300 .     +
6 chr8  126736151 126736350 chr8:126736151-126736350 .     +

In [6]:
fdiry = file.path(FD_RES, "assay_fcc", "MPRA_Tiling_K562_Tewhey_hannah", "fragment")
fname = "TMPRA_K562_OL45_20220927.hg38.raw.stranded_pos.bed.gz"
fpath = file.path(fdiry, fname)

cnames = c("Chrom", "Start", "End", "Name", "Score", "Strand")
dat = read_tsv(fpath, col_names = cnames, show_col_types = FALSE)

dat_frag_tmpra_OL45 = dat
print(dim(dat))
head(dat)

[1] 91092     6

  Chrom Start   End     Name                  Score Strand
1 chr11 4505501 4505700 chr11:4505501-4505700 .     +
2 chr11 4505601 4505800 chr11:4505601-4505800 .     +
3 chr11 4505701 4505900 chr11:4505701-4505900 .     +
4 chr11 4505801 4506000 chr11:4505801-4506000 .     +
5 chr11 4505901 4506100 chr11:4505901-4506100 .     +
6 chr11 4506001 4506200 chr11:4506001-4506200 .     +

## Setup GRanges for each file

In [7]:
dat = dat_frag_tmpra_OL13
grg = GRanges(
    seqnames = dat$Chrom,
    ranges   = IRanges(
        start = dat$Start, 
        end   = dat$End, 
        names = dat$Name
    ))

grg_frag_tmpra_OL13 = grg

In [8]:
dat = dat_frag_tmpra_OL43
grg = GRanges(
    seqnames = dat$Chrom,
    ranges   = IRanges(
        start = dat$Start, 
        end   = dat$End, 
        names = dat$Name
    ))

grg_frag_tmpra_OL43 = grg

In [9]:
dat = dat_frag_tmpra_OL45
grg = GRanges(
    seqnames = dat$Chrom,
    ranges   = IRanges(
        start = dat$Start, 
        end   = dat$End, 
        names = dat$Name
    ))

grg_frag_tmpra_OL45 = grg

## OL13 | FADS region

In [10]:
grg = grg_frag_tmpra_OL13
grg

GRanges object with 21914 ranges and 0 metadata columns:
                          seqnames            ranges strand
                             <Rle>         <IRanges>  <Rle>
  chr11:61554801-61555000    chr11 61787329-61787528      *
  chr11:61554806-61555005    chr11 61787334-61787533      *
  chr11:61554811-61555010    chr11 61787339-61787538      *
  chr11:61554816-61555015    chr11 61787344-61787543      *
  chr11:61554821-61555020    chr11 61787349-61787548      *
                      ...      ...               ...    ...
  chr11:61665601-61665800    chr11 61898129-61898328      *
  chr11:61665606-61665805    chr11 61898134-61898333      *
  chr11:61665611-61665810    chr11 61898139-61898338      *
  chr11:61665616-61665815    chr11 61898144-61898343      *
  chr11:61665621-61665820    chr11 61898149-61898348      *
  -------
  seqinfo: 1 sequence from an unspecified genome; no seqlengths

In [11]:
grg = grg_frag_tmpra_OL13
grg = GenomicRanges::reduce(grg)

grg$Region  = "FADS"
grg$Dataset = "OL13"
grg_range_OL13  = grg
print(grg)

GRanges object with 1 range and 2 metadata columns:
      seqnames            ranges strand |      Region     Dataset
         <Rle>         <IRanges>  <Rle> | <character> <character>
  [1]    chr11 61787329-61898348      * |        FADS        OL13
  -------
  seqinfo: 1 sequence from an unspecified genome; no seqlengths

**Summary**
```
chr11 61787329 61898348 FADS
```

## OL43 | GATA-MYC region

In [12]:
grg = grg_frag_tmpra_OL43
grg

GRanges object with 96087 ranges and 0 metadata columns:
                           seqnames              ranges strand
                              <Rle>           <IRanges>  <Rle>
  chr8:126735901-126736100     chr8 126735901-126736100      *
  chr8:126735951-126736150     chr8 126735951-126736150      *
  chr8:126736001-126736200     chr8 126736001-126736200      *
  chr8:126736051-126736250     chr8 126736051-126736250      *
  chr8:126736101-126736300     chr8 126736101-126736300      *
                       ...      ...                 ...    ...
    chrX:49880251-49880450     chrX   49880251-49880450      *
    chrX:49880301-49880500     chrX   49880301-49880500      *
    chrX:49880351-49880550     chrX   49880351-49880550      *
    chrX:49880401-49880600     chrX   49880401-49880600      *
    chrX:49880451-49880650     chrX   49880451-49880650      *
  -------
  seqinfo: 2 sequences from an unspecified genome; no seqlengths

In [13]:
grg = grg_frag_tmpra_OL43
grg = GenomicRanges::reduce(grg)
grg = range(grg)

grg$Region  = c("MYC", "GATA1")
grg$Dataset = "OL43"
grg_range_OL43 = grg
grg

GRanges object with 2 ranges and 2 metadata columns:
      seqnames              ranges strand |      Region     Dataset
         <Rle>           <IRanges>  <Rle> | <character> <character>
  [1]     chr8 126735901-128736550      * |         MYC        OL43
  [2]     chrX   47785501-49880650      * |       GATA1        OL43
  -------
  seqinfo: 2 sequences from an unspecified genome; no seqlengths

**Summary**
```
chr8 126735901 128736550 MYC
chrX  47785501 49880650  GATA1
```

## OL45 | LMO2, HBE1, RBM38, HBA2, BCL11A

In [14]:
grg = grg_frag_tmpra_OL45
grg = GenomicRanges::reduce(grg)
lst = split(grg, grg@seqnames)
print(length(lst))
print(names(lst))

[1] 4
[1] "chr11" "chr16" "chr2"  "chr20"

In [15]:
grg = lst[["chr11"]]
idx = grg@ranges@start < 7000000
grg = grg[which(idx)]

grg = range(grg)
grg$Region  = "HBE1"
grg$Dataset = "OL45"
grg_range_OL45_chr11_v1 = grg
print(grg)

GRanges object with 1 range and 2 metadata columns:
      seqnames          ranges strand |      Region     Dataset
         <Rle>       <IRanges>  <Rle> | <character> <character>
  [1]    chr11 4505501-6505900      * |        HBE1        OL45
  -------
  seqinfo: 4 sequences from an unspecified genome; no seqlengths

In [16]:
grg = lst[["chr11"]]
idx = grg@ranges@start > 7000000
grg = grg[which(idx)]

grg = range(grg)
grg$Region  = "LMO2"
grg$Dataset = "OL45"
grg_range_OL45_chr11_v2 = grg
print(grg)

GRanges object with 1 range and 2 metadata columns:
      seqnames            ranges strand |      Region     Dataset
         <Rle>         <IRanges>  <Rle> | <character> <character>
  [1]    chr11 32869701-34870100      * |        LMO2        OL45
  -------
  seqinfo: 4 sequences from an unspecified genome; no seqlengths

In [17]:
grg = lst[["chr16"]]
grg = range(grg)
grg$Region  = "HBA2"
grg$Dataset = "OL45"
grg_range_OL45_chr16 = grg
print(grg)

GRanges object with 1 range and 2 metadata columns:
      seqnames        ranges strand |      Region     Dataset
         <Rle>     <IRanges>  <Rle> | <character> <character>
  [1]    chr16 10001-1173100      * |        HBA2        OL45
  -------
  seqinfo: 4 sequences from an unspecified genome; no seqlengths

In [19]:
grg = lst[["chr2"]]
grg = range(grg)
grg$Region  = "BCL11A"
grg$Dataset = "OL45"
grg_range_OL45_chr2 = grg
print(grg)

GRanges object with 1 range and 2 metadata columns:
      seqnames            ranges strand |      Region     Dataset
         <Rle>         <IRanges>  <Rle> | <character> <character>
  [1]     chr2 59553301-61553700      * |      BCL11A        OL45
  -------
  seqinfo: 4 sequences from an unspecified genome; no seqlengths

In [20]:
grg = lst[["chr20"]]
grg = range(grg)
grg$Region  = "RBM38"
grg$Dataset = "OL45"
grg_range_OL45_chr20 = grg
print(grg)

GRanges object with 1 range and 2 metadata columns:
      seqnames            ranges strand |      Region     Dataset
         <Rle>         <IRanges>  <Rle> | <character> <character>
  [1]    chr20 56391301-58391700      * |       RBM38        OL45
  -------
  seqinfo: 4 sequences from an unspecified genome; no seqlengths

## Combine and export

**Concatenate multiple granges**

In [21]:
grg = c(
    grg_range_OL13,
    grg_range_OL43,
    grg_range_OL45_chr11_v1, 
    grg_range_OL45_chr11_v2,
    grg_range_OL45_chr16,
    grg_range_OL45_chr2,
    grg_range_OL45_chr20
)

grg_range_merge = grg
print(grg)

Warning message in .merge_two_Seqinfo_objects(x, y):
“The 2 combined objects have no sequence levels in common. (Use
  suppressWarnings() to suppress this warning.)”
Warning message in .merge_two_Seqinfo_objects(x, y):
“Each of the 2 combined objects has sequence levels not in the other:
  - in 'x': chr8, chrX
  - in 'y': chr16, chr2, chr20
  Make sure to always combine/compare objects based on the same reference
  genome (use suppressWarnings() to suppress this warning).”

GRanges object with 8 ranges and 2 metadata columns:
      seqnames              ranges strand |      Region     Dataset
         <Rle>           <IRanges>  <Rle> | <character> <character>
  [1]    chr11   61787329-61898348      * |        FADS        OL13
  [2]     chr8 126735901-128736550      * |         MYC        OL43
  [3]     chrX   47785501-49880650      * |       GATA1        OL43
  [4]    chr11     4505501-6505900      * |        HBE1        OL45
  [5]    chr11   32869701-34870100      * |        LMO2        OL45
  [6]    chr16       10001-1173100      * |        HBA2        OL45
  [7]     chr2   59553301-61553700      * |      BCL11A        OL45
  [8]    chr20   56391301-58391700      * |       RBM38        OL45
  -------
  seqinfo: 6 sequences from an unspecified genome; no seqlengths

**Convert to dataframe**

In [23]:
grg = grg_range_merge
dat = data.frame(
    Chrom      = as.character(seqnames(grg)),
    ChromStart = start(grg),
    ChromEnd   = end(grg),
    Region     = grg$Region,
    Dataset    = grg$Dataset
)
dat = dat %>% dplyr::arrange(Chrom, ChromStart, ChromEnd)

### assign and show
dat_range_merge = dat
fun_display_table(dat)

Chrom,ChromStart,ChromEnd,Region,Dataset
chr11,4505501,6505900,HBE1,OL45
chr11,32869701,34870100,LMO2,OL45
chr11,61787329,61898348,FADS,OL13
chr16,10001,1173100,HBA2,OL45
chr2,59553301,61553700,BCL11A,OL45
chr20,56391301,58391700,RBM38,OL45
chr8,126735901,128736550,MYC,OL43
chrX,47785501,49880650,GATA1,OL43

In [26]:
### set directory
fdiry = file.path(FD_RES, "region", "fcc_coverage")
fname = "region_screened.tmpra.bed.gz"
fpath = file.path(fdiry, fname)
print(fpath)

### write table
dat = dat_range_merge
write_tsv(dat, fpath, col_names = FALSE)

[1] "/mount/repo/Proj_ENCODE_FCC/results/region/fcc_coverage/region_screened.tmpra.bed.gz"

In [27]:
### set directory
fdiry = file.path(FD_RES, "region", "fcc_coverage")
fname = "region_screened.tmpra.tsv"
fpath = file.path(fdiry, fname)
print(fpath)

### write table
dat = dat_range_merge
write_tsv(dat, fpath, col_names = TRUE)

[1] "/mount/repo/Proj_ENCODE_FCC/results/region/fcc_coverage/region_screened.tmpra.tsv"