---
title: Prepare TSS annotation 01
subtitle: Prepare data
format:
    html:
        code-fold:  true
        code-tools: true
---

**Set environment**

In [1]:
suppressMessages(suppressWarnings(source("../run_config_project_sing.R")))
show_env()

You are working on        Singularity
BASE DIRECTORY (FD_BASE): /mount
REPO DIRECTORY (FD_REPO): /mount/repo
WORK DIRECTORY (FD_WORK): /mount/work
DATA DIRECTORY (FD_DATA): /mount/data

You are working with      ENCODE FCC
PATH OF PROJECT (FD_PRJ): /mount/repo/Proj_ENCODE_FCC
PROJECT RESULTS (FD_RES): /mount/repo/Proj_ENCODE_FCC/results
PROJECT SCRIPTS (FD_EXE): /mount/repo/Proj_ENCODE_FCC/scripts
PROJECT DATA    (FD_DAT): /mount/repo/Proj_ENCODE_FCC/data
PROJECT NOTE    (FD_NBK): /mount/repo/Proj_ENCODE_FCC/notebooks
PROJECT DOCS    (FD_DOC): /mount/repo/Proj_ENCODE_FCC/docs
PROJECT LOG     (FD_LOG): /mount/repo/Proj_ENCODE_FCC/log
PROJECT APP     (FD_APP): /mount/repo/Proj_ENCODE_FCC/app
PROJECT REF     (FD_REF): /mount/repo/Proj_ENCODE_FCC/references

**Set global variable**

In [2]:
NUM_TPM_CUTOFF = 1

## Import data

**Read data: TSS**

In [3]:
txt_folder = "fcc_trackhub_JinWoo"
txt_fdiry  = file.path(FD_REF, txt_folder)

vec = dir(txt_fdiry)
for (txt in vec){cat(txt, "\n")}

K562_TSS_selected_by_higest_Pol2_TSS_sig.out
trackDb.txt

In [4]:
### set file path
txt_folder = "fcc_trackhub_JinWoo"
txt_fdiry  = file.path(FD_REF, txt_folder)
txt_fname = "K562_TSS_selected_by_higest_Pol2_TSS_sig.out"
txt_fpath = file.path(txt_fdiry, txt_fname)

### read table
dat = read_tsv(txt_fpath, show_col_types = FALSE)

### assign and show
dat_region_import = dat
fun_display_table(head(dat))

gene_name,chr,TSS,TSS_POL2_sig
A1BG-AS1,chr19,58351969,1.5218000
A1BG,chr19,58353492,5.6228400
A1CF,chr10,50885675,0.0070613
A2M-AS1,chr12,9065176,0.0020154
A2M,chr12,9115919,0.0400522
A2ML1,chr12,8845003,0.2686230

**Read data: Gene ID table**

In [5]:
txt_folder = "genome_gene"
txt_fdiry  = file.path(FD_REF, txt_folder)

vec = dir(txt_fdiry)
for (txt in vec){cat(txt, "\n")}

biomart.ensembl_gene_111.GRCh38.p14.gene_stable_id2name_tss.tsv.gz
biomart.ensembl_gene_111.GRCh38.p14.gene_stable_id2name.tsv.gz

In [6]:
### set file path
txt_folder = "genome_gene"
txt_fdiry  = file.path(FD_REF, txt_folder)
txt_fname  = "biomart.ensembl_gene_111.GRCh38.p14.gene_stable_id2name_tss.tsv.gz"
txt_fpath  = file.path(txt_fdiry, txt_fname)

### read table
dat = read_tsv(txt_fpath, show_col_types = FALSE)

### show and assign
dat_gene_table = dat
print(dim(dat))
fun_display_table(head(dat))

[1] 629744     10

Gene stable ID,Gene stable ID version,Transcript stable ID,Transcript stable ID version,Gene name,Gene Synonym,Strand,Transcription start site (TSS),Transcript start (bp),Transcript end (bp)
ENSG00000291190,ENSG00000291190.1,ENST00000543404,ENST00000543404.5,A2MP1,A2MP,-1,9234207,9228533,9234207
ENSG00000291084,ENSG00000291084.1,ENST00000574727,ENST00000574727.5,ALOX12P2,ALOX12E,1,6853861,6853861,6902192
ENSG00000291084,ENSG00000291084.1,ENST00000573104,ENST00000573104.5,ALOX12P2,ALOX12E,1,6853921,6853921,6859433
ENSG00000291084,ENSG00000291084.1,ENST00000576636,ENST00000576636.6,ALOX12P2,ALOX12E,1,6853930,6853930,6895102
ENSG00000291084,ENSG00000291084.1,ENST00000574271,ENST00000574271.6,ALOX12P2,ALOX12E,1,6853889,6853889,6900345
ENSG00000291084,ENSG00000291084.1,ENST00000570835,ENST00000570835.1,ALOX12P2,ALOX12E,1,6853943,6853943,6894488

**Read data: RNA-seq**

In [7]:
txt_folder = "encode_rnaseq"
txt_fdiry  = file.path(FD_DAT, "external", txt_folder)

vec = dir(txt_fdiry)
for (txt in vec){cat(txt, "\n")}

K562.hg38.ENCSR615EEK.ENCFF421TJX.RNAseq.total.tsv
K562.hg38.ENCSR615EEK.ENCFF585HTZ.RNAseq.total.strand_pos.bw
K562.hg38.ENCSR615EEK.ENCFF876JOV.RNAseq.total.strand_neg.bw
run_download.log.txt
run_download.sh

In [8]:
### set file path
txt_folder = "encode_rnaseq"
txt_fdiry  = file.path(FD_DAT, "external", txt_folder)
txt_fname  = "K562.hg38.ENCSR615EEK.ENCFF421TJX.RNAseq.total.tsv"
txt_fpath  = file.path(txt_fdiry, txt_fname)

### read table
dat = read_tsv(txt_fpath, show_col_types = FALSE)

### show and assign
dat_rnaseq_import = dat
print(dim(dat))
fun_display_table(head(dat))

[1] 59526    17

gene_id,transcript_id(s),length,effective_length,expected_count,TPM,FPKM,posterior_mean_count,posterior_standard_deviation_of_count,pme_TPM,pme_FPKM,TPM_ci_lower_bound,TPM_ci_upper_bound,TPM_coefficient_of_quartile_variation,FPKM_ci_lower_bound,FPKM_ci_upper_bound,FPKM_coefficient_of_quartile_variation
10904,10904,93,0,0,0,0,0,0,0,0,0,0,0,0,0,0
12954,12954,94,0,0,0,0,0,0,0,0,0,0,0,0,0,0
12956,12956,72,0,0,0,0,0,0,0,0,0,0,0,0,0,0
12958,12958,82,0,0,0,0,0,0,0,0,0,0,0,0,0,0
12960,12960,73,0,0,0,0,0,0,0,0,0,0,0,0,0,0
12962,12962,72,0,0,0,0,0,0,0,0,0,0,0,0,0,0

## Arrange columns of region data into bed format

In [9]:
### init
dat = dat_region_import

### arrange columns into bed format
dat = dat %>% 
    dplyr::rename(
        "Chrom" = "chr",
        "Name"  = "gene_name",
        "Score" = "TSS_POL2_sig",
        "ChromStart" = "TSS"
    ) %>%
    dplyr::mutate(ChromEnd = ChromStart + 1) %>%
    dplyr::select(Chrom, ChromStart, ChromEnd, Name, Score)

### assign and show
dat_region_arrange = dat
print(dim(dat))
fun_display_table(head(dat))

[1] 29330     5

Chrom,ChromStart,ChromEnd,Name,Score
chr19,58351969,58351970,A1BG-AS1,1.5218000
chr19,58353492,58353493,A1BG,5.6228400
chr10,50885675,50885676,A1CF,0.0070613
chr12,9065176,9065177,A2M-AS1,0.0020154
chr12,9115919,9115920,A2M,0.0400522
chr12,8845003,8845004,A2ML1,0.2686230

## Arrange and select columns of RNA-seq data

In [10]:
### init
dat = dat_rnaseq_import

### create gene stable ID
dat = dat %>% 
    dplyr::filter(str_detect(gene_id, "ENS")) %>% 
    tidyr::separate(gene_id, c("gene_id_stable", "gene_id_version"), sep="\\.", remove = FALSE) %>%
    dplyr::select(
        `gene_id`, 
        `gene_id_stable`,
        `transcript_id(s)`,
        `length`,
        `TPM`) %>%
    dplyr::distinct()

### rename columns
colnames(dat) = c(
    "Gene_Stable_ID_Version",
    "Gene_Stable_ID", 
    "Transcript_Stable_ID_Version",
    "Length",
    "TPM")

### assign and show
dat_rnaseq_arrange = dat
print(dim(dat))
fun_display_table(head(dat, 3))

[1] 58780     5

Gene_Stable_ID_Version,Gene_Stable_ID,Transcript_Stable_ID_Version,Length,TPM
ENSG00000000003.14,ENSG00000000003,"ENST00000373020.8,ENST00000494424.1,ENST00000496771.5,ENST00000612152.4,ENST00000614008.4",1301.17,0.05
ENSG00000000005.5,ENSG00000000005,"ENST00000373031.4,ENST00000485971.1",1339.00,0.04
ENSG00000000419.12,ENSG00000000419,"ENST00000371582.8,ENST00000371584.8,ENST00000371588.9,ENST00000413082.1,ENST00000466152.5,ENST00000494752.1",1088.79,31.75

## Arrange and select columns of Gene table

In [11]:
### init
dat = dat_gene_table

### arrange columns
colnames(dat) = c(
    "Gene_Stable_ID", 
    "Gene_Stable_ID_Version",
    "Transcript_Stable_ID", 
    "Transcript_Stable_ID_Version",
    "Gene_Name",
    "Gene_Synonym",
    "Strand",
    "Loc_TSS",
    "ChromStart_TSS",
    "ChromEnd_TSS"
)
dat = dat %>% 
    dplyr::select(Gene_Stable_ID, Gene_Name, Gene_Synonym) %>% 
    dplyr::distinct()

### assign and show
dat_gene_id2name = dat
print(dim(dat))
fun_display_table(head(dat))

[1] 110032      3

Gene_Stable_ID,Gene_Name,Gene_Synonym
ENSG00000291190,A2MP1,A2MP
ENSG00000291084,ALOX12P2,ALOX12E
ENSG00000286112,KYAT1,CCBL1
ENSG00000171097,KYAT1,CCBL1
ENSG00000286112,KYAT1,GTK
ENSG00000171097,KYAT1,GTK

## Filter Gene by TPM

In [12]:
### filter gene by TPM
dat = dat_rnaseq_arrange
dat = dat %>% dplyr::filter(TPM > NUM_TPM_CUTOFF)
vec = dat$Gene_Stable_ID

### get filtered gene names
dat = dat_gene_id2name
dat = dat %>% dplyr::filter(Gene_Stable_ID %in% vec)
vec = c(
    dat$Gene_Name,
    dat$Gene_Synonym
)

### filter regions by gene names
dat = dat_region_arrange
dat = dat %>% dplyr::filter(Name %in% vec)

### assign and show
dat_region_filter = dat
print(dim(dat))
fun_display_table(head(dat))

[1] 11892     5

Chrom,ChromStart,ChromEnd,Name,Score
chr19,58351969,58351970,A1BG-AS1,1.5218000
chr19,58353492,58353493,A1BG,5.6228400
chr12,9115919,9115920,A2M,0.0400522
chr12,53321610,53321611,AAAS,299.2210000
chr12,125065434,125065435,AACS,19.8061000
chr5,178818435,178818436,AACSP1,1.2477100

## Save results

**write table (TSS processed by JinWoo)**

In [13]:
### set file path
txt_folder = "genome_tss"
txt_fdiry  = file.path(FD_RES, "region", txt_folder)
txt_fname  = "K562.hg38.TSS.selected_by_highest_Pol2_signal.bed.gz"
txt_fpath  = file.path(txt_fdiry, txt_fname)

### get table
dat = dat_region_arrange
dat = dat %>% dplyr::arrange(Chrom, ChromStart, ChromEnd)

### write tabel
write_tsv(dat, txt_fpath, col_names = FALSE)

**write table (TSS further filtered by RNA-seq)**

In [14]:
### set file path
txt_folder = "genome_tss"
txt_fdiry  = file.path(FD_RES, "region", txt_folder)
txt_fname  = "K562.hg38.TSS.selected_by_highest_Pol2_signal.filtered_by_RNAseq_TPM.bed.gz"
txt_fpath  = file.path(txt_fdiry, txt_fname)

### get table
dat = dat_region_filter
dat = dat %>% dplyr::arrange(Chrom, ChromStart, ChromEnd)

### write tabel
write_tsv(dat, txt_fpath, col_names = FALSE)

**Save a copy to the reference folder**

In [15]:
### set file path
txt_folder = "genome_tss"
txt_fdiry  = file.path(FD_REF, txt_folder)
txt_fname  = "K562.hg38.TSS.selected_by_highest_Pol2_signal.filtered_by_RNAseq_TPM.bed.gz"
txt_fpath  = file.path(txt_fdiry, txt_fname)

### get table
dat = dat_region_filter
dat = dat %>% dplyr::arrange(Chrom, ChromStart, ChromEnd)

### write tabel
write_tsv(dat, txt_fpath, col_names = FALSE)