In [1]:
suppressMessages(suppressWarnings(source("../config/config_sing.R")))
show_env()

You are in Singularity: singularity_proj_combeffect
BASE DIRECTORY:     /mount/work
PATH OF SOURCE:     /mount/work/source
PATH OF EXECUTABLE: /mount/work/exe
PATH OF ANNOTATION: /mount/work/annotation
PATH OF PROJECT:    /mount/project
PATH OF RESULTS:    /mount/work/out/proj_combeffect_encode_fcc

In [8]:
fdiry = file.path(FD_RES, "region", "KS91_K562_astarrseq_peak_macs")
fname = "KS91_K562_hg38_ASTARRseq_Input.remap2022_nr.tsv"
fpath = file.path(fdiry, fname)
dat_freq_remap = read_tsv(fpath)

Rows: 5162105 Columns: 9
── Column specification ───────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────
Delimiter: "\t"
chr (3): Peak, Chrom, Name
dbl (6): Start, End, Len, Count, Total, Freq

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

In [9]:
head(dat_freq_remap)

  Peak                     Chrom Start     End       Len
1 chr1_100006256_100006880 chr1  100006256 100006880  624
2 chr1_10002087_10003910   chr1   10002087  10003910 1823
3 chr1_10002087_10003910   chr1   10002087  10003910 1823
4 chr1_10002087_10003910   chr1   10002087  10003910 1823
5 chr1_10002087_10003910   chr1   10002087  10003910 1823
6 chr1_10002087_10003910   chr1   10002087  10003910 1823
  Name                     Count Total Freq
1 TAF15:K-562              1     1     1.0000000
2 CBX2:K-562               1     6     0.1666667
3 CBX8:K-562               1     6     0.1666667
4 CEBPB:MCF-7,K-562,Hep-G2 1     6     0.1666667
5 ETS1:K-562               1     6     0.1666667
6 HINFP:K-562              1     6     0.1666667

In [11]:
LOC_GATA1 = c( 47786500,  49786650)
LOC_MYC   = c(126735970, 128736170)

dat = dat_freq_ccre
dat_freq_ccre_gata1 = dat %>% 
    dplyr::filter(Chrom == "chrX", Start >= LOC_GATA1[1], End <= LOC_GATA1[2])
 dat_freq_ccre_myc   = dat %>% 
    dplyr::filter(Chrom == "chr8", Start >= LOC_MYC[1],   End <= LOC_MYC[2])

dat = dat_freq_remap
dat_freq_remap_gata1 = dat %>% 
    dplyr::filter(Chrom == "chrX", Start >= LOC_GATA1[1], End <= LOC_GATA1[2]) %>%
    dplyr::mutate(Region = "GATA1")
dat_freq_remap_myc   = dat %>% 
    dplyr::filter(Chrom == "chr8", Start >= LOC_MYC[1],   End <= LOC_MYC[2]) %>%
    dplyr::mutate(Region = "MYC")

In [12]:
dat = dat_freq_remap_gata1
dat = dat %>% dplyr::select(Peak, Name, Freq) %>% spread(Name, Freq)
head(dat)

  Peak                   ADNP:K-562 AFF1:K-562  AFF1:K-562,SEM
1 chrX_47796208_47796828 NA                  NA NA
2 chrX_47806139_47808167 NA                  NA NA
3 chrX_47809119_47809445 NA                  NA NA
4 chrX_47814810_47815443 NA                  NA NA
5 chrX_47816459_47818070 NA         0.006993007 NA
6 chrX_47836113_47837157 NA                  NA NA
  AGO1:Hep-G2,K-562 AGO1:K-562 ARHGAP35:K-562 ARID1B:K-562 ARID1B:K-562,MCF-7
1 NA                NA         NA                      NA  NA
2 NA                NA         NA                      NA  NA
3 NA                NA         NA                      NA  NA
4 NA                NA         NA             0.045454545  NA
5 NA                NA         NA             0.006993007  NA
6 NA                NA         NA                      NA  NA
  ARID2:K-562 ⋯ ZNF75A:K-562,MCF-7 ZNF76:K-562 ZNF76:K-562,HEK293 ZNF764:K-562
1 NA          ⋯ NA                 NA          NA                 NA
2 NA          ⋯ NA                 NA          NA                 NA
3 NA          ⋯ NA                 NA          NA                 NA
4 NA          ⋯ NA                 NA          NA                 NA
5 NA          ⋯ NA                 NA          NA                 NA
6 NA          ⋯ NA                 NA          NA                 NA
  ZNF766:K-562 ZNF79:K-562 ZNF83:K-562 ZNF830:K-562 ZSCAN29:K-562 ZZZ3:K-562
1 NA           NA                   NA NA           NA            NA
2 NA           NA                   NA NA           NA            NA
3 NA           NA                   NA NA           NA            NA
4 NA           NA                   NA NA           NA            NA
5 NA           NA          0.006993007 NA           NA            NA
6 NA           NA                   NA NA           NA            NA

In [ ]:
dat

In [4]:
dat = dat_remap %>% dplyr::select(ends_with("ReMap"), Name, Score)
head(dat)

  Chrom_ReMap Start_ReMap End_ReMap Name         Score
1 chr1         10016       10229    ZBTB5:K-562  1
2 chr1        136239      136897    ZBTB33:K-562 1
3 chr1        136277      137062    EGR1:K-562   2
4 chr1        136281      137167    ZNF639:K-562 1
5 chr1        136332      136968    TRIM24:K-562 2
6 chr1        136340      137098    NR2C1:K-562  2

In [5]:
tail(dat)

  Chrom_ReMap Start_ReMap End_ReMap Name               Score
1 chrX        156030488   156030733 CHAMP1:K-562       1
2 chrX        156030490   156030703 DPF2:K-562         1
3 chrX        156030490   156030738 HDAC2:Hep-G2,K-562 3
4 chrX        156030493   156030740 ATF4:K-562         1
5 chrX        156030495   156030725 MTA3:K-562,MCF-7   2
6 chrX        156030523   156030718 NONO:K-562,Hep-G2  2

In [7]:
set.seed(123)
tmp = dat %>% dplyr::sample_n(10)
tmp

   Chrom_ReMap Start_ReMap End_ReMap Name                              Score
1  chr16        79770242    79770887 HNRNPLL:K-562,Hep-G2              4
2  chr20        63552704    63553106 EGR1:GM12878,K-562,Ishikawa,MCF-7 6
3  chr6         13302848    13303206 GMEB1:K-562                       1
4  chr20        41727870    41727996 FOS:K-562                         1
5  chr19        51572550    51572842 BHLHE40:K-562                     1
6  chr3        120908010   120908606 EHMT2:K-562,Rh41,A-549            3
7  chr7          7100054     7100915 LDB1:K-562,HEP                    2
8  chr1        154325257   154325464 BRD3:K-562                        1
9  chr1        225928338   225928658 DACH1:K-562                       1
10 chrX         41010096    41010549 NR2C1:K-562                       2