---
title: Region Coverage 11
subtitle: Combine counts across samples and generate count matrix (STARR)
format:
    html:
        code-fold:  true
        code-tools: true
---

**Set environment**

In [1]:
suppressMessages(suppressWarnings(source("../run_config_project_sing.R")))
show_env()

You are working on        Singularity
BASE DIRECTORY (FD_BASE): /mount
REPO DIRECTORY (FD_REPO): /mount/repo
WORK DIRECTORY (FD_WORK): /mount/work
DATA DIRECTORY (FD_DATA): /mount/data

You are working with      ENCODE FCC
PATH OF PROJECT (FD_PRJ): /mount/repo/Proj_CombEffect_ENCODE_FCC
PROJECT RESULTS (FD_RES): /mount/repo/Proj_CombEffect_ENCODE_FCC/results
PROJECT SCRIPTS (FD_EXE): /mount/repo/Proj_CombEffect_ENCODE_FCC/scripts
PROJECT DATA    (FD_DAT): /mount/repo/Proj_CombEffect_ENCODE_FCC/data
PROJECT NOTE    (FD_NBK): /mount/repo/Proj_CombEffect_ENCODE_FCC/notebooks
PROJECT DOCS    (FD_DOC): /mount/repo/Proj_CombEffect_ENCODE_FCC/docs
PROJECT LOG     (FD_LOG): /mount/repo/Proj_CombEffect_ENCODE_FCC/log
PROJECT APP     (FD_APP): /mount/repo/Proj_CombEffect_ENCODE_FCC/app
PROJECT REF     (FD_REF): /mount/repo/Proj_CombEffect_ENCODE_FCC/references

In [2]:
txt_fdiry = file.path(FD_RES, "assay_fcc")
vec = dir(txt_fdiry)
for (txt in vec) {cat(txt, "\n")}

MPRA_Tiling_K562_Tewhey_hannah
STARR_ATAC_K562_Reddy_KS91
STARR_WHG_K562_Reddy_A001

In [3]:
VEC_TXT_ASSAY = c(
    "STARR_ATAC_K562_Reddy_KS91",
    "STARR_WHG_K562_Reddy_A001"
)

## Import region data

**Read region metadata table**

In [4]:
### set directory
txt_fdiry = file.path(FD_RES, "region", "summary")
txt_fname = "metadata_region_label.tsv"
txt_fpath = file.path(txt_fdiry, txt_fname)

### read table
dat = read_tsv(txt_fpath, show_col_types = FALSE)

### assign and show
dat_metadata_region = dat
fun_display_table(dat)

Folder,FName,Label
encode_open_chromatin,K562.hg38.ENCSR000EKS.ENCFF274YGF.DNase.bed.gz,dnase_ENCFF274YGF
encode_open_chromatin,K562.hg38.ENCSR000EOT.ENCFF185XRG.DNase.bed.gz,dnase_ENCFF185XRG
encode_open_chromatin,K562.hg38.ENCSR483RKN.ENCFF558BLC.ATAC.bed.gz,atac_ENCFF558BLC
encode_open_chromatin,K562.hg38.ENCSR483RKN.ENCFF925CYR.ATAC.bed.gz,atac_ENCFF925CYR
encode_open_chromatin,K562.hg38.ENCSR868FGK.ENCFF333TAT.ATAC.bed.gz,atac_ENCFF333TAT
encode_open_chromatin,K562.hg38.ENCSR868FGK.ENCFF948AFM.ATAC.bed.gz,atac_ENCFF948AFM
fcc_astarr_macs,ASTARRseq_K562_KS91.hg38.Input.rep_all.max_overlaps.q5.bed,astarr_macs_input_overlap
fcc_astarr_macs,ASTARRseq_K562_KS91.hg38.Input.rep_all.union.q5.bed,astarr_macs_input_union

**Create region list for looping**

In [5]:
dat = dat_metadata_region
lst = split(dat$Label, dat$Folder)

lst_region = lst
print(lst)

$encode_open_chromatin
[1] "dnase_ENCFF274YGF" "dnase_ENCFF185XRG" "atac_ENCFF558BLC"
[4] "atac_ENCFF925CYR"  "atac_ENCFF333TAT"  "atac_ENCFF948AFM"

$fcc_astarr_macs
[1] "astarr_macs_input_overlap" "astarr_macs_input_union"

## Loop through regions and assays to create count matrix

**Define helper function**

In [6]:
fun = function(dat1, dat2){
    dat = dplyr::full_join(dat1, dat2, by = c("Chrom", "ChromStart", "ChromEnd", "Region"))
    return(dat)
}

**Generate count matrix for each region set for each assay**

In [7]:
for (txt_region_folder in names(lst_region)){
    
    ### get region label
    vec_txt_region_label = lst_region[[txt_region_folder]]

    ### set directory for region description
    txt_fdiry  = file.path(FD_RES, "region", txt_region_folder)
    txt_fname  = "description.tsv"
    txt_fpath  = file.path(txt_fdiry, txt_fname)

    ### read region description and set column names/types
    dat = read_tsv(txt_fpath, show_col_types = FALSE)
    vec = dat$Name
    vec_txt_cname = c(vec, "Count")
    vec_col_ctype = cols(Count = col_character())
    
    ###
    for (txt_region_label in vec_txt_region_label){

        for (txt_assay in VEC_TXT_ASSAY) {

            ### show progress: init
            cat("\n====================\n")
            cat("Region Folder:", txt_region_folder, "\n")
            cat("Region Label: ", txt_region_label,  "\n")
            cat("Assay  Folder:", txt_assay,         "\n")
            cat("\n")
            flush.console()
            
            ### set directory for assay metadata
            txt_fdiry = file.path(FD_RES, "assay_fcc", txt_assay, "fragment_counts", "summary")
            txt_fname = "metadata.tsv"
            txt_fpath = file.path(txt_fdiry, txt_fname)
        
            ### read metadata
            dat_metadata_assay = read_tsv(txt_fpath, show_col_types = FALSE)

            ### setup sample names
            vec1 = dat_metadata_assay$FName
            vec2 = dat_metadata_assay$Sample
            vec_txt_sample = setNames(vec1, vec2)
            
            ### set directory for assay counts
            txt_fdiry = file.path(FD_RES, "assay_fcc", txt_assay, "coverage", txt_region_folder, txt_region_label)
            txt_fname = "*WGS*bed.gz"
            txt_fglob = file.path(txt_fdiry, txt_fname)

            ### get count files and show
            vec_txt_fpath = Sys.glob(txt_fglob)
            vec_txt_fname = basename(vec_txt_fpath)

            ### show progress: prepare
            cat("Region Metatable:\n")
            flush.console()
            fun_display_table(dat_metadata_assay)
            cat("\n")
            flush.console()
            
            cat("Import Counts:\n")
            flush.console()
            print(vec_txt_fname)
            cat("\n")
            flush.console()
            
            ### loop through count files and import them
            lst_dat = lapply(vec_txt_fpath, function(txt_fpath){

                ### read table and arrange the columns
                dat = read_tsv(
                    txt_fpath, 
                    col_names = vec_txt_cname, 
                    col_types = vec_col_ctype, 
                    show_col_types = FALSE)
                dat = dat %>% 
                    dplyr::select(Chrom, ChromStart, ChromEnd, Count) %>%
                    dplyr::mutate(Region = paste0(Chrom, ":", ChromStart, "-", ChromEnd)) %>%
                    dplyr::mutate(Count  = replace(Count, Count == ".", "0")) %>%
                    dplyr::mutate(Count  = as.integer(Count)) %>%
                    dplyr::select(Chrom, ChromStart, ChromEnd, Region, Count) %>%
                    dplyr::distinct()
    
                ### rename column to include the file name
                txt_fname = basename(txt_fpath)
                vec = c("Chrom", "ChromStart", "ChromEnd", "Region", txt_fname)
                colnames(dat) = vec
                
                return(dat)
            })

            ### combine imported counts into a matrix
            dat_cnt = Reduce(fun, lst_dat)
            dat_cnt = dplyr::rename(dat_cnt, any_of(vec_txt_sample))

            ### filter out unaligned reigons
            mat_cnt = dat_cnt %>%
                dplyr::select(-Chrom, -ChromStart, -ChromEnd) %>%
                column_to_rownames(var = "Region")
            
            vec = apply(mat_cnt, 1, sum)
            idx = (vec != 0)
            dat_cnt = dat_cnt[idx,]

            ### combine count matrix and column data
            lst_dat = list(
                "data_cnt" = dat_cnt,
                "data_col" = dat_metadata_assay)

            ### set directory for saving results
            txt_fdiry = file.path(FD_RES, "assay_fcc", txt_assay, "coverage", txt_region_folder, txt_region_label, "summary")
            txt_cmd = paste("mkdir -p", txt_fdiry)
            system(txt_cmd)

            ### save count matrix
            txt_fname = "matrix.raw.count.WGS.tsv"
            txt_fpath = file.path(txt_fdiry, txt_fname)
            
            dat = dat_cnt
            write_tsv(dat, txt_fpath)

            ### save data list
            txt_fname = "data_list_count_column.rds"
            txt_fpath = file.path(txt_fdiry, txt_fname)

            obj = lst_dat
            saveRDS(obj, txt_fpath)

            ### show progress: results
            cat("Save count matrix and data list.\n")
            flush.console()
            fun_display_table(head(dat_cnt))
            fun_display_table(tail(dat_cnt))
            cat("\n")
            flush.console()
        }   
    }
}

====================
Region Folder: encode_open_chromatin
Region Label:  dnase_ENCFF274YGF
Assay  Folder: STARR_ATAC_K562_Reddy_KS91

Region Metatable:

FName,Assay,Prefix,Group,Sample
ASTARRseq_K562_KS91.hg38.Input.rep1.WGS.unstranded.bed.gz,STARR_ATAC_K562_Reddy_KS91,ASTARRseq_K562_KS91,Input,Input.rep1
ASTARRseq_K562_KS91.hg38.Input.rep2.WGS.unstranded.bed.gz,STARR_ATAC_K562_Reddy_KS91,ASTARRseq_K562_KS91,Input,Input.rep2
ASTARRseq_K562_KS91.hg38.Input.rep3.WGS.unstranded.bed.gz,STARR_ATAC_K562_Reddy_KS91,ASTARRseq_K562_KS91,Input,Input.rep3
ASTARRseq_K562_KS91.hg38.Input.rep4.WGS.unstranded.bed.gz,STARR_ATAC_K562_Reddy_KS91,ASTARRseq_K562_KS91,Input,Input.rep4
ASTARRseq_K562_KS91.hg38.Input.rep5.WGS.unstranded.bed.gz,STARR_ATAC_K562_Reddy_KS91,ASTARRseq_K562_KS91,Input,Input.rep5
ASTARRseq_K562_KS91.hg38.Input.rep6.WGS.unstranded.bed.gz,STARR_ATAC_K562_Reddy_KS91,ASTARRseq_K562_KS91,Input,Input.rep6
ASTARRseq_K562_KS91.hg38.Output.rep1.WGS.unstranded.bed.gz,STARR_ATAC_K562_Reddy_KS91,ASTARRseq_K562_KS91,Output,Output.rep1
ASTARRseq_K562_KS91.hg38.Output.rep2.WGS.unstranded.bed.gz,STARR_ATAC_K562_Reddy_KS91,ASTARRseq_K562_KS91,Output,Output.rep2
ASTARRseq_K562_KS91.hg38.Output.rep3.WGS.unstranded.bed.gz,STARR_ATAC_K562_Reddy_KS91,ASTARRseq_K562_KS91,Output,Output.rep3
ASTARRseq_K562_KS91.hg38.Output.rep4.WGS.unstranded.bed.gz,STARR_ATAC_K562_Reddy_KS91,ASTARRseq_K562_KS91,Output,Output.rep4

Import Counts:
 [1] "ASTARRseq_K562_KS91.hg38.Input.rep1.WGS.unstranded.bed.gz"
 [2] "ASTARRseq_K562_KS91.hg38.Input.rep2.WGS.unstranded.bed.gz"
 [3] "ASTARRseq_K562_KS91.hg38.Input.rep3.WGS.unstranded.bed.gz"
 [4] "ASTARRseq_K562_KS91.hg38.Input.rep4.WGS.unstranded.bed.gz"
 [5] "ASTARRseq_K562_KS91.hg38.Input.rep5.WGS.unstranded.bed.gz"
 [6] "ASTARRseq_K562_KS91.hg38.Input.rep6.WGS.unstranded.bed.gz"
 [7] "ASTARRseq_K562_KS91.hg38.Output.rep1.WGS.unstranded.bed.gz"
 [8] "ASTARRseq_K562_KS91.hg38.Output.rep2.WGS.unstranded.bed.gz"
 [9] "ASTARRseq_K562_KS91.hg38.Output.rep3.WGS.unstranded.bed.gz"
[10] "ASTARRseq_K562_KS91.hg38.Output.rep4.WGS.unstranded.bed.gz"

Save count matrix and data list.

Chrom,ChromStart,ChromEnd,Region,Input.rep1,Input.rep2,Input.rep3,Input.rep4,Input.rep5,Input.rep6,Output.rep1,Output.rep2,Output.rep3,Output.rep4
chr1,181400,181530,chr1:181400-181530,166,229,227,218,220,180,7,11,16,8
chr1,778660,778800,chr1:778660-778800,3014,3520,3601,3482,3447,3189,1937,2413,2644,4819
chr1,779137,779200,chr1:779137-779200,1137,1390,1465,1383,1383,1268,84,128,182,343
chr1,827460,827554,chr1:827460-827554,2402,2947,3119,2971,2918,2721,636,717,820,1657
chr1,842880,843060,chr1:842880-843060,448,526,566,547,510,471,99,190,217,284
chr1,869800,869980,chr1:869800-869980,880,1034,1068,1034,994,935,46,38,51,105

Chrom,ChromStart,ChromEnd,Region,Input.rep1,Input.rep2,Input.rep3,Input.rep4,Input.rep5,Input.rep6,Output.rep1,Output.rep2,Output.rep3,Output.rep4
chrX,155881180,155881360,chrX:155881180-155881360,1046,1281,1319,1262,1249,1161,280,428,511,1010
chrX,155881720,155881894,chrX:155881720-155881894,200,262,279,290,254,250,93,167,173,394
chrX,155967000,155967180,chrX:155967000-155967180,141,185,168,161,166,152,15,43,35,41
chrX,155997480,155997746,chrX:155997480-155997746,443,549,584,535,519,472,39,97,77,159
chrX,156001660,156001860,chrX:156001660-156001860,363,478,464,446,422,402,64,190,175,330
chrX,156002520,156002780,chrX:156002520-156002780,336,423,499,448,439,392,92,134,117,295

====================
Region Folder: encode_open_chromatin
Region Label:  dnase_ENCFF274YGF
Assay  Folder: STARR_WHG_K562_Reddy_A001

Region Metatable:

FName,Assay,Prefix,Group,Sample
WSTARRseq_K562_A001.hg38.Input.rep1.WGS.unstranded.bed.gz,STARR_WHG_K562_Reddy_A001,WSTARRseq_K562_A001,Input,Input.rep1
WSTARRseq_K562_A001.hg38.Input.rep2.WGS.unstranded.bed.gz,STARR_WHG_K562_Reddy_A001,WSTARRseq_K562_A001,Input,Input.rep2
WSTARRseq_K562_A001.hg38.Input.rep3.WGS.unstranded.bed.gz,STARR_WHG_K562_Reddy_A001,WSTARRseq_K562_A001,Input,Input.rep3
WSTARRseq_K562_A001.hg38.Input.rep4.WGS.unstranded.bed.gz,STARR_WHG_K562_Reddy_A001,WSTARRseq_K562_A001,Input,Input.rep4
WSTARRseq_K562_A001.hg38.Output.rep1.WGS.unstranded.bed.gz,STARR_WHG_K562_Reddy_A001,WSTARRseq_K562_A001,Output,Output.rep1
WSTARRseq_K562_A001.hg38.Output.rep2.WGS.unstranded.bed.gz,STARR_WHG_K562_Reddy_A001,WSTARRseq_K562_A001,Output,Output.rep2
WSTARRseq_K562_A001.hg38.Output.rep3.WGS.unstranded.bed.gz,STARR_WHG_K562_Reddy_A001,WSTARRseq_K562_A001,Output,Output.rep3

Import Counts:
[1] "WSTARRseq_K562_A001.hg38.Input.rep1.WGS.unstranded.bed.gz"
[2] "WSTARRseq_K562_A001.hg38.Input.rep2.WGS.unstranded.bed.gz"
[3] "WSTARRseq_K562_A001.hg38.Input.rep3.WGS.unstranded.bed.gz"
[4] "WSTARRseq_K562_A001.hg38.Input.rep4.WGS.unstranded.bed.gz"
[5] "WSTARRseq_K562_A001.hg38.Output.rep1.WGS.unstranded.bed.gz"
[6] "WSTARRseq_K562_A001.hg38.Output.rep2.WGS.unstranded.bed.gz"
[7] "WSTARRseq_K562_A001.hg38.Output.rep3.WGS.unstranded.bed.gz"

Save count matrix and data list.

Chrom,ChromStart,ChromEnd,Region,Input.rep1,Input.rep2,Input.rep3,Input.rep4,Output.rep1,Output.rep2,Output.rep3
chr1,181400,181530,chr1:181400-181530,3,18,12,15,34,29,51
chr1,778660,778800,chr1:778660-778800,10,35,27,30,195,181,312
chr1,779137,779200,chr1:779137-779200,8,31,17,23,56,77,114
chr1,827460,827554,chr1:827460-827554,10,25,24,25,99,89,128
chr1,842880,843060,chr1:842880-843060,7,21,19,14,48,40,96
chr1,869800,869980,chr1:869800-869980,9,25,46,33,43,41,79

Chrom,ChromStart,ChromEnd,Region,Input.rep1,Input.rep2,Input.rep3,Input.rep4,Output.rep1,Output.rep2,Output.rep3
chrX,156001660,156001860,chrX:156001660-156001860,6,16,28,27,80,40,108
chrX,156002520,156002780,chrX:156002520-156002780,7,28,23,23,68,54,119
chrY,11103140,11103280,chrY:11103140-11103280,5,8,7,6,10,11,26
chrY,11712280,11712332,chrY:11712280-11712332,2,1,4,4,4,4,6
chrY,12347360,12347500,chrY:12347360-12347500,0,0,0,1,0,0,0
chrY,26563060,26563204,chrY:26563060-26563204,2,4,3,4,5,4,16

====================
Region Folder: encode_open_chromatin
Region Label:  dnase_ENCFF185XRG
Assay  Folder: STARR_ATAC_K562_Reddy_KS91

Region Metatable:

FName,Assay,Prefix,Group,Sample
ASTARRseq_K562_KS91.hg38.Input.rep1.WGS.unstranded.bed.gz,STARR_ATAC_K562_Reddy_KS91,ASTARRseq_K562_KS91,Input,Input.rep1
ASTARRseq_K562_KS91.hg38.Input.rep2.WGS.unstranded.bed.gz,STARR_ATAC_K562_Reddy_KS91,ASTARRseq_K562_KS91,Input,Input.rep2
ASTARRseq_K562_KS91.hg38.Input.rep3.WGS.unstranded.bed.gz,STARR_ATAC_K562_Reddy_KS91,ASTARRseq_K562_KS91,Input,Input.rep3
ASTARRseq_K562_KS91.hg38.Input.rep4.WGS.unstranded.bed.gz,STARR_ATAC_K562_Reddy_KS91,ASTARRseq_K562_KS91,Input,Input.rep4
ASTARRseq_K562_KS91.hg38.Input.rep5.WGS.unstranded.bed.gz,STARR_ATAC_K562_Reddy_KS91,ASTARRseq_K562_KS91,Input,Input.rep5
ASTARRseq_K562_KS91.hg38.Input.rep6.WGS.unstranded.bed.gz,STARR_ATAC_K562_Reddy_KS91,ASTARRseq_K562_KS91,Input,Input.rep6
ASTARRseq_K562_KS91.hg38.Output.rep1.WGS.unstranded.bed.gz,STARR_ATAC_K562_Reddy_KS91,ASTARRseq_K562_KS91,Output,Output.rep1
ASTARRseq_K562_KS91.hg38.Output.rep2.WGS.unstranded.bed.gz,STARR_ATAC_K562_Reddy_KS91,ASTARRseq_K562_KS91,Output,Output.rep2
ASTARRseq_K562_KS91.hg38.Output.rep3.WGS.unstranded.bed.gz,STARR_ATAC_K562_Reddy_KS91,ASTARRseq_K562_KS91,Output,Output.rep3
ASTARRseq_K562_KS91.hg38.Output.rep4.WGS.unstranded.bed.gz,STARR_ATAC_K562_Reddy_KS91,ASTARRseq_K562_KS91,Output,Output.rep4

Import Counts:
 [1] "ASTARRseq_K562_KS91.hg38.Input.rep1.WGS.unstranded.bed.gz"
 [2] "ASTARRseq_K562_KS91.hg38.Input.rep2.WGS.unstranded.bed.gz"
 [3] "ASTARRseq_K562_KS91.hg38.Input.rep3.WGS.unstranded.bed.gz"
 [4] "ASTARRseq_K562_KS91.hg38.Input.rep4.WGS.unstranded.bed.gz"
 [5] "ASTARRseq_K562_KS91.hg38.Input.rep5.WGS.unstranded.bed.gz"
 [6] "ASTARRseq_K562_KS91.hg38.Input.rep6.WGS.unstranded.bed.gz"
 [7] "ASTARRseq_K562_KS91.hg38.Output.rep1.WGS.unstranded.bed.gz"
 [8] "ASTARRseq_K562_KS91.hg38.Output.rep2.WGS.unstranded.bed.gz"
 [9] "ASTARRseq_K562_KS91.hg38.Output.rep3.WGS.unstranded.bed.gz"
[10] "ASTARRseq_K562_KS91.hg38.Output.rep4.WGS.unstranded.bed.gz"

Save count matrix and data list.

Chrom,ChromStart,ChromEnd,Region,Input.rep1,Input.rep2,Input.rep3,Input.rep4,Input.rep5,Input.rep6,Output.rep1,Output.rep2,Output.rep3,Output.rep4
chr1,139369,139421,chr1:139369-139421,115,169,181,161,174,156,11,20,22,69
chr1,180800,180871,chr1:180800-180871,34,41,42,30,38,33,0,1,0,3
chr1,181108,181200,chr1:181108-181200,113,146,151,145,149,119,1,4,2,5
chr1,181400,181560,chr1:181400-181560,177,243,244,235,226,190,6,12,16,7
chr1,186785,186839,chr1:186785-186839,63,90,89,92,82,86,0,6,9,8
chr1,186980,187129,chr1:186980-187129,81,113,103,121,122,100,5,19,24,14

Chrom,ChromStart,ChromEnd,Region,Input.rep1,Input.rep2,Input.rep3,Input.rep4,Input.rep5,Input.rep6,Output.rep1,Output.rep2,Output.rep3,Output.rep4
chrX,156001040,156001600,chrX:156001040-156001600,495,631,699,675,610,529,89,128,121,222
chrX,156001340,156001600,chrX:156001340-156001600,274,356,393,383,346,312,56,79,80,167
chrX,156001660,156001860,chrX:156001660-156001860,363,478,464,446,422,402,64,190,175,330
chrX,156002540,156002780,chrX:156002540-156002780,322,407,480,431,425,376,91,134,115,288
chrX,156016563,156016622,chrX:156016563-156016622,99,148,148,140,142,128,1,0,0,2
chrX,156030252,156030360,chrX:156030252-156030360,42,88,74,81,81,52,0,0,2,0

====================
Region Folder: encode_open_chromatin
Region Label:  dnase_ENCFF185XRG
Assay  Folder: STARR_WHG_K562_Reddy_A001

Region Metatable:

FName,Assay,Prefix,Group,Sample
WSTARRseq_K562_A001.hg38.Input.rep1.WGS.unstranded.bed.gz,STARR_WHG_K562_Reddy_A001,WSTARRseq_K562_A001,Input,Input.rep1
WSTARRseq_K562_A001.hg38.Input.rep2.WGS.unstranded.bed.gz,STARR_WHG_K562_Reddy_A001,WSTARRseq_K562_A001,Input,Input.rep2
WSTARRseq_K562_A001.hg38.Input.rep3.WGS.unstranded.bed.gz,STARR_WHG_K562_Reddy_A001,WSTARRseq_K562_A001,Input,Input.rep3
WSTARRseq_K562_A001.hg38.Input.rep4.WGS.unstranded.bed.gz,STARR_WHG_K562_Reddy_A001,WSTARRseq_K562_A001,Input,Input.rep4
WSTARRseq_K562_A001.hg38.Output.rep1.WGS.unstranded.bed.gz,STARR_WHG_K562_Reddy_A001,WSTARRseq_K562_A001,Output,Output.rep1
WSTARRseq_K562_A001.hg38.Output.rep2.WGS.unstranded.bed.gz,STARR_WHG_K562_Reddy_A001,WSTARRseq_K562_A001,Output,Output.rep2
WSTARRseq_K562_A001.hg38.Output.rep3.WGS.unstranded.bed.gz,STARR_WHG_K562_Reddy_A001,WSTARRseq_K562_A001,Output,Output.rep3

Import Counts:
[1] "WSTARRseq_K562_A001.hg38.Input.rep1.WGS.unstranded.bed.gz"
[2] "WSTARRseq_K562_A001.hg38.Input.rep2.WGS.unstranded.bed.gz"
[3] "WSTARRseq_K562_A001.hg38.Input.rep3.WGS.unstranded.bed.gz"
[4] "WSTARRseq_K562_A001.hg38.Input.rep4.WGS.unstranded.bed.gz"
[5] "WSTARRseq_K562_A001.hg38.Output.rep1.WGS.unstranded.bed.gz"
[6] "WSTARRseq_K562_A001.hg38.Output.rep2.WGS.unstranded.bed.gz"
[7] "WSTARRseq_K562_A001.hg38.Output.rep3.WGS.unstranded.bed.gz"

Save count matrix and data list.

Chrom,ChromStart,ChromEnd,Region,Input.rep1,Input.rep2,Input.rep3,Input.rep4,Output.rep1,Output.rep2,Output.rep3
chr1,139369,139421,chr1:139369-139421,4,6,10,19,35,27,30
chr1,180800,180871,chr1:180800-180871,1,1,0,2,1,0,1
chr1,181108,181200,chr1:181108-181200,1,8,4,8,21,17,24
chr1,181400,181560,chr1:181400-181560,5,22,16,17,37,30,56
chr1,186785,186839,chr1:186785-186839,9,22,21,27,23,41,85
chr1,186980,187129,chr1:186980-187129,6,32,32,38,35,52,98

Chrom,ChromStart,ChromEnd,Region,Input.rep1,Input.rep2,Input.rep3,Input.rep4,Output.rep1,Output.rep2,Output.rep3
chrY,10175645,10175774,chrY:10175645-10175774,1,2,0,2,2,0,8
chrY,10627260,10627380,chrY:10627260-10627380,1,8,6,7,7,3,19
chrY,11099598,11099702,chrY:11099598-11099702,4,13,15,16,41,39,76
chrY,11103120,11103280,chrY:11103120-11103280,5,8,7,6,9,11,29
chrY,11334278,11334400,chrY:11334278-11334400,0,0,0,1,2,1,2
chrY,12394980,12395092,chrY:12394980-12395092,0,0,0,0,0,1,1

====================
Region Folder: encode_open_chromatin
Region Label:  atac_ENCFF558BLC
Assay  Folder: STARR_ATAC_K562_Reddy_KS91

Region Metatable:

FName,Assay,Prefix,Group,Sample
ASTARRseq_K562_KS91.hg38.Input.rep1.WGS.unstranded.bed.gz,STARR_ATAC_K562_Reddy_KS91,ASTARRseq_K562_KS91,Input,Input.rep1
ASTARRseq_K562_KS91.hg38.Input.rep2.WGS.unstranded.bed.gz,STARR_ATAC_K562_Reddy_KS91,ASTARRseq_K562_KS91,Input,Input.rep2
ASTARRseq_K562_KS91.hg38.Input.rep3.WGS.unstranded.bed.gz,STARR_ATAC_K562_Reddy_KS91,ASTARRseq_K562_KS91,Input,Input.rep3
ASTARRseq_K562_KS91.hg38.Input.rep4.WGS.unstranded.bed.gz,STARR_ATAC_K562_Reddy_KS91,ASTARRseq_K562_KS91,Input,Input.rep4
ASTARRseq_K562_KS91.hg38.Input.rep5.WGS.unstranded.bed.gz,STARR_ATAC_K562_Reddy_KS91,ASTARRseq_K562_KS91,Input,Input.rep5
ASTARRseq_K562_KS91.hg38.Input.rep6.WGS.unstranded.bed.gz,STARR_ATAC_K562_Reddy_KS91,ASTARRseq_K562_KS91,Input,Input.rep6
ASTARRseq_K562_KS91.hg38.Output.rep1.WGS.unstranded.bed.gz,STARR_ATAC_K562_Reddy_KS91,ASTARRseq_K562_KS91,Output,Output.rep1
ASTARRseq_K562_KS91.hg38.Output.rep2.WGS.unstranded.bed.gz,STARR_ATAC_K562_Reddy_KS91,ASTARRseq_K562_KS91,Output,Output.rep2
ASTARRseq_K562_KS91.hg38.Output.rep3.WGS.unstranded.bed.gz,STARR_ATAC_K562_Reddy_KS91,ASTARRseq_K562_KS91,Output,Output.rep3
ASTARRseq_K562_KS91.hg38.Output.rep4.WGS.unstranded.bed.gz,STARR_ATAC_K562_Reddy_KS91,ASTARRseq_K562_KS91,Output,Output.rep4

Import Counts:
 [1] "ASTARRseq_K562_KS91.hg38.Input.rep1.WGS.unstranded.bed.gz"
 [2] "ASTARRseq_K562_KS91.hg38.Input.rep2.WGS.unstranded.bed.gz"
 [3] "ASTARRseq_K562_KS91.hg38.Input.rep3.WGS.unstranded.bed.gz"
 [4] "ASTARRseq_K562_KS91.hg38.Input.rep4.WGS.unstranded.bed.gz"
 [5] "ASTARRseq_K562_KS91.hg38.Input.rep5.WGS.unstranded.bed.gz"
 [6] "ASTARRseq_K562_KS91.hg38.Input.rep6.WGS.unstranded.bed.gz"
 [7] "ASTARRseq_K562_KS91.hg38.Output.rep1.WGS.unstranded.bed.gz"
 [8] "ASTARRseq_K562_KS91.hg38.Output.rep2.WGS.unstranded.bed.gz"
 [9] "ASTARRseq_K562_KS91.hg38.Output.rep3.WGS.unstranded.bed.gz"
[10] "ASTARRseq_K562_KS91.hg38.Output.rep4.WGS.unstranded.bed.gz"

Save count matrix and data list.

Chrom,ChromStart,ChromEnd,Region,Input.rep1,Input.rep2,Input.rep3,Input.rep4,Input.rep5,Input.rep6,Output.rep1,Output.rep2,Output.rep3,Output.rep4
chr1,10509,10674,chr1:10509-10674,21,34,35,24,37,36,0,0,2,0
chr1,41987,42385,chr1:41987-42385,0,0,0,0,0,1,0,0,0,0
chr1,46755,47025,chr1:46755-47025,0,0,0,1,0,1,0,0,0,0
chr1,68969,69964,chr1:68969-69964,24,29,20,25,23,19,0,0,0,5
chr1,78951,79407,chr1:78951-79407,21,30,42,34,35,28,0,5,4,4
chr1,778328,779235,chr1:778328-779235,7262,8508,8751,8406,8362,7792,2566,3646,3941,7268

Chrom,ChromStart,ChromEnd,Region,Input.rep1,Input.rep2,Input.rep3,Input.rep4,Input.rep5,Input.rep6,Output.rep1,Output.rep2,Output.rep3,Output.rep4
chrX,155997490,155997692,chrX:155997490-155997692,407,497,526,480,476,432,43,92,71,147
chrX,156001062,156002118,chrX:156001062-156002118,960,1233,1307,1253,1165,1035,155,347,305,594
chrX,156002345,156002961,chrX:156002345-156002961,604,756,871,833,767,707,110,236,195,435
chrX,156010065,156010405,chrX:156010065-156010405,66,64,81,70,71,52,6,3,3,13
chrX,156016242,156016999,chrX:156016242-156016999,181,243,240,230,235,215,5,1,3,4
chrX,156029850,156030236,chrX:156029850-156030236,36,39,45,30,39,34,3,7,3,4

====================
Region Folder: encode_open_chromatin
Region Label:  atac_ENCFF558BLC
Assay  Folder: STARR_WHG_K562_Reddy_A001

Region Metatable:

FName,Assay,Prefix,Group,Sample
WSTARRseq_K562_A001.hg38.Input.rep1.WGS.unstranded.bed.gz,STARR_WHG_K562_Reddy_A001,WSTARRseq_K562_A001,Input,Input.rep1
WSTARRseq_K562_A001.hg38.Input.rep2.WGS.unstranded.bed.gz,STARR_WHG_K562_Reddy_A001,WSTARRseq_K562_A001,Input,Input.rep2
WSTARRseq_K562_A001.hg38.Input.rep3.WGS.unstranded.bed.gz,STARR_WHG_K562_Reddy_A001,WSTARRseq_K562_A001,Input,Input.rep3
WSTARRseq_K562_A001.hg38.Input.rep4.WGS.unstranded.bed.gz,STARR_WHG_K562_Reddy_A001,WSTARRseq_K562_A001,Input,Input.rep4
WSTARRseq_K562_A001.hg38.Output.rep1.WGS.unstranded.bed.gz,STARR_WHG_K562_Reddy_A001,WSTARRseq_K562_A001,Output,Output.rep1
WSTARRseq_K562_A001.hg38.Output.rep2.WGS.unstranded.bed.gz,STARR_WHG_K562_Reddy_A001,WSTARRseq_K562_A001,Output,Output.rep2
WSTARRseq_K562_A001.hg38.Output.rep3.WGS.unstranded.bed.gz,STARR_WHG_K562_Reddy_A001,WSTARRseq_K562_A001,Output,Output.rep3

Import Counts:
[1] "WSTARRseq_K562_A001.hg38.Input.rep1.WGS.unstranded.bed.gz"
[2] "WSTARRseq_K562_A001.hg38.Input.rep2.WGS.unstranded.bed.gz"
[3] "WSTARRseq_K562_A001.hg38.Input.rep3.WGS.unstranded.bed.gz"
[4] "WSTARRseq_K562_A001.hg38.Input.rep4.WGS.unstranded.bed.gz"
[5] "WSTARRseq_K562_A001.hg38.Output.rep1.WGS.unstranded.bed.gz"
[6] "WSTARRseq_K562_A001.hg38.Output.rep2.WGS.unstranded.bed.gz"
[7] "WSTARRseq_K562_A001.hg38.Output.rep3.WGS.unstranded.bed.gz"

Save count matrix and data list.

Chrom,ChromStart,ChromEnd,Region,Input.rep1,Input.rep2,Input.rep3,Input.rep4,Output.rep1,Output.rep2,Output.rep3
chr1,10509,10674,chr1:10509-10674,0,0,0,0,0,0,1
chr1,46755,47025,chr1:46755-47025,1,3,1,3,4,1,6
chr1,68969,69964,chr1:68969-69964,1,7,8,4,12,7,23
chr1,78951,79407,chr1:78951-79407,5,13,6,10,11,8,23
chr1,778328,779235,chr1:778328-779235,17,71,52,57,265,268,438
chr1,796042,796413,chr1:796042-796413,2,7,5,3,6,8,11

Chrom,ChromStart,ChromEnd,Region,Input.rep1,Input.rep2,Input.rep3,Input.rep4,Output.rep1,Output.rep2,Output.rep3
chrX,156002345,156002961,chrX:156002345-156002961,13,40,35,43,90,82,172
chrX,156010065,156010405,chrX:156010065-156010405,1,7,7,1,8,3,15
chrX,156016242,156016999,chrX:156016242-156016999,1,3,4,2,9,8,16
chrX,156029850,156030236,chrX:156029850-156030236,1,4,0,0,0,1,4
chrY,4030787,4031055,chrY:4030787-4031055,0,0,0,0,0,0,1
chrY,12394988,12395279,chrY:12394988-12395279,0,0,1,0,0,0,1

====================
Region Folder: encode_open_chromatin
Region Label:  atac_ENCFF925CYR
Assay  Folder: STARR_ATAC_K562_Reddy_KS91

Region Metatable:

FName,Assay,Prefix,Group,Sample
ASTARRseq_K562_KS91.hg38.Input.rep1.WGS.unstranded.bed.gz,STARR_ATAC_K562_Reddy_KS91,ASTARRseq_K562_KS91,Input,Input.rep1
ASTARRseq_K562_KS91.hg38.Input.rep2.WGS.unstranded.bed.gz,STARR_ATAC_K562_Reddy_KS91,ASTARRseq_K562_KS91,Input,Input.rep2
ASTARRseq_K562_KS91.hg38.Input.rep3.WGS.unstranded.bed.gz,STARR_ATAC_K562_Reddy_KS91,ASTARRseq_K562_KS91,Input,Input.rep3
ASTARRseq_K562_KS91.hg38.Input.rep4.WGS.unstranded.bed.gz,STARR_ATAC_K562_Reddy_KS91,ASTARRseq_K562_KS91,Input,Input.rep4
ASTARRseq_K562_KS91.hg38.Input.rep5.WGS.unstranded.bed.gz,STARR_ATAC_K562_Reddy_KS91,ASTARRseq_K562_KS91,Input,Input.rep5
ASTARRseq_K562_KS91.hg38.Input.rep6.WGS.unstranded.bed.gz,STARR_ATAC_K562_Reddy_KS91,ASTARRseq_K562_KS91,Input,Input.rep6
ASTARRseq_K562_KS91.hg38.Output.rep1.WGS.unstranded.bed.gz,STARR_ATAC_K562_Reddy_KS91,ASTARRseq_K562_KS91,Output,Output.rep1
ASTARRseq_K562_KS91.hg38.Output.rep2.WGS.unstranded.bed.gz,STARR_ATAC_K562_Reddy_KS91,ASTARRseq_K562_KS91,Output,Output.rep2
ASTARRseq_K562_KS91.hg38.Output.rep3.WGS.unstranded.bed.gz,STARR_ATAC_K562_Reddy_KS91,ASTARRseq_K562_KS91,Output,Output.rep3
ASTARRseq_K562_KS91.hg38.Output.rep4.WGS.unstranded.bed.gz,STARR_ATAC_K562_Reddy_KS91,ASTARRseq_K562_KS91,Output,Output.rep4

Import Counts:
 [1] "ASTARRseq_K562_KS91.hg38.Input.rep1.WGS.unstranded.bed.gz"
 [2] "ASTARRseq_K562_KS91.hg38.Input.rep2.WGS.unstranded.bed.gz"
 [3] "ASTARRseq_K562_KS91.hg38.Input.rep3.WGS.unstranded.bed.gz"
 [4] "ASTARRseq_K562_KS91.hg38.Input.rep4.WGS.unstranded.bed.gz"
 [5] "ASTARRseq_K562_KS91.hg38.Input.rep5.WGS.unstranded.bed.gz"
 [6] "ASTARRseq_K562_KS91.hg38.Input.rep6.WGS.unstranded.bed.gz"
 [7] "ASTARRseq_K562_KS91.hg38.Output.rep1.WGS.unstranded.bed.gz"
 [8] "ASTARRseq_K562_KS91.hg38.Output.rep2.WGS.unstranded.bed.gz"
 [9] "ASTARRseq_K562_KS91.hg38.Output.rep3.WGS.unstranded.bed.gz"
[10] "ASTARRseq_K562_KS91.hg38.Output.rep4.WGS.unstranded.bed.gz"

Save count matrix and data list.

Chrom,ChromStart,ChromEnd,Region,Input.rep1,Input.rep2,Input.rep3,Input.rep4,Input.rep5,Input.rep6,Output.rep1,Output.rep2,Output.rep3,Output.rep4
chr1,778328,779235,chr1:778328-779235,7262,8508,8751,8406,8362,7792,2566,3646,3941,7268
chr1,817237,818202,chr1:817237-818202,295,405,437,409,385,360,24,57,35,71
chr1,826647,828124,chr1:826647-828124,4835,5959,6230,5947,5845,5510,766,939,1086,2104
chr1,842282,843322,chr1:842282-843322,1119,1395,1520,1449,1372,1227,162,322,329,459
chr1,869581,870256,chr1:869581-870256,1510,1744,1818,1771,1743,1639,89,93,136,286
chr1,898813,899211,chr1:898813-899211,244,276,331,318,285,283,54,68,74,135

Chrom,ChromStart,ChromEnd,Region,Input.rep1,Input.rep2,Input.rep3,Input.rep4,Input.rep5,Input.rep6,Output.rep1,Output.rep2,Output.rep3,Output.rep4
chrX,155820206,155820487,chrX:155820206-155820487,113,162,181,153,153,141,11,40,29,44
chrX,155880939,155881899,chrX:155880939-155881899,2017,2552,2685,2545,2503,2293,460,880,974,1944
chrX,155966905,155967214,chrX:155966905-155967214,161,213,205,188,192,182,16,51,46,57
chrX,156001062,156002118,chrX:156001062-156002118,960,1233,1307,1253,1165,1035,155,347,305,594
chrX,156002345,156002961,chrX:156002345-156002961,604,756,871,833,767,707,110,236,195,435
chrX,156016242,156016999,chrX:156016242-156016999,181,243,240,230,235,215,5,1,3,4

====================
Region Folder: encode_open_chromatin
Region Label:  atac_ENCFF925CYR
Assay  Folder: STARR_WHG_K562_Reddy_A001

Region Metatable:

FName,Assay,Prefix,Group,Sample
WSTARRseq_K562_A001.hg38.Input.rep1.WGS.unstranded.bed.gz,STARR_WHG_K562_Reddy_A001,WSTARRseq_K562_A001,Input,Input.rep1
WSTARRseq_K562_A001.hg38.Input.rep2.WGS.unstranded.bed.gz,STARR_WHG_K562_Reddy_A001,WSTARRseq_K562_A001,Input,Input.rep2
WSTARRseq_K562_A001.hg38.Input.rep3.WGS.unstranded.bed.gz,STARR_WHG_K562_Reddy_A001,WSTARRseq_K562_A001,Input,Input.rep3
WSTARRseq_K562_A001.hg38.Input.rep4.WGS.unstranded.bed.gz,STARR_WHG_K562_Reddy_A001,WSTARRseq_K562_A001,Input,Input.rep4
WSTARRseq_K562_A001.hg38.Output.rep1.WGS.unstranded.bed.gz,STARR_WHG_K562_Reddy_A001,WSTARRseq_K562_A001,Output,Output.rep1
WSTARRseq_K562_A001.hg38.Output.rep2.WGS.unstranded.bed.gz,STARR_WHG_K562_Reddy_A001,WSTARRseq_K562_A001,Output,Output.rep2
WSTARRseq_K562_A001.hg38.Output.rep3.WGS.unstranded.bed.gz,STARR_WHG_K562_Reddy_A001,WSTARRseq_K562_A001,Output,Output.rep3

Import Counts:
[1] "WSTARRseq_K562_A001.hg38.Input.rep1.WGS.unstranded.bed.gz"
[2] "WSTARRseq_K562_A001.hg38.Input.rep2.WGS.unstranded.bed.gz"
[3] "WSTARRseq_K562_A001.hg38.Input.rep3.WGS.unstranded.bed.gz"
[4] "WSTARRseq_K562_A001.hg38.Input.rep4.WGS.unstranded.bed.gz"
[5] "WSTARRseq_K562_A001.hg38.Output.rep1.WGS.unstranded.bed.gz"
[6] "WSTARRseq_K562_A001.hg38.Output.rep2.WGS.unstranded.bed.gz"
[7] "WSTARRseq_K562_A001.hg38.Output.rep3.WGS.unstranded.bed.gz"

Save count matrix and data list.

Chrom,ChromStart,ChromEnd,Region,Input.rep1,Input.rep2,Input.rep3,Input.rep4,Output.rep1,Output.rep2,Output.rep3
chr1,778328,779235,chr1:778328-779235,17,71,52,57,265,268,438
chr1,817237,818202,chr1:817237-818202,8,35,56,50,62,63,139
chr1,826647,828124,chr1:826647-828124,15,62,51,57,165,165,268
chr1,842282,843322,chr1:842282-843322,12,36,36,40,79,64,165
chr1,869581,870256,chr1:869581-870256,14,34,60,47,69,78,135
chr1,898813,899211,chr1:898813-899211,8,19,20,14,37,33,63

Chrom,ChromStart,ChromEnd,Region,Input.rep1,Input.rep2,Input.rep3,Input.rep4,Output.rep1,Output.rep2,Output.rep3
chrX,155820206,155820487,chrX:155820206-155820487,7,27,24,24,51,37,80
chrX,155880939,155881899,chrX:155880939-155881899,15,60,73,58,235,213,393
chrX,155966905,155967214,chrX:155966905-155967214,5,14,20,19,27,35,68
chrX,156001062,156002118,chrX:156001062-156002118,18,44,61,71,137,104,213
chrX,156002345,156002961,chrX:156002345-156002961,13,40,35,43,90,82,172
chrX,156016242,156016999,chrX:156016242-156016999,1,3,4,2,9,8,16

====================
Region Folder: encode_open_chromatin
Region Label:  atac_ENCFF333TAT
Assay  Folder: STARR_ATAC_K562_Reddy_KS91

Region Metatable:

FName,Assay,Prefix,Group,Sample
ASTARRseq_K562_KS91.hg38.Input.rep1.WGS.unstranded.bed.gz,STARR_ATAC_K562_Reddy_KS91,ASTARRseq_K562_KS91,Input,Input.rep1
ASTARRseq_K562_KS91.hg38.Input.rep2.WGS.unstranded.bed.gz,STARR_ATAC_K562_Reddy_KS91,ASTARRseq_K562_KS91,Input,Input.rep2
ASTARRseq_K562_KS91.hg38.Input.rep3.WGS.unstranded.bed.gz,STARR_ATAC_K562_Reddy_KS91,ASTARRseq_K562_KS91,Input,Input.rep3
ASTARRseq_K562_KS91.hg38.Input.rep4.WGS.unstranded.bed.gz,STARR_ATAC_K562_Reddy_KS91,ASTARRseq_K562_KS91,Input,Input.rep4
ASTARRseq_K562_KS91.hg38.Input.rep5.WGS.unstranded.bed.gz,STARR_ATAC_K562_Reddy_KS91,ASTARRseq_K562_KS91,Input,Input.rep5
ASTARRseq_K562_KS91.hg38.Input.rep6.WGS.unstranded.bed.gz,STARR_ATAC_K562_Reddy_KS91,ASTARRseq_K562_KS91,Input,Input.rep6
ASTARRseq_K562_KS91.hg38.Output.rep1.WGS.unstranded.bed.gz,STARR_ATAC_K562_Reddy_KS91,ASTARRseq_K562_KS91,Output,Output.rep1
ASTARRseq_K562_KS91.hg38.Output.rep2.WGS.unstranded.bed.gz,STARR_ATAC_K562_Reddy_KS91,ASTARRseq_K562_KS91,Output,Output.rep2
ASTARRseq_K562_KS91.hg38.Output.rep3.WGS.unstranded.bed.gz,STARR_ATAC_K562_Reddy_KS91,ASTARRseq_K562_KS91,Output,Output.rep3
ASTARRseq_K562_KS91.hg38.Output.rep4.WGS.unstranded.bed.gz,STARR_ATAC_K562_Reddy_KS91,ASTARRseq_K562_KS91,Output,Output.rep4

Import Counts:
 [1] "ASTARRseq_K562_KS91.hg38.Input.rep1.WGS.unstranded.bed.gz"
 [2] "ASTARRseq_K562_KS91.hg38.Input.rep2.WGS.unstranded.bed.gz"
 [3] "ASTARRseq_K562_KS91.hg38.Input.rep3.WGS.unstranded.bed.gz"
 [4] "ASTARRseq_K562_KS91.hg38.Input.rep4.WGS.unstranded.bed.gz"
 [5] "ASTARRseq_K562_KS91.hg38.Input.rep5.WGS.unstranded.bed.gz"
 [6] "ASTARRseq_K562_KS91.hg38.Input.rep6.WGS.unstranded.bed.gz"
 [7] "ASTARRseq_K562_KS91.hg38.Output.rep1.WGS.unstranded.bed.gz"
 [8] "ASTARRseq_K562_KS91.hg38.Output.rep2.WGS.unstranded.bed.gz"
 [9] "ASTARRseq_K562_KS91.hg38.Output.rep3.WGS.unstranded.bed.gz"
[10] "ASTARRseq_K562_KS91.hg38.Output.rep4.WGS.unstranded.bed.gz"

Save count matrix and data list.

Chrom,ChromStart,ChromEnd,Region,Input.rep1,Input.rep2,Input.rep3,Input.rep4,Input.rep5,Input.rep6,Output.rep1,Output.rep2,Output.rep3,Output.rep4
chr1,40649,41403,chr1:40649-41403,1,0,2,1,1,1,1,0,0,0
chr1,42030,42399,chr1:42030-42399,0,0,0,0,0,1,0,0,0,0
chr1,46255,47025,chr1:46255-47025,4,4,4,4,3,3,0,0,0,0
chr1,67629,67864,chr1:67629-67864,0,0,1,0,0,0,0,0,0,0
chr1,68056,68341,chr1:68056-68341,1,2,2,0,1,1,0,0,0,3
chr1,68963,70035,chr1:68963-70035,24,29,20,25,23,19,0,0,0,5

Chrom,ChromStart,ChromEnd,Region,Input.rep1,Input.rep2,Input.rep3,Input.rep4,Input.rep5,Input.rep6,Output.rep1,Output.rep2,Output.rep3,Output.rep4
chrX,155966905,155967214,chrX:155966905-155967214,161,213,205,188,192,182,16,51,46,57
chrX,155997354,155997876,chrX:155997354-155997876,634,780,845,770,757,700,64,121,92,223
chrX,156001041,156001937,chrX:156001041-156001937,904,1159,1217,1181,1089,969,158,337,296,571
chrX,156002261,156002983,chrX:156002261-156002983,645,814,928,897,829,763,116,255,207,451
chrX,156010068,156011134,chrX:156010068-156011134,68,66,92,73,77,57,6,3,3,13
chrX,156015981,156017173,chrX:156015981-156017173,210,284,298,271,273,242,5,1,3,4

====================
Region Folder: encode_open_chromatin
Region Label:  atac_ENCFF333TAT
Assay  Folder: STARR_WHG_K562_Reddy_A001

Region Metatable:

FName,Assay,Prefix,Group,Sample
WSTARRseq_K562_A001.hg38.Input.rep1.WGS.unstranded.bed.gz,STARR_WHG_K562_Reddy_A001,WSTARRseq_K562_A001,Input,Input.rep1
WSTARRseq_K562_A001.hg38.Input.rep2.WGS.unstranded.bed.gz,STARR_WHG_K562_Reddy_A001,WSTARRseq_K562_A001,Input,Input.rep2
WSTARRseq_K562_A001.hg38.Input.rep3.WGS.unstranded.bed.gz,STARR_WHG_K562_Reddy_A001,WSTARRseq_K562_A001,Input,Input.rep3
WSTARRseq_K562_A001.hg38.Input.rep4.WGS.unstranded.bed.gz,STARR_WHG_K562_Reddy_A001,WSTARRseq_K562_A001,Input,Input.rep4
WSTARRseq_K562_A001.hg38.Output.rep1.WGS.unstranded.bed.gz,STARR_WHG_K562_Reddy_A001,WSTARRseq_K562_A001,Output,Output.rep1
WSTARRseq_K562_A001.hg38.Output.rep2.WGS.unstranded.bed.gz,STARR_WHG_K562_Reddy_A001,WSTARRseq_K562_A001,Output,Output.rep2
WSTARRseq_K562_A001.hg38.Output.rep3.WGS.unstranded.bed.gz,STARR_WHG_K562_Reddy_A001,WSTARRseq_K562_A001,Output,Output.rep3

Import Counts:
[1] "WSTARRseq_K562_A001.hg38.Input.rep1.WGS.unstranded.bed.gz"
[2] "WSTARRseq_K562_A001.hg38.Input.rep2.WGS.unstranded.bed.gz"
[3] "WSTARRseq_K562_A001.hg38.Input.rep3.WGS.unstranded.bed.gz"
[4] "WSTARRseq_K562_A001.hg38.Input.rep4.WGS.unstranded.bed.gz"
[5] "WSTARRseq_K562_A001.hg38.Output.rep1.WGS.unstranded.bed.gz"
[6] "WSTARRseq_K562_A001.hg38.Output.rep2.WGS.unstranded.bed.gz"
[7] "WSTARRseq_K562_A001.hg38.Output.rep3.WGS.unstranded.bed.gz"

Save count matrix and data list.

Chrom,ChromStart,ChromEnd,Region,Input.rep1,Input.rep2,Input.rep3,Input.rep4,Output.rep1,Output.rep2,Output.rep3
chr1,46255,47025,chr1:46255-47025,2,4,1,3,6,1,8
chr1,67629,67864,chr1:67629-67864,0,1,0,1,0,0,2
chr1,68056,68341,chr1:68056-68341,0,1,1,1,3,1,2
chr1,68963,70035,chr1:68963-70035,1,7,8,4,12,7,23
chr1,79151,79653,chr1:79151-79653,6,16,10,12,13,17,28
chr1,87574,88453,chr1:87574-88453,2,22,14,20,22,20,47

Chrom,ChromStart,ChromEnd,Region,Input.rep1,Input.rep2,Input.rep3,Input.rep4,Output.rep1,Output.rep2,Output.rep3
chrX,156015981,156017173,chrX:156015981-156017173,1,3,4,2,12,8,17
chrY,4030688,4031055,chrY:4030688-4031055,0,0,0,0,0,0,1
chrY,11097630,11097859,chrY:11097630-11097859,5,8,5,7,18,17,37
chrY,11098228,11099023,chrY:11098228-11099023,7,26,34,35,85,76,130
chrY,11103101,11103309,chrY:11103101-11103309,5,8,7,6,10,11,27
chrY,12394949,12395289,chrY:12394949-12395289,0,0,1,0,0,1,1

====================
Region Folder: encode_open_chromatin
Region Label:  atac_ENCFF948AFM
Assay  Folder: STARR_ATAC_K562_Reddy_KS91

Region Metatable:

FName,Assay,Prefix,Group,Sample
ASTARRseq_K562_KS91.hg38.Input.rep1.WGS.unstranded.bed.gz,STARR_ATAC_K562_Reddy_KS91,ASTARRseq_K562_KS91,Input,Input.rep1
ASTARRseq_K562_KS91.hg38.Input.rep2.WGS.unstranded.bed.gz,STARR_ATAC_K562_Reddy_KS91,ASTARRseq_K562_KS91,Input,Input.rep2
ASTARRseq_K562_KS91.hg38.Input.rep3.WGS.unstranded.bed.gz,STARR_ATAC_K562_Reddy_KS91,ASTARRseq_K562_KS91,Input,Input.rep3
ASTARRseq_K562_KS91.hg38.Input.rep4.WGS.unstranded.bed.gz,STARR_ATAC_K562_Reddy_KS91,ASTARRseq_K562_KS91,Input,Input.rep4
ASTARRseq_K562_KS91.hg38.Input.rep5.WGS.unstranded.bed.gz,STARR_ATAC_K562_Reddy_KS91,ASTARRseq_K562_KS91,Input,Input.rep5
ASTARRseq_K562_KS91.hg38.Input.rep6.WGS.unstranded.bed.gz,STARR_ATAC_K562_Reddy_KS91,ASTARRseq_K562_KS91,Input,Input.rep6
ASTARRseq_K562_KS91.hg38.Output.rep1.WGS.unstranded.bed.gz,STARR_ATAC_K562_Reddy_KS91,ASTARRseq_K562_KS91,Output,Output.rep1
ASTARRseq_K562_KS91.hg38.Output.rep2.WGS.unstranded.bed.gz,STARR_ATAC_K562_Reddy_KS91,ASTARRseq_K562_KS91,Output,Output.rep2
ASTARRseq_K562_KS91.hg38.Output.rep3.WGS.unstranded.bed.gz,STARR_ATAC_K562_Reddy_KS91,ASTARRseq_K562_KS91,Output,Output.rep3
ASTARRseq_K562_KS91.hg38.Output.rep4.WGS.unstranded.bed.gz,STARR_ATAC_K562_Reddy_KS91,ASTARRseq_K562_KS91,Output,Output.rep4

Import Counts:
 [1] "ASTARRseq_K562_KS91.hg38.Input.rep1.WGS.unstranded.bed.gz"
 [2] "ASTARRseq_K562_KS91.hg38.Input.rep2.WGS.unstranded.bed.gz"
 [3] "ASTARRseq_K562_KS91.hg38.Input.rep3.WGS.unstranded.bed.gz"
 [4] "ASTARRseq_K562_KS91.hg38.Input.rep4.WGS.unstranded.bed.gz"
 [5] "ASTARRseq_K562_KS91.hg38.Input.rep5.WGS.unstranded.bed.gz"
 [6] "ASTARRseq_K562_KS91.hg38.Input.rep6.WGS.unstranded.bed.gz"
 [7] "ASTARRseq_K562_KS91.hg38.Output.rep1.WGS.unstranded.bed.gz"
 [8] "ASTARRseq_K562_KS91.hg38.Output.rep2.WGS.unstranded.bed.gz"
 [9] "ASTARRseq_K562_KS91.hg38.Output.rep3.WGS.unstranded.bed.gz"
[10] "ASTARRseq_K562_KS91.hg38.Output.rep4.WGS.unstranded.bed.gz"

Save count matrix and data list.

Chrom,ChromStart,ChromEnd,Region,Input.rep1,Input.rep2,Input.rep3,Input.rep4,Input.rep5,Input.rep6,Output.rep1,Output.rep2,Output.rep3,Output.rep4
chr1,42030,42399,chr1:42030-42399,0,0,0,0,0,1,0,0,0,0
chr1,68963,70035,chr1:68963-70035,24,29,20,25,23,19,0,0,0,5
chr1,79151,79653,chr1:79151-79653,24,30,43,33,32,38,0,9,11,3
chr1,778339,779268,chr1:778339-779268,7304,8576,8809,8458,8425,7842,2569,3656,3967,7288
chr1,804424,805054,chr1:804424-805054,94,127,133,115,127,107,12,19,18,38
chr1,811420,811854,chr1:811420-811854,59,80,108,92,82,83,10,9,7,7

Chrom,ChromStart,ChromEnd,Region,Input.rep1,Input.rep2,Input.rep3,Input.rep4,Input.rep5,Input.rep6,Output.rep1,Output.rep2,Output.rep3,Output.rep4
chrX,155893205,155894110,chrX:155893205-155894110,237,298,334,327,336,265,27,50,57,109
chrX,155966905,155967214,chrX:155966905-155967214,161,213,205,188,192,182,16,51,46,57
chrX,155997354,155997876,chrX:155997354-155997876,634,780,845,770,757,700,64,121,92,223
chrX,156001041,156001937,chrX:156001041-156001937,904,1159,1217,1181,1089,969,158,337,296,571
chrX,156002261,156002983,chrX:156002261-156002983,645,814,928,897,829,763,116,255,207,451
chrX,156015981,156017173,chrX:156015981-156017173,210,284,298,271,273,242,5,1,3,4

====================
Region Folder: encode_open_chromatin
Region Label:  atac_ENCFF948AFM
Assay  Folder: STARR_WHG_K562_Reddy_A001

Region Metatable:

FName,Assay,Prefix,Group,Sample
WSTARRseq_K562_A001.hg38.Input.rep1.WGS.unstranded.bed.gz,STARR_WHG_K562_Reddy_A001,WSTARRseq_K562_A001,Input,Input.rep1
WSTARRseq_K562_A001.hg38.Input.rep2.WGS.unstranded.bed.gz,STARR_WHG_K562_Reddy_A001,WSTARRseq_K562_A001,Input,Input.rep2
WSTARRseq_K562_A001.hg38.Input.rep3.WGS.unstranded.bed.gz,STARR_WHG_K562_Reddy_A001,WSTARRseq_K562_A001,Input,Input.rep3
WSTARRseq_K562_A001.hg38.Input.rep4.WGS.unstranded.bed.gz,STARR_WHG_K562_Reddy_A001,WSTARRseq_K562_A001,Input,Input.rep4
WSTARRseq_K562_A001.hg38.Output.rep1.WGS.unstranded.bed.gz,STARR_WHG_K562_Reddy_A001,WSTARRseq_K562_A001,Output,Output.rep1
WSTARRseq_K562_A001.hg38.Output.rep2.WGS.unstranded.bed.gz,STARR_WHG_K562_Reddy_A001,WSTARRseq_K562_A001,Output,Output.rep2
WSTARRseq_K562_A001.hg38.Output.rep3.WGS.unstranded.bed.gz,STARR_WHG_K562_Reddy_A001,WSTARRseq_K562_A001,Output,Output.rep3

Import Counts:
[1] "WSTARRseq_K562_A001.hg38.Input.rep1.WGS.unstranded.bed.gz"
[2] "WSTARRseq_K562_A001.hg38.Input.rep2.WGS.unstranded.bed.gz"
[3] "WSTARRseq_K562_A001.hg38.Input.rep3.WGS.unstranded.bed.gz"
[4] "WSTARRseq_K562_A001.hg38.Input.rep4.WGS.unstranded.bed.gz"
[5] "WSTARRseq_K562_A001.hg38.Output.rep1.WGS.unstranded.bed.gz"
[6] "WSTARRseq_K562_A001.hg38.Output.rep2.WGS.unstranded.bed.gz"
[7] "WSTARRseq_K562_A001.hg38.Output.rep3.WGS.unstranded.bed.gz"

Save count matrix and data list.

Chrom,ChromStart,ChromEnd,Region,Input.rep1,Input.rep2,Input.rep3,Input.rep4,Output.rep1,Output.rep2,Output.rep3
chr1,68963,70035,chr1:68963-70035,1,7,8,4,12,7,23
chr1,79151,79653,chr1:79151-79653,6,16,10,12,13,17,28
chr1,778339,779268,chr1:778339-779268,17,71,52,57,265,268,441
chr1,804424,805054,chr1:804424-805054,2,11,6,8,12,17,47
chr1,811420,811854,chr1:811420-811854,1,2,5,3,6,13,12
chr1,812328,812983,chr1:812328-812983,4,12,16,18,34,35,72

Chrom,ChromStart,ChromEnd,Region,Input.rep1,Input.rep2,Input.rep3,Input.rep4,Output.rep1,Output.rep2,Output.rep3
chrX,156001041,156001937,chrX:156001041-156001937,18,40,55,58,127,98,201
chrX,156002261,156002983,chrX:156002261-156002983,14,43,45,44,105,88,184
chrX,156015981,156017173,chrX:156015981-156017173,1,3,4,2,12,8,17
chrY,4030688,4031055,chrY:4030688-4031055,0,0,0,0,0,0,1
chrY,11098228,11099023,chrY:11098228-11099023,7,26,34,35,85,76,130
chrY,11103101,11103309,chrY:11103101-11103309,5,8,7,6,10,11,27

====================
Region Folder: fcc_astarr_macs
Region Label:  astarr_macs_input_overlap
Assay  Folder: STARR_ATAC_K562_Reddy_KS91

Region Metatable:

FName,Assay,Prefix,Group,Sample
ASTARRseq_K562_KS91.hg38.Input.rep1.WGS.unstranded.bed.gz,STARR_ATAC_K562_Reddy_KS91,ASTARRseq_K562_KS91,Input,Input.rep1
ASTARRseq_K562_KS91.hg38.Input.rep2.WGS.unstranded.bed.gz,STARR_ATAC_K562_Reddy_KS91,ASTARRseq_K562_KS91,Input,Input.rep2
ASTARRseq_K562_KS91.hg38.Input.rep3.WGS.unstranded.bed.gz,STARR_ATAC_K562_Reddy_KS91,ASTARRseq_K562_KS91,Input,Input.rep3
ASTARRseq_K562_KS91.hg38.Input.rep4.WGS.unstranded.bed.gz,STARR_ATAC_K562_Reddy_KS91,ASTARRseq_K562_KS91,Input,Input.rep4
ASTARRseq_K562_KS91.hg38.Input.rep5.WGS.unstranded.bed.gz,STARR_ATAC_K562_Reddy_KS91,ASTARRseq_K562_KS91,Input,Input.rep5
ASTARRseq_K562_KS91.hg38.Input.rep6.WGS.unstranded.bed.gz,STARR_ATAC_K562_Reddy_KS91,ASTARRseq_K562_KS91,Input,Input.rep6
ASTARRseq_K562_KS91.hg38.Output.rep1.WGS.unstranded.bed.gz,STARR_ATAC_K562_Reddy_KS91,ASTARRseq_K562_KS91,Output,Output.rep1
ASTARRseq_K562_KS91.hg38.Output.rep2.WGS.unstranded.bed.gz,STARR_ATAC_K562_Reddy_KS91,ASTARRseq_K562_KS91,Output,Output.rep2
ASTARRseq_K562_KS91.hg38.Output.rep3.WGS.unstranded.bed.gz,STARR_ATAC_K562_Reddy_KS91,ASTARRseq_K562_KS91,Output,Output.rep3
ASTARRseq_K562_KS91.hg38.Output.rep4.WGS.unstranded.bed.gz,STARR_ATAC_K562_Reddy_KS91,ASTARRseq_K562_KS91,Output,Output.rep4

Import Counts:
 [1] "ASTARRseq_K562_KS91.hg38.Input.rep1.WGS.unstranded.bed.gz"
 [2] "ASTARRseq_K562_KS91.hg38.Input.rep2.WGS.unstranded.bed.gz"
 [3] "ASTARRseq_K562_KS91.hg38.Input.rep3.WGS.unstranded.bed.gz"
 [4] "ASTARRseq_K562_KS91.hg38.Input.rep4.WGS.unstranded.bed.gz"
 [5] "ASTARRseq_K562_KS91.hg38.Input.rep5.WGS.unstranded.bed.gz"
 [6] "ASTARRseq_K562_KS91.hg38.Input.rep6.WGS.unstranded.bed.gz"
 [7] "ASTARRseq_K562_KS91.hg38.Output.rep1.WGS.unstranded.bed.gz"
 [8] "ASTARRseq_K562_KS91.hg38.Output.rep2.WGS.unstranded.bed.gz"
 [9] "ASTARRseq_K562_KS91.hg38.Output.rep3.WGS.unstranded.bed.gz"
[10] "ASTARRseq_K562_KS91.hg38.Output.rep4.WGS.unstranded.bed.gz"

Save count matrix and data list.

Chrom,ChromStart,ChromEnd,Region,Input.rep1,Input.rep2,Input.rep3,Input.rep4,Input.rep5,Input.rep6,Output.rep1,Output.rep2,Output.rep3,Output.rep4
chr1,10038,10405,chr1:10038-10405,145,207,244,229,178,206,5,12,4,10
chr1,14282,14614,chr1:14282-14614,106,139,153,137,123,128,8,23,26,41
chr1,16025,16338,chr1:16025-16338,124,189,175,170,178,164,8,7,15,18
chr1,17288,17689,chr1:17288-17689,259,350,400,367,369,331,7,13,23,59
chr1,28934,29499,chr1:28934-29499,258,324,349,324,346,310,8,11,3,26
chr1,115429,115969,chr1:115429-115969,950,1174,1276,1151,1179,1054,234,443,469,752

Chrom,ChromStart,ChromEnd,Region,Input.rep1,Input.rep2,Input.rep3,Input.rep4,Input.rep5,Input.rep6,Output.rep1,Output.rep2,Output.rep3,Output.rep4
chrX,155997331,155998028,chrX:155997331-155998028,714,879,938,857,852,791,76,125,106,244
chrX,156000431,156003126,chrX:156000431-156003126,2176,2759,2996,2889,2641,2458,314,681,637,1185
chrX,156009723,156010194,chrX:156009723-156010194,115,133,151,128,135,131,6,7,9,6
chrX,156016432,156016780,chrX:156016432-156016780,142,191,190,177,187,170,3,1,1,2
chrX,156024963,156025554,chrX:156024963-156025554,304,373,418,411,402,345,20,46,43,109
chrX,156030352,156030709,chrX:156030352-156030709,143,224,221,216,205,167,0,0,1,0

====================
Region Folder: fcc_astarr_macs
Region Label:  astarr_macs_input_overlap
Assay  Folder: STARR_WHG_K562_Reddy_A001

Region Metatable:

FName,Assay,Prefix,Group,Sample
WSTARRseq_K562_A001.hg38.Input.rep1.WGS.unstranded.bed.gz,STARR_WHG_K562_Reddy_A001,WSTARRseq_K562_A001,Input,Input.rep1
WSTARRseq_K562_A001.hg38.Input.rep2.WGS.unstranded.bed.gz,STARR_WHG_K562_Reddy_A001,WSTARRseq_K562_A001,Input,Input.rep2
WSTARRseq_K562_A001.hg38.Input.rep3.WGS.unstranded.bed.gz,STARR_WHG_K562_Reddy_A001,WSTARRseq_K562_A001,Input,Input.rep3
WSTARRseq_K562_A001.hg38.Input.rep4.WGS.unstranded.bed.gz,STARR_WHG_K562_Reddy_A001,WSTARRseq_K562_A001,Input,Input.rep4
WSTARRseq_K562_A001.hg38.Output.rep1.WGS.unstranded.bed.gz,STARR_WHG_K562_Reddy_A001,WSTARRseq_K562_A001,Output,Output.rep1
WSTARRseq_K562_A001.hg38.Output.rep2.WGS.unstranded.bed.gz,STARR_WHG_K562_Reddy_A001,WSTARRseq_K562_A001,Output,Output.rep2
WSTARRseq_K562_A001.hg38.Output.rep3.WGS.unstranded.bed.gz,STARR_WHG_K562_Reddy_A001,WSTARRseq_K562_A001,Output,Output.rep3

Import Counts:
[1] "WSTARRseq_K562_A001.hg38.Input.rep1.WGS.unstranded.bed.gz"
[2] "WSTARRseq_K562_A001.hg38.Input.rep2.WGS.unstranded.bed.gz"
[3] "WSTARRseq_K562_A001.hg38.Input.rep3.WGS.unstranded.bed.gz"
[4] "WSTARRseq_K562_A001.hg38.Input.rep4.WGS.unstranded.bed.gz"
[5] "WSTARRseq_K562_A001.hg38.Output.rep1.WGS.unstranded.bed.gz"
[6] "WSTARRseq_K562_A001.hg38.Output.rep2.WGS.unstranded.bed.gz"
[7] "WSTARRseq_K562_A001.hg38.Output.rep3.WGS.unstranded.bed.gz"

Save count matrix and data list.

Chrom,ChromStart,ChromEnd,Region,Input.rep1,Input.rep2,Input.rep3,Input.rep4,Output.rep1,Output.rep2,Output.rep3
chr1,10038,10405,chr1:10038-10405,0,1,1,1,0,0,0
chr1,14282,14614,chr1:14282-14614,0,0,0,0,0,0,1
chr1,16025,16338,chr1:16025-16338,0,2,7,8,17,6,20
chr1,17288,17689,chr1:17288-17689,5,12,15,17,18,22,27
chr1,28934,29499,chr1:28934-29499,0,0,1,0,5,3,7
chr1,115429,115969,chr1:115429-115969,0,1,2,0,2,2,8

Chrom,ChromStart,ChromEnd,Region,Input.rep1,Input.rep2,Input.rep3,Input.rep4,Output.rep1,Output.rep2,Output.rep3
chrX,155997331,155998028,chrX:155997331-155998028,15,45,37,38,59,55,158
chrX,156000431,156003126,chrX:156000431-156003126,53,150,159,163,353,317,593
chrX,156009723,156010194,chrX:156009723-156010194,1,9,7,5,8,5,16
chrX,156016432,156016780,chrX:156016432-156016780,1,1,1,1,8,5,9
chrX,156024963,156025554,chrX:156024963-156025554,0,13,19,13,33,23,73
chrX,156030352,156030709,chrX:156030352-156030709,0,1,2,1,0,2,0

====================
Region Folder: fcc_astarr_macs
Region Label:  astarr_macs_input_union
Assay  Folder: STARR_ATAC_K562_Reddy_KS91

Region Metatable:

FName,Assay,Prefix,Group,Sample
ASTARRseq_K562_KS91.hg38.Input.rep1.WGS.unstranded.bed.gz,STARR_ATAC_K562_Reddy_KS91,ASTARRseq_K562_KS91,Input,Input.rep1
ASTARRseq_K562_KS91.hg38.Input.rep2.WGS.unstranded.bed.gz,STARR_ATAC_K562_Reddy_KS91,ASTARRseq_K562_KS91,Input,Input.rep2
ASTARRseq_K562_KS91.hg38.Input.rep3.WGS.unstranded.bed.gz,STARR_ATAC_K562_Reddy_KS91,ASTARRseq_K562_KS91,Input,Input.rep3
ASTARRseq_K562_KS91.hg38.Input.rep4.WGS.unstranded.bed.gz,STARR_ATAC_K562_Reddy_KS91,ASTARRseq_K562_KS91,Input,Input.rep4
ASTARRseq_K562_KS91.hg38.Input.rep5.WGS.unstranded.bed.gz,STARR_ATAC_K562_Reddy_KS91,ASTARRseq_K562_KS91,Input,Input.rep5
ASTARRseq_K562_KS91.hg38.Input.rep6.WGS.unstranded.bed.gz,STARR_ATAC_K562_Reddy_KS91,ASTARRseq_K562_KS91,Input,Input.rep6
ASTARRseq_K562_KS91.hg38.Output.rep1.WGS.unstranded.bed.gz,STARR_ATAC_K562_Reddy_KS91,ASTARRseq_K562_KS91,Output,Output.rep1
ASTARRseq_K562_KS91.hg38.Output.rep2.WGS.unstranded.bed.gz,STARR_ATAC_K562_Reddy_KS91,ASTARRseq_K562_KS91,Output,Output.rep2
ASTARRseq_K562_KS91.hg38.Output.rep3.WGS.unstranded.bed.gz,STARR_ATAC_K562_Reddy_KS91,ASTARRseq_K562_KS91,Output,Output.rep3
ASTARRseq_K562_KS91.hg38.Output.rep4.WGS.unstranded.bed.gz,STARR_ATAC_K562_Reddy_KS91,ASTARRseq_K562_KS91,Output,Output.rep4

Import Counts:
 [1] "ASTARRseq_K562_KS91.hg38.Input.rep1.WGS.unstranded.bed.gz"
 [2] "ASTARRseq_K562_KS91.hg38.Input.rep2.WGS.unstranded.bed.gz"
 [3] "ASTARRseq_K562_KS91.hg38.Input.rep3.WGS.unstranded.bed.gz"
 [4] "ASTARRseq_K562_KS91.hg38.Input.rep4.WGS.unstranded.bed.gz"
 [5] "ASTARRseq_K562_KS91.hg38.Input.rep5.WGS.unstranded.bed.gz"
 [6] "ASTARRseq_K562_KS91.hg38.Input.rep6.WGS.unstranded.bed.gz"
 [7] "ASTARRseq_K562_KS91.hg38.Output.rep1.WGS.unstranded.bed.gz"
 [8] "ASTARRseq_K562_KS91.hg38.Output.rep2.WGS.unstranded.bed.gz"
 [9] "ASTARRseq_K562_KS91.hg38.Output.rep3.WGS.unstranded.bed.gz"
[10] "ASTARRseq_K562_KS91.hg38.Output.rep4.WGS.unstranded.bed.gz"

Save count matrix and data list.

Chrom,ChromStart,ChromEnd,Region,Input.rep1,Input.rep2,Input.rep3,Input.rep4,Input.rep5,Input.rep6,Output.rep1,Output.rep2,Output.rep3,Output.rep4
chr1,10015,10442,chr1:10015-10442,155,214,257,236,185,214,7,12,4,11
chr1,14253,14645,chr1:14253-14645,110,144,160,141,130,130,8,26,30,57
chr1,16015,16477,chr1:16015-16477,141,208,206,190,202,182,9,9,18,23
chr1,17237,17772,chr1:17237-17772,259,350,399,367,369,331,7,13,23,59
chr1,28903,29613,chr1:28903-29613,263,338,368,333,352,317,12,18,3,32
chr1,30803,31072,chr1:30803-31072,82,115,171,136,105,115,13,22,14,33

Chrom,ChromStart,ChromEnd,Region,Input.rep1,Input.rep2,Input.rep3,Input.rep4,Input.rep5,Input.rep6,Output.rep1,Output.rep2,Output.rep3,Output.rep4
chrX,155997267,155998045,chrX:155997267-155998045,740,901,972,885,878,818,76,129,110,254
chrX,156000382,156003205,chrX:156000382-156003205,2232,2835,3075,2965,2708,2511,316,692,646,1202
chrX,156009687,156010227,chrX:156009687-156010227,136,163,194,156,171,161,6,7,12,17
chrX,156016391,156016836,chrX:156016391-156016836,146,197,197,186,193,178,4,1,2,2
chrX,156024950,156025593,chrX:156024950-156025593,307,381,422,418,408,350,20,46,43,112
chrX,156030187,156030740,chrX:156030187-156030740,164,254,249,238,236,187,3,5,3,2

====================
Region Folder: fcc_astarr_macs
Region Label:  astarr_macs_input_union
Assay  Folder: STARR_WHG_K562_Reddy_A001

Region Metatable:

FName,Assay,Prefix,Group,Sample
WSTARRseq_K562_A001.hg38.Input.rep1.WGS.unstranded.bed.gz,STARR_WHG_K562_Reddy_A001,WSTARRseq_K562_A001,Input,Input.rep1
WSTARRseq_K562_A001.hg38.Input.rep2.WGS.unstranded.bed.gz,STARR_WHG_K562_Reddy_A001,WSTARRseq_K562_A001,Input,Input.rep2
WSTARRseq_K562_A001.hg38.Input.rep3.WGS.unstranded.bed.gz,STARR_WHG_K562_Reddy_A001,WSTARRseq_K562_A001,Input,Input.rep3
WSTARRseq_K562_A001.hg38.Input.rep4.WGS.unstranded.bed.gz,STARR_WHG_K562_Reddy_A001,WSTARRseq_K562_A001,Input,Input.rep4
WSTARRseq_K562_A001.hg38.Output.rep1.WGS.unstranded.bed.gz,STARR_WHG_K562_Reddy_A001,WSTARRseq_K562_A001,Output,Output.rep1
WSTARRseq_K562_A001.hg38.Output.rep2.WGS.unstranded.bed.gz,STARR_WHG_K562_Reddy_A001,WSTARRseq_K562_A001,Output,Output.rep2
WSTARRseq_K562_A001.hg38.Output.rep3.WGS.unstranded.bed.gz,STARR_WHG_K562_Reddy_A001,WSTARRseq_K562_A001,Output,Output.rep3

Import Counts:
[1] "WSTARRseq_K562_A001.hg38.Input.rep1.WGS.unstranded.bed.gz"
[2] "WSTARRseq_K562_A001.hg38.Input.rep2.WGS.unstranded.bed.gz"
[3] "WSTARRseq_K562_A001.hg38.Input.rep3.WGS.unstranded.bed.gz"
[4] "WSTARRseq_K562_A001.hg38.Input.rep4.WGS.unstranded.bed.gz"
[5] "WSTARRseq_K562_A001.hg38.Output.rep1.WGS.unstranded.bed.gz"
[6] "WSTARRseq_K562_A001.hg38.Output.rep2.WGS.unstranded.bed.gz"
[7] "WSTARRseq_K562_A001.hg38.Output.rep3.WGS.unstranded.bed.gz"

Save count matrix and data list.

Chrom,ChromStart,ChromEnd,Region,Input.rep1,Input.rep2,Input.rep3,Input.rep4,Output.rep1,Output.rep2,Output.rep3
chr1,10015,10442,chr1:10015-10442,1,1,1,1,0,0,0
chr1,14253,14645,chr1:14253-14645,0,0,0,0,0,0,1
chr1,16015,16477,chr1:16015-16477,0,6,9,12,20,14,33
chr1,17237,17772,chr1:17237-17772,5,12,15,17,18,23,27
chr1,28903,29613,chr1:28903-29613,0,0,1,0,5,3,7
chr1,101603,101849,chr1:101603-101849,0,0,1,1,1,0,3

Chrom,ChromStart,ChromEnd,Region,Input.rep1,Input.rep2,Input.rep3,Input.rep4,Output.rep1,Output.rep2,Output.rep3
chrX,155997267,155998045,chrX:155997267-155998045,17,46,40,43,61,60,171
chrX,156000382,156003205,chrX:156000382-156003205,55,157,169,168,369,336,620
chrX,156009687,156010227,chrX:156009687-156010227,1,9,7,5,8,5,16
chrX,156016391,156016836,chrX:156016391-156016836,1,1,1,1,8,7,11
chrX,156024950,156025593,chrX:156024950-156025593,2,13,19,13,38,26,82
chrX,156030187,156030740,chrX:156030187-156030740,0,1,2,2,0,2,2