---
title: Region Coverage 21
subtitle: Apply DESeq2 to process count matrix (STARR)
format:
    html:
        code-fold:  true
        code-tools: true
---

**Set environment**

In [1]:
suppressMessages(suppressWarnings(source("../run_config_project_sing.R")))
suppressMessages(suppressWarnings(library("DESeq2")))
show_env()

You are working on        Singularity
BASE DIRECTORY (FD_BASE): /mount
REPO DIRECTORY (FD_REPO): /mount/repo
WORK DIRECTORY (FD_WORK): /mount/work
DATA DIRECTORY (FD_DATA): /mount/data

You are working with      ENCODE FCC
PATH OF PROJECT (FD_PRJ): /mount/repo/Proj_CombEffect_ENCODE_FCC
PROJECT RESULTS (FD_RES): /mount/repo/Proj_CombEffect_ENCODE_FCC/results
PROJECT SCRIPTS (FD_EXE): /mount/repo/Proj_CombEffect_ENCODE_FCC/scripts
PROJECT DATA    (FD_DAT): /mount/repo/Proj_CombEffect_ENCODE_FCC/data
PROJECT NOTE    (FD_NBK): /mount/repo/Proj_CombEffect_ENCODE_FCC/notebooks
PROJECT DOCS    (FD_DOC): /mount/repo/Proj_CombEffect_ENCODE_FCC/docs
PROJECT LOG     (FD_LOG): /mount/repo/Proj_CombEffect_ENCODE_FCC/log
PROJECT APP     (FD_APP): /mount/repo/Proj_CombEffect_ENCODE_FCC/app
PROJECT REF     (FD_REF): /mount/repo/Proj_CombEffect_ENCODE_FCC/references

In [2]:
txt_fdiry = file.path(FD_RES, "assay_fcc")
dir(txt_fdiry)

[1] "MPRA_Tiling_K562_Tewhey_hannah" "STARR_ATAC_K562_Reddy_KS91"
[3] "STARR_WHG_K562_Reddy_A001"

In [3]:
VEC_TXT_ASSAY = c(
    "STARR_ATAC_K562_Reddy_KS91",
    "STARR_WHG_K562_Reddy_A001"
)

In [4]:
for (txt_assay in VEC_TXT_ASSAY) {
    cat(txt_assay, "\n")
    txt_fdiry = file.path(FD_RES, "assay_fcc", txt_assay, "coverage", "*", "*", "summary")
    txt_fname = "data_list_count_column.rds"
    txt_fglob = file.path(txt_fdiry, txt_fname)
    
    vec_txt_fpath = Sys.glob(txt_fglob)
    
    for (txt_fpath in vec_txt_fpath){
        txt_fdiry = dirname(txt_fpath)
        print(txt_fdiry)
    }
    cat("\n")
}

STARR_ATAC_K562_Reddy_KS91
[1] "/mount/repo/Proj_CombEffect_ENCODE_FCC/results/assay_fcc/STARR_ATAC_K562_Reddy_KS91/coverage/encode_open_chromatin/atac_ENCFF333TAT/summary"
[1] "/mount/repo/Proj_CombEffect_ENCODE_FCC/results/assay_fcc/STARR_ATAC_K562_Reddy_KS91/coverage/encode_open_chromatin/atac_ENCFF558BLC/summary"
[1] "/mount/repo/Proj_CombEffect_ENCODE_FCC/results/assay_fcc/STARR_ATAC_K562_Reddy_KS91/coverage/encode_open_chromatin/atac_ENCFF925CYR/summary"
[1] "/mount/repo/Proj_CombEffect_ENCODE_FCC/results/assay_fcc/STARR_ATAC_K562_Reddy_KS91/coverage/encode_open_chromatin/atac_ENCFF948AFM/summary"
[1] "/mount/repo/Proj_CombEffect_ENCODE_FCC/results/assay_fcc/STARR_ATAC_K562_Reddy_KS91/coverage/encode_open_chromatin/dnase_ENCFF185XRG/summary"
[1] "/mount/repo/Proj_CombEffect_ENCODE_FCC/results/assay_fcc/STARR_ATAC_K562_Reddy_KS91/coverage/encode_open_chromatin/dnase_ENCFF274YGF/summary"
[1] "/mount/repo/Proj_CombEffect_ENCODE_FCC/results/assay_fcc/STARR_ATAC_K562_Reddy_KS91/coverage/fcc_astarr_macs/astarr_macs_input_overlap/summary"
[1] "/mount/repo/Proj_CombEffect_ENCODE_FCC/results/assay_fcc/STARR_ATAC_K562_Reddy_KS91/coverage/fcc_astarr_macs/astarr_macs_input_union/summary"

STARR_WHG_K562_Reddy_A001
[1] "/mount/repo/Proj_CombEffect_ENCODE_FCC/results/assay_fcc/STARR_WHG_K562_Reddy_A001/coverage/encode_open_chromatin/atac_ENCFF333TAT/summary"
[1] "/mount/repo/Proj_CombEffect_ENCODE_FCC/results/assay_fcc/STARR_WHG_K562_Reddy_A001/coverage/encode_open_chromatin/atac_ENCFF558BLC/summary"
[1] "/mount/repo/Proj_CombEffect_ENCODE_FCC/results/assay_fcc/STARR_WHG_K562_Reddy_A001/coverage/encode_open_chromatin/atac_ENCFF925CYR/summary"
[1] "/mount/repo/Proj_CombEffect_ENCODE_FCC/results/assay_fcc/STARR_WHG_K562_Reddy_A001/coverage/encode_open_chromatin/atac_ENCFF948AFM/summary"
[1] "/mount/repo/Proj_CombEffect_ENCODE_FCC/results/assay_fcc/STARR_WHG_K562_Reddy_A001/coverage/encode_open_chromatin/dnase_ENCFF185XRG/summary"
[1] "/mount/repo/Proj_CombEffect_ENCODE_FCC/results/assay_fcc/STARR_WHG_K562_Reddy_A001/coverage/encode_open_chromatin/dnase_ENCFF274YGF/summary"
[1] "/mount/repo/Proj_CombEffect_ENCODE_FCC/results/assay_fcc/STARR_WHG_K562_Reddy_A001/coverage/fcc_astarr_macs/astarr_macs_input_overlap/summary"
[1] "/mount/repo/Proj_CombEffect_ENCODE_FCC/results/assay_fcc/STARR_WHG_K562_Reddy_A001/coverage/fcc_astarr_macs/astarr_macs_input_union/summary"

In [5]:
for (txt_assay in VEC_TXT_ASSAY) {

    ###
    txt_fdiry = file.path(FD_RES, "assay_fcc", txt_assay, "coverage", "*", "*", "summary")
    txt_fname = "data_list_count_column.rds"
    txt_fglob = file.path(txt_fdiry, txt_fname)

    ###
    vec_txt_fpath = Sys.glob(txt_fglob)

    ###
    for (txt_fpath in vec_txt_fpath){

        ### read object
        lst_dat = readRDS(txt_fpath)
        dat_cnt = lst_dat$data_cnt
        dat_col = lst_dat$data_col

        ### arrange count matrix
        mat_cnt = dat_cnt %>%
            dplyr::select(-Chrom, -ChromStart, -ChromEnd) %>%
            column_to_rownames(var = "Region")

        ### arrange column data
        dat_col = dat_col  %>% 
            dplyr::select(Sample, Group) %>% 
            dplyr::mutate(Group = factor(Group, levels = c("Input", "Output"))) %>%
            column_to_rownames(var = "Sample")

        ### show progress: init
        cat("\n====================\n")
        cat("Assay name:    ", txt_assay, "\n")
        cat("Imported file: ", "\n")
        cat(txt_fpath,   "\n")
        flush.console()
        
        fun_display_table(head(mat_cnt))
        fun_display_table(dat_col)
        cat("\n")
        flush.console()

        ### show progress: check and break if check failed
        cat("Check sample name and dimension:", "\n")
        vec1 = colnames(mat_cnt)
        vec2 = rownames(dat_col)
        res  = all(vec1 == vec2)
        
        if (res){
            cat("Passed!", "\n")
            cat("Run DESeq2...", "\n")
            flush.console()
        } else{
            cat("Failed!", "\n")
            cat("Stop the loop.", "\n")
            flush.console()
            break()
        }
        
        ### create DESeq2 object
        dds = DESeqDataSetFromMatrix(
            countData = mat_cnt, 
            colData   = dat_col, 
            design    = ~Group)
        
        ### ensure Input group is set as reference
        dds$Group <- relevel(dds$Group, ref = "Input")

        ### run deseq analysis
        dds = DESeq(dds)

        ### save deseq object
        txt_fdiry = dirname(txt_fpath)
        txt_fname = "data_deseq2.rds"
        txt_fpath = file.path(txt_fdiry, txt_fname)

        obj = dds
        saveRDS(obj, txt_fpath)
    }
    
}

====================
Assay name:     STARR_ATAC_K562_Reddy_KS91
Imported file:
/mount/repo/Proj_CombEffect_ENCODE_FCC/results/assay_fcc/STARR_ATAC_K562_Reddy_KS91/coverage/encode_open_chromatin/atac_ENCFF333TAT/summary/data_list_count_column.rds

,Input.rep1,Input.rep2,Input.rep3,Input.rep4,Input.rep5,Input.rep6,Output.rep1,Output.rep2,Output.rep3,Output.rep4
chr1:40649-41403,1,0,2,1,1,1,1,0,0,0
chr1:42030-42399,0,0,0,0,0,1,0,0,0,0
chr1:46255-47025,4,4,4,4,3,3,0,0,0,0
chr1:67629-67864,0,0,1,0,0,0,0,0,0,0
chr1:68056-68341,1,2,2,0,1,1,0,0,0,3
chr1:68963-70035,24,29,20,25,23,19,0,0,0,5

,Group
Input.rep1,Input
Input.rep2,Input
Input.rep3,Input
Input.rep4,Input
Input.rep5,Input
Input.rep6,Input
Output.rep1,Output
Output.rep2,Output
Output.rep3,Output
Output.rep4,Output

Check sample name and dimension:
Passed!
Run DESeq2...

estimating size factors

estimating dispersions

gene-wise dispersion estimates

mean-dispersion relationship

final dispersion estimates

fitting model and testing

====================
Assay name:     STARR_ATAC_K562_Reddy_KS91
Imported file:
/mount/repo/Proj_CombEffect_ENCODE_FCC/results/assay_fcc/STARR_ATAC_K562_Reddy_KS91/coverage/encode_open_chromatin/atac_ENCFF558BLC/summary/data_list_count_column.rds

,Input.rep1,Input.rep2,Input.rep3,Input.rep4,Input.rep5,Input.rep6,Output.rep1,Output.rep2,Output.rep3,Output.rep4
chr1:10509-10674,21,34,35,24,37,36,0,0,2,0
chr1:41987-42385,0,0,0,0,0,1,0,0,0,0
chr1:46755-47025,0,0,0,1,0,1,0,0,0,0
chr1:68969-69964,24,29,20,25,23,19,0,0,0,5
chr1:78951-79407,21,30,42,34,35,28,0,5,4,4
chr1:778328-779235,7262,8508,8751,8406,8362,7792,2566,3646,3941,7268

,Group
Input.rep1,Input
Input.rep2,Input
Input.rep3,Input
Input.rep4,Input
Input.rep5,Input
Input.rep6,Input
Output.rep1,Output
Output.rep2,Output
Output.rep3,Output
Output.rep4,Output

Check sample name and dimension:
Passed!
Run DESeq2...

estimating size factors

estimating dispersions

gene-wise dispersion estimates

mean-dispersion relationship

final dispersion estimates

fitting model and testing

====================
Assay name:     STARR_ATAC_K562_Reddy_KS91
Imported file:
/mount/repo/Proj_CombEffect_ENCODE_FCC/results/assay_fcc/STARR_ATAC_K562_Reddy_KS91/coverage/encode_open_chromatin/atac_ENCFF925CYR/summary/data_list_count_column.rds

,Input.rep1,Input.rep2,Input.rep3,Input.rep4,Input.rep5,Input.rep6,Output.rep1,Output.rep2,Output.rep3,Output.rep4
chr1:778328-779235,7262,8508,8751,8406,8362,7792,2566,3646,3941,7268
chr1:817237-818202,295,405,437,409,385,360,24,57,35,71
chr1:826647-828124,4835,5959,6230,5947,5845,5510,766,939,1086,2104
chr1:842282-843322,1119,1395,1520,1449,1372,1227,162,322,329,459
chr1:869581-870256,1510,1744,1818,1771,1743,1639,89,93,136,286
chr1:898813-899211,244,276,331,318,285,283,54,68,74,135

,Group
Input.rep1,Input
Input.rep2,Input
Input.rep3,Input
Input.rep4,Input
Input.rep5,Input
Input.rep6,Input
Output.rep1,Output
Output.rep2,Output
Output.rep3,Output
Output.rep4,Output

Check sample name and dimension:
Passed!
Run DESeq2...

estimating size factors

estimating dispersions

gene-wise dispersion estimates

mean-dispersion relationship

final dispersion estimates

fitting model and testing

====================
Assay name:     STARR_ATAC_K562_Reddy_KS91
Imported file:
/mount/repo/Proj_CombEffect_ENCODE_FCC/results/assay_fcc/STARR_ATAC_K562_Reddy_KS91/coverage/encode_open_chromatin/atac_ENCFF948AFM/summary/data_list_count_column.rds

,Input.rep1,Input.rep2,Input.rep3,Input.rep4,Input.rep5,Input.rep6,Output.rep1,Output.rep2,Output.rep3,Output.rep4
chr1:42030-42399,0,0,0,0,0,1,0,0,0,0
chr1:68963-70035,24,29,20,25,23,19,0,0,0,5
chr1:79151-79653,24,30,43,33,32,38,0,9,11,3
chr1:778339-779268,7304,8576,8809,8458,8425,7842,2569,3656,3967,7288
chr1:804424-805054,94,127,133,115,127,107,12,19,18,38
chr1:811420-811854,59,80,108,92,82,83,10,9,7,7

,Group
Input.rep1,Input
Input.rep2,Input
Input.rep3,Input
Input.rep4,Input
Input.rep5,Input
Input.rep6,Input
Output.rep1,Output
Output.rep2,Output
Output.rep3,Output
Output.rep4,Output

Check sample name and dimension:
Passed!
Run DESeq2...

estimating size factors

estimating dispersions

gene-wise dispersion estimates

mean-dispersion relationship

final dispersion estimates

fitting model and testing

====================
Assay name:     STARR_ATAC_K562_Reddy_KS91
Imported file:
/mount/repo/Proj_CombEffect_ENCODE_FCC/results/assay_fcc/STARR_ATAC_K562_Reddy_KS91/coverage/encode_open_chromatin/dnase_ENCFF185XRG/summary/data_list_count_column.rds

,Input.rep1,Input.rep2,Input.rep3,Input.rep4,Input.rep5,Input.rep6,Output.rep1,Output.rep2,Output.rep3,Output.rep4
chr1:139369-139421,115,169,181,161,174,156,11,20,22,69
chr1:180800-180871,34,41,42,30,38,33,0,1,0,3
chr1:181108-181200,113,146,151,145,149,119,1,4,2,5
chr1:181400-181560,177,243,244,235,226,190,6,12,16,7
chr1:186785-186839,63,90,89,92,82,86,0,6,9,8
chr1:186980-187129,81,113,103,121,122,100,5,19,24,14

,Group
Input.rep1,Input
Input.rep2,Input
Input.rep3,Input
Input.rep4,Input
Input.rep5,Input
Input.rep6,Input
Output.rep1,Output
Output.rep2,Output
Output.rep3,Output
Output.rep4,Output

Check sample name and dimension:
Passed!
Run DESeq2...

estimating size factors

estimating dispersions

gene-wise dispersion estimates

mean-dispersion relationship

final dispersion estimates

fitting model and testing

====================
Assay name:     STARR_ATAC_K562_Reddy_KS91
Imported file:
/mount/repo/Proj_CombEffect_ENCODE_FCC/results/assay_fcc/STARR_ATAC_K562_Reddy_KS91/coverage/encode_open_chromatin/dnase_ENCFF274YGF/summary/data_list_count_column.rds

,Input.rep1,Input.rep2,Input.rep3,Input.rep4,Input.rep5,Input.rep6,Output.rep1,Output.rep2,Output.rep3,Output.rep4
chr1:181400-181530,166,229,227,218,220,180,7,11,16,8
chr1:778660-778800,3014,3520,3601,3482,3447,3189,1937,2413,2644,4819
chr1:779137-779200,1137,1390,1465,1383,1383,1268,84,128,182,343
chr1:827460-827554,2402,2947,3119,2971,2918,2721,636,717,820,1657
chr1:842880-843060,448,526,566,547,510,471,99,190,217,284
chr1:869800-869980,880,1034,1068,1034,994,935,46,38,51,105

,Group
Input.rep1,Input
Input.rep2,Input
Input.rep3,Input
Input.rep4,Input
Input.rep5,Input
Input.rep6,Input
Output.rep1,Output
Output.rep2,Output
Output.rep3,Output
Output.rep4,Output

Check sample name and dimension:
Passed!
Run DESeq2...

estimating size factors

estimating dispersions

gene-wise dispersion estimates

mean-dispersion relationship

final dispersion estimates

fitting model and testing

====================
Assay name:     STARR_ATAC_K562_Reddy_KS91
Imported file:
/mount/repo/Proj_CombEffect_ENCODE_FCC/results/assay_fcc/STARR_ATAC_K562_Reddy_KS91/coverage/fcc_astarr_macs/astarr_macs_input_overlap/summary/data_list_count_column.rds

,Input.rep1,Input.rep2,Input.rep3,Input.rep4,Input.rep5,Input.rep6,Output.rep1,Output.rep2,Output.rep3,Output.rep4
chr1:10038-10405,145,207,244,229,178,206,5,12,4,10
chr1:14282-14614,106,139,153,137,123,128,8,23,26,41
chr1:16025-16338,124,189,175,170,178,164,8,7,15,18
chr1:17288-17689,259,350,400,367,369,331,7,13,23,59
chr1:28934-29499,258,324,349,324,346,310,8,11,3,26
chr1:115429-115969,950,1174,1276,1151,1179,1054,234,443,469,752

,Group
Input.rep1,Input
Input.rep2,Input
Input.rep3,Input
Input.rep4,Input
Input.rep5,Input
Input.rep6,Input
Output.rep1,Output
Output.rep2,Output
Output.rep3,Output
Output.rep4,Output

Check sample name and dimension:
Passed!
Run DESeq2...

estimating size factors

estimating dispersions

gene-wise dispersion estimates

mean-dispersion relationship

final dispersion estimates

fitting model and testing

====================
Assay name:     STARR_ATAC_K562_Reddy_KS91
Imported file:
/mount/repo/Proj_CombEffect_ENCODE_FCC/results/assay_fcc/STARR_ATAC_K562_Reddy_KS91/coverage/fcc_astarr_macs/astarr_macs_input_union/summary/data_list_count_column.rds

,Input.rep1,Input.rep2,Input.rep3,Input.rep4,Input.rep5,Input.rep6,Output.rep1,Output.rep2,Output.rep3,Output.rep4
chr1:10015-10442,155,214,257,236,185,214,7,12,4,11
chr1:14253-14645,110,144,160,141,130,130,8,26,30,57
chr1:16015-16477,141,208,206,190,202,182,9,9,18,23
chr1:17237-17772,259,350,399,367,369,331,7,13,23,59
chr1:28903-29613,263,338,368,333,352,317,12,18,3,32
chr1:30803-31072,82,115,171,136,105,115,13,22,14,33

,Group
Input.rep1,Input
Input.rep2,Input
Input.rep3,Input
Input.rep4,Input
Input.rep5,Input
Input.rep6,Input
Output.rep1,Output
Output.rep2,Output
Output.rep3,Output
Output.rep4,Output

Check sample name and dimension:
Passed!
Run DESeq2...

estimating size factors

estimating dispersions

gene-wise dispersion estimates

mean-dispersion relationship

final dispersion estimates

fitting model and testing

====================
Assay name:     STARR_WHG_K562_Reddy_A001
Imported file:
/mount/repo/Proj_CombEffect_ENCODE_FCC/results/assay_fcc/STARR_WHG_K562_Reddy_A001/coverage/encode_open_chromatin/atac_ENCFF333TAT/summary/data_list_count_column.rds

,Input.rep1,Input.rep2,Input.rep3,Input.rep4,Output.rep1,Output.rep2,Output.rep3
chr1:46255-47025,2,4,1,3,6,1,8
chr1:67629-67864,0,1,0,1,0,0,2
chr1:68056-68341,0,1,1,1,3,1,2
chr1:68963-70035,1,7,8,4,12,7,23
chr1:79151-79653,6,16,10,12,13,17,28
chr1:87574-88453,2,22,14,20,22,20,47

,Group
Input.rep1,Input
Input.rep2,Input
Input.rep3,Input
Input.rep4,Input
Output.rep1,Output
Output.rep2,Output
Output.rep3,Output

Check sample name and dimension:
Passed!
Run DESeq2...

estimating size factors

estimating dispersions

gene-wise dispersion estimates

mean-dispersion relationship

final dispersion estimates

fitting model and testing

====================
Assay name:     STARR_WHG_K562_Reddy_A001
Imported file:
/mount/repo/Proj_CombEffect_ENCODE_FCC/results/assay_fcc/STARR_WHG_K562_Reddy_A001/coverage/encode_open_chromatin/atac_ENCFF558BLC/summary/data_list_count_column.rds

,Input.rep1,Input.rep2,Input.rep3,Input.rep4,Output.rep1,Output.rep2,Output.rep3
chr1:10509-10674,0,0,0,0,0,0,1
chr1:46755-47025,1,3,1,3,4,1,6
chr1:68969-69964,1,7,8,4,12,7,23
chr1:78951-79407,5,13,6,10,11,8,23
chr1:778328-779235,17,71,52,57,265,268,438
chr1:796042-796413,2,7,5,3,6,8,11

,Group
Input.rep1,Input
Input.rep2,Input
Input.rep3,Input
Input.rep4,Input
Output.rep1,Output
Output.rep2,Output
Output.rep3,Output

Check sample name and dimension:
Passed!
Run DESeq2...

estimating size factors

estimating dispersions

gene-wise dispersion estimates

mean-dispersion relationship

final dispersion estimates

fitting model and testing

====================
Assay name:     STARR_WHG_K562_Reddy_A001
Imported file:
/mount/repo/Proj_CombEffect_ENCODE_FCC/results/assay_fcc/STARR_WHG_K562_Reddy_A001/coverage/encode_open_chromatin/atac_ENCFF925CYR/summary/data_list_count_column.rds

,Input.rep1,Input.rep2,Input.rep3,Input.rep4,Output.rep1,Output.rep2,Output.rep3
chr1:778328-779235,17,71,52,57,265,268,438
chr1:817237-818202,8,35,56,50,62,63,139
chr1:826647-828124,15,62,51,57,165,165,268
chr1:842282-843322,12,36,36,40,79,64,165
chr1:869581-870256,14,34,60,47,69,78,135
chr1:898813-899211,8,19,20,14,37,33,63

,Group
Input.rep1,Input
Input.rep2,Input
Input.rep3,Input
Input.rep4,Input
Output.rep1,Output
Output.rep2,Output
Output.rep3,Output

Check sample name and dimension:
Passed!
Run DESeq2...

estimating size factors

estimating dispersions

gene-wise dispersion estimates

mean-dispersion relationship

final dispersion estimates

fitting model and testing

====================
Assay name:     STARR_WHG_K562_Reddy_A001
Imported file:
/mount/repo/Proj_CombEffect_ENCODE_FCC/results/assay_fcc/STARR_WHG_K562_Reddy_A001/coverage/encode_open_chromatin/atac_ENCFF948AFM/summary/data_list_count_column.rds

,Input.rep1,Input.rep2,Input.rep3,Input.rep4,Output.rep1,Output.rep2,Output.rep3
chr1:68963-70035,1,7,8,4,12,7,23
chr1:79151-79653,6,16,10,12,13,17,28
chr1:778339-779268,17,71,52,57,265,268,441
chr1:804424-805054,2,11,6,8,12,17,47
chr1:811420-811854,1,2,5,3,6,13,12
chr1:812328-812983,4,12,16,18,34,35,72

,Group
Input.rep1,Input
Input.rep2,Input
Input.rep3,Input
Input.rep4,Input
Output.rep1,Output
Output.rep2,Output
Output.rep3,Output

Check sample name and dimension:
Passed!
Run DESeq2...

estimating size factors

estimating dispersions

gene-wise dispersion estimates

mean-dispersion relationship

final dispersion estimates

fitting model and testing

====================
Assay name:     STARR_WHG_K562_Reddy_A001
Imported file:
/mount/repo/Proj_CombEffect_ENCODE_FCC/results/assay_fcc/STARR_WHG_K562_Reddy_A001/coverage/encode_open_chromatin/dnase_ENCFF185XRG/summary/data_list_count_column.rds

,Input.rep1,Input.rep2,Input.rep3,Input.rep4,Output.rep1,Output.rep2,Output.rep3
chr1:139369-139421,4,6,10,19,35,27,30
chr1:180800-180871,1,1,0,2,1,0,1
chr1:181108-181200,1,8,4,8,21,17,24
chr1:181400-181560,5,22,16,17,37,30,56
chr1:186785-186839,9,22,21,27,23,41,85
chr1:186980-187129,6,32,32,38,35,52,98

,Group
Input.rep1,Input
Input.rep2,Input
Input.rep3,Input
Input.rep4,Input
Output.rep1,Output
Output.rep2,Output
Output.rep3,Output

Check sample name and dimension:
Passed!
Run DESeq2...

estimating size factors

estimating dispersions

gene-wise dispersion estimates

mean-dispersion relationship

final dispersion estimates

fitting model and testing

====================
Assay name:     STARR_WHG_K562_Reddy_A001
Imported file:
/mount/repo/Proj_CombEffect_ENCODE_FCC/results/assay_fcc/STARR_WHG_K562_Reddy_A001/coverage/encode_open_chromatin/dnase_ENCFF274YGF/summary/data_list_count_column.rds

,Input.rep1,Input.rep2,Input.rep3,Input.rep4,Output.rep1,Output.rep2,Output.rep3
chr1:181400-181530,3,18,12,15,34,29,51
chr1:778660-778800,10,35,27,30,195,181,312
chr1:779137-779200,8,31,17,23,56,77,114
chr1:827460-827554,10,25,24,25,99,89,128
chr1:842880-843060,7,21,19,14,48,40,96
chr1:869800-869980,9,25,46,33,43,41,79

,Group
Input.rep1,Input
Input.rep2,Input
Input.rep3,Input
Input.rep4,Input
Output.rep1,Output
Output.rep2,Output
Output.rep3,Output

Check sample name and dimension:
Passed!
Run DESeq2...

estimating size factors

estimating dispersions

gene-wise dispersion estimates

mean-dispersion relationship

final dispersion estimates

fitting model and testing

====================
Assay name:     STARR_WHG_K562_Reddy_A001
Imported file:
/mount/repo/Proj_CombEffect_ENCODE_FCC/results/assay_fcc/STARR_WHG_K562_Reddy_A001/coverage/fcc_astarr_macs/astarr_macs_input_overlap/summary/data_list_count_column.rds

,Input.rep1,Input.rep2,Input.rep3,Input.rep4,Output.rep1,Output.rep2,Output.rep3
chr1:10038-10405,0,1,1,1,0,0,0
chr1:14282-14614,0,0,0,0,0,0,1
chr1:16025-16338,0,2,7,8,17,6,20
chr1:17288-17689,5,12,15,17,18,22,27
chr1:28934-29499,0,0,1,0,5,3,7
chr1:115429-115969,0,1,2,0,2,2,8

,Group
Input.rep1,Input
Input.rep2,Input
Input.rep3,Input
Input.rep4,Input
Output.rep1,Output
Output.rep2,Output
Output.rep3,Output

Check sample name and dimension:
Passed!
Run DESeq2...

estimating size factors

estimating dispersions

gene-wise dispersion estimates

mean-dispersion relationship

final dispersion estimates

fitting model and testing

====================
Assay name:     STARR_WHG_K562_Reddy_A001
Imported file:
/mount/repo/Proj_CombEffect_ENCODE_FCC/results/assay_fcc/STARR_WHG_K562_Reddy_A001/coverage/fcc_astarr_macs/astarr_macs_input_union/summary/data_list_count_column.rds

,Input.rep1,Input.rep2,Input.rep3,Input.rep4,Output.rep1,Output.rep2,Output.rep3
chr1:10015-10442,1,1,1,1,0,0,0
chr1:14253-14645,0,0,0,0,0,0,1
chr1:16015-16477,0,6,9,12,20,14,33
chr1:17237-17772,5,12,15,17,18,23,27
chr1:28903-29613,0,0,1,0,5,3,7
chr1:101603-101849,0,0,1,1,1,0,3

,Group
Input.rep1,Input
Input.rep2,Input
Input.rep3,Input
Input.rep4,Input
Output.rep1,Output
Output.rep2,Output
Output.rep3,Output

Check sample name and dimension:
Passed!
Run DESeq2...

estimating size factors

estimating dispersions

gene-wise dispersion estimates

mean-dispersion relationship

final dispersion estimates

fitting model and testing

In [22]:
vec1 = colnames(mat_cnt)
vec2 = dat_col$conditions
print(all(vec1 == vec2))

[1] TRUE