---
title: Region Coverage 021
subtitle: Combine counts across samples and generate count matrix (ASTARR)
format:
    html:
        code-fold:  true
        code-tools: true
---

**Set environment**

In [1]:
suppressMessages(suppressWarnings(source("../run_config_project_sing.R")))
show_env()

You are working on        Singularity
BASE DIRECTORY (FD_BASE): /mount
REPO DIRECTORY (FD_REPO): /mount/repo
WORK DIRECTORY (FD_WORK): /mount/work
DATA DIRECTORY (FD_DATA): /mount/data

You are working with      ENCODE FCC
PATH OF PROJECT (FD_PRJ): /mount/repo/Proj_CombEffect_ENCODE_FCC
PROJECT RESULTS (FD_RES): /mount/repo/Proj_CombEffect_ENCODE_FCC/results
PROJECT SCRIPTS (FD_EXE): /mount/repo/Proj_CombEffect_ENCODE_FCC/scripts
PROJECT DATA    (FD_DAT): /mount/repo/Proj_CombEffect_ENCODE_FCC/data
PROJECT NOTE    (FD_NBK): /mount/repo/Proj_CombEffect_ENCODE_FCC/notebooks
PROJECT DOCS    (FD_DOC): /mount/repo/Proj_CombEffect_ENCODE_FCC/docs
PROJECT LOG     (FD_LOG): /mount/repo/Proj_CombEffect_ENCODE_FCC/log
PROJECT APP     (FD_APP): /mount/repo/Proj_CombEffect_ENCODE_FCC/app
PROJECT REF     (FD_REF): /mount/repo/Proj_CombEffect_ENCODE_FCC/references

## Import data

**import assay metadata**

In [2]:
### init
TXT_ASSAY  = "STARR_ATAC_K562_Reddy_KS91"

### set directory
txt_fdiry = file.path(FD_RES, "assay_fcc", TXT_ASSAY, "fragment_counts", "summary")
txt_fname = "metadata.tsv"
txt_fpath = file.path(txt_fdiry, txt_fname)

### read table
dat = read_tsv(txt_fpath, show_col_types = FALSE)

### assign and show
dat_metadata_astarr = dat
fun_display_table(dat)

FName,Assay,Prefix,Group,Sample
ASTARRseq_K562_KS91.hg38.Input.rep1.WGS.unstranded.bed.gz,STARR_ATAC_K562_Reddy_KS91,ASTARRseq_K562_KS91,Input,Input.rep1
ASTARRseq_K562_KS91.hg38.Input.rep2.WGS.unstranded.bed.gz,STARR_ATAC_K562_Reddy_KS91,ASTARRseq_K562_KS91,Input,Input.rep2
ASTARRseq_K562_KS91.hg38.Input.rep3.WGS.unstranded.bed.gz,STARR_ATAC_K562_Reddy_KS91,ASTARRseq_K562_KS91,Input,Input.rep3
ASTARRseq_K562_KS91.hg38.Input.rep4.WGS.unstranded.bed.gz,STARR_ATAC_K562_Reddy_KS91,ASTARRseq_K562_KS91,Input,Input.rep4
ASTARRseq_K562_KS91.hg38.Input.rep5.WGS.unstranded.bed.gz,STARR_ATAC_K562_Reddy_KS91,ASTARRseq_K562_KS91,Input,Input.rep5
ASTARRseq_K562_KS91.hg38.Input.rep6.WGS.unstranded.bed.gz,STARR_ATAC_K562_Reddy_KS91,ASTARRseq_K562_KS91,Input,Input.rep6
ASTARRseq_K562_KS91.hg38.Output.rep1.WGS.unstranded.bed.gz,STARR_ATAC_K562_Reddy_KS91,ASTARRseq_K562_KS91,Output,Output.rep1
ASTARRseq_K562_KS91.hg38.Output.rep2.WGS.unstranded.bed.gz,STARR_ATAC_K562_Reddy_KS91,ASTARRseq_K562_KS91,Output,Output.rep2
ASTARRseq_K562_KS91.hg38.Output.rep3.WGS.unstranded.bed.gz,STARR_ATAC_K562_Reddy_KS91,ASTARRseq_K562_KS91,Output,Output.rep3
ASTARRseq_K562_KS91.hg38.Output.rep4.WGS.unstranded.bed.gz,STARR_ATAC_K562_Reddy_KS91,ASTARRseq_K562_KS91,Output,Output.rep4

**create assay named vector for matrix column names**

In [3]:
dat  = dat_metadata_astarr
vec1 = dat$FName
vec2 = dat$Sample

vec = setNames(vec1, vec2)
vec_txt_sample = vec
print(vec)

                                                  Input.rep1
 "ASTARRseq_K562_KS91.hg38.Input.rep1.WGS.unstranded.bed.gz"
                                                  Input.rep2
 "ASTARRseq_K562_KS91.hg38.Input.rep2.WGS.unstranded.bed.gz"
                                                  Input.rep3
 "ASTARRseq_K562_KS91.hg38.Input.rep3.WGS.unstranded.bed.gz"
                                                  Input.rep4
 "ASTARRseq_K562_KS91.hg38.Input.rep4.WGS.unstranded.bed.gz"
                                                  Input.rep5
 "ASTARRseq_K562_KS91.hg38.Input.rep5.WGS.unstranded.bed.gz"
                                                  Input.rep6
 "ASTARRseq_K562_KS91.hg38.Input.rep6.WGS.unstranded.bed.gz"
                                                 Output.rep1
"ASTARRseq_K562_KS91.hg38.Output.rep1.WGS.unstranded.bed.gz"
                                                 Output.rep2
"ASTARRseq_K562_KS91.hg38.Output.rep2.WGS.unstranded.bed.gz"
                                                 Output.rep3
"ASTARRseq_K562_KS91.hg38.Output.rep3.WGS.unstranded.bed.gz"
                                                 Output.rep4
"ASTARRseq_K562_KS91.hg38.Output.rep4.WGS.unstranded.bed.gz"

**import region metadata**

In [4]:
txt_fdiry = file.path(FD_RES, "region", "summary")
txt_fname = "metadata_region_label.tsv"
txt_fpath = file.path(txt_fdiry, txt_fname)

dat = read_tsv(txt_fpath, show_col_types = FALSE)

dat_metadata_region = dat
print(dim(dat))
fun_display_table(dat)

[1] 8 3

Folder,FName,Label
encode_open_chromatin,K562.hg38.ENCSR000EKS.ENCFF274YGF.DNase.bed.gz,dnase_ENCFF274YGF
encode_open_chromatin,K562.hg38.ENCSR000EOT.ENCFF185XRG.DNase.bed.gz,dnase_ENCFF185XRG
encode_open_chromatin,K562.hg38.ENCSR483RKN.ENCFF558BLC.ATAC.bed.gz,atac_ENCFF558BLC
encode_open_chromatin,K562.hg38.ENCSR483RKN.ENCFF925CYR.ATAC.bed.gz,atac_ENCFF925CYR
encode_open_chromatin,K562.hg38.ENCSR868FGK.ENCFF333TAT.ATAC.bed.gz,atac_ENCFF333TAT
encode_open_chromatin,K562.hg38.ENCSR868FGK.ENCFF948AFM.ATAC.bed.gz,atac_ENCFF948AFM
fcc_astarr_macs,ASTARRseq_K562_KS91.hg38.Input.rep_all.max_overlaps.q5.bed,astarr_macs_input_overlap
fcc_astarr_macs,ASTARRseq_K562_KS91.hg38.Input.rep_all.union.q5.bed,astarr_macs_input_union

**create region list for looping**

In [5]:
dat = dat_metadata_region
lst = split(dat$Label, dat$Folder)

lst_metadata_region = lst
print(lst)

$encode_open_chromatin
[1] "dnase_ENCFF274YGF" "dnase_ENCFF185XRG" "atac_ENCFF558BLC"
[4] "atac_ENCFF925CYR"  "atac_ENCFF333TAT"  "atac_ENCFF948AFM"

$fcc_astarr_macs
[1] "astarr_macs_input_overlap" "astarr_macs_input_union"

## Loop through each region set and generate matrix of counts

**Check data**

In [6]:
ASSAY_TYPE="assay_fcc"
ASSAY_NAME="STARR_ATAC_K562_Reddy_KS91"
txt = file.path(FD_RES, ASSAY_TYPE, ASSAY_NAME, "coverage")
dir(txt)

[1] "encode_open_chromatin" "fcc_astarr_macs"

In [7]:
ASSAY_TYPE="assay_fcc"
ASSAY_NAME="STARR_ATAC_K562_Reddy_KS91"
txt = file.path(FD_RES, ASSAY_TYPE, ASSAY_NAME, "coverage", "fcc_astarr_macs")
dir(txt)

[1] "astarr_macs_input_overlap" "astarr_macs_input_union"

In [ ]:
==================== 
Region Folder: encode_open_chromatin 
Region Label:  atac_ENCFF558BLC

In [8]:
###
fun = function(dat1, dat2){
    dat = dplyr::full_join(dat1, dat2, by = "Region")
    return(dat)
}

###
#lst_region = lst_metadata_region["fcc_astarr_macs"]
lst_region = lst_metadata_region

In [13]:
#for (txt_folder in names(lst_region)){
    
 
txt_folder = "encode_open_chromatin"
    
###
txt_fdiry  = file.path(FD_RES, "region", txt_folder)
txt_fname  = "description.tsv"
txt_fpath  = file.path(txt_fdiry, txt_fname)

dat = read_tsv(txt_fpath, show_col_types = FALSE)
vec = dat$Name
vec_txt_cname = c(vec, "Count")

###
#for (txt_label in vec_txt_label){
txt_label="atac_ENCFF558BLC"
###
cat("====================", "\n")
cat("Region Folder:", txt_folder, "\n")
cat("Region Label: ", txt_label,  "\n")

###
txt_fdiry = file.path(FD_RES, ASSAY_TYPE, ASSAY_NAME, "coverage", txt_folder, txt_label)
txt_fname = "*WGS*bed.gz"
txt_fglob = file.path(txt_fdiry, txt_fname)

vec = Sys.glob(txt_fglob)
vec = basename(vec)
vec_txt_fname = vec

###
txt_fdiry = file.path(FD_RES, ASSAY_TYPE, ASSAY_NAME, "coverage", txt_folder, txt_label)
lst_dat   = lapply(vec_txt_fname, function(txt_fname){

    ###
    txt_fpath = file.path(txt_fdiry, txt_fname)

    ###
    dat = read_tsv(txt_fpath, col_names = vec_txt_cname, show_col_types = FALSE)
    dat = dat %>% 
        dplyr::select(Chrom, ChromStart, ChromEnd, Count) %>%
        dplyr::mutate(Region = paste0(Chrom, ":", ChromStart, "-", ChromEnd)) %>%
        dplyr::mutate(Count  = replace(Count, Count == ".", "0")) %>%
        dplyr::mutate(Count  = as.integer(Count)) %>%
        dplyr::select(Region, Count) %>%
        dplyr::distinct()

    ###
    vec = c("Region", txt_fname)
    colnames(dat) = vec
    return(dat)
})

###
dat = Reduce(fun, lst_dat)
dat = dplyr::rename(dat, any_of(vec_txt_sample))

###
head(dat)

====================
Region Folder: encode_open_chromatin
Region Label:  atac_ENCFF558BLC

  Region             Input.rep1 Input.rep2 Input.rep3 Input.rep4 Input.rep5
1 chr1:10509-10674     21         34         35         24         37
2 chr1:41987-42385      0          0          0          0          0
3 chr1:46755-47025      0          0          0          1          0
4 chr1:68969-69964     24         29         20         25         23
5 chr1:78951-79407     21         30         42         34         35
6 chr1:778328-779235 7262       8508       8751       8406       8362
  Input.rep6 Output.rep1 Output.rep2 Output.rep3 Output.rep4
1   36          0           0           2           0
2    1          0           0           0           0
3    1          0           0           0           0
4   19          0           0           0           5
5   28          0           5           4           4
6 7792       2566        3646        3941        7268

In [ ]:
Region Folder: encode_open_chromatin 
Region Label:  atac_ENCFF558BLC

In [14]:
###
fun = function(dat1, dat2){
    dat = dplyr::full_join(dat1, dat2, by = "Region")
    return(dat)
}

###
#lst_region = lst_metadata_region["fcc_astarr_macs"]
lst_region = lst_metadata_region

for (txt_folder in names(lst_region)){
    
    ###
    vec_txt_label = lst_region[[txt_folder]]

    ###
    txt_fdiry  = file.path(FD_RES, "region", txt_folder)
    txt_fname  = "description.tsv"
    txt_fpath  = file.path(txt_fdiry, txt_fname)
    
    dat = read_tsv(txt_fpath, show_col_types = FALSE)
    vec = dat$Name
    vec_txt_cname = c(vec, "Count")

    ###
    for (txt_label in vec_txt_label){
        
        ###
        cat("====================", "\n")
        cat("Region Folder:", txt_folder, "\n")
        cat("Region Label: ", txt_label,  "\n")
        flush.console()
        
        ###
        txt_fdiry = file.path(FD_RES, ASSAY_TYPE, ASSAY_NAME, "coverage", txt_folder, txt_label)
        txt_fname = "*WGS*bed.gz"
        txt_fglob = file.path(txt_fdiry, txt_fname)
        
        vec = Sys.glob(txt_fglob)
        vec = basename(vec)
        vec_txt_fname = vec

        ###
        txt_fdiry = file.path(FD_RES, ASSAY_TYPE, ASSAY_NAME, "coverage", txt_folder, txt_label)
        lst_dat   = lapply(vec_txt_fname, function(txt_fname){

            ###
            txt_fpath = file.path(txt_fdiry, txt_fname)

            ###
            dat = read_tsv(txt_fpath, col_names = vec_txt_cname, show_col_types = FALSE)
            dat = dat %>% 
                dplyr::select(Chrom, ChromStart, ChromEnd, Count) %>%
                dplyr::mutate(Region = paste0(Chrom, ":", ChromStart, "-", ChromEnd)) %>%
                dplyr::mutate(Count  = replace(Count, Count == ".", "0")) %>%
                dplyr::mutate(Count  = as.integer(Count)) %>%
                dplyr::select(Region, Count) %>%
                dplyr::distinct()

            ###
            vec = c("Region", txt_fname)
            colnames(dat) = vec
            return(dat)
        })
        
        ###
        dat = Reduce(fun, lst_dat)
        dat = dplyr::rename(dat, any_of(vec_txt_sample))
        
        ###
        fun_display_table(head(dat))
        fun_display_table(tail(dat))
        flush.console()

        ### 
        txt_fdiry = file.path(FD_RES, ASSAY_TYPE, ASSAY_NAME, "coverage", txt_folder, txt_label, "summary")
        txt_fname = "matrix.raw.count.WGS.tsv"
        txt_fpath = file.path(txt_fdiry, txt_fname)
        
        txt_cmd = paste("mkdir -p", txt_fdiry)
        system(txt_cmd)
        write_tsv(dat, txt_fpath)
    }
}

====================
Region Folder: encode_open_chromatin
Region Label:  dnase_ENCFF274YGF

Region,Input.rep1,Input.rep2,Input.rep3,Input.rep4,Input.rep5,Input.rep6,Output.rep1,Output.rep2,Output.rep3,Output.rep4
chr1:181400-181530,166,229,227,218,220,180,7,11,16,8
chr1:778660-778800,3014,3520,3601,3482,3447,3189,1937,2413,2644,4819
chr1:779137-779200,1137,1390,1465,1383,1383,1268,84,128,182,343
chr1:827460-827554,2402,2947,3119,2971,2918,2721,636,717,820,1657
chr1:842880-843060,448,526,566,547,510,471,99,190,217,284
chr1:869800-869980,880,1034,1068,1034,994,935,46,38,51,105

Region,Input.rep1,Input.rep2,Input.rep3,Input.rep4,Input.rep5,Input.rep6,Output.rep1,Output.rep2,Output.rep3,Output.rep4
chrX:156001660-156001860,363,478,464,446,422,402,64,190,175,330
chrX:156002520-156002780,336,423,499,448,439,392,92,134,117,295
chrY:11103140-11103280,0,0,0,0,0,0,0,0,0,0
chrY:11712280-11712332,0,0,0,0,0,0,0,0,0,0
chrY:12347360-12347500,0,0,0,0,0,0,0,0,0,0
chrY:26563060-26563204,0,0,0,0,0,0,0,0,0,0

====================
Region Folder: encode_open_chromatin
Region Label:  dnase_ENCFF185XRG

Region,Input.rep1,Input.rep2,Input.rep3,Input.rep4,Input.rep5,Input.rep6,Output.rep1,Output.rep2,Output.rep3,Output.rep4
chr1:139369-139421,115,169,181,161,174,156,11,20,22,69
chr1:180800-180871,34,41,42,30,38,33,0,1,0,3
chr1:181108-181200,113,146,151,145,149,119,1,4,2,5
chr1:181400-181560,177,243,244,235,226,190,6,12,16,7
chr1:186785-186839,63,90,89,92,82,86,0,6,9,8
chr1:186980-187129,81,113,103,121,122,100,5,19,24,14

Region,Input.rep1,Input.rep2,Input.rep3,Input.rep4,Input.rep5,Input.rep6,Output.rep1,Output.rep2,Output.rep3,Output.rep4
chrY:10627260-10627380,0,0,0,0,0,0,0,0,0,0
chrY:11099598-11099702,0,0,0,0,0,0,0,0,0,0
chrY:11103120-11103280,0,0,0,0,0,0,0,0,0,0
chrY:11334278-11334400,0,0,0,0,0,0,0,0,0,0
chrY:12394980-12395092,0,0,0,0,0,0,0,0,0,0
chrY:26315200-26315360,0,0,0,0,0,0,0,0,0,0

====================
Region Folder: encode_open_chromatin
Region Label:  atac_ENCFF558BLC

Region,Input.rep1,Input.rep2,Input.rep3,Input.rep4,Input.rep5,Input.rep6,Output.rep1,Output.rep2,Output.rep3,Output.rep4
chr1:10509-10674,21,34,35,24,37,36,0,0,2,0
chr1:41987-42385,0,0,0,0,0,1,0,0,0,0
chr1:46755-47025,0,0,0,1,0,1,0,0,0,0
chr1:68969-69964,24,29,20,25,23,19,0,0,0,5
chr1:78951-79407,21,30,42,34,35,28,0,5,4,4
chr1:778328-779235,7262,8508,8751,8406,8362,7792,2566,3646,3941,7268

Region,Input.rep1,Input.rep2,Input.rep3,Input.rep4,Input.rep5,Input.rep6,Output.rep1,Output.rep2,Output.rep3,Output.rep4
chrX:156010065-156010405,66,64,81,70,71,52,6,3,3,13
chrX:156016242-156016999,181,243,240,230,235,215,5,1,3,4
chrX:156029850-156030236,36,39,45,30,39,34,3,7,3,4
chrY:4030787-4031055,0,0,0,0,0,0,0,0,0,0
chrY:12394988-12395279,0,0,0,0,0,0,0,0,0,0
chrY:18992811-18993022,0,0,0,0,0,0,0,0,0,0

====================
Region Folder: encode_open_chromatin
Region Label:  atac_ENCFF925CYR

Region,Input.rep1,Input.rep2,Input.rep3,Input.rep4,Input.rep5,Input.rep6,Output.rep1,Output.rep2,Output.rep3,Output.rep4
chr1:778328-779235,7262,8508,8751,8406,8362,7792,2566,3646,3941,7268
chr1:817237-818202,295,405,437,409,385,360,24,57,35,71
chr1:826647-828124,4835,5959,6230,5947,5845,5510,766,939,1086,2104
chr1:842282-843322,1119,1395,1520,1449,1372,1227,162,322,329,459
chr1:869581-870256,1510,1744,1818,1771,1743,1639,89,93,136,286
chr1:898813-899211,244,276,331,318,285,283,54,68,74,135

Region,Input.rep1,Input.rep2,Input.rep3,Input.rep4,Input.rep5,Input.rep6,Output.rep1,Output.rep2,Output.rep3,Output.rep4
chrX:155820206-155820487,113,162,181,153,153,141,11,40,29,44
chrX:155880939-155881899,2017,2552,2685,2545,2503,2293,460,880,974,1944
chrX:155966905-155967214,161,213,205,188,192,182,16,51,46,57
chrX:156001062-156002118,960,1233,1307,1253,1165,1035,155,347,305,594
chrX:156002345-156002961,604,756,871,833,767,707,110,236,195,435
chrX:156016242-156016999,181,243,240,230,235,215,5,1,3,4

====================
Region Folder: encode_open_chromatin
Region Label:  atac_ENCFF333TAT

Region,Input.rep1,Input.rep2,Input.rep3,Input.rep4,Input.rep5,Input.rep6,Output.rep1,Output.rep2,Output.rep3,Output.rep4
chr1:40649-41403,1,0,2,1,1,1,1,0,0,0
chr1:41475-41713,0,0,0,0,0,0,0,0,0,0
chr1:42030-42399,0,0,0,0,0,1,0,0,0,0
chr1:46255-47025,4,4,4,4,3,3,0,0,0,0
chr1:67629-67864,0,0,1,0,0,0,0,0,0,0
chr1:68056-68341,1,2,2,0,1,1,0,0,0,3

Region,Input.rep1,Input.rep2,Input.rep3,Input.rep4,Input.rep5,Input.rep6,Output.rep1,Output.rep2,Output.rep3,Output.rep4
chrY:4030688-4031055,0,0,0,0,0,0,0,0,0,0
chrY:11097630-11097859,0,0,0,0,0,0,0,0,0,0
chrY:11098228-11099023,0,0,0,0,0,0,0,0,0,0
chrY:11103101-11103309,0,0,0,0,0,0,0,0,0,0
chrY:12394949-12395289,0,0,0,0,0,0,0,0,0,0
chrY:18992804-18993052,0,0,0,0,0,0,0,0,0,0

====================
Region Folder: encode_open_chromatin
Region Label:  atac_ENCFF948AFM

Region,Input.rep1,Input.rep2,Input.rep3,Input.rep4,Input.rep5,Input.rep6,Output.rep1,Output.rep2,Output.rep3,Output.rep4
chr1:42030-42399,0,0,0,0,0,1,0,0,0,0
chr1:68963-70035,24,29,20,25,23,19,0,0,0,5
chr1:79151-79653,24,30,43,33,32,38,0,9,11,3
chr1:778339-779268,7304,8576,8809,8458,8425,7842,2569,3656,3967,7288
chr1:804424-805054,94,127,133,115,127,107,12,19,18,38
chr1:811420-811854,59,80,108,92,82,83,10,9,7,7

Region,Input.rep1,Input.rep2,Input.rep3,Input.rep4,Input.rep5,Input.rep6,Output.rep1,Output.rep2,Output.rep3,Output.rep4
chrX:156001041-156001937,904,1159,1217,1181,1089,969,158,337,296,571
chrX:156002261-156002983,645,814,928,897,829,763,116,255,207,451
chrX:156015981-156017173,210,284,298,271,273,242,5,1,3,4
chrY:4030688-4031055,0,0,0,0,0,0,0,0,0,0
chrY:11098228-11099023,0,0,0,0,0,0,0,0,0,0
chrY:11103101-11103309,0,0,0,0,0,0,0,0,0,0

====================
Region Folder: fcc_astarr_macs
Region Label:  astarr_macs_input_overlap

Region,Input.rep1,Input.rep2,Input.rep3,Input.rep4,Input.rep5,Input.rep6,Output.rep1,Output.rep2,Output.rep3,Output.rep4
chr1:10038-10405,145,207,244,229,178,206,5,12,4,10
chr1:14282-14614,106,139,153,137,123,128,8,23,26,41
chr1:16025-16338,124,189,175,170,178,164,8,7,15,18
chr1:17288-17689,259,350,400,367,369,331,7,13,23,59
chr1:28934-29499,258,324,349,324,346,310,8,11,3,26
chr1:115429-115969,950,1174,1276,1151,1179,1054,234,443,469,752

Region,Input.rep1,Input.rep2,Input.rep3,Input.rep4,Input.rep5,Input.rep6,Output.rep1,Output.rep2,Output.rep3,Output.rep4
chrX:156000431-156003126,2176,2759,2996,2889,2641,2458,314,681,637,1185
chrX:156009723-156010194,115,133,151,128,135,131,6,7,9,6
chrX:156016432-156016780,142,191,190,177,187,170,3,1,1,2
chrX:156024963-156025554,304,373,418,411,402,345,20,46,43,109
chrX:156030352-156030709,143,224,221,216,205,167,0,0,1,0
chrY:11215107-11215421,0,0,0,0,0,0,0,0,0,0

====================
Region Folder: fcc_astarr_macs
Region Label:  astarr_macs_input_union

Region,Input.rep1,Input.rep2,Input.rep3,Input.rep4,Input.rep5,Input.rep6,Output.rep1,Output.rep2,Output.rep3,Output.rep4
chr1:10015-10442,155,214,257,236,185,214,7,12,4,11
chr1:14253-14645,110,144,160,141,130,130,8,26,30,57
chr1:16015-16477,141,208,206,190,202,182,9,9,18,23
chr1:17237-17772,259,350,399,367,369,331,7,13,23,59
chr1:28903-29613,263,338,368,333,352,317,12,18,3,32
chr1:30803-31072,82,115,171,136,105,115,13,22,14,33

Region,Input.rep1,Input.rep2,Input.rep3,Input.rep4,Input.rep5,Input.rep6,Output.rep1,Output.rep2,Output.rep3,Output.rep4
chrX:156000382-156003205,2232,2835,3075,2965,2708,2511,316,692,646,1202
chrX:156009687-156010227,136,163,194,156,171,161,6,7,12,17
chrX:156016391-156016836,146,197,197,186,193,178,4,1,2,2
chrX:156024950-156025593,307,381,422,418,408,350,20,46,43,112
chrX:156030187-156030740,164,254,249,238,236,187,3,5,3,2
chrY:11215098-11215422,0,0,0,0,0,0,0,0,0,0