**Set environment**

In [1]:
suppressMessages(suppressWarnings(source("../config/config_sing.R")))
show_env()

You are in Singularity: singularity_proj_encode_fcc
BASE DIRECTORY (FD_BASE): /data/reddylab/Kuei
WORK DIRECTORY (FD_WORK): /data/reddylab/Kuei/out
CODE DIRECTORY (FD_CODE): /data/reddylab/Kuei/code
PATH OF PROJECT (FD_PRJ): /data/reddylab/Kuei/code/Proj_CombEffect_ENCODE_FCC
PATH OF RESULTS (FD_RES): /data/reddylab/Kuei/out/proj_combeffect_encode_fcc
PATH OF LOG     (FD_LOG): /data/reddylab/Kuei/out/proj_combeffect_encode_fcc/log

## Import data (All ATAC peaks)

In [2]:
fdiry = file.path(FD_RES, "results", "region", "KS91_K562_ASTARRseq_peak_macs_input")
fname = "KS91_K562_hg38_ASTARRseq_Input.all_reps.masked.union_narrowPeak.q5.bed.gz"
fpath = file.path(fdiry, fname)

cnames = c("Chrom", "Start", "End")
dat = read_tsv(fpath, col_names = cnames, show_col_types = FALSE)

dat_peak_atac_total = dat
print(dim(dat))
head(dat)

[1] 247520      3

  Chrom Start End
1 chr1  10015 10442
2 chr1  14253 14645
3 chr1  16015 16477
4 chr1  17237 17772
5 chr1  28903 29613
6 chr1  30803 31072

## Label

In [3]:
### combine with total
dat = dat_peak_atac_total
dat = dat %>%
    dplyr::mutate(Peak = paste0(Chrom, ":", Start, "-", End)) %>%
    dplyr::mutate(
        Assay_Type  = "ATAC",
        Assay_Label = "ATAC_T")

dat_peak_atac_label = dat
print(dim(dat))
head(dat)

[1] 247520      6

  Chrom Start End   Peak             Assay_Type Assay_Label
1 chr1  10015 10442 chr1:10015-10442 ATAC       ATAC_T
2 chr1  14253 14645 chr1:14253-14645 ATAC       ATAC_T
3 chr1  16015 16477 chr1:16015-16477 ATAC       ATAC_T
4 chr1  17237 17772 chr1:17237-17772 ATAC       ATAC_T
5 chr1  28903 29613 chr1:28903-29613 ATAC       ATAC_T
6 chr1  30803 31072 chr1:30803-31072 ATAC       ATAC_T

## Save results

In [4]:
### set file paths
fdiry  = file.path(
    FD_RES, 
    "results",
    "region",
    "KS91_K562_ASTARRseq_peak_macs_input",
    "summary"
)
fname = paste("peak", "screened", "atac", "total", "tsv", sep = ".")
fpath = file.path(fdiry, fname)

### save table
dat = dat_peak_atac_label
write_tsv(dat, fpath)