---
title: Prepare CRISPRi-Growth significant region 02
subtitle: Explore regions
format:
    html:
        code-fold:  true
        code-tools: true
---

**Set environment**

In [1]:
suppressMessages(suppressWarnings(source("../run_config_project_sing.R")))
show_env()

You are working on        Singularity
BASE DIRECTORY (FD_BASE): /mount
REPO DIRECTORY (FD_REPO): /mount/repo
WORK DIRECTORY (FD_WORK): /mount/work
DATA DIRECTORY (FD_DATA): /mount/data

You are working with      ENCODE FCC
PATH OF PROJECT (FD_PRJ): /mount/repo/Proj_ENCODE_FCC
PROJECT RESULTS (FD_RES): /mount/repo/Proj_ENCODE_FCC/results
PROJECT SCRIPTS (FD_EXE): /mount/repo/Proj_ENCODE_FCC/scripts
PROJECT DATA    (FD_DAT): /mount/repo/Proj_ENCODE_FCC/data
PROJECT NOTE    (FD_NBK): /mount/repo/Proj_ENCODE_FCC/notebooks
PROJECT DOCS    (FD_DOC): /mount/repo/Proj_ENCODE_FCC/docs
PROJECT LOG     (FD_LOG): /mount/repo/Proj_ENCODE_FCC/log
PROJECT APP     (FD_APP): /mount/repo/Proj_ENCODE_FCC/app
PROJECT REF     (FD_REF): /mount/repo/Proj_ENCODE_FCC/references

**Set global variables**

In [5]:
TXT_ASSAY = "CRISPRi_Growth_K562_Gersbach_Alex"

## Import data

In [10]:
txt_assay = TXT_ASSAY
txt_fdiry = file.path(FD_DAT, "processed", txt_assay)

vec = dir(txt_fdiry)
for (txt in vec){cat(txt, "\n")}

2023_resubmission
k562-gw-v3-all.sorted.counts.results.hg38.txt.gz
k562-gw-v3-all.sorted.counts.results.top_guide_fdr_0_05.hg38.bed.gz

In [12]:
txt_assay = TXT_ASSAY
txt_fdiry = file.path(FD_DAT, "processed", txt_assay)
txt_fname = "k562-gw-v3-all.sorted.counts.results.hg38.txt.gz"
txt_fpath = file.path(txt_fdiry, txt_fname)

dat = read_tsv(txt_fpath, show_col_types = FALSE)
colnames(dat)[1] = "RowID"

dat_peak_crispri_growth_total = dat
print(dim(dat))
fun_display_table(head(dat))

New names:
• `` -> `...1`

[1] 1092166      22

RowID,baseMean,log2FoldChange,lfcSE,stat,pvalue,padj,weight,name,dhs_chrom,dhs_start,dhs_end,ID,chrPerturbationTarget,startPerturbationTarget,endPerturbationTarget,chrom,start,end,dhs_id,score,strand
0,669.8027,-0.9859338,0.1352781,-7.5156478,0.0000000,0.0000000,1.0189024,chr1.1.1,chr1,540930,541007,chr1.1,chr1,540951,540970,chr1,605550,605627,chr1.1,521,.
1,1210.5948,0.0175568,0.1125958,0.9724725,0.3308155,0.8618381,1.3894218,chr1.1.2,chr1,540930,541007,chr1.1,chr1,540971,540990,chr1,605550,605627,chr1.1,521,.
2,2065.7482,0.0142221,0.0769462,0.7948325,0.4267110,0.9074943,1.2206106,chr1.1.3,chr1,540930,541007,chr1.1,chr1,540963,540982,chr1,605550,605627,chr1.1,521,.
3,670.0537,0.0184355,0.1262349,1.0421596,0.2973377,0.8864450,1.0189024,chr1.1.4,chr1,540930,541007,chr1.1,chr1,540953,540972,chr1,605550,605627,chr1.1,521,.
4,1023.9170,0.0112653,0.1017871,0.6436207,0.5198214,0.9145863,1.3894218,chr1.1.5,chr1,540930,541007,chr1.1,chr1,540954,540973,chr1,605550,605627,chr1.1,521,.
5,605.4137,0.0324261,0.1459777,1.6813118,0.0927024,0.7390114,0.9584715,chr1.1.6,chr1,540930,541007,chr1.1,chr1,540979,540998,chr1,605550,605627,chr1.1,521,.

In [14]:
txt_assay = TXT_ASSAY
txt_fdiry = file.path(FD_DAT, "processed", txt_assay)
txt_fname = "k562-gw-v3-all.sorted.counts.results.top_guide_fdr_0_05.hg38.bed.gz"
txt_fpath = file.path(txt_fdiry, txt_fname)

dat = read_csv(txt_fpath, show_col_types = FALSE)
colnames(dat)[1] = "RowID"

dat_peak_crispri_growth_signif = dat
print(dim(dat))
fun_display_table(head(dat))

New names:
• `` -> `...1`

[1] 6242    7

RowID,chrom,start,end,name,log2FoldChange,padj
504606,chr19,11155578,11156290,chr19.1899.3,-2.549922,0
686888,chr22,30356286,30357525,chr22.1285.6,-3.059909,0
868222,chr6,34530428,34530534,chr6.2172.8,-3.100194,0
50002,chr1,20685850,20686283,chr1.2930.10,-2.862158,0
811835,chr5,70924811,70925615,chr5.1649.1,-2.927110,0
811815,chr5,70049360,70050252,chr5.1647.1,-2.927110,0

In [38]:
dat = dat_peak_crispri_growth_signif
head(dat)

  RowID  chrom start    end      name         log2FoldChange padj
1 504606 chr19 11155578 11156290 chr19.1899.3 -2.549922      3.771775e-123
2 686888 chr22 30356286 30357525 chr22.1285.6 -3.059909      9.819760e-120
3 868222 chr6  34530428 34530534 chr6.2172.8  -3.100194      1.232839e-117
4  50002 chr1  20685850 20686283 chr1.2930.10 -2.862158      9.548565e-109
5 811835 chr5  70924811 70925615 chr5.1649.1  -2.927110      4.298640e-107
6 811815 chr5  70049360 70050252 chr5.1647.1  -2.927110      4.298640e-107

In [44]:
txt = c("chrom", "start", "end", "name", "log2FoldChange", "padj")

dat = dat_peak_crispri_growth_signif
idx = dat$name

dat = dat_peak_crispri_growth_total
dat = dat %>% 
    dplyr::select({{txt}}) %>% 
    dplyr::filter(name %in% idx) %>% 
    dplyr::arrange(padj)
    
print(dim(dat))
head(dat)

[1] 6242    6

  chrom start    end      name         log2FoldChange padj
1 chr19 11155578 11156290 chr19.1899.3 -2.549922      3.771775e-123
2 chr22 30356286 30357525 chr22.1285.6 -3.059909      9.819760e-120
3 chr6  34530428 34530534 chr6.2172.8  -3.100194      1.232839e-117
4 chr1  20685850 20686283 chr1.2930.10 -2.862158      9.548565e-109
5 chr5  70049360 70050252 chr5.1647.1  -2.927110      4.298640e-107
6 chr5  70924811 70925615 chr5.1649.1  -2.927110      4.298640e-107

In [47]:
txt = c("chrom", "start", "end", "name", "log2FoldChange", "padj")

dat = dat_peak_crispri_growth_signif
idx = dat$name

dat = dat_peak_crispri_growth_total
dat = dat %>% 
    dplyr::select({{txt}}) %>% 
    dplyr::filter(padj < 0.05) %>% 
    dplyr::arrange(padj)

dat = dat %>%
    dplyr::group_by(chrom, start, end) %>%
    dplyr::filter(padj == min(padj)) %>%
    dplyr::distinct()
print(dim(dat))
head(dat)

[1] 6244    6

  chrom start    end      name         log2FoldChange padj
1 chr19 11155578 11156290 chr19.1899.3 -2.549922      3.771775e-123
2 chr22 30356286 30357525 chr22.1285.6 -3.059909      9.819760e-120
3 chr6  34530428 34530534 chr6.2172.8  -3.100194      1.232839e-117
4 chr1  20685850 20686283 chr1.2930.10 -2.862158      9.548565e-109
5 chr5  70049360 70050252 chr5.1647.1  -2.927110      4.298640e-107
6 chr5  70924811 70925615 chr5.1649.1  -2.927110      4.298640e-107

In [31]:
txt = c("chrom", "start", "end")

dat = dat_peak_crispri_growth_total
dat = dat %>% 
    dplyr::filter(padj < 0.05) %>%
    dplyr::select({{txt}}) %>% 
    dplyr::distinct()
    
print(dim(dat))

[1] 6242    3

In [30]:
head(dat)

  chrom start     end       name          log2FoldChange padj
1 chr1     605550    605627 chr1.1.1      -0.9859338     3.245787e-11
2 chr1    4228046   4228421 chr1.1004.1   -0.3333973     1.749448e-02
3 chr1    4325670   4325804 chr1.1005.7   -2.1666023     2.932057e-42
4 chr1  179954288 179955435 chr1.10072.11 -1.4029593     1.383612e-18
5 chr1  180168130 180168315 chr1.10079.5  -0.2323464     6.251080e-03
6 chr1  180219850 180220010 chr1.10090.6  -1.1450925     6.639118e-03

In [ ]:
txt = c(
    "chrom",     "start",     "end", 
    'dhs_chrom', 'dhs_start', 'dhs_end', "dhs_id", 'ID',
    'chrPerturbationTarget',
    'startPerturbationTarget',
    'endPerturbationTarget')

dat = dat_peak_crispri_growth_total
print(dim(dat))

dat = dat %>% dplyr::select({{txt}}) %>% dplyr::distinct()
print(dim(dat))
head(dat)

In [15]:
txt = c(
    "chrom",     "start",     "end", 
    'dhs_chrom', 'dhs_start', 'dhs_end', "dhs_id", 'ID',
    'chrPerturbationTarget',
    'startPerturbationTarget',
    'endPerturbationTarget')

dat = dat_peak_crispri_growth_total
print(dim(dat))

dat = dat %>% dplyr::select({{txt}}) %>% dplyr::distinct()
print(dim(dat))
head(dat)

[1] 1092166      22
[1] 1070790      11

  chrom start  end    dhs_chrom dhs_start dhs_end dhs_id ID
1 chr1  605550 605627 chr1      540930    541007  chr1.1 chr1.1
2 chr1  605550 605627 chr1      540930    541007  chr1.1 chr1.1
3 chr1  605550 605627 chr1      540930    541007  chr1.1 chr1.1
4 chr1  605550 605627 chr1      540930    541007  chr1.1 chr1.1
5 chr1  605550 605627 chr1      540930    541007  chr1.1 chr1.1
6 chr1  605550 605627 chr1      540930    541007  chr1.1 chr1.1
  chrPerturbationTarget startPerturbationTarget endPerturbationTarget
1 chr1                  540951                  540970
2 chr1                  540971                  540990
3 chr1                  540963                  540982
4 chr1                  540953                  540972
5 chr1                  540954                  540973
6 chr1                  540979                  540998

In [19]:
txt = c(
    "chrom",     "start",     "end", 
    'dhs_chrom', 'dhs_start', 'dhs_end')

dat = dat_peak_crispri_growth_total
print(dim(dat))

dat = dat %>% dplyr::select({{txt}}) %>% dplyr::distinct()
dat = dat %>% 
    dplyr::mutate(
        Loc_hg38 = paste(chrom, start, end, sep="\\t"),
        Loc_hg19 = paste(dhs_chrom, dhs_start, dhs_end, sep="\\t")
    )
print(dim(dat))
head(dat)

[1] 1092166      22
[1] 111702      8

  chrom start     end       dhs_chrom dhs_start dhs_end
1 chr1     605550    605627 chr1         540930    541007
2 chr1     865344    865447 chr1         800724    800827
3 chr1    1140728   1142081 chr1        1076108   1077461
4 chr1    4173215   4173505 chr1        4233275   4233565
5 chr1  176948943 176949446 chr1      176918079 176918582
6 chr1  176954362 176954533 chr1      176923498 176923669
  Loc_hg38                     Loc_hg19
1 chr1\\t605550\\t605627       chr1\\t540930\\t541007
2 chr1\\t865344\\t865447       chr1\\t800724\\t800827
3 chr1\\t1140728\\t1142081     chr1\\t1076108\\t1077461
4 chr1\\t4173215\\t4173505     chr1\\t4233275\\t4233565
5 chr1\\t176948943\\t176949446 chr1\\t176918079\\t176918582
6 chr1\\t176954362\\t176954533 chr1\\t176923498\\t176923669

In [26]:
txt_fpath_cmd  = "bedtools getfasta -fi"
txt_fpath_hg38 = "/data/reddylab/Reference_Data/Genomes/hg38/GCA_000001405.15_GRCh38_no_alt_analysis_set.fna"
txt_fpath_hg19 = "/data/reddylab/Reference_Data/Genomes/hg19/hg19.fa"

idx = 1
txt_loc_hg38 = dat$Loc_hg38[idx]
txt_loc_hg19 = dat$Loc_hg19[idx]
txt_cmd1 = paste(txt_fpath_cmd, txt_fpath_hg38, "-bed", "<(echo -e", txt_loc_hg38, ")")
txt_cmd2 = paste(txt_fpath_cmd, txt_fpath_hg19, "-bed", "<(echo -e", txt_loc_hg19, ")")

txt_cmd1

[1] "bedtools getfasta -fi /data/reddylab/Reference_Data/Genomes/hg38/GCA_000001405.15_GRCh38_no_alt_analysis_set.fna -bed <(echo -e chr1\\t605550\\t605627 )"

In [27]:
res = system(txt_cmd1, intern=TRUE)
res

Warning message in system(txt_cmd1, intern = TRUE):
“running command 'bedtools getfasta -fi /data/reddylab/Reference_Data/Genomes/hg38/GCA_000001405.15_GRCh38_no_alt_analysis_set.fna -bed <(echo -e chr1\t605550\t605627 )' had status 2”

character(0)
attr(,"status")
[1] 2
attr(,"errmsg")
[1] "Resource temporarily unavailable"

In [24]:
paste0("'", dat$Loc_hg38[idx], "'")

[1] "'chr1\\t605550\\t605627'"