---
title: Region Coverage (FCC) 11
subtitle: Combine counts across samples and generate count matrix (STARR)
format:
    html:
        code-fold:  true
        code-tools: true
---

**Set environment**

In [1]:
suppressMessages(suppressWarnings(source("../run_config_project_sing.R")))
show_env()

You are working on        Singularity: singularity_proj_encode_fcc
BASE DIRECTORY (FD_BASE): /data/reddylab/Kuei
REPO DIRECTORY (FD_REPO): /data/reddylab/Kuei/repo
WORK DIRECTORY (FD_WORK): /data/reddylab/Kuei/work
DATA DIRECTORY (FD_DATA): /data/reddylab/Kuei/data

You are working with      ENCODE FCC
PATH OF PROJECT (FD_PRJ): /data/reddylab/Kuei/repo/Proj_ENCODE_FCC
PROJECT RESULTS (FD_RES): /data/reddylab/Kuei/repo/Proj_ENCODE_FCC/results
PROJECT SCRIPTS (FD_EXE): /data/reddylab/Kuei/repo/Proj_ENCODE_FCC/scripts
PROJECT DATA    (FD_DAT): /data/reddylab/Kuei/repo/Proj_ENCODE_FCC/data
PROJECT NOTE    (FD_NBK): /data/reddylab/Kuei/repo/Proj_ENCODE_FCC/notebooks
PROJECT DOCS    (FD_DOC): /data/reddylab/Kuei/repo/Proj_ENCODE_FCC/docs
PROJECT LOG     (FD_LOG): /data/reddylab/Kuei/repo/Proj_ENCODE_FCC/log
PROJECT REF     (FD_REF): /data/reddylab/Kuei/repo/Proj_ENCODE_FCC/references

**Check: assay directory**

In [2]:
txt_fdiry = file.path(FD_RES, "assay_fcc")
vec = dir(txt_fdiry)
for (txt in vec) {cat(txt, "\n")}

CRISPRi_FlowFISH_K562_Riley_JinWoo
CRISPRi_Growth_K562_Gersbach_JinWoo
MPRA_Lenti_K562_Nadav_Vikram
MPRA_Tiling_K562_Tewhey_Hannah
STARR_ATAC_K562_Reddy_KS274
STARR_ATAC_K562_Reddy_KS91
STARR_ATAC_K562_Reddy_KSMerge
STARR_WHG_K562_Reddy_A001

**Check: region summary**

In [3]:
txt_fdiry = file.path(FD_RES, "region", "summary")
vec = dir(txt_fdiry)
for (txt in vec) {cat(txt, "\n")}

metadata.label.astarr_macs_merge.tsv
metadata.label.chipseq_histone.tsv
metadata.label.chipseq_subset.tsv
metadata.label.chipseq_tf_full.tsv
metadata.label.hic.tsv
metadata.label.main.tsv
metadata.label.ocr.tsv
metadata.label.region_for_analysis.tsv

## Import region data

**Read region metadata table**

In [4]:
### set directory
txt_fdiry = file.path(FD_RES, "region", "summary")
txt_fname = "metadata.label.region_for_analysis.tsv"
txt_fpath = file.path(txt_fdiry, txt_fname)

### read table
dat = read_tsv(txt_fpath, show_col_types = FALSE)

### assign and show
dat_meta_region = dat
fun_display_table(dat)

Folder,FName,Label,FPath
region_for_analysis,K562.hg38.ASTARR.macs.KS91.input.rep_all.max_overlaps.q5.bed.gz,fcc_astarr_macs_input_overlap,/data/reddylab/Kuei/repo/Proj_ENCODE_FCC/results/region/region_for_analysis/K562.hg38.ASTARR.macs.KS91.input.rep_all.max_overlaps.q5.bed.gz
region_for_analysis,K562.hg38.ASTARR.macs.KS91.input.rep_all.union.q5.bed.gz,fcc_astarr_macs_input_union,/data/reddylab/Kuei/repo/Proj_ENCODE_FCC/results/region/region_for_analysis/K562.hg38.ASTARR.macs.KS91.input.rep_all.union.q5.bed.gz
region_for_analysis,K562.hg38.ENCSR000EKS.ENCFF274YGF.DNase.bed.gz,dnase_ENCFF274YGF,/data/reddylab/Kuei/repo/Proj_ENCODE_FCC/results/region/region_for_analysis/K562.hg38.ENCSR000EKS.ENCFF274YGF.DNase.bed.gz
region_for_analysis,K562.hg38.ENCSR000EOT.ENCFF185XRG.DNase.bed.gz,dnase_ENCFF185XRG,/data/reddylab/Kuei/repo/Proj_ENCODE_FCC/results/region/region_for_analysis/K562.hg38.ENCSR000EOT.ENCFF185XRG.DNase.bed.gz
region_for_analysis,K562.hg38.ENCSR483RKN.ENCFF558BLC.ATAC.bed.gz,atac_ENCFF558BLC,/data/reddylab/Kuei/repo/Proj_ENCODE_FCC/results/region/region_for_analysis/K562.hg38.ENCSR483RKN.ENCFF558BLC.ATAC.bed.gz
region_for_analysis,K562.hg38.ENCSR483RKN.ENCFF925CYR.ATAC.bed.gz,atac_ENCFF925CYR,/data/reddylab/Kuei/repo/Proj_ENCODE_FCC/results/region/region_for_analysis/K562.hg38.ENCSR483RKN.ENCFF925CYR.ATAC.bed.gz
region_for_analysis,K562.hg38.ENCSR868FGK.ENCFF333TAT.ATAC.bed.gz,atac_ENCFF333TAT,/data/reddylab/Kuei/repo/Proj_ENCODE_FCC/results/region/region_for_analysis/K562.hg38.ENCSR868FGK.ENCFF333TAT.ATAC.bed.gz
region_for_analysis,K562.hg38.ENCSR868FGK.ENCFF948AFM.ATAC.bed.gz,atac_ENCFF948AFM,/data/reddylab/Kuei/repo/Proj_ENCODE_FCC/results/region/region_for_analysis/K562.hg38.ENCSR868FGK.ENCFF948AFM.ATAC.bed.gz

**Create region list for looping**

In [5]:
dat = dat_meta_region
lst = split(dat$Folder, dat$Label)

lst_txt_region = lst
print(lst)

$atac_ENCFF333TAT
[1] "region_for_analysis"

$atac_ENCFF558BLC
[1] "region_for_analysis"

$atac_ENCFF925CYR
[1] "region_for_analysis"

$atac_ENCFF948AFM
[1] "region_for_analysis"

$dnase_ENCFF185XRG
[1] "region_for_analysis"

$dnase_ENCFF274YGF
[1] "region_for_analysis"

$fcc_astarr_macs_input_overlap
[1] "region_for_analysis"

$fcc_astarr_macs_input_union
[1] "region_for_analysis"

## Loop through regions and assays to create count matrix

**Test loop: region + assay**

In [6]:
### init: region folders
dat = dat_meta_region
vec = dat$Label
vec_txt_region = vec

### init: assay name
vec_txt_assay = c(
    "STARR_ATAC_K562_Reddy_KS91",
    "STARR_ATAC_K562_Reddy_KS274",
    "STARR_ATAC_K562_Reddy_KSMerge",
    "STARR_WHG_K562_Reddy_A001"
)

### execute
for (txt_region_label in vec_txt_region[1]) {

    ### set directory for region description
    txt_region_folder = lst_txt_region[[txt_region_label]]
    txt_fdiry = file.path(FD_RES, "region", txt_region_folder, "summary")
    txt_fname = "description.tsv"
    txt_fpath = file.path(txt_fdiry, txt_fname)

    ### get region description and set column names/types
    dat = read_tsv(txt_fpath, show_col_types = FALSE)
    vec = dat$Name
    vec_txt_cname = c(vec, "Count")
    vec_col_ctype = cols(Count = col_character())

    ### loop through each assay under each region
    for (txt_assay in vec_txt_assay) {

        ### set directory for assay metadata
        txt_fdiry = file.path(FD_RES, "assay_fcc", txt_assay, "fragment_counts", "summary")
        txt_fname = "metadata.tsv"
        txt_fpath = file.path(txt_fdiry, txt_fname)
    
        ### read metadata and setup sample names
        dat  = read_tsv(txt_fpath, show_col_types = FALSE)
        vec1 = dat$FName
        vec2 = dat$Sample
        dat_meta_assay = dat
        vec_txt_sample = setNames(vec1, vec2)

        ### set directory for assay counts
        txt_fdiry = file.path(
            FD_RES, 
            "region_coverage_fcc_score",
            txt_region_label,
            txt_assay
        )
        txt_fname = "*WGS*bed.gz"
        txt_fglob = file.path(txt_fdiry, txt_fname)

        ### get count files
        vec_txt_fpath = Sys.glob(txt_fglob)
        vec_txt_fname = basename(vec_txt_fpath)

        ### show progress:
        cat("\n====================\n")
        cat("Region Folder:", txt_region_folder, "\n")
        cat("Region Label: ", txt_region_label,  "\n")
        cat("Assay  Folder:", txt_assay,         "\n")
        cat("Import Counts:\n")
        print(vec_txt_fname)
        cat("\n")
        flush.console()
    } ### end inner loop (assay)
} ### end outer loop (region set)

====================
Region Folder: region_for_analysis
Region Label:  fcc_astarr_macs_input_overlap
Assay  Folder: STARR_ATAC_K562_Reddy_KS91
Import Counts:
 [1] "ASTARRseq_K562_KS91.hg38.Input.rep1.WGS.unstranded.bed.gz"
 [2] "ASTARRseq_K562_KS91.hg38.Input.rep2.WGS.unstranded.bed.gz"
 [3] "ASTARRseq_K562_KS91.hg38.Input.rep3.WGS.unstranded.bed.gz"
 [4] "ASTARRseq_K562_KS91.hg38.Input.rep4.WGS.unstranded.bed.gz"
 [5] "ASTARRseq_K562_KS91.hg38.Input.rep5.WGS.unstranded.bed.gz"
 [6] "ASTARRseq_K562_KS91.hg38.Input.rep6.WGS.unstranded.bed.gz"
 [7] "ASTARRseq_K562_KS91.hg38.Output.rep1.WGS.unstranded.bed.gz"
 [8] "ASTARRseq_K562_KS91.hg38.Output.rep2.WGS.unstranded.bed.gz"
 [9] "ASTARRseq_K562_KS91.hg38.Output.rep3.WGS.unstranded.bed.gz"
[10] "ASTARRseq_K562_KS91.hg38.Output.rep4.WGS.unstranded.bed.gz"


====================
Region Folder: region_for_analysis
Region Label:  fcc_astarr_macs_input_overlap
Assay  Folder: STARR_ATAC_K562_Reddy_KS274
Import Counts:
[1] "ASTARRseq_K562_KS274.hg38.Output.rep1.WGS.unstranded.bed.gz"
[2] "ASTARRseq_K562_KS274.hg38.Output.rep2.WGS.unstranded.bed.gz"
[3] "ASTARRseq_K562_KS274.hg38.Output.rep3.WGS.unstranded.bed.gz"
[4] "ASTARRseq_K562_KS91.hg38.Input.rep1.WGS.unstranded.bed.gz"
[5] "ASTARRseq_K562_KS91.hg38.Input.rep2.WGS.unstranded.bed.gz"
[6] "ASTARRseq_K562_KS91.hg38.Input.rep3.WGS.unstranded.bed.gz"
[7] "ASTARRseq_K562_KS91.hg38.Input.rep4.WGS.unstranded.bed.gz"
[8] "ASTARRseq_K562_KS91.hg38.Input.rep5.WGS.unstranded.bed.gz"
[9] "ASTARRseq_K562_KS91.hg38.Input.rep6.WGS.unstranded.bed.gz"


====================
Region Folder: region_for_analysis
Region Label:  fcc_astarr_macs_input_overlap
Assay  Folder: STARR_ATAC_K562_Reddy_KSMerge
Import Counts:
 [1] "ASTARRseq_K562_KS274.hg38.Output.rep1.WGS.unstranded.bed.gz"
 [2] "ASTARRseq_K562_KS274.hg38.Output.rep2.WGS.unstranded.bed.gz"
 [3] "ASTARRseq_K562_KS274.hg38.Output.rep3.WGS.unstranded.bed.gz"
 [4] "ASTARRseq_K562_KS91.hg38.Input.rep1.WGS.unstranded.bed.gz"
 [5] "ASTARRseq_K562_KS91.hg38.Input.rep2.WGS.unstranded.bed.gz"
 [6] "ASTARRseq_K562_KS91.hg38.Input.rep3.WGS.unstranded.bed.gz"
 [7] "ASTARRseq_K562_KS91.hg38.Input.rep4.WGS.unstranded.bed.gz"
 [8] "ASTARRseq_K562_KS91.hg38.Input.rep5.WGS.unstranded.bed.gz"
 [9] "ASTARRseq_K562_KS91.hg38.Input.rep6.WGS.unstranded.bed.gz"
[10] "ASTARRseq_K562_KS91.hg38.Output.rep1.WGS.unstranded.bed.gz"
[11] "ASTARRseq_K562_KS91.hg38.Output.rep2.WGS.unstranded.bed.gz"
[12] "ASTARRseq_K562_KS91.hg38.Output.rep3.WGS.unstranded.bed.gz"
[13] "ASTARRseq_K562_KS91.hg38.Output.rep4.WGS.unstranded.bed.gz"


====================
Region Folder: region_for_analysis
Region Label:  fcc_astarr_macs_input_overlap
Assay  Folder: STARR_WHG_K562_Reddy_A001
Import Counts:
[1] "WSTARRseq_K562_A001.hg38.Input.rep1.WGS.unstranded.bed.gz"
[2] "WSTARRseq_K562_A001.hg38.Input.rep2.WGS.unstranded.bed.gz"
[3] "WSTARRseq_K562_A001.hg38.Input.rep3.WGS.unstranded.bed.gz"
[4] "WSTARRseq_K562_A001.hg38.Input.rep4.WGS.unstranded.bed.gz"
[5] "WSTARRseq_K562_A001.hg38.Output.rep1.WGS.unstranded.bed.gz"
[6] "WSTARRseq_K562_A001.hg38.Output.rep2.WGS.unstranded.bed.gz"
[7] "WSTARRseq_K562_A001.hg38.Output.rep3.WGS.unstranded.bed.gz"

**Define helper function**

In [7]:
fun = function(dat1, dat2){
    dat = dplyr::full_join(dat1, dat2, by = c("Chrom", "ChromStart", "ChromEnd", "Region"))
    return(dat)
}

**Generate count matrix for each region set for each assay**

In [8]:
### init: region folders
txt_fdiry = file.path(FD_RES, "region_coverage_fcc_score")
vec_txt_region = dir(txt_fdiry)
print(vec_txt_region)
cat("\n")

### init: assay name
vec_txt_assay = c(
    "STARR_ATAC_K562_Reddy_KS91",
    "STARR_ATAC_K562_Reddy_KS274",
    "STARR_ATAC_K562_Reddy_KSMerge",
    "STARR_WHG_K562_Reddy_A001"
)

### loop through each region folder
for (txt_region_label in vec_txt_region) {

    ### set directory for region description
    txt_region_folder = lst_txt_region[[txt_region_label]]
    txt_fdiry = file.path(FD_RES, "region", txt_region_folder, "summary")
    txt_fname = "description.tsv"
    txt_fpath = file.path(txt_fdiry, txt_fname)

    ### get region description and set column names/types
    dat = read_tsv(txt_fpath, show_col_types = FALSE)
    vec = dat$Name
    vec_txt_cname = c(vec, "Count")
    vec_col_ctype = cols(Count = col_character())
    
    ### loop through each assay under each region
    for (txt_assay in vec_txt_assay) {

        ### set directory for assay metadata
        txt_fdiry = file.path(FD_RES, "assay_fcc", txt_assay, "fragment_counts", "summary")
        txt_fname = "metadata.tsv"
        txt_fpath = file.path(txt_fdiry, txt_fname)
    
        ### read metadata and setup sample names
        dat  = read_tsv(txt_fpath, show_col_types = FALSE)
        vec1 = dat$FName
        vec2 = dat$Sample
        dat_meta_assay = dat
        vec_txt_sample = setNames(vec1, vec2)

        ### set directory for assay counts
        txt_fdiry = file.path(
            FD_RES, 
            "region_coverage_fcc_score",
            txt_region_label,
            txt_assay
        )
        txt_fname = "*WGS*bed.gz"
        txt_fglob = file.path(txt_fdiry, txt_fname)

        ### get count files
        vec_txt_fpath = Sys.glob(txt_fglob)
        vec_txt_fname = basename(vec_txt_fpath)

        ### show progress:
        cat("\n====================\n")
        cat("Region Folder:", txt_region_folder, "\n")
        cat("Region Label: ", txt_region_label,  "\n")
        cat("Assay  Folder:", txt_assay,         "\n")
        cat("Import Counts:\n")
        print(vec_txt_fname)
        cat("\n")
        flush.console()
        
        ### loop through count files and import them
        lst_dat = lapply(vec_txt_fpath, function(txt_fpath){

            ### read table
            dat = read_tsv(
                txt_fpath, 
                col_names = vec_txt_cname, 
                col_types = vec_col_ctype, 
                show_col_types = FALSE)

            ### arrange the columns
            dat = dat %>% 
                dplyr::select(Chrom, ChromStart, ChromEnd, Count) %>%
                dplyr::mutate(Region = paste0(Chrom, ":", ChromStart, "-", ChromEnd)) %>%
                dplyr::mutate(Count  = replace(Count, Count == ".", "0")) %>%
                dplyr::mutate(Count  = as.integer(Count)) %>%
                dplyr::select(Chrom, ChromStart, ChromEnd, Region, Count) %>%
                dplyr::distinct()

            ### rename column to include the file name
            txt_fname = basename(txt_fpath)
            vec = c("Chrom", "ChromStart", "ChromEnd", "Region", txt_fname)
            colnames(dat) = vec
            
            return(dat)
        })
        
        ### combine imported counts into a matrix
        dat_cnt = Reduce(fun, lst_dat)
        dat_cnt = dplyr::rename(dat_cnt, any_of(vec_txt_sample))
        
        ### filter out unaligned reigons
        mat_cnt = dat_cnt %>%
            dplyr::select(-Chrom, -ChromStart, -ChromEnd) %>%
            column_to_rownames(var = "Region")
        vec  = apply(mat_cnt, 1, sum)
        idx1 = (vec != 0)
        
        ### re-order columns: Input ---> Output
        vec  = colnames(mat_cnt)
        vec  = sort(vec)
        idx2 = c("Chrom", "ChromStart", "ChromEnd", "Region", vec)
        
        ### get the final count matrix
        dat_cnt = dat_cnt[idx1,idx2]

        ### combine count matrix and column data
        dat_col = dat_meta_assay %>% dplyr::filter(FName %in% vec_txt_fname)
        lst_dat = list(
            "data_cnt" = dat_cnt,
            "data_col" = dat_col
        )

        ### show progress
        cat("Removing zero:", "\n")
        cat("Before removing zero:", nrow(mat_cnt), "\n")
        cat("After  removing zero:", nrow(dat_cnt), "\n")
        cat("\n")
        flush.console()

        ### show progress
        cat("Save count matrix and data list.\n")
        flush.console()
        
        ### set directory for saving results
        txt_fdiry = file.path(
            FD_RES, "region_coverage_fcc_score",
            txt_region_label,
            txt_assay,
            "summary"
        )
        txt_cmd = paste("mkdir -p", txt_fdiry)
        system(txt_cmd)

        ### save count matrix
        txt_fname = "matrix.count.raw.WGS.tsv"
        txt_fpath = file.path(txt_fdiry, txt_fname)
        cat(txt_fname, "\n")
        flush.console()
        
        dat = dat_cnt
        write_tsv(dat, txt_fpath)

        ### save data list
        txt_fname = "data.count_column.raw.WGS.rds"
        txt_fpath = file.path(txt_fdiry, txt_fname)
        cat(txt_fname, "\n")
        flush.console()
        
        obj = lst_dat
        saveRDS(obj, txt_fpath)
        
        ### show progress: matrix
        cat("\n")
        cat("First few rows of the matrix:", "\n")
        flush.console()
        fun_display_table(head(dat_cnt, 3))
        
        cat("Last few rows of the matrix:", "\n")
        flush.console()
        fun_display_table(tail(dat_cnt, 3))
        cat("\n")
        flush.console()
    }
}

[1] "atac_ENCFF333TAT"              "atac_ENCFF558BLC"
[3] "atac_ENCFF925CYR"              "atac_ENCFF948AFM"
[5] "dnase_ENCFF185XRG"             "dnase_ENCFF274YGF"
[7] "fcc_astarr_macs_input_overlap" "fcc_astarr_macs_input_union"


====================
Region Folder: region_for_analysis
Region Label:  atac_ENCFF333TAT
Assay  Folder: STARR_ATAC_K562_Reddy_KS91
Import Counts:
 [1] "ASTARRseq_K562_KS91.hg38.Input.rep1.WGS.unstranded.bed.gz"
 [2] "ASTARRseq_K562_KS91.hg38.Input.rep2.WGS.unstranded.bed.gz"
 [3] "ASTARRseq_K562_KS91.hg38.Input.rep3.WGS.unstranded.bed.gz"
 [4] "ASTARRseq_K562_KS91.hg38.Input.rep4.WGS.unstranded.bed.gz"
 [5] "ASTARRseq_K562_KS91.hg38.Input.rep5.WGS.unstranded.bed.gz"
 [6] "ASTARRseq_K562_KS91.hg38.Input.rep6.WGS.unstranded.bed.gz"
 [7] "ASTARRseq_K562_KS91.hg38.Output.rep1.WGS.unstranded.bed.gz"
 [8] "ASTARRseq_K562_KS91.hg38.Output.rep2.WGS.unstranded.bed.gz"
 [9] "ASTARRseq_K562_KS91.hg38.Output.rep3.WGS.unstranded.bed.gz"
[10] "ASTARRseq_K562_KS91.hg38.Output.rep4.WGS.unstranded.bed.gz"

Removing zero:
Before removing zero: 161693
After  removing zero: 161187

Save count matrix and data list.
matrix.count.raw.WGS.tsv
data.count_column.raw.WGS.rds

First few rows of the matrix:

Chrom,ChromStart,ChromEnd,Region,Input.rep1,Input.rep2,Input.rep3,Input.rep4,Input.rep5,Input.rep6,Output.rep1,Output.rep2,Output.rep3,Output.rep4
chr1,40649,41403,chr1:40649-41403,1,0,2,1,1,1,1,0,0,0
chr1,42030,42399,chr1:42030-42399,0,0,0,0,0,1,0,0,0,0
chr1,46255,47025,chr1:46255-47025,4,4,4,4,3,3,0,0,0,0

Last few rows of the matrix:

Chrom,ChromStart,ChromEnd,Region,Input.rep1,Input.rep2,Input.rep3,Input.rep4,Input.rep5,Input.rep6,Output.rep1,Output.rep2,Output.rep3,Output.rep4
chrX,156002261,156002983,chrX:156002261-156002983,645,814,928,897,829,763,116,255,207,451
chrX,156010068,156011134,chrX:156010068-156011134,68,66,92,73,77,57,6,3,3,13
chrX,156015981,156017173,chrX:156015981-156017173,210,284,298,271,273,242,5,1,3,4

====================
Region Folder: region_for_analysis
Region Label:  atac_ENCFF333TAT
Assay  Folder: STARR_ATAC_K562_Reddy_KS274
Import Counts:
[1] "ASTARRseq_K562_KS274.hg38.Output.rep1.WGS.unstranded.bed.gz"
[2] "ASTARRseq_K562_KS274.hg38.Output.rep2.WGS.unstranded.bed.gz"
[3] "ASTARRseq_K562_KS274.hg38.Output.rep3.WGS.unstranded.bed.gz"
[4] "ASTARRseq_K562_KS91.hg38.Input.rep1.WGS.unstranded.bed.gz"
[5] "ASTARRseq_K562_KS91.hg38.Input.rep2.WGS.unstranded.bed.gz"
[6] "ASTARRseq_K562_KS91.hg38.Input.rep3.WGS.unstranded.bed.gz"
[7] "ASTARRseq_K562_KS91.hg38.Input.rep4.WGS.unstranded.bed.gz"
[8] "ASTARRseq_K562_KS91.hg38.Input.rep5.WGS.unstranded.bed.gz"
[9] "ASTARRseq_K562_KS91.hg38.Input.rep6.WGS.unstranded.bed.gz"

Removing zero:
Before removing zero: 161693
After  removing zero: 161167

Save count matrix and data list.
matrix.count.raw.WGS.tsv
data.count_column.raw.WGS.rds

First few rows of the matrix:

Chrom,ChromStart,ChromEnd,Region,Input.rep1,Input.rep2,Input.rep3,Input.rep4,Input.rep5,Input.rep6,Output.rep1,Output.rep2,Output.rep3
chr1,40649,41403,chr1:40649-41403,1,0,2,1,1,1,0,0,0
chr1,42030,42399,chr1:42030-42399,0,0,0,0,0,1,0,0,0
chr1,46255,47025,chr1:46255-47025,4,4,4,4,3,3,0,0,0

Last few rows of the matrix:

Chrom,ChromStart,ChromEnd,Region,Input.rep1,Input.rep2,Input.rep3,Input.rep4,Input.rep5,Input.rep6,Output.rep1,Output.rep2,Output.rep3
chrX,156002261,156002983,chrX:156002261-156002983,645,814,928,897,829,763,138,108,129
chrX,156010068,156011134,chrX:156010068-156011134,68,66,92,73,77,57,7,2,5
chrX,156015981,156017173,chrX:156015981-156017173,210,284,298,271,273,242,0,1,0

====================
Region Folder: region_for_analysis
Region Label:  atac_ENCFF333TAT
Assay  Folder: STARR_ATAC_K562_Reddy_KSMerge
Import Counts:
 [1] "ASTARRseq_K562_KS274.hg38.Output.rep1.WGS.unstranded.bed.gz"
 [2] "ASTARRseq_K562_KS274.hg38.Output.rep2.WGS.unstranded.bed.gz"
 [3] "ASTARRseq_K562_KS274.hg38.Output.rep3.WGS.unstranded.bed.gz"
 [4] "ASTARRseq_K562_KS91.hg38.Input.rep1.WGS.unstranded.bed.gz"
 [5] "ASTARRseq_K562_KS91.hg38.Input.rep2.WGS.unstranded.bed.gz"
 [6] "ASTARRseq_K562_KS91.hg38.Input.rep3.WGS.unstranded.bed.gz"
 [7] "ASTARRseq_K562_KS91.hg38.Input.rep4.WGS.unstranded.bed.gz"
 [8] "ASTARRseq_K562_KS91.hg38.Input.rep5.WGS.unstranded.bed.gz"
 [9] "ASTARRseq_K562_KS91.hg38.Input.rep6.WGS.unstranded.bed.gz"
[10] "ASTARRseq_K562_KS91.hg38.Output.rep1.WGS.unstranded.bed.gz"
[11] "ASTARRseq_K562_KS91.hg38.Output.rep2.WGS.unstranded.bed.gz"
[12] "ASTARRseq_K562_KS91.hg38.Output.rep3.WGS.unstranded.bed.gz"
[13] "ASTARRseq_K562_KS91.hg38.Output.rep4.WGS.unstranded.bed.gz"

Removing zero:
Before removing zero: 161693
After  removing zero: 161187

Save count matrix and data list.
matrix.count.raw.WGS.tsv
data.count_column.raw.WGS.rds

First few rows of the matrix:

Chrom,ChromStart,ChromEnd,Region,Input.rep1,Input.rep2,Input.rep3,Input.rep4,Input.rep5,Input.rep6,Output.rep1,Output.rep2,Output.rep3,Output.rep4,Output.rep5,Output.rep6,Output.rep7
chr1,40649,41403,chr1:40649-41403,1,0,2,1,1,1,1,0,0,0,0,0,0
chr1,42030,42399,chr1:42030-42399,0,0,0,0,0,1,0,0,0,0,0,0,0
chr1,46255,47025,chr1:46255-47025,4,4,4,4,3,3,0,0,0,0,0,0,0

Last few rows of the matrix:

Chrom,ChromStart,ChromEnd,Region,Input.rep1,Input.rep2,Input.rep3,Input.rep4,Input.rep5,Input.rep6,Output.rep1,Output.rep2,Output.rep3,Output.rep4,Output.rep5,Output.rep6,Output.rep7
chrX,156002261,156002983,chrX:156002261-156002983,645,814,928,897,829,763,116,255,207,451,138,108,129
chrX,156010068,156011134,chrX:156010068-156011134,68,66,92,73,77,57,6,3,3,13,7,2,5
chrX,156015981,156017173,chrX:156015981-156017173,210,284,298,271,273,242,5,1,3,4,0,1,0

====================
Region Folder: region_for_analysis
Region Label:  atac_ENCFF333TAT
Assay  Folder: STARR_WHG_K562_Reddy_A001
Import Counts:
[1] "WSTARRseq_K562_A001.hg38.Input.rep1.WGS.unstranded.bed.gz"
[2] "WSTARRseq_K562_A001.hg38.Input.rep2.WGS.unstranded.bed.gz"
[3] "WSTARRseq_K562_A001.hg38.Input.rep3.WGS.unstranded.bed.gz"
[4] "WSTARRseq_K562_A001.hg38.Input.rep4.WGS.unstranded.bed.gz"
[5] "WSTARRseq_K562_A001.hg38.Output.rep1.WGS.unstranded.bed.gz"
[6] "WSTARRseq_K562_A001.hg38.Output.rep2.WGS.unstranded.bed.gz"
[7] "WSTARRseq_K562_A001.hg38.Output.rep3.WGS.unstranded.bed.gz"

Removing zero:
Before removing zero: 161693
After  removing zero: 161124

Save count matrix and data list.
matrix.count.raw.WGS.tsv
data.count_column.raw.WGS.rds

First few rows of the matrix:

Chrom,ChromStart,ChromEnd,Region,Input.rep1,Input.rep2,Input.rep3,Input.rep4,Output.rep1,Output.rep2,Output.rep3
chr1,46255,47025,chr1:46255-47025,2,4,1,3,6,1,8
chr1,67629,67864,chr1:67629-67864,0,1,0,1,0,0,2
chr1,68056,68341,chr1:68056-68341,0,1,1,1,3,1,2

Last few rows of the matrix:

Chrom,ChromStart,ChromEnd,Region,Input.rep1,Input.rep2,Input.rep3,Input.rep4,Output.rep1,Output.rep2,Output.rep3
chrY,11098228,11099023,chrY:11098228-11099023,7,26,34,35,85,76,130
chrY,11103101,11103309,chrY:11103101-11103309,5,8,7,6,10,11,27
chrY,12394949,12395289,chrY:12394949-12395289,0,0,1,0,0,1,1

====================
Region Folder: region_for_analysis
Region Label:  atac_ENCFF558BLC
Assay  Folder: STARR_ATAC_K562_Reddy_KS91
Import Counts:
 [1] "ASTARRseq_K562_KS91.hg38.Input.rep1.WGS.unstranded.bed.gz"
 [2] "ASTARRseq_K562_KS91.hg38.Input.rep2.WGS.unstranded.bed.gz"
 [3] "ASTARRseq_K562_KS91.hg38.Input.rep3.WGS.unstranded.bed.gz"
 [4] "ASTARRseq_K562_KS91.hg38.Input.rep4.WGS.unstranded.bed.gz"
 [5] "ASTARRseq_K562_KS91.hg38.Input.rep5.WGS.unstranded.bed.gz"
 [6] "ASTARRseq_K562_KS91.hg38.Input.rep6.WGS.unstranded.bed.gz"
 [7] "ASTARRseq_K562_KS91.hg38.Output.rep1.WGS.unstranded.bed.gz"
 [8] "ASTARRseq_K562_KS91.hg38.Output.rep2.WGS.unstranded.bed.gz"
 [9] "ASTARRseq_K562_KS91.hg38.Output.rep3.WGS.unstranded.bed.gz"
[10] "ASTARRseq_K562_KS91.hg38.Output.rep4.WGS.unstranded.bed.gz"

Removing zero:
Before removing zero: 107082
After  removing zero: 106688

Save count matrix and data list.
matrix.count.raw.WGS.tsv
data.count_column.raw.WGS.rds

First few rows of the matrix:

Chrom,ChromStart,ChromEnd,Region,Input.rep1,Input.rep2,Input.rep3,Input.rep4,Input.rep5,Input.rep6,Output.rep1,Output.rep2,Output.rep3,Output.rep4
chr1,10509,10674,chr1:10509-10674,21,34,35,24,37,36,0,0,2,0
chr1,41987,42385,chr1:41987-42385,0,0,0,0,0,1,0,0,0,0
chr1,46755,47025,chr1:46755-47025,0,0,0,1,0,1,0,0,0,0

Last few rows of the matrix:

Chrom,ChromStart,ChromEnd,Region,Input.rep1,Input.rep2,Input.rep3,Input.rep4,Input.rep5,Input.rep6,Output.rep1,Output.rep2,Output.rep3,Output.rep4
chrX,156010065,156010405,chrX:156010065-156010405,66,64,81,70,71,52,6,3,3,13
chrX,156016242,156016999,chrX:156016242-156016999,181,243,240,230,235,215,5,1,3,4
chrX,156029850,156030236,chrX:156029850-156030236,36,39,45,30,39,34,3,7,3,4

====================
Region Folder: region_for_analysis
Region Label:  atac_ENCFF558BLC
Assay  Folder: STARR_ATAC_K562_Reddy_KS274
Import Counts:
[1] "ASTARRseq_K562_KS274.hg38.Output.rep1.WGS.unstranded.bed.gz"
[2] "ASTARRseq_K562_KS274.hg38.Output.rep2.WGS.unstranded.bed.gz"
[3] "ASTARRseq_K562_KS274.hg38.Output.rep3.WGS.unstranded.bed.gz"
[4] "ASTARRseq_K562_KS91.hg38.Input.rep1.WGS.unstranded.bed.gz"
[5] "ASTARRseq_K562_KS91.hg38.Input.rep2.WGS.unstranded.bed.gz"
[6] "ASTARRseq_K562_KS91.hg38.Input.rep3.WGS.unstranded.bed.gz"
[7] "ASTARRseq_K562_KS91.hg38.Input.rep4.WGS.unstranded.bed.gz"
[8] "ASTARRseq_K562_KS91.hg38.Input.rep5.WGS.unstranded.bed.gz"
[9] "ASTARRseq_K562_KS91.hg38.Input.rep6.WGS.unstranded.bed.gz"

Removing zero:
Before removing zero: 107082
After  removing zero: 106675

Save count matrix and data list.
matrix.count.raw.WGS.tsv
data.count_column.raw.WGS.rds

First few rows of the matrix:

Chrom,ChromStart,ChromEnd,Region,Input.rep1,Input.rep2,Input.rep3,Input.rep4,Input.rep5,Input.rep6,Output.rep1,Output.rep2,Output.rep3
chr1,10509,10674,chr1:10509-10674,21,34,35,24,37,36,0,0,0
chr1,41987,42385,chr1:41987-42385,0,0,0,0,0,1,0,0,0
chr1,46755,47025,chr1:46755-47025,0,0,0,1,0,1,0,0,0

Last few rows of the matrix:

Chrom,ChromStart,ChromEnd,Region,Input.rep1,Input.rep2,Input.rep3,Input.rep4,Input.rep5,Input.rep6,Output.rep1,Output.rep2,Output.rep3
chrX,156010065,156010405,chrX:156010065-156010405,66,64,81,70,71,52,7,2,6
chrX,156016242,156016999,chrX:156016242-156016999,181,243,240,230,235,215,0,1,0
chrX,156029850,156030236,chrX:156029850-156030236,36,39,45,30,39,34,0,0,0

====================
Region Folder: region_for_analysis
Region Label:  atac_ENCFF558BLC
Assay  Folder: STARR_ATAC_K562_Reddy_KSMerge
Import Counts:
 [1] "ASTARRseq_K562_KS274.hg38.Output.rep1.WGS.unstranded.bed.gz"
 [2] "ASTARRseq_K562_KS274.hg38.Output.rep2.WGS.unstranded.bed.gz"
 [3] "ASTARRseq_K562_KS274.hg38.Output.rep3.WGS.unstranded.bed.gz"
 [4] "ASTARRseq_K562_KS91.hg38.Input.rep1.WGS.unstranded.bed.gz"
 [5] "ASTARRseq_K562_KS91.hg38.Input.rep2.WGS.unstranded.bed.gz"
 [6] "ASTARRseq_K562_KS91.hg38.Input.rep3.WGS.unstranded.bed.gz"
 [7] "ASTARRseq_K562_KS91.hg38.Input.rep4.WGS.unstranded.bed.gz"
 [8] "ASTARRseq_K562_KS91.hg38.Input.rep5.WGS.unstranded.bed.gz"
 [9] "ASTARRseq_K562_KS91.hg38.Input.rep6.WGS.unstranded.bed.gz"
[10] "ASTARRseq_K562_KS91.hg38.Output.rep1.WGS.unstranded.bed.gz"
[11] "ASTARRseq_K562_KS91.hg38.Output.rep2.WGS.unstranded.bed.gz"
[12] "ASTARRseq_K562_KS91.hg38.Output.rep3.WGS.unstranded.bed.gz"
[13] "ASTARRseq_K562_KS91.hg38.Output.rep4.WGS.unstranded.bed.gz"

Removing zero:
Before removing zero: 107082
After  removing zero: 106690

Save count matrix and data list.
matrix.count.raw.WGS.tsv
data.count_column.raw.WGS.rds

First few rows of the matrix:

Chrom,ChromStart,ChromEnd,Region,Input.rep1,Input.rep2,Input.rep3,Input.rep4,Input.rep5,Input.rep6,Output.rep1,Output.rep2,Output.rep3,Output.rep4,Output.rep5,Output.rep6,Output.rep7
chr1,10509,10674,chr1:10509-10674,21,34,35,24,37,36,0,0,2,0,0,0,0
chr1,41987,42385,chr1:41987-42385,0,0,0,0,0,1,0,0,0,0,0,0,0
chr1,46755,47025,chr1:46755-47025,0,0,0,1,0,1,0,0,0,0,0,0,0

Last few rows of the matrix:

Chrom,ChromStart,ChromEnd,Region,Input.rep1,Input.rep2,Input.rep3,Input.rep4,Input.rep5,Input.rep6,Output.rep1,Output.rep2,Output.rep3,Output.rep4,Output.rep5,Output.rep6,Output.rep7
chrX,156010065,156010405,chrX:156010065-156010405,66,64,81,70,71,52,6,3,3,13,7,2,6
chrX,156016242,156016999,chrX:156016242-156016999,181,243,240,230,235,215,5,1,3,4,0,1,0
chrX,156029850,156030236,chrX:156029850-156030236,36,39,45,30,39,34,3,7,3,4,0,0,0

====================
Region Folder: region_for_analysis
Region Label:  atac_ENCFF558BLC
Assay  Folder: STARR_WHG_K562_Reddy_A001
Import Counts:
[1] "WSTARRseq_K562_A001.hg38.Input.rep1.WGS.unstranded.bed.gz"
[2] "WSTARRseq_K562_A001.hg38.Input.rep2.WGS.unstranded.bed.gz"
[3] "WSTARRseq_K562_A001.hg38.Input.rep3.WGS.unstranded.bed.gz"
[4] "WSTARRseq_K562_A001.hg38.Input.rep4.WGS.unstranded.bed.gz"
[5] "WSTARRseq_K562_A001.hg38.Output.rep1.WGS.unstranded.bed.gz"
[6] "WSTARRseq_K562_A001.hg38.Output.rep2.WGS.unstranded.bed.gz"
[7] "WSTARRseq_K562_A001.hg38.Output.rep3.WGS.unstranded.bed.gz"

Removing zero:
Before removing zero: 107082
After  removing zero: 106660

Save count matrix and data list.
matrix.count.raw.WGS.tsv
data.count_column.raw.WGS.rds

First few rows of the matrix:

Chrom,ChromStart,ChromEnd,Region,Input.rep1,Input.rep2,Input.rep3,Input.rep4,Output.rep1,Output.rep2,Output.rep3
chr1,10509,10674,chr1:10509-10674,0,0,0,0,0,0,1
chr1,46755,47025,chr1:46755-47025,1,3,1,3,4,1,6
chr1,68969,69964,chr1:68969-69964,1,7,8,4,12,7,23

Last few rows of the matrix:

Chrom,ChromStart,ChromEnd,Region,Input.rep1,Input.rep2,Input.rep3,Input.rep4,Output.rep1,Output.rep2,Output.rep3
chrX,156029850,156030236,chrX:156029850-156030236,1,4,0,0,0,1,4
chrY,4030787,4031055,chrY:4030787-4031055,0,0,0,0,0,0,1
chrY,12394988,12395279,chrY:12394988-12395279,0,0,1,0,0,0,1

====================
Region Folder: region_for_analysis
Region Label:  atac_ENCFF925CYR
Assay  Folder: STARR_ATAC_K562_Reddy_KS91
Import Counts:
 [1] "ASTARRseq_K562_KS91.hg38.Input.rep1.WGS.unstranded.bed.gz"
 [2] "ASTARRseq_K562_KS91.hg38.Input.rep2.WGS.unstranded.bed.gz"
 [3] "ASTARRseq_K562_KS91.hg38.Input.rep3.WGS.unstranded.bed.gz"
 [4] "ASTARRseq_K562_KS91.hg38.Input.rep4.WGS.unstranded.bed.gz"
 [5] "ASTARRseq_K562_KS91.hg38.Input.rep5.WGS.unstranded.bed.gz"
 [6] "ASTARRseq_K562_KS91.hg38.Input.rep6.WGS.unstranded.bed.gz"
 [7] "ASTARRseq_K562_KS91.hg38.Output.rep1.WGS.unstranded.bed.gz"
 [8] "ASTARRseq_K562_KS91.hg38.Output.rep2.WGS.unstranded.bed.gz"
 [9] "ASTARRseq_K562_KS91.hg38.Output.rep3.WGS.unstranded.bed.gz"
[10] "ASTARRseq_K562_KS91.hg38.Output.rep4.WGS.unstranded.bed.gz"

Removing zero:
Before removing zero: 51861
After  removing zero: 51694

Save count matrix and data list.
matrix.count.raw.WGS.tsv
data.count_column.raw.WGS.rds

First few rows of the matrix:

Chrom,ChromStart,ChromEnd,Region,Input.rep1,Input.rep2,Input.rep3,Input.rep4,Input.rep5,Input.rep6,Output.rep1,Output.rep2,Output.rep3,Output.rep4
chr1,778328,779235,chr1:778328-779235,7262,8508,8751,8406,8362,7792,2566,3646,3941,7268
chr1,817237,818202,chr1:817237-818202,295,405,437,409,385,360,24,57,35,71
chr1,826647,828124,chr1:826647-828124,4835,5959,6230,5947,5845,5510,766,939,1086,2104

Last few rows of the matrix:

Chrom,ChromStart,ChromEnd,Region,Input.rep1,Input.rep2,Input.rep3,Input.rep4,Input.rep5,Input.rep6,Output.rep1,Output.rep2,Output.rep3,Output.rep4
chrX,156001062,156002118,chrX:156001062-156002118,960,1233,1307,1253,1165,1035,155,347,305,594
chrX,156002345,156002961,chrX:156002345-156002961,604,756,871,833,767,707,110,236,195,435
chrX,156016242,156016999,chrX:156016242-156016999,181,243,240,230,235,215,5,1,3,4

====================
Region Folder: region_for_analysis
Region Label:  atac_ENCFF925CYR
Assay  Folder: STARR_ATAC_K562_Reddy_KS274
Import Counts:
[1] "ASTARRseq_K562_KS274.hg38.Output.rep1.WGS.unstranded.bed.gz"
[2] "ASTARRseq_K562_KS274.hg38.Output.rep2.WGS.unstranded.bed.gz"
[3] "ASTARRseq_K562_KS274.hg38.Output.rep3.WGS.unstranded.bed.gz"
[4] "ASTARRseq_K562_KS91.hg38.Input.rep1.WGS.unstranded.bed.gz"
[5] "ASTARRseq_K562_KS91.hg38.Input.rep2.WGS.unstranded.bed.gz"
[6] "ASTARRseq_K562_KS91.hg38.Input.rep3.WGS.unstranded.bed.gz"
[7] "ASTARRseq_K562_KS91.hg38.Input.rep4.WGS.unstranded.bed.gz"
[8] "ASTARRseq_K562_KS91.hg38.Input.rep5.WGS.unstranded.bed.gz"
[9] "ASTARRseq_K562_KS91.hg38.Input.rep6.WGS.unstranded.bed.gz"

Removing zero:
Before removing zero: 51861
After  removing zero: 51686

Save count matrix and data list.
matrix.count.raw.WGS.tsv
data.count_column.raw.WGS.rds

First few rows of the matrix:

Chrom,ChromStart,ChromEnd,Region,Input.rep1,Input.rep2,Input.rep3,Input.rep4,Input.rep5,Input.rep6,Output.rep1,Output.rep2,Output.rep3
chr1,778328,779235,chr1:778328-779235,7262,8508,8751,8406,8362,7792,3334,3097,3300
chr1,817237,818202,chr1:817237-818202,295,405,437,409,385,360,35,31,18
chr1,826647,828124,chr1:826647-828124,4835,5959,6230,5947,5845,5510,639,498,646

Last few rows of the matrix:

Chrom,ChromStart,ChromEnd,Region,Input.rep1,Input.rep2,Input.rep3,Input.rep4,Input.rep5,Input.rep6,Output.rep1,Output.rep2,Output.rep3
chrX,156001062,156002118,chrX:156001062-156002118,960,1233,1307,1253,1165,1035,234,155,197
chrX,156002345,156002961,chrX:156002345-156002961,604,756,871,833,767,707,133,95,117
chrX,156016242,156016999,chrX:156016242-156016999,181,243,240,230,235,215,0,1,0

====================
Region Folder: region_for_analysis
Region Label:  atac_ENCFF925CYR
Assay  Folder: STARR_ATAC_K562_Reddy_KSMerge
Import Counts:
 [1] "ASTARRseq_K562_KS274.hg38.Output.rep1.WGS.unstranded.bed.gz"
 [2] "ASTARRseq_K562_KS274.hg38.Output.rep2.WGS.unstranded.bed.gz"
 [3] "ASTARRseq_K562_KS274.hg38.Output.rep3.WGS.unstranded.bed.gz"
 [4] "ASTARRseq_K562_KS91.hg38.Input.rep1.WGS.unstranded.bed.gz"
 [5] "ASTARRseq_K562_KS91.hg38.Input.rep2.WGS.unstranded.bed.gz"
 [6] "ASTARRseq_K562_KS91.hg38.Input.rep3.WGS.unstranded.bed.gz"
 [7] "ASTARRseq_K562_KS91.hg38.Input.rep4.WGS.unstranded.bed.gz"
 [8] "ASTARRseq_K562_KS91.hg38.Input.rep5.WGS.unstranded.bed.gz"
 [9] "ASTARRseq_K562_KS91.hg38.Input.rep6.WGS.unstranded.bed.gz"
[10] "ASTARRseq_K562_KS91.hg38.Output.rep1.WGS.unstranded.bed.gz"
[11] "ASTARRseq_K562_KS91.hg38.Output.rep2.WGS.unstranded.bed.gz"
[12] "ASTARRseq_K562_KS91.hg38.Output.rep3.WGS.unstranded.bed.gz"
[13] "ASTARRseq_K562_KS91.hg38.Output.rep4.WGS.unstranded.bed.gz"

Removing zero:
Before removing zero: 51861
After  removing zero: 51694

Save count matrix and data list.
matrix.count.raw.WGS.tsv
data.count_column.raw.WGS.rds

First few rows of the matrix:

Chrom,ChromStart,ChromEnd,Region,Input.rep1,Input.rep2,Input.rep3,Input.rep4,Input.rep5,Input.rep6,Output.rep1,Output.rep2,Output.rep3,Output.rep4,Output.rep5,Output.rep6,Output.rep7
chr1,778328,779235,chr1:778328-779235,7262,8508,8751,8406,8362,7792,2566,3646,3941,7268,3334,3097,3300
chr1,817237,818202,chr1:817237-818202,295,405,437,409,385,360,24,57,35,71,35,31,18
chr1,826647,828124,chr1:826647-828124,4835,5959,6230,5947,5845,5510,766,939,1086,2104,639,498,646

Last few rows of the matrix:

Chrom,ChromStart,ChromEnd,Region,Input.rep1,Input.rep2,Input.rep3,Input.rep4,Input.rep5,Input.rep6,Output.rep1,Output.rep2,Output.rep3,Output.rep4,Output.rep5,Output.rep6,Output.rep7
chrX,156001062,156002118,chrX:156001062-156002118,960,1233,1307,1253,1165,1035,155,347,305,594,234,155,197
chrX,156002345,156002961,chrX:156002345-156002961,604,756,871,833,767,707,110,236,195,435,133,95,117
chrX,156016242,156016999,chrX:156016242-156016999,181,243,240,230,235,215,5,1,3,4,0,1,0

====================
Region Folder: region_for_analysis
Region Label:  atac_ENCFF925CYR
Assay  Folder: STARR_WHG_K562_Reddy_A001
Import Counts:
[1] "WSTARRseq_K562_A001.hg38.Input.rep1.WGS.unstranded.bed.gz"
[2] "WSTARRseq_K562_A001.hg38.Input.rep2.WGS.unstranded.bed.gz"
[3] "WSTARRseq_K562_A001.hg38.Input.rep3.WGS.unstranded.bed.gz"
[4] "WSTARRseq_K562_A001.hg38.Input.rep4.WGS.unstranded.bed.gz"
[5] "WSTARRseq_K562_A001.hg38.Output.rep1.WGS.unstranded.bed.gz"
[6] "WSTARRseq_K562_A001.hg38.Output.rep2.WGS.unstranded.bed.gz"
[7] "WSTARRseq_K562_A001.hg38.Output.rep3.WGS.unstranded.bed.gz"

Removing zero:
Before removing zero: 51861
After  removing zero: 51660

Save count matrix and data list.
matrix.count.raw.WGS.tsv
data.count_column.raw.WGS.rds

First few rows of the matrix:

Chrom,ChromStart,ChromEnd,Region,Input.rep1,Input.rep2,Input.rep3,Input.rep4,Output.rep1,Output.rep2,Output.rep3
chr1,778328,779235,chr1:778328-779235,17,71,52,57,265,268,438
chr1,817237,818202,chr1:817237-818202,8,35,56,50,62,63,139
chr1,826647,828124,chr1:826647-828124,15,62,51,57,165,165,268

Last few rows of the matrix:

Chrom,ChromStart,ChromEnd,Region,Input.rep1,Input.rep2,Input.rep3,Input.rep4,Output.rep1,Output.rep2,Output.rep3
chrX,156001062,156002118,chrX:156001062-156002118,18,44,61,71,137,104,213
chrX,156002345,156002961,chrX:156002345-156002961,13,40,35,43,90,82,172
chrX,156016242,156016999,chrX:156016242-156016999,1,3,4,2,9,8,16

====================
Region Folder: region_for_analysis
Region Label:  atac_ENCFF948AFM
Assay  Folder: STARR_ATAC_K562_Reddy_KS91
Import Counts:
 [1] "ASTARRseq_K562_KS91.hg38.Input.rep1.WGS.unstranded.bed.gz"
 [2] "ASTARRseq_K562_KS91.hg38.Input.rep2.WGS.unstranded.bed.gz"
 [3] "ASTARRseq_K562_KS91.hg38.Input.rep3.WGS.unstranded.bed.gz"
 [4] "ASTARRseq_K562_KS91.hg38.Input.rep4.WGS.unstranded.bed.gz"
 [5] "ASTARRseq_K562_KS91.hg38.Input.rep5.WGS.unstranded.bed.gz"
 [6] "ASTARRseq_K562_KS91.hg38.Input.rep6.WGS.unstranded.bed.gz"
 [7] "ASTARRseq_K562_KS91.hg38.Output.rep1.WGS.unstranded.bed.gz"
 [8] "ASTARRseq_K562_KS91.hg38.Output.rep2.WGS.unstranded.bed.gz"
 [9] "ASTARRseq_K562_KS91.hg38.Output.rep3.WGS.unstranded.bed.gz"
[10] "ASTARRseq_K562_KS91.hg38.Output.rep4.WGS.unstranded.bed.gz"

Removing zero:
Before removing zero: 90015
After  removing zero: 89741

Save count matrix and data list.
matrix.count.raw.WGS.tsv
data.count_column.raw.WGS.rds

First few rows of the matrix:

Chrom,ChromStart,ChromEnd,Region,Input.rep1,Input.rep2,Input.rep3,Input.rep4,Input.rep5,Input.rep6,Output.rep1,Output.rep2,Output.rep3,Output.rep4
chr1,42030,42399,chr1:42030-42399,0,0,0,0,0,1,0,0,0,0
chr1,68963,70035,chr1:68963-70035,24,29,20,25,23,19,0,0,0,5
chr1,79151,79653,chr1:79151-79653,24,30,43,33,32,38,0,9,11,3

Last few rows of the matrix:

Chrom,ChromStart,ChromEnd,Region,Input.rep1,Input.rep2,Input.rep3,Input.rep4,Input.rep5,Input.rep6,Output.rep1,Output.rep2,Output.rep3,Output.rep4
chrX,156001041,156001937,chrX:156001041-156001937,904,1159,1217,1181,1089,969,158,337,296,571
chrX,156002261,156002983,chrX:156002261-156002983,645,814,928,897,829,763,116,255,207,451
chrX,156015981,156017173,chrX:156015981-156017173,210,284,298,271,273,242,5,1,3,4

====================
Region Folder: region_for_analysis
Region Label:  atac_ENCFF948AFM
Assay  Folder: STARR_ATAC_K562_Reddy_KS274
Import Counts:
[1] "ASTARRseq_K562_KS274.hg38.Output.rep1.WGS.unstranded.bed.gz"
[2] "ASTARRseq_K562_KS274.hg38.Output.rep2.WGS.unstranded.bed.gz"
[3] "ASTARRseq_K562_KS274.hg38.Output.rep3.WGS.unstranded.bed.gz"
[4] "ASTARRseq_K562_KS91.hg38.Input.rep1.WGS.unstranded.bed.gz"
[5] "ASTARRseq_K562_KS91.hg38.Input.rep2.WGS.unstranded.bed.gz"
[6] "ASTARRseq_K562_KS91.hg38.Input.rep3.WGS.unstranded.bed.gz"
[7] "ASTARRseq_K562_KS91.hg38.Input.rep4.WGS.unstranded.bed.gz"
[8] "ASTARRseq_K562_KS91.hg38.Input.rep5.WGS.unstranded.bed.gz"
[9] "ASTARRseq_K562_KS91.hg38.Input.rep6.WGS.unstranded.bed.gz"

Removing zero:
Before removing zero: 90015
After  removing zero: 89724

Save count matrix and data list.
matrix.count.raw.WGS.tsv
data.count_column.raw.WGS.rds

First few rows of the matrix:

Chrom,ChromStart,ChromEnd,Region,Input.rep1,Input.rep2,Input.rep3,Input.rep4,Input.rep5,Input.rep6,Output.rep1,Output.rep2,Output.rep3
chr1,42030,42399,chr1:42030-42399,0,0,0,0,0,1,0,0,0
chr1,68963,70035,chr1:68963-70035,24,29,20,25,23,19,0,0,0
chr1,79151,79653,chr1:79151-79653,24,30,43,33,32,38,0,3,3

Last few rows of the matrix:

Chrom,ChromStart,ChromEnd,Region,Input.rep1,Input.rep2,Input.rep3,Input.rep4,Input.rep5,Input.rep6,Output.rep1,Output.rep2,Output.rep3
chrX,156001041,156001937,chrX:156001041-156001937,904,1159,1217,1181,1089,969,229,153,195
chrX,156002261,156002983,chrX:156002261-156002983,645,814,928,897,829,763,138,108,129
chrX,156015981,156017173,chrX:156015981-156017173,210,284,298,271,273,242,0,1,0

====================
Region Folder: region_for_analysis
Region Label:  atac_ENCFF948AFM
Assay  Folder: STARR_ATAC_K562_Reddy_KSMerge
Import Counts:
 [1] "ASTARRseq_K562_KS274.hg38.Output.rep1.WGS.unstranded.bed.gz"
 [2] "ASTARRseq_K562_KS274.hg38.Output.rep2.WGS.unstranded.bed.gz"
 [3] "ASTARRseq_K562_KS274.hg38.Output.rep3.WGS.unstranded.bed.gz"
 [4] "ASTARRseq_K562_KS91.hg38.Input.rep1.WGS.unstranded.bed.gz"
 [5] "ASTARRseq_K562_KS91.hg38.Input.rep2.WGS.unstranded.bed.gz"
 [6] "ASTARRseq_K562_KS91.hg38.Input.rep3.WGS.unstranded.bed.gz"
 [7] "ASTARRseq_K562_KS91.hg38.Input.rep4.WGS.unstranded.bed.gz"
 [8] "ASTARRseq_K562_KS91.hg38.Input.rep5.WGS.unstranded.bed.gz"
 [9] "ASTARRseq_K562_KS91.hg38.Input.rep6.WGS.unstranded.bed.gz"
[10] "ASTARRseq_K562_KS91.hg38.Output.rep1.WGS.unstranded.bed.gz"
[11] "ASTARRseq_K562_KS91.hg38.Output.rep2.WGS.unstranded.bed.gz"
[12] "ASTARRseq_K562_KS91.hg38.Output.rep3.WGS.unstranded.bed.gz"
[13] "ASTARRseq_K562_KS91.hg38.Output.rep4.WGS.unstranded.bed.gz"

Removing zero:
Before removing zero: 90015
After  removing zero: 89741

Save count matrix and data list.
matrix.count.raw.WGS.tsv
data.count_column.raw.WGS.rds

First few rows of the matrix:

Chrom,ChromStart,ChromEnd,Region,Input.rep1,Input.rep2,Input.rep3,Input.rep4,Input.rep5,Input.rep6,Output.rep1,Output.rep2,Output.rep3,Output.rep4,Output.rep5,Output.rep6,Output.rep7
chr1,42030,42399,chr1:42030-42399,0,0,0,0,0,1,0,0,0,0,0,0,0
chr1,68963,70035,chr1:68963-70035,24,29,20,25,23,19,0,0,0,5,0,0,0
chr1,79151,79653,chr1:79151-79653,24,30,43,33,32,38,0,9,11,3,0,3,3

Last few rows of the matrix:

Chrom,ChromStart,ChromEnd,Region,Input.rep1,Input.rep2,Input.rep3,Input.rep4,Input.rep5,Input.rep6,Output.rep1,Output.rep2,Output.rep3,Output.rep4,Output.rep5,Output.rep6,Output.rep7
chrX,156001041,156001937,chrX:156001041-156001937,904,1159,1217,1181,1089,969,158,337,296,571,229,153,195
chrX,156002261,156002983,chrX:156002261-156002983,645,814,928,897,829,763,116,255,207,451,138,108,129
chrX,156015981,156017173,chrX:156015981-156017173,210,284,298,271,273,242,5,1,3,4,0,1,0

====================
Region Folder: region_for_analysis
Region Label:  atac_ENCFF948AFM
Assay  Folder: STARR_WHG_K562_Reddy_A001
Import Counts:
[1] "WSTARRseq_K562_A001.hg38.Input.rep1.WGS.unstranded.bed.gz"
[2] "WSTARRseq_K562_A001.hg38.Input.rep2.WGS.unstranded.bed.gz"
[3] "WSTARRseq_K562_A001.hg38.Input.rep3.WGS.unstranded.bed.gz"
[4] "WSTARRseq_K562_A001.hg38.Input.rep4.WGS.unstranded.bed.gz"
[5] "WSTARRseq_K562_A001.hg38.Output.rep1.WGS.unstranded.bed.gz"
[6] "WSTARRseq_K562_A001.hg38.Output.rep2.WGS.unstranded.bed.gz"
[7] "WSTARRseq_K562_A001.hg38.Output.rep3.WGS.unstranded.bed.gz"

Removing zero:
Before removing zero: 90015
After  removing zero: 89679

Save count matrix and data list.
matrix.count.raw.WGS.tsv
data.count_column.raw.WGS.rds

First few rows of the matrix:

Chrom,ChromStart,ChromEnd,Region,Input.rep1,Input.rep2,Input.rep3,Input.rep4,Output.rep1,Output.rep2,Output.rep3
chr1,68963,70035,chr1:68963-70035,1,7,8,4,12,7,23
chr1,79151,79653,chr1:79151-79653,6,16,10,12,13,17,28
chr1,778339,779268,chr1:778339-779268,17,71,52,57,265,268,441

Last few rows of the matrix:

Chrom,ChromStart,ChromEnd,Region,Input.rep1,Input.rep2,Input.rep3,Input.rep4,Output.rep1,Output.rep2,Output.rep3
chrY,4030688,4031055,chrY:4030688-4031055,0,0,0,0,0,0,1
chrY,11098228,11099023,chrY:11098228-11099023,7,26,34,35,85,76,130
chrY,11103101,11103309,chrY:11103101-11103309,5,8,7,6,10,11,27

====================
Region Folder: region_for_analysis
Region Label:  dnase_ENCFF185XRG
Assay  Folder: STARR_ATAC_K562_Reddy_KS91
Import Counts:
 [1] "ASTARRseq_K562_KS91.hg38.Input.rep1.WGS.unstranded.bed.gz"
 [2] "ASTARRseq_K562_KS91.hg38.Input.rep2.WGS.unstranded.bed.gz"
 [3] "ASTARRseq_K562_KS91.hg38.Input.rep3.WGS.unstranded.bed.gz"
 [4] "ASTARRseq_K562_KS91.hg38.Input.rep4.WGS.unstranded.bed.gz"
 [5] "ASTARRseq_K562_KS91.hg38.Input.rep5.WGS.unstranded.bed.gz"
 [6] "ASTARRseq_K562_KS91.hg38.Input.rep6.WGS.unstranded.bed.gz"
 [7] "ASTARRseq_K562_KS91.hg38.Output.rep1.WGS.unstranded.bed.gz"
 [8] "ASTARRseq_K562_KS91.hg38.Output.rep2.WGS.unstranded.bed.gz"
 [9] "ASTARRseq_K562_KS91.hg38.Output.rep3.WGS.unstranded.bed.gz"
[10] "ASTARRseq_K562_KS91.hg38.Output.rep4.WGS.unstranded.bed.gz"

Removing zero:
Before removing zero: 159277
After  removing zero: 159268

Save count matrix and data list.
matrix.count.raw.WGS.tsv
data.count_column.raw.WGS.rds

First few rows of the matrix:

Chrom,ChromStart,ChromEnd,Region,Input.rep1,Input.rep2,Input.rep3,Input.rep4,Input.rep5,Input.rep6,Output.rep1,Output.rep2,Output.rep3,Output.rep4
chr1,139369,139421,chr1:139369-139421,115,169,181,161,174,156,11,20,22,69
chr1,180800,180871,chr1:180800-180871,34,41,42,30,38,33,0,1,0,3
chr1,181108,181200,chr1:181108-181200,113,146,151,145,149,119,1,4,2,5

Last few rows of the matrix:

Chrom,ChromStart,ChromEnd,Region,Input.rep1,Input.rep2,Input.rep3,Input.rep4,Input.rep5,Input.rep6,Output.rep1,Output.rep2,Output.rep3,Output.rep4
chrX,156002540,156002780,chrX:156002540-156002780,322,407,480,431,425,376,91,134,115,288
chrX,156016563,156016622,chrX:156016563-156016622,99,148,148,140,142,128,1,0,0,2
chrX,156030252,156030360,chrX:156030252-156030360,42,88,74,81,81,52,0,0,2,0

====================
Region Folder: region_for_analysis
Region Label:  dnase_ENCFF185XRG
Assay  Folder: STARR_ATAC_K562_Reddy_KS274
Import Counts:
[1] "ASTARRseq_K562_KS274.hg38.Output.rep1.WGS.unstranded.bed.gz"
[2] "ASTARRseq_K562_KS274.hg38.Output.rep2.WGS.unstranded.bed.gz"
[3] "ASTARRseq_K562_KS274.hg38.Output.rep3.WGS.unstranded.bed.gz"
[4] "ASTARRseq_K562_KS91.hg38.Input.rep1.WGS.unstranded.bed.gz"
[5] "ASTARRseq_K562_KS91.hg38.Input.rep2.WGS.unstranded.bed.gz"
[6] "ASTARRseq_K562_KS91.hg38.Input.rep3.WGS.unstranded.bed.gz"
[7] "ASTARRseq_K562_KS91.hg38.Input.rep4.WGS.unstranded.bed.gz"
[8] "ASTARRseq_K562_KS91.hg38.Input.rep5.WGS.unstranded.bed.gz"
[9] "ASTARRseq_K562_KS91.hg38.Input.rep6.WGS.unstranded.bed.gz"

Removing zero:
Before removing zero: 159277
After  removing zero: 159268

Save count matrix and data list.
matrix.count.raw.WGS.tsv
data.count_column.raw.WGS.rds

First few rows of the matrix:

Chrom,ChromStart,ChromEnd,Region,Input.rep1,Input.rep2,Input.rep3,Input.rep4,Input.rep5,Input.rep6,Output.rep1,Output.rep2,Output.rep3
chr1,139369,139421,chr1:139369-139421,115,169,181,161,174,156,10,5,7
chr1,180800,180871,chr1:180800-180871,34,41,42,30,38,33,0,0,0
chr1,181108,181200,chr1:181108-181200,113,146,151,145,149,119,0,1,1

Last few rows of the matrix:

Chrom,ChromStart,ChromEnd,Region,Input.rep1,Input.rep2,Input.rep3,Input.rep4,Input.rep5,Input.rep6,Output.rep1,Output.rep2,Output.rep3
chrX,156002540,156002780,chrX:156002540-156002780,322,407,480,431,425,376,84,53,53
chrX,156016563,156016622,chrX:156016563-156016622,99,148,148,140,142,128,0,1,0
chrX,156030252,156030360,chrX:156030252-156030360,42,88,74,81,81,52,0,0,0

====================
Region Folder: region_for_analysis
Region Label:  dnase_ENCFF185XRG
Assay  Folder: STARR_ATAC_K562_Reddy_KSMerge
Import Counts:
 [1] "ASTARRseq_K562_KS274.hg38.Output.rep1.WGS.unstranded.bed.gz"
 [2] "ASTARRseq_K562_KS274.hg38.Output.rep2.WGS.unstranded.bed.gz"
 [3] "ASTARRseq_K562_KS274.hg38.Output.rep3.WGS.unstranded.bed.gz"
 [4] "ASTARRseq_K562_KS91.hg38.Input.rep1.WGS.unstranded.bed.gz"
 [5] "ASTARRseq_K562_KS91.hg38.Input.rep2.WGS.unstranded.bed.gz"
 [6] "ASTARRseq_K562_KS91.hg38.Input.rep3.WGS.unstranded.bed.gz"
 [7] "ASTARRseq_K562_KS91.hg38.Input.rep4.WGS.unstranded.bed.gz"
 [8] "ASTARRseq_K562_KS91.hg38.Input.rep5.WGS.unstranded.bed.gz"
 [9] "ASTARRseq_K562_KS91.hg38.Input.rep6.WGS.unstranded.bed.gz"
[10] "ASTARRseq_K562_KS91.hg38.Output.rep1.WGS.unstranded.bed.gz"
[11] "ASTARRseq_K562_KS91.hg38.Output.rep2.WGS.unstranded.bed.gz"
[12] "ASTARRseq_K562_KS91.hg38.Output.rep3.WGS.unstranded.bed.gz"
[13] "ASTARRseq_K562_KS91.hg38.Output.rep4.WGS.unstranded.bed.gz"

Removing zero:
Before removing zero: 159277
After  removing zero: 159268

Save count matrix and data list.
matrix.count.raw.WGS.tsv
data.count_column.raw.WGS.rds

First few rows of the matrix:

Chrom,ChromStart,ChromEnd,Region,Input.rep1,Input.rep2,Input.rep3,Input.rep4,Input.rep5,Input.rep6,Output.rep1,Output.rep2,Output.rep3,Output.rep4,Output.rep5,Output.rep6,Output.rep7
chr1,139369,139421,chr1:139369-139421,115,169,181,161,174,156,11,20,22,69,10,5,7
chr1,180800,180871,chr1:180800-180871,34,41,42,30,38,33,0,1,0,3,0,0,0
chr1,181108,181200,chr1:181108-181200,113,146,151,145,149,119,1,4,2,5,0,1,1

Last few rows of the matrix:

Chrom,ChromStart,ChromEnd,Region,Input.rep1,Input.rep2,Input.rep3,Input.rep4,Input.rep5,Input.rep6,Output.rep1,Output.rep2,Output.rep3,Output.rep4,Output.rep5,Output.rep6,Output.rep7
chrX,156002540,156002780,chrX:156002540-156002780,322,407,480,431,425,376,91,134,115,288,84,53,53
chrX,156016563,156016622,chrX:156016563-156016622,99,148,148,140,142,128,1,0,0,2,0,1,0
chrX,156030252,156030360,chrX:156030252-156030360,42,88,74,81,81,52,0,0,2,0,0,0,0

====================
Region Folder: region_for_analysis
Region Label:  dnase_ENCFF185XRG
Assay  Folder: STARR_WHG_K562_Reddy_A001
Import Counts:
[1] "WSTARRseq_K562_A001.hg38.Input.rep1.WGS.unstranded.bed.gz"
[2] "WSTARRseq_K562_A001.hg38.Input.rep2.WGS.unstranded.bed.gz"
[3] "WSTARRseq_K562_A001.hg38.Input.rep3.WGS.unstranded.bed.gz"
[4] "WSTARRseq_K562_A001.hg38.Input.rep4.WGS.unstranded.bed.gz"
[5] "WSTARRseq_K562_A001.hg38.Output.rep1.WGS.unstranded.bed.gz"
[6] "WSTARRseq_K562_A001.hg38.Output.rep2.WGS.unstranded.bed.gz"
[7] "WSTARRseq_K562_A001.hg38.Output.rep3.WGS.unstranded.bed.gz"

Removing zero:
Before removing zero: 159277
After  removing zero: 159268

Save count matrix and data list.
matrix.count.raw.WGS.tsv
data.count_column.raw.WGS.rds

First few rows of the matrix:

Chrom,ChromStart,ChromEnd,Region,Input.rep1,Input.rep2,Input.rep3,Input.rep4,Output.rep1,Output.rep2,Output.rep3
chr1,139369,139421,chr1:139369-139421,4,6,10,19,35,27,30
chr1,180800,180871,chr1:180800-180871,1,1,0,2,1,0,1
chr1,181108,181200,chr1:181108-181200,1,8,4,8,21,17,24

Last few rows of the matrix:

Chrom,ChromStart,ChromEnd,Region,Input.rep1,Input.rep2,Input.rep3,Input.rep4,Output.rep1,Output.rep2,Output.rep3
chrY,11103120,11103280,chrY:11103120-11103280,5,8,7,6,9,11,29
chrY,11334278,11334400,chrY:11334278-11334400,0,0,0,1,2,1,2
chrY,12394980,12395092,chrY:12394980-12395092,0,0,0,0,0,1,1

====================
Region Folder: region_for_analysis
Region Label:  dnase_ENCFF274YGF
Assay  Folder: STARR_ATAC_K562_Reddy_KS91
Import Counts:
 [1] "ASTARRseq_K562_KS91.hg38.Input.rep1.WGS.unstranded.bed.gz"
 [2] "ASTARRseq_K562_KS91.hg38.Input.rep2.WGS.unstranded.bed.gz"
 [3] "ASTARRseq_K562_KS91.hg38.Input.rep3.WGS.unstranded.bed.gz"
 [4] "ASTARRseq_K562_KS91.hg38.Input.rep4.WGS.unstranded.bed.gz"
 [5] "ASTARRseq_K562_KS91.hg38.Input.rep5.WGS.unstranded.bed.gz"
 [6] "ASTARRseq_K562_KS91.hg38.Input.rep6.WGS.unstranded.bed.gz"
 [7] "ASTARRseq_K562_KS91.hg38.Output.rep1.WGS.unstranded.bed.gz"
 [8] "ASTARRseq_K562_KS91.hg38.Output.rep2.WGS.unstranded.bed.gz"
 [9] "ASTARRseq_K562_KS91.hg38.Output.rep3.WGS.unstranded.bed.gz"
[10] "ASTARRseq_K562_KS91.hg38.Output.rep4.WGS.unstranded.bed.gz"

Removing zero:
Before removing zero: 118721
After  removing zero: 118717

Save count matrix and data list.
matrix.count.raw.WGS.tsv
data.count_column.raw.WGS.rds

First few rows of the matrix:

Chrom,ChromStart,ChromEnd,Region,Input.rep1,Input.rep2,Input.rep3,Input.rep4,Input.rep5,Input.rep6,Output.rep1,Output.rep2,Output.rep3,Output.rep4
chr1,181400,181530,chr1:181400-181530,166,229,227,218,220,180,7,11,16,8
chr1,778660,778800,chr1:778660-778800,3014,3520,3601,3482,3447,3189,1937,2413,2644,4819
chr1,779137,779200,chr1:779137-779200,1137,1390,1465,1383,1383,1268,84,128,182,343

Last few rows of the matrix:

Chrom,ChromStart,ChromEnd,Region,Input.rep1,Input.rep2,Input.rep3,Input.rep4,Input.rep5,Input.rep6,Output.rep1,Output.rep2,Output.rep3,Output.rep4
chrX,155997480,155997746,chrX:155997480-155997746,443,549,584,535,519,472,39,97,77,159
chrX,156001660,156001860,chrX:156001660-156001860,363,478,464,446,422,402,64,190,175,330
chrX,156002520,156002780,chrX:156002520-156002780,336,423,499,448,439,392,92,134,117,295

====================
Region Folder: region_for_analysis
Region Label:  dnase_ENCFF274YGF
Assay  Folder: STARR_ATAC_K562_Reddy_KS274
Import Counts:
[1] "ASTARRseq_K562_KS274.hg38.Output.rep1.WGS.unstranded.bed.gz"
[2] "ASTARRseq_K562_KS274.hg38.Output.rep2.WGS.unstranded.bed.gz"
[3] "ASTARRseq_K562_KS274.hg38.Output.rep3.WGS.unstranded.bed.gz"
[4] "ASTARRseq_K562_KS91.hg38.Input.rep1.WGS.unstranded.bed.gz"
[5] "ASTARRseq_K562_KS91.hg38.Input.rep2.WGS.unstranded.bed.gz"
[6] "ASTARRseq_K562_KS91.hg38.Input.rep3.WGS.unstranded.bed.gz"
[7] "ASTARRseq_K562_KS91.hg38.Input.rep4.WGS.unstranded.bed.gz"
[8] "ASTARRseq_K562_KS91.hg38.Input.rep5.WGS.unstranded.bed.gz"
[9] "ASTARRseq_K562_KS91.hg38.Input.rep6.WGS.unstranded.bed.gz"

Removing zero:
Before removing zero: 118721
After  removing zero: 118717

Save count matrix and data list.
matrix.count.raw.WGS.tsv
data.count_column.raw.WGS.rds

First few rows of the matrix:

Chrom,ChromStart,ChromEnd,Region,Input.rep1,Input.rep2,Input.rep3,Input.rep4,Input.rep5,Input.rep6,Output.rep1,Output.rep2,Output.rep3
chr1,181400,181530,chr1:181400-181530,166,229,227,218,220,180,17,11,10
chr1,778660,778800,chr1:778660-778800,3014,3520,3601,3482,3447,3189,2392,2230,2353
chr1,779137,779200,chr1:779137-779200,1137,1390,1465,1383,1383,1268,28,42,62

Last few rows of the matrix:

Chrom,ChromStart,ChromEnd,Region,Input.rep1,Input.rep2,Input.rep3,Input.rep4,Input.rep5,Input.rep6,Output.rep1,Output.rep2,Output.rep3
chrX,155997480,155997746,chrX:155997480-155997746,443,549,584,535,519,472,81,41,56
chrX,156001660,156001860,chrX:156001660-156001860,363,478,464,446,422,402,148,76,110
chrX,156002520,156002780,chrX:156002520-156002780,336,423,499,448,439,392,86,55,54

====================
Region Folder: region_for_analysis
Region Label:  dnase_ENCFF274YGF
Assay  Folder: STARR_ATAC_K562_Reddy_KSMerge
Import Counts:
 [1] "ASTARRseq_K562_KS274.hg38.Output.rep1.WGS.unstranded.bed.gz"
 [2] "ASTARRseq_K562_KS274.hg38.Output.rep2.WGS.unstranded.bed.gz"
 [3] "ASTARRseq_K562_KS274.hg38.Output.rep3.WGS.unstranded.bed.gz"
 [4] "ASTARRseq_K562_KS91.hg38.Input.rep1.WGS.unstranded.bed.gz"
 [5] "ASTARRseq_K562_KS91.hg38.Input.rep2.WGS.unstranded.bed.gz"
 [6] "ASTARRseq_K562_KS91.hg38.Input.rep3.WGS.unstranded.bed.gz"
 [7] "ASTARRseq_K562_KS91.hg38.Input.rep4.WGS.unstranded.bed.gz"
 [8] "ASTARRseq_K562_KS91.hg38.Input.rep5.WGS.unstranded.bed.gz"
 [9] "ASTARRseq_K562_KS91.hg38.Input.rep6.WGS.unstranded.bed.gz"
[10] "ASTARRseq_K562_KS91.hg38.Output.rep1.WGS.unstranded.bed.gz"
[11] "ASTARRseq_K562_KS91.hg38.Output.rep2.WGS.unstranded.bed.gz"
[12] "ASTARRseq_K562_KS91.hg38.Output.rep3.WGS.unstranded.bed.gz"
[13] "ASTARRseq_K562_KS91.hg38.Output.rep4.WGS.unstranded.bed.gz"

Removing zero:
Before removing zero: 118721
After  removing zero: 118717

Save count matrix and data list.
matrix.count.raw.WGS.tsv
data.count_column.raw.WGS.rds

First few rows of the matrix:

Chrom,ChromStart,ChromEnd,Region,Input.rep1,Input.rep2,Input.rep3,Input.rep4,Input.rep5,Input.rep6,Output.rep1,Output.rep2,Output.rep3,Output.rep4,Output.rep5,Output.rep6,Output.rep7
chr1,181400,181530,chr1:181400-181530,166,229,227,218,220,180,7,11,16,8,17,11,10
chr1,778660,778800,chr1:778660-778800,3014,3520,3601,3482,3447,3189,1937,2413,2644,4819,2392,2230,2353
chr1,779137,779200,chr1:779137-779200,1137,1390,1465,1383,1383,1268,84,128,182,343,28,42,62

Last few rows of the matrix:

Chrom,ChromStart,ChromEnd,Region,Input.rep1,Input.rep2,Input.rep3,Input.rep4,Input.rep5,Input.rep6,Output.rep1,Output.rep2,Output.rep3,Output.rep4,Output.rep5,Output.rep6,Output.rep7
chrX,155997480,155997746,chrX:155997480-155997746,443,549,584,535,519,472,39,97,77,159,81,41,56
chrX,156001660,156001860,chrX:156001660-156001860,363,478,464,446,422,402,64,190,175,330,148,76,110
chrX,156002520,156002780,chrX:156002520-156002780,336,423,499,448,439,392,92,134,117,295,86,55,54

====================
Region Folder: region_for_analysis
Region Label:  dnase_ENCFF274YGF
Assay  Folder: STARR_WHG_K562_Reddy_A001
Import Counts:
[1] "WSTARRseq_K562_A001.hg38.Input.rep1.WGS.unstranded.bed.gz"
[2] "WSTARRseq_K562_A001.hg38.Input.rep2.WGS.unstranded.bed.gz"
[3] "WSTARRseq_K562_A001.hg38.Input.rep3.WGS.unstranded.bed.gz"
[4] "WSTARRseq_K562_A001.hg38.Input.rep4.WGS.unstranded.bed.gz"
[5] "WSTARRseq_K562_A001.hg38.Output.rep1.WGS.unstranded.bed.gz"
[6] "WSTARRseq_K562_A001.hg38.Output.rep2.WGS.unstranded.bed.gz"
[7] "WSTARRseq_K562_A001.hg38.Output.rep3.WGS.unstranded.bed.gz"

Removing zero:
Before removing zero: 118721
After  removing zero: 118721

Save count matrix and data list.
matrix.count.raw.WGS.tsv
data.count_column.raw.WGS.rds

First few rows of the matrix:

Chrom,ChromStart,ChromEnd,Region,Input.rep1,Input.rep2,Input.rep3,Input.rep4,Output.rep1,Output.rep2,Output.rep3
chr1,181400,181530,chr1:181400-181530,3,18,12,15,34,29,51
chr1,778660,778800,chr1:778660-778800,10,35,27,30,195,181,312
chr1,779137,779200,chr1:779137-779200,8,31,17,23,56,77,114

Last few rows of the matrix:

Chrom,ChromStart,ChromEnd,Region,Input.rep1,Input.rep2,Input.rep3,Input.rep4,Output.rep1,Output.rep2,Output.rep3
chrY,11712280,11712332,chrY:11712280-11712332,2,1,4,4,4,4,6
chrY,12347360,12347500,chrY:12347360-12347500,0,0,0,1,0,0,0
chrY,26563060,26563204,chrY:26563060-26563204,2,4,3,4,5,4,16

====================
Region Folder: region_for_analysis
Region Label:  fcc_astarr_macs_input_overlap
Assay  Folder: STARR_ATAC_K562_Reddy_KS91
Import Counts:
 [1] "ASTARRseq_K562_KS91.hg38.Input.rep1.WGS.unstranded.bed.gz"
 [2] "ASTARRseq_K562_KS91.hg38.Input.rep2.WGS.unstranded.bed.gz"
 [3] "ASTARRseq_K562_KS91.hg38.Input.rep3.WGS.unstranded.bed.gz"
 [4] "ASTARRseq_K562_KS91.hg38.Input.rep4.WGS.unstranded.bed.gz"
 [5] "ASTARRseq_K562_KS91.hg38.Input.rep5.WGS.unstranded.bed.gz"
 [6] "ASTARRseq_K562_KS91.hg38.Input.rep6.WGS.unstranded.bed.gz"
 [7] "ASTARRseq_K562_KS91.hg38.Output.rep1.WGS.unstranded.bed.gz"
 [8] "ASTARRseq_K562_KS91.hg38.Output.rep2.WGS.unstranded.bed.gz"
 [9] "ASTARRseq_K562_KS91.hg38.Output.rep3.WGS.unstranded.bed.gz"
[10] "ASTARRseq_K562_KS91.hg38.Output.rep4.WGS.unstranded.bed.gz"

Removing zero:
Before removing zero: 150042
After  removing zero: 150041

Save count matrix and data list.
matrix.count.raw.WGS.tsv
data.count_column.raw.WGS.rds

First few rows of the matrix:

Chrom,ChromStart,ChromEnd,Region,Input.rep1,Input.rep2,Input.rep3,Input.rep4,Input.rep5,Input.rep6,Output.rep1,Output.rep2,Output.rep3,Output.rep4
chr1,10038,10405,chr1:10038-10405,145,207,244,229,178,206,5,12,4,10
chr1,14282,14614,chr1:14282-14614,106,139,153,137,123,128,8,23,26,41
chr1,16025,16338,chr1:16025-16338,124,189,175,170,178,164,8,7,15,18

Last few rows of the matrix:

Chrom,ChromStart,ChromEnd,Region,Input.rep1,Input.rep2,Input.rep3,Input.rep4,Input.rep5,Input.rep6,Output.rep1,Output.rep2,Output.rep3,Output.rep4
chrX,156016432,156016780,chrX:156016432-156016780,142,191,190,177,187,170,3,1,1,2
chrX,156024963,156025554,chrX:156024963-156025554,304,373,418,411,402,345,20,46,43,109
chrX,156030352,156030709,chrX:156030352-156030709,143,224,221,216,205,167,0,0,1,0

====================
Region Folder: region_for_analysis
Region Label:  fcc_astarr_macs_input_overlap
Assay  Folder: STARR_ATAC_K562_Reddy_KS274
Import Counts:
[1] "ASTARRseq_K562_KS274.hg38.Output.rep1.WGS.unstranded.bed.gz"
[2] "ASTARRseq_K562_KS274.hg38.Output.rep2.WGS.unstranded.bed.gz"
[3] "ASTARRseq_K562_KS274.hg38.Output.rep3.WGS.unstranded.bed.gz"
[4] "ASTARRseq_K562_KS91.hg38.Input.rep1.WGS.unstranded.bed.gz"
[5] "ASTARRseq_K562_KS91.hg38.Input.rep2.WGS.unstranded.bed.gz"
[6] "ASTARRseq_K562_KS91.hg38.Input.rep3.WGS.unstranded.bed.gz"
[7] "ASTARRseq_K562_KS91.hg38.Input.rep4.WGS.unstranded.bed.gz"
[8] "ASTARRseq_K562_KS91.hg38.Input.rep5.WGS.unstranded.bed.gz"
[9] "ASTARRseq_K562_KS91.hg38.Input.rep6.WGS.unstranded.bed.gz"

Removing zero:
Before removing zero: 150042
After  removing zero: 150042

Save count matrix and data list.
matrix.count.raw.WGS.tsv
data.count_column.raw.WGS.rds

First few rows of the matrix:

Chrom,ChromStart,ChromEnd,Region,Input.rep1,Input.rep2,Input.rep3,Input.rep4,Input.rep5,Input.rep6,Output.rep1,Output.rep2,Output.rep3
chr1,10038,10405,chr1:10038-10405,145,207,244,229,178,206,0,0,0
chr1,14282,14614,chr1:14282-14614,106,139,153,137,123,128,4,6,5
chr1,16025,16338,chr1:16025-16338,124,189,175,170,178,164,15,4,4

Last few rows of the matrix:

Chrom,ChromStart,ChromEnd,Region,Input.rep1,Input.rep2,Input.rep3,Input.rep4,Input.rep5,Input.rep6,Output.rep1,Output.rep2,Output.rep3
chrX,156016432,156016780,chrX:156016432-156016780,142,191,190,177,187,170,0,1,0
chrX,156024963,156025554,chrX:156024963-156025554,304,373,418,411,402,345,25,18,25
chrX,156030352,156030709,chrX:156030352-156030709,143,224,221,216,205,167,0,0,0

====================
Region Folder: region_for_analysis
Region Label:  fcc_astarr_macs_input_overlap
Assay  Folder: STARR_ATAC_K562_Reddy_KSMerge
Import Counts:
 [1] "ASTARRseq_K562_KS274.hg38.Output.rep1.WGS.unstranded.bed.gz"
 [2] "ASTARRseq_K562_KS274.hg38.Output.rep2.WGS.unstranded.bed.gz"
 [3] "ASTARRseq_K562_KS274.hg38.Output.rep3.WGS.unstranded.bed.gz"
 [4] "ASTARRseq_K562_KS91.hg38.Input.rep1.WGS.unstranded.bed.gz"
 [5] "ASTARRseq_K562_KS91.hg38.Input.rep2.WGS.unstranded.bed.gz"
 [6] "ASTARRseq_K562_KS91.hg38.Input.rep3.WGS.unstranded.bed.gz"
 [7] "ASTARRseq_K562_KS91.hg38.Input.rep4.WGS.unstranded.bed.gz"
 [8] "ASTARRseq_K562_KS91.hg38.Input.rep5.WGS.unstranded.bed.gz"
 [9] "ASTARRseq_K562_KS91.hg38.Input.rep6.WGS.unstranded.bed.gz"
[10] "ASTARRseq_K562_KS91.hg38.Output.rep1.WGS.unstranded.bed.gz"
[11] "ASTARRseq_K562_KS91.hg38.Output.rep2.WGS.unstranded.bed.gz"
[12] "ASTARRseq_K562_KS91.hg38.Output.rep3.WGS.unstranded.bed.gz"
[13] "ASTARRseq_K562_KS91.hg38.Output.rep4.WGS.unstranded.bed.gz"

Removing zero:
Before removing zero: 150042
After  removing zero: 150042

Save count matrix and data list.
matrix.count.raw.WGS.tsv
data.count_column.raw.WGS.rds

First few rows of the matrix:

Chrom,ChromStart,ChromEnd,Region,Input.rep1,Input.rep2,Input.rep3,Input.rep4,Input.rep5,Input.rep6,Output.rep1,Output.rep2,Output.rep3,Output.rep4,Output.rep5,Output.rep6,Output.rep7
chr1,10038,10405,chr1:10038-10405,145,207,244,229,178,206,5,12,4,10,0,0,0
chr1,14282,14614,chr1:14282-14614,106,139,153,137,123,128,8,23,26,41,4,6,5
chr1,16025,16338,chr1:16025-16338,124,189,175,170,178,164,8,7,15,18,15,4,4

Last few rows of the matrix:

Chrom,ChromStart,ChromEnd,Region,Input.rep1,Input.rep2,Input.rep3,Input.rep4,Input.rep5,Input.rep6,Output.rep1,Output.rep2,Output.rep3,Output.rep4,Output.rep5,Output.rep6,Output.rep7
chrX,156016432,156016780,chrX:156016432-156016780,142,191,190,177,187,170,3,1,1,2,0,1,0
chrX,156024963,156025554,chrX:156024963-156025554,304,373,418,411,402,345,20,46,43,109,25,18,25
chrX,156030352,156030709,chrX:156030352-156030709,143,224,221,216,205,167,0,0,1,0,0,0,0

====================
Region Folder: region_for_analysis
Region Label:  fcc_astarr_macs_input_overlap
Assay  Folder: STARR_WHG_K562_Reddy_A001
Import Counts:
[1] "WSTARRseq_K562_A001.hg38.Input.rep1.WGS.unstranded.bed.gz"
[2] "WSTARRseq_K562_A001.hg38.Input.rep2.WGS.unstranded.bed.gz"
[3] "WSTARRseq_K562_A001.hg38.Input.rep3.WGS.unstranded.bed.gz"
[4] "WSTARRseq_K562_A001.hg38.Input.rep4.WGS.unstranded.bed.gz"
[5] "WSTARRseq_K562_A001.hg38.Output.rep1.WGS.unstranded.bed.gz"
[6] "WSTARRseq_K562_A001.hg38.Output.rep2.WGS.unstranded.bed.gz"
[7] "WSTARRseq_K562_A001.hg38.Output.rep3.WGS.unstranded.bed.gz"

Removing zero:
Before removing zero: 150042
After  removing zero: 150030

Save count matrix and data list.
matrix.count.raw.WGS.tsv
data.count_column.raw.WGS.rds

First few rows of the matrix:

Chrom,ChromStart,ChromEnd,Region,Input.rep1,Input.rep2,Input.rep3,Input.rep4,Output.rep1,Output.rep2,Output.rep3
chr1,10038,10405,chr1:10038-10405,0,1,1,1,0,0,0
chr1,14282,14614,chr1:14282-14614,0,0,0,0,0,0,1
chr1,16025,16338,chr1:16025-16338,0,2,7,8,17,6,20

Last few rows of the matrix:

Chrom,ChromStart,ChromEnd,Region,Input.rep1,Input.rep2,Input.rep3,Input.rep4,Output.rep1,Output.rep2,Output.rep3
chrX,156016432,156016780,chrX:156016432-156016780,1,1,1,1,8,5,9
chrX,156024963,156025554,chrX:156024963-156025554,0,13,19,13,33,23,73
chrX,156030352,156030709,chrX:156030352-156030709,0,1,2,1,0,2,0

====================
Region Folder: region_for_analysis
Region Label:  fcc_astarr_macs_input_union
Assay  Folder: STARR_ATAC_K562_Reddy_KS91
Import Counts:
 [1] "ASTARRseq_K562_KS91.hg38.Input.rep1.WGS.unstranded.bed.gz"
 [2] "ASTARRseq_K562_KS91.hg38.Input.rep2.WGS.unstranded.bed.gz"
 [3] "ASTARRseq_K562_KS91.hg38.Input.rep3.WGS.unstranded.bed.gz"
 [4] "ASTARRseq_K562_KS91.hg38.Input.rep4.WGS.unstranded.bed.gz"
 [5] "ASTARRseq_K562_KS91.hg38.Input.rep5.WGS.unstranded.bed.gz"
 [6] "ASTARRseq_K562_KS91.hg38.Input.rep6.WGS.unstranded.bed.gz"
 [7] "ASTARRseq_K562_KS91.hg38.Output.rep1.WGS.unstranded.bed.gz"
 [8] "ASTARRseq_K562_KS91.hg38.Output.rep2.WGS.unstranded.bed.gz"
 [9] "ASTARRseq_K562_KS91.hg38.Output.rep3.WGS.unstranded.bed.gz"
[10] "ASTARRseq_K562_KS91.hg38.Output.rep4.WGS.unstranded.bed.gz"

Removing zero:
Before removing zero: 246852
After  removing zero: 246852

Save count matrix and data list.
matrix.count.raw.WGS.tsv
data.count_column.raw.WGS.rds

First few rows of the matrix:

Chrom,ChromStart,ChromEnd,Region,Input.rep1,Input.rep2,Input.rep3,Input.rep4,Input.rep5,Input.rep6,Output.rep1,Output.rep2,Output.rep3,Output.rep4
chr1,10015,10442,chr1:10015-10442,155,214,257,236,185,214,7,12,4,11
chr1,14253,14645,chr1:14253-14645,110,144,160,141,130,130,8,26,30,57
chr1,16015,16477,chr1:16015-16477,141,208,206,190,202,182,9,9,18,23

Last few rows of the matrix:

Chrom,ChromStart,ChromEnd,Region,Input.rep1,Input.rep2,Input.rep3,Input.rep4,Input.rep5,Input.rep6,Output.rep1,Output.rep2,Output.rep3,Output.rep4
chrX,156016391,156016836,chrX:156016391-156016836,146,197,197,186,193,178,4,1,2,2
chrX,156024950,156025593,chrX:156024950-156025593,307,381,422,418,408,350,20,46,43,112
chrX,156030187,156030740,chrX:156030187-156030740,164,254,249,238,236,187,3,5,3,2

====================
Region Folder: region_for_analysis
Region Label:  fcc_astarr_macs_input_union
Assay  Folder: STARR_ATAC_K562_Reddy_KS274
Import Counts:
[1] "ASTARRseq_K562_KS274.hg38.Output.rep1.WGS.unstranded.bed.gz"
[2] "ASTARRseq_K562_KS274.hg38.Output.rep2.WGS.unstranded.bed.gz"
[3] "ASTARRseq_K562_KS274.hg38.Output.rep3.WGS.unstranded.bed.gz"
[4] "ASTARRseq_K562_KS91.hg38.Input.rep1.WGS.unstranded.bed.gz"
[5] "ASTARRseq_K562_KS91.hg38.Input.rep2.WGS.unstranded.bed.gz"
[6] "ASTARRseq_K562_KS91.hg38.Input.rep3.WGS.unstranded.bed.gz"
[7] "ASTARRseq_K562_KS91.hg38.Input.rep4.WGS.unstranded.bed.gz"
[8] "ASTARRseq_K562_KS91.hg38.Input.rep5.WGS.unstranded.bed.gz"
[9] "ASTARRseq_K562_KS91.hg38.Input.rep6.WGS.unstranded.bed.gz"

Removing zero:
Before removing zero: 246852
After  removing zero: 246852

Save count matrix and data list.
matrix.count.raw.WGS.tsv
data.count_column.raw.WGS.rds

First few rows of the matrix:

Chrom,ChromStart,ChromEnd,Region,Input.rep1,Input.rep2,Input.rep3,Input.rep4,Input.rep5,Input.rep6,Output.rep1,Output.rep2,Output.rep3
chr1,10015,10442,chr1:10015-10442,155,214,257,236,185,214,0,0,0
chr1,14253,14645,chr1:14253-14645,110,144,160,141,130,130,5,10,9
chr1,16015,16477,chr1:16015-16477,141,208,206,190,202,182,15,4,6

Last few rows of the matrix:

Chrom,ChromStart,ChromEnd,Region,Input.rep1,Input.rep2,Input.rep3,Input.rep4,Input.rep5,Input.rep6,Output.rep1,Output.rep2,Output.rep3
chrX,156016391,156016836,chrX:156016391-156016836,146,197,197,186,193,178,0,1,0
chrX,156024950,156025593,chrX:156024950-156025593,307,381,422,418,408,350,25,19,25
chrX,156030187,156030740,chrX:156030187-156030740,164,254,249,238,236,187,0,0,0

====================
Region Folder: region_for_analysis
Region Label:  fcc_astarr_macs_input_union
Assay  Folder: STARR_ATAC_K562_Reddy_KSMerge
Import Counts:
 [1] "ASTARRseq_K562_KS274.hg38.Output.rep1.WGS.unstranded.bed.gz"
 [2] "ASTARRseq_K562_KS274.hg38.Output.rep2.WGS.unstranded.bed.gz"
 [3] "ASTARRseq_K562_KS274.hg38.Output.rep3.WGS.unstranded.bed.gz"
 [4] "ASTARRseq_K562_KS91.hg38.Input.rep1.WGS.unstranded.bed.gz"
 [5] "ASTARRseq_K562_KS91.hg38.Input.rep2.WGS.unstranded.bed.gz"
 [6] "ASTARRseq_K562_KS91.hg38.Input.rep3.WGS.unstranded.bed.gz"
 [7] "ASTARRseq_K562_KS91.hg38.Input.rep4.WGS.unstranded.bed.gz"
 [8] "ASTARRseq_K562_KS91.hg38.Input.rep5.WGS.unstranded.bed.gz"
 [9] "ASTARRseq_K562_KS91.hg38.Input.rep6.WGS.unstranded.bed.gz"
[10] "ASTARRseq_K562_KS91.hg38.Output.rep1.WGS.unstranded.bed.gz"
[11] "ASTARRseq_K562_KS91.hg38.Output.rep2.WGS.unstranded.bed.gz"
[12] "ASTARRseq_K562_KS91.hg38.Output.rep3.WGS.unstranded.bed.gz"
[13] "ASTARRseq_K562_KS91.hg38.Output.rep4.WGS.unstranded.bed.gz"

Removing zero:
Before removing zero: 246852
After  removing zero: 246852

Save count matrix and data list.
matrix.count.raw.WGS.tsv
data.count_column.raw.WGS.rds

First few rows of the matrix:

Chrom,ChromStart,ChromEnd,Region,Input.rep1,Input.rep2,Input.rep3,Input.rep4,Input.rep5,Input.rep6,Output.rep1,Output.rep2,Output.rep3,Output.rep4,Output.rep5,Output.rep6,Output.rep7
chr1,10015,10442,chr1:10015-10442,155,214,257,236,185,214,7,12,4,11,0,0,0
chr1,14253,14645,chr1:14253-14645,110,144,160,141,130,130,8,26,30,57,5,10,9
chr1,16015,16477,chr1:16015-16477,141,208,206,190,202,182,9,9,18,23,15,4,6

Last few rows of the matrix:

Chrom,ChromStart,ChromEnd,Region,Input.rep1,Input.rep2,Input.rep3,Input.rep4,Input.rep5,Input.rep6,Output.rep1,Output.rep2,Output.rep3,Output.rep4,Output.rep5,Output.rep6,Output.rep7
chrX,156016391,156016836,chrX:156016391-156016836,146,197,197,186,193,178,4,1,2,2,0,1,0
chrX,156024950,156025593,chrX:156024950-156025593,307,381,422,418,408,350,20,46,43,112,25,19,25
chrX,156030187,156030740,chrX:156030187-156030740,164,254,249,238,236,187,3,5,3,2,0,0,0

====================
Region Folder: region_for_analysis
Region Label:  fcc_astarr_macs_input_union
Assay  Folder: STARR_WHG_K562_Reddy_A001
Import Counts:
[1] "WSTARRseq_K562_A001.hg38.Input.rep1.WGS.unstranded.bed.gz"
[2] "WSTARRseq_K562_A001.hg38.Input.rep2.WGS.unstranded.bed.gz"
[3] "WSTARRseq_K562_A001.hg38.Input.rep3.WGS.unstranded.bed.gz"
[4] "WSTARRseq_K562_A001.hg38.Input.rep4.WGS.unstranded.bed.gz"
[5] "WSTARRseq_K562_A001.hg38.Output.rep1.WGS.unstranded.bed.gz"
[6] "WSTARRseq_K562_A001.hg38.Output.rep2.WGS.unstranded.bed.gz"
[7] "WSTARRseq_K562_A001.hg38.Output.rep3.WGS.unstranded.bed.gz"

Removing zero:
Before removing zero: 246852
After  removing zero: 246828

Save count matrix and data list.
matrix.count.raw.WGS.tsv
data.count_column.raw.WGS.rds

First few rows of the matrix:

Chrom,ChromStart,ChromEnd,Region,Input.rep1,Input.rep2,Input.rep3,Input.rep4,Output.rep1,Output.rep2,Output.rep3
chr1,10015,10442,chr1:10015-10442,1,1,1,1,0,0,0
chr1,14253,14645,chr1:14253-14645,0,0,0,0,0,0,1
chr1,16015,16477,chr1:16015-16477,0,6,9,12,20,14,33

Last few rows of the matrix:

Chrom,ChromStart,ChromEnd,Region,Input.rep1,Input.rep2,Input.rep3,Input.rep4,Output.rep1,Output.rep2,Output.rep3
chrX,156016391,156016836,chrX:156016391-156016836,1,1,1,1,8,7,11
chrX,156024950,156025593,chrX:156024950-156025593,2,13,19,13,38,26,82
chrX,156030187,156030740,chrX:156030187-156030740,0,1,2,2,0,2,2