---
title: Prepare Hi-C data 11 (in situ Hi-C)
subtitle: Prepare data (Loop)
format:
    html:
        code-fold:  true
        code-tools: true
---

**Set environment**

In [1]:
suppressMessages(suppressWarnings(source("../run_config_project_sing.R")))
show_env()

You are working on        Singularity: singularity_proj_encode_fcc
BASE DIRECTORY (FD_BASE): /data/reddylab/Kuei
REPO DIRECTORY (FD_REPO): /data/reddylab/Kuei/repo
WORK DIRECTORY (FD_WORK): /data/reddylab/Kuei/work
DATA DIRECTORY (FD_DATA): /data/reddylab/Kuei/data

You are working with      ENCODE FCC
PATH OF PROJECT (FD_PRJ): /data/reddylab/Kuei/repo/Proj_ENCODE_FCC
PROJECT RESULTS (FD_RES): /data/reddylab/Kuei/repo/Proj_ENCODE_FCC/results
PROJECT SCRIPTS (FD_EXE): /data/reddylab/Kuei/repo/Proj_ENCODE_FCC/scripts
PROJECT DATA    (FD_DAT): /data/reddylab/Kuei/repo/Proj_ENCODE_FCC/data
PROJECT NOTE    (FD_NBK): /data/reddylab/Kuei/repo/Proj_ENCODE_FCC/notebooks
PROJECT DOCS    (FD_DOC): /data/reddylab/Kuei/repo/Proj_ENCODE_FCC/docs
PROJECT LOG     (FD_LOG): /data/reddylab/Kuei/repo/Proj_ENCODE_FCC/log
PROJECT REF     (FD_REF): /data/reddylab/Kuei/repo/Proj_ENCODE_FCC/references

**Set global variables**

In [2]:
TXT_FOLDER_REGION = "hic_insitu_K562_ENCSR545YBD"
TXT_ASSAY = "hic_insitu"
TXT_INDEX = "ENCSR545YBD"

## Import data

**View files**

In [3]:
txt_folder = TXT_FOLDER_REGION
txt_fdiry  = file.path(FD_DAT, "external", txt_folder)

vec = dir(txt_fdiry)
for (txt in vec){cat(txt, "\n")}

K562.hg38.ENCSR545YBD.ENCFF271SAF.hic_insitu.contact_domain.bedpe.gz
K562.hg38.ENCSR545YBD.ENCFF616PUW.hic_insitu.matrix.hic
K562.hg38.ENCSR545YBD.ENCFF693XIL.hic_insitu.loop.bedpe.gz
run_download.log.txt
run_download.sh

**Import data**

In [4]:
### set file path
txt_folder = TXT_FOLDER_REGION
txt_fdiry  = file.path(FD_DAT, "external", txt_folder)
txt_fname = "K562.hg38.ENCSR545YBD.ENCFF693XIL.hic_insitu.loop.bedpe.gz"
txt_fpath = file.path(txt_fdiry, txt_fname)

### read table
dat = read_tsv(txt_fpath, show_col_types = FALSE)

### arrange columns
### the first line contains juicer version
dat = dat %>% dplyr::filter(!row_number() == 1)
colnames(dat)[1] = "chr"

### assign and show
dat_region_import = dat
print(dim(dat))
fun_display_table(head(dat))

Warning message:
“One or more parsing issues, call `problems()` on your data frame for details,
e.g.:
  dat <- vroom(...)
  problems(dat)”

[1] 13621    24

chr,x1,x2,chr2,y1,y2,name,score,strand1,strand2,color,observed,expectedBL,expectedDonut,expectedH,expectedV,fdrBL,fdrDonut,fdrH,fdrV,numCollapsed,centroid1,centroid2,radius
chr10,34010000,34020000,chr10,35050000,35060000,.,.,.,.,"0,255,255",25,6.6749783,6.1170010,6.0281730,4.8555950,0.0036679,0.0003062,0.0003492,0.0000062,1,34015000,35055000,0
chr10,124000000,124005000,chr10,124380000,124385000,.,.,.,.,"0,255,255",38,13.6905220,14.1950290,18.1011810,18.3363440,0.0022107,0.0023933,0.0585087,0.0597430,3,123997500,124387500,7071
chr10,133330000,133335000,chr10,133495000,133500000,.,.,.,.,"0,255,255",39,14.3234210,15.4684410,18.8569850,18.8009620,0.0011135,0.0011820,0.0374963,0.0384667,2,133330000,133500000,3536
chr10,30000000,30010000,chr10,30600000,30610000,.,.,.,.,"0,255,255",58,21.2009220,22.3815540,29.8819480,23.4318870,0.0000306,0.0000396,0.0107688,0.0000610,1,30005000,30605000,0
chr10,48550000,48555000,chr10,48655000,48660000,.,.,.,.,"0,255,255",79,36.3444670,31.2415470,36.4738400,34.4195750,0.0000138,0.0000125,0.0000205,0.0000209,2,48552500,48652500,5000
chr10,93640000,93645000,chr10,97430000,97435000,.,.,.,.,"0,255,255",20,0.3556261,0.1928726,0.3479165,0.1381184,0.0000000,0.0000000,0.0000000,0.0000000,1,93642500,97432500,0

## Rename columns

In [5]:
fun_toupper_first = function(txt_input){
    txt_first  = toupper(substring(txt_input, 1, 1))
    txt_rest   = substring(txt_input, 2)
    txt_output = paste0(txt_first, txt_rest)
    return(txt_output)
}

In [6]:
dat = dat_region_import

### rename location
vec = c(
    "Chrom_1", "ChromStart_1", "ChromEnd_1",
    "Chrom_2", "ChromStart_2", "ChromEnd_2"
)
colnames(dat)[1:6] = vec

### captialize the first letter
vec = colnames(dat)
vec = fun_toupper_first(vec)

### rename strand and centroid
vec = dplyr::recode(
    vec, 
    "Strand1"   = "Strand_1", 
    "Strand2"   = "Strand_2",
    "Centroid1" = "Centroid_1", 
    "Centroid2" = "Centroid_2"
)
colnames(dat) = vec

### assign and show
dat_reigon_rename = dat
print(dim(dat))
fun_display_table(head(dat))

[1] 13621    24

Chrom_1,ChromStart_1,ChromEnd_1,Chrom_2,ChromStart_2,ChromEnd_2,Name,Score,Strand_1,Strand_2,Color,Observed,ExpectedBL,ExpectedDonut,ExpectedH,ExpectedV,FdrBL,FdrDonut,FdrH,FdrV,NumCollapsed,Centroid_1,Centroid_2,Radius
chr10,34010000,34020000,chr10,35050000,35060000,.,.,.,.,"0,255,255",25,6.6749783,6.1170010,6.0281730,4.8555950,0.0036679,0.0003062,0.0003492,0.0000062,1,34015000,35055000,0
chr10,124000000,124005000,chr10,124380000,124385000,.,.,.,.,"0,255,255",38,13.6905220,14.1950290,18.1011810,18.3363440,0.0022107,0.0023933,0.0585087,0.0597430,3,123997500,124387500,7071
chr10,133330000,133335000,chr10,133495000,133500000,.,.,.,.,"0,255,255",39,14.3234210,15.4684410,18.8569850,18.8009620,0.0011135,0.0011820,0.0374963,0.0384667,2,133330000,133500000,3536
chr10,30000000,30010000,chr10,30600000,30610000,.,.,.,.,"0,255,255",58,21.2009220,22.3815540,29.8819480,23.4318870,0.0000306,0.0000396,0.0107688,0.0000610,1,30005000,30605000,0
chr10,48550000,48555000,chr10,48655000,48660000,.,.,.,.,"0,255,255",79,36.3444670,31.2415470,36.4738400,34.4195750,0.0000138,0.0000125,0.0000205,0.0000209,2,48552500,48652500,5000
chr10,93640000,93645000,chr10,97430000,97435000,.,.,.,.,"0,255,255",20,0.3556261,0.1928726,0.3479165,0.1381184,0.0000000,0.0000000,0.0000000,0.0000000,1,93642500,97432500,0

## Arrange tables

In [7]:
### init
dat = dat_reigon_rename

### arrange columns
dat = dat %>% 
    dplyr::mutate(
        Length_1 = ChromEnd_1 - ChromStart_1,
        Length_2 = ChromEnd_2 - ChromStart_2,
        Size     = (Length_1 + Length_2) / 2,
        Region_1 = fun_gen_region(Chrom_1, ChromStart_1, ChromEnd_1),
        Region_2 = fun_gen_region(Chrom_2, ChromStart_2, ChromEnd_2),
        Name     = paste0(Region_1, "|", Region_2),
        Distance = Centroid_2 - Centroid_1
    ) 

### assign and show
dat_region_arrange = dat
print(dim(dat))
fun_display_table(head(dat, 3))

[1] 13621    30

Chrom_1,ChromStart_1,ChromEnd_1,Chrom_2,ChromStart_2,ChromEnd_2,Name,Score,Strand_1,Strand_2,Color,Observed,ExpectedBL,ExpectedDonut,ExpectedH,ExpectedV,FdrBL,FdrDonut,FdrH,FdrV,NumCollapsed,Centroid_1,Centroid_2,Radius,Length_1,Length_2,Size,Region_1,Region_2,Distance
chr10,34010000,34020000,chr10,35050000,35060000,chr10:34010000-34020000|chr10:35050000-35060000,.,.,.,"0,255,255",25,6.674978,6.117001,6.028173,4.855595,0.0036679,0.0003062,0.0003492,0.0000062,1,34015000,35055000,0,10000,10000,10000,chr10:34010000-34020000,chr10:35050000-35060000,1040000
chr10,124000000,124005000,chr10,124380000,124385000,chr10:124000000-124005000|chr10:124380000-124385000,.,.,.,"0,255,255",38,13.690522,14.195029,18.101181,18.336344,0.0022107,0.0023933,0.0585087,0.0597430,3,123997500,124387500,7071,5000,5000,5000,chr10:124000000-124005000,chr10:124380000-124385000,390000
chr10,133330000,133335000,chr10,133495000,133500000,chr10:133330000-133335000|chr10:133495000-133500000,.,.,.,"0,255,255",39,14.323421,15.468441,18.856985,18.800962,0.0011135,0.0011820,0.0374963,0.0384667,2,133330000,133500000,3536,5000,5000,5000,chr10:133330000-133335000,chr10:133495000-133500000,170000

**Explore**

In [8]:
dat = dat_region_arrange
all(dat$Length_1 == dat$Length_2)

[1] TRUE

## Prepare region A and B

In [9]:
### init
vec_txt_cname_A = c("Chrom_1", "ChromStart_1", "ChromEnd_1", "Name")
vec_txt_cname_B = c("Chrom_2", "ChromStart_2", "ChromEnd_2", "Name")
vec_txt_cname   = c("Chrom",   "ChromStart",   "ChromEnd",   "Name", "Group", "Label")
txt_assay = TXT_ASSAY

### prepare point A
dat = dat_region_arrange
dat = dat %>% 
    dplyr::select(!!!vec_txt_cname_A) %>% 
    dplyr::mutate(
        Group = txt_assay,
        Label = "Loop_A"
    ) %>%
    dplyr::distinct()
colnames(dat) = vec_txt_cname
dat_region_A  = dat

### prepare point B
dat = dat_region_arrange
dat = dat %>% 
    dplyr::select(!!!vec_txt_cname_B)%>% 
    dplyr::mutate(
        Group = txt_assay,
        Label = "Loop_B"
    ) %>%
    dplyr::distinct()
colnames(dat) = vec_txt_cname
dat_region_B  = dat

**Show table**

In [10]:
dat = dat_region_A
fun_display_table(head(dat))

Chrom,ChromStart,ChromEnd,Name,Group,Label
chr10,34010000,34020000,chr10:34010000-34020000|chr10:35050000-35060000,hic_insitu,Loop_A
chr10,124000000,124005000,chr10:124000000-124005000|chr10:124380000-124385000,hic_insitu,Loop_A
chr10,133330000,133335000,chr10:133330000-133335000|chr10:133495000-133500000,hic_insitu,Loop_A
chr10,30000000,30010000,chr10:30000000-30010000|chr10:30600000-30610000,hic_insitu,Loop_A
chr10,48550000,48555000,chr10:48550000-48555000|chr10:48655000-48660000,hic_insitu,Loop_A
chr10,93640000,93645000,chr10:93640000-93645000|chr10:97430000-97435000,hic_insitu,Loop_A

In [11]:
dat = dat_region_B
fun_display_table(head(dat))

Chrom,ChromStart,ChromEnd,Name,Group,Label
chr10,35050000,35060000,chr10:34010000-34020000|chr10:35050000-35060000,hic_insitu,Loop_B
chr10,124380000,124385000,chr10:124000000-124005000|chr10:124380000-124385000,hic_insitu,Loop_B
chr10,133495000,133500000,chr10:133330000-133335000|chr10:133495000-133500000,hic_insitu,Loop_B
chr10,30600000,30610000,chr10:30000000-30010000|chr10:30600000-30610000,hic_insitu,Loop_B
chr10,48655000,48660000,chr10:48550000-48555000|chr10:48655000-48660000,hic_insitu,Loop_B
chr10,97430000,97435000,chr10:93640000-93645000|chr10:97430000-97435000,hic_insitu,Loop_B

## Save results

In [12]:
### set file path
txt_folder = TXT_FOLDER_REGION
txt_fdiry  = file.path(FD_RES, "region", txt_folder)
txt_fname = "K562.hg38.hic_insitu.Loop_A.bed.gz"
txt_fpath = file.path(txt_fdiry, txt_fname)

### get table
dat = dat_region_A
dat = dat %>% dplyr::arrange(Chrom, ChromStart, ChromEnd)

### write tabel
dir.create(txt_fdiry, showWarnings = FALSE)
write_tsv(dat, txt_fpath, col_names = FALSE)

In [13]:
### set file path
txt_folder = TXT_FOLDER_REGION
txt_fdiry  = file.path(FD_RES, "region", txt_folder)
txt_fname = "K562.hg38.hic_insitu.Loop_B.bed.gz"
txt_fpath = file.path(txt_fdiry, txt_fname)

### get table
dat = dat_region_B
dat = dat %>% dplyr::arrange(Chrom, ChromStart, ChromEnd)

### write tabel
dir.create(txt_fdiry, showWarnings = FALSE)
write_tsv(dat, txt_fpath, col_names = FALSE)

In [15]:
### set file path
txt_folder = TXT_FOLDER_REGION
txt_fdiry  = file.path(FD_RES, "region", txt_folder, "summary")
txt_fname = "K562.hg38.hic_insitu.Loop.tsv"
txt_fpath = file.path(txt_fdiry, txt_fname)

### get table
dat = dat_region_arrange
dat = dat %>% dplyr::arrange(
    Chrom_1, ChromStart_1, ChromEnd_1,
    Chrom_2, ChromStart_2, ChromEnd_2
)

### write tabel
dir.create(txt_fdiry, showWarnings = FALSE)
write_tsv(dat, txt_fpath)