---
title: FCC Peak calls
subtitle: export annotation
format:
    html:
        code-fold:  true
        code-tools: true
---

**Set environment**

In [1]:
suppressMessages(suppressWarnings(source("../run_config_project_sing.R")))
show_env()

You are working on        Singularity
BASE DIRECTORY (FD_BASE): /mount
REPO DIRECTORY (FD_REPO): /mount/repo
WORK DIRECTORY (FD_WORK): /mount/work
DATA DIRECTORY (FD_DATA): /mount/data

You are working with      ENCODE FCC
PATH OF PROJECT (FD_PRJ): /mount/repo/Proj_ENCODE_FCC
PROJECT RESULTS (FD_RES): /mount/repo/Proj_ENCODE_FCC/results
PROJECT SCRIPTS (FD_EXE): /mount/repo/Proj_ENCODE_FCC/scripts
PROJECT DATA    (FD_DAT): /mount/repo/Proj_ENCODE_FCC/data
PROJECT NOTE    (FD_NBK): /mount/repo/Proj_ENCODE_FCC/notebooks
PROJECT DOCS    (FD_DOC): /mount/repo/Proj_ENCODE_FCC/docs
PROJECT LOG     (FD_LOG): /mount/repo/Proj_ENCODE_FCC/log
PROJECT APP     (FD_APP): /mount/repo/Proj_ENCODE_FCC/app
PROJECT REF     (FD_REF): /mount/repo/Proj_ENCODE_FCC/references

In [2]:
txt_fdiry = file.path(
    FD_RES, 
    "region_annotation", 
    "fcc_astarr_macs_input_overlap",
    "summary"
)
vec = dir(txt_fdiry)
print(vec)

 [1] "matrix.annotation.chipseq_flagship.fcc.rds"
 [2] "matrix.annotation.chipseq_flagship.fcc.tsv"
 [3] "matrix.annotation.chipseq_flagship.rds"
 [4] "matrix.annotation.chipseq_flagship.tsv"
 [5] "matrix.annotation.chipseq_full.tsv"
 [6] "matrix.annotation.chipseq_histone.tsv"
 [7] "matrix.annotation.chipseq_subset.tsv"
 [8] "matrix.annotation.fcc_peak_call.tsv"
 [9] "matrix.annotation.tss.chipseq_histone.chipseq_encode4.tsv"
[10] "region.annotation.encode_chipseq_flagship.tsv"
[11] "region.annotation.encode_chipseq_histone.tsv"
[12] "region.annotation.encode_chipseq_subset.tsv"
[13] "region.annotation.encode_chromatin_states.tsv"
[14] "region.annotation.fcc_astarr_csaw.tsv"
[15] "region.annotation.fcc_crispri_growth.tsv"
[16] "region.annotation.fcc_crispri_hcrff.tsv"
[17] "region.annotation.fcc_mpra_agarwal2023.tsv"
[18] "region.annotation.fcc_starrmpra_junke.tsv"
[19] "region.annotation.genome_tss.tsv"
[20] "region.annotation.hic_insitu_K562_ENCSR545YBD.tsv"
[21] "region.annotation.hic_intact_K562_deep.tsv"
[22] "region.annotation.hic_intact_K562_ENCSR479XDG.tsv"
[23] "region.annotation.module_tf_shannon.tsv"
[24] "region.summary.encode_chipseq_encode4.tsv"
[25] "region.summary.encode_chipseq_flagship.tsv"
[26] "region.summary.encode_chipseq_histone.tsv"
[27] "region.summary.encode_chipseq_subset.tsv"
[28] "region.summary.encode_chromatin_states.tsv"
[29] "region.summary.fcc_astarr_csaw.tsv"
[30] "region.summary.fcc_crispri_growth.tsv"
[31] "region.summary.fcc_crispri_hcrff.tsv"
[32] "region.summary.fcc_mpra_agarwal2023.tsv"
[33] "region.summary.fcc_starrmpra_junke.tsv"
[34] "region.summary.genome_tss.tsv"
[35] "region.summary.hic_insitu_K562_ENCSR545YBD.tsv"
[36] "region.summary.hic_intact_K562_deep.tsv"
[37] "region.summary.hic_intact_K562_ENCSR479XDG.tsv"
[38] "region.summary.module_tf_shannon.tsv"
[39] "result.summary.chipseq_flagship.tsv"
[40] "result.summary.chipseq_full.tsv"
[41] "result.summary.chipseq_histone.tsv"
[42] "result.summary.chipseq_subset.tsv"
[43] "result.summary.connectivity.loop.tsv"
[44] "result.summary.fcc_peak_call.tsv"
[45] "result.summary.genome_tss.tsv"
[46] "umap.annotation.chipseq.tsv"

In [3]:
txt_fdiry = file.path(
    FD_RES, 
    "region", 
    "hic_intact_K562_deep",
    "summary"
)
dir(txt_fdiry)

[1] "description.tsv"               "K562.hg38.hic_intact.Loop.tsv"
[3] "metadata.label.tsv"

## Import data

In [4]:
txt_fdiry = file.path(
    FD_RES, 
    "region", 
    "hic_intact_K562_deep",
    "summary"
)
txt_fname = "K562.hg38.hic_intact.Loop.tsv"
txt_fpath = file.path(txt_fdiry, txt_fname)

dat = read_tsv(txt_fpath, show_col_types = FALSE)
dat_region_info_loop = dat
print(dim(dat))
fun_display_table(head(dat, 3))

[1] 128714     17

Chrom_A,ChromStart_A,ChromEnd_A,Region_A,Length_A,Chrom_B,ChromStart_B,ChromEnd_B,Region_B,Length_B,Name,Observed,Centroid_A,Centroid_B,Radius,Distance,Size
chr1,778000,779000,chr1:778000-779000,1000,chr1,827000,828000,chr1:827000-828000,1000,chr1:778000-779000|chr1:827000-828000,16,778500,827500,0,49000,1000
chr1,868000,870000,chr1:868000-870000,2000,chr1,1290000,1292000,chr1:1290000-1292000,2000,chr1:868000-870000|chr1:1290000-1292000,14,869000,1291000,0,422000,2000
chr1,870000,872000,chr1:870000-872000,2000,chr1,974000,976000,chr1:974000-976000,2000,chr1:870000-872000|chr1:974000-976000,31,871000,975000,0,104000,2000

In [5]:
txt_fdiry = file.path(
    FD_RES, 
    "region_annotation", 
    "fcc_astarr_macs_input_overlap",
    "summary"
)
txt_fname = "region.annotation.hic_intact_K562_deep.tsv"
txt_fpath = file.path(txt_fdiry, txt_fname)

dat = read_tsv(txt_fpath, show_col_types = FALSE)
dat_region_annot_pair = dat
print(dim(dat))
fun_display_table(head(dat, 3))

[1] 227729     14

Chrom_A,ChromStart_A,ChromEnd_A,Chrom_B,ChromStart_B,ChromEnd_B,Name_B,Group_B,Label_B,Overlap,Region_A,Region_B,Annotation_A,Annotation_B
chr1,778233,779389,chr1,778000,779000,chr1:778000-779000|chr1:827000-828000,hic_intact,Loop_A,767,chr1:778233-779389,chr1:778000-779000,fcc_astarr_macs_input_overlap,hic_intact_Loop_A_deep
chr1,869637,870233,chr1,870000,872000,chr1:870000-872000|chr1:974000-976000,hic_intact,Loop_A,233,chr1:869637-870233,chr1:870000-872000,fcc_astarr_macs_input_overlap,hic_intact_Loop_A_deep
chr1,869637,870233,chr1,870000,872000,chr1:870000-872000|chr1:1062000-1064000,hic_intact,Loop_A,233,chr1:869637-870233,chr1:870000-872000,fcc_astarr_macs_input_overlap,hic_intact_Loop_A_deep

In [6]:
txt_fdiry = file.path(
    FD_RES, 
    "region_annotation", 
    "fcc_astarr_macs_input_overlap",
    "summary"
)
txt_fname = "region.summary.hic_intact_K562_deep.tsv"
txt_fpath = file.path(txt_fdiry, txt_fname)

dat = read_tsv(txt_fpath, show_col_types = FALSE)
dat_region_annot_summary = dat
print(dim(dat))
fun_display_table(head(dat, 3))

[1] 227729     10

Chrom_A,ChromStart_A,ChromEnd_A,Region_A,Annotation_A,Annotation_B,Group_B,Name_B,Label_B,Count
chr1,778233,779389,chr1:778233-779389,fcc_astarr_macs_input_overlap,hic_intact_Loop_A_deep,hic_intact,chr1:778000-779000|chr1:827000-828000,Loop_A|Loop_B,2
chr1,869637,870233,chr1:869637-870233,fcc_astarr_macs_input_overlap,hic_intact_Loop_A_deep,hic_intact,chr1:870000-872000|chr1:974000-976000,Loop_A|Loop_B,2
chr1,869637,870233,chr1:869637-870233,fcc_astarr_macs_input_overlap,hic_intact_Loop_A_deep,hic_intact,chr1:870000-872000|chr1:1062000-1064000,Loop_A|Loop_B,3

In [7]:
dat = dat_region_annot_summary
table(dat$Count)

     1      2      3      4      5      6      7      8      9     10
 27582 152528  30852  10356   3945   1626    672    104     54     10

In [8]:
dat = dat_region_annot_summary
vec = dat$Region_A
print(length(vec))
print(length(unique(vec)))

[1] 227729
[1] 53760

## Summary

In [32]:
dat = dat_region_annot_pair
dat = dat %>%
    dplyr::select(Chrom_A, ChromStart_A, ChromEnd_A, Region_A, Region_B, Name_B) %>%
    dplyr::distinct()
head(dat)

  Chrom_A ChromStart_A ChromEnd_A Region_A           Region_B
1 chr1    778233       779389     chr1:778233-779389 chr1:778000-779000
2 chr1    869637       870233     chr1:869637-870233 chr1:870000-872000
3 chr1    869637       870233     chr1:869637-870233 chr1:870000-872000
4 chr1    869637       870233     chr1:869637-870233 chr1:870000-875000
5 chr1    869637       870233     chr1:869637-870233 chr1:868000-870000
6 chr1    903783       905204     chr1:903783-905204 chr1:904000-905000
  Name_B
1 chr1:778000-779000|chr1:827000-828000
2 chr1:870000-872000|chr1:974000-976000
3 chr1:870000-872000|chr1:1062000-1064000
4 chr1:870000-875000|chr1:935000-940000
5 chr1:868000-870000|chr1:1290000-1292000
6 chr1:904000-905000|chr1:976000-977000

In [35]:
dat = dat_region_annot_pair
dat = dat %>%
    dplyr::select(Chrom_A, ChromStart_A, ChromEnd_A, Region_A, Region_B, Name_B) %>%
    dplyr::distinct() %>%
    dplyr::filter(Region_A == "chr6:32868110-32868461")

print(dim(dat))
dat

[1] 10  6

   Chrom_A ChromStart_A ChromEnd_A Region_A
1  chr6    32868110     32868461   chr6:32868110-32868461
2  chr6    32868110     32868461   chr6:32868110-32868461
3  chr6    32868110     32868461   chr6:32868110-32868461
4  chr6    32868110     32868461   chr6:32868110-32868461
5  chr6    32868110     32868461   chr6:32868110-32868461
6  chr6    32868110     32868461   chr6:32868110-32868461
7  chr6    32868110     32868461   chr6:32868110-32868461
8  chr6    32868110     32868461   chr6:32868110-32868461
9  chr6    32868110     32868461   chr6:32868110-32868461
10 chr6    32868110     32868461   chr6:32868110-32868461
   Region_B               Name_B
1  chr6:32868000-32869000 chr6:32868000-32869000|chr6:32984000-32985000
2  chr6:32868000-32869000 chr6:32413000-32414000|chr6:32868000-32869000
3  chr6:32868000-32869000 chr6:32786000-32787000|chr6:32868000-32869000
4  chr6:32868000-32869000 chr6:32700000-32701000|chr6:32868000-32869000
5  chr6:32868000-32869000 chr6:32797000-32798000|chr6:32868000-32869000
6  chr6:32868000-32869000 chr6:32838000-32839000|chr6:32868000-32869000
7  chr6:32868000-32869000 chr6:32826000-32827000|chr6:32868000-32869000
8  chr6:32868000-32869000 chr6:32432000-32433000|chr6:32868000-32869000
9  chr6:32868000-32869000 chr6:32844000-32845000|chr6:32868000-32869000
10 chr6:32868000-32870000 chr6:32244000-32246000|chr6:32868000-32870000

In [36]:
dat = dat_region_annot_pair
dat = dat %>%
    #dplyr::select(Chrom_A, ChromStart_A, ChromEnd_A, Region_A, Annotation_A, Annotation_B, Region_B) %>%
    dplyr::select(Chrom_A, ChromStart_A, ChromEnd_A, Region_A, Name_B) %>%
    dplyr::distinct() %>%
    dplyr::group_by(Chrom_A, ChromStart_A, ChromEnd_A, Region_A) %>%
    dplyr::summarise(Count = n(), .groups="drop") %>%
    dplyr::mutate(Label = paste("#Loop ==", Count))

colnames(dat)[1:4] = c("Chrom", "ChromStart", "ChromEnd", "Region")

### Assign and show
dat_region_annot_label = dat
#cat("Annotation:", unique(dat$Annotation_A), unique(dat$Annotation_B), "\n")
print(dim(dat))
fun_display_table(head(dat, 3))

[1] 53760     6

Chrom,ChromStart,ChromEnd,Region,Count,Label
chr1,778233,779389,chr1:778233-779389,1,#Loop == 1
chr1,826796,828040,chr1:826796-828040,1,#Loop == 1
chr1,869637,870233,chr1:869637-870233,4,#Loop == 4

In [27]:
dat = dat_region_annot_label
table(dat$Count)

    1     2     3     4     5     6     7     8     9    10    11    12    13
15471  8104  5939  4710  4029  3342  2877  2359  1865  1335  1066   793   558
   14    15    16    17    18    19    20    21    22    23    24    25    26
  371   286   187   161    78    59    47    46    19    11    17     7     7
   27    28    29    31    32    33
    5     1     2     4     3     1

In [28]:
dat = dat_region_annot_label
table(dat$Count)

    1     2     3     4     5     6     7     8     9    10    11    12    13
15471  8104  5939  4710  4029  3342  2877  2359  1865  1335  1066   793   558
   14    15    16    17    18    19    20    21    22    23    24    25    26
  371   286   187   161    78    59    47    46    19    11    17     7     7
   27    28    29    31    32    33
    5     1     2     4     3     1

In [29]:
dat = dat_region_annot_label
dat %>% dplyr::filter(Region == "chr6:32868110-32868461")

  Chrom ChromStart ChromEnd Region                 Count Label
1 chr6  32868110   32868461 chr6:32868110-32868461 10    #Loop == 10

In [38]:
dat = dat_region_annot_label
dat %>% dplyr::filter(Region == "chr8:127760255-127761321")

  Chrom ChromStart ChromEnd  Region                   Count Label
1 chr8  127760255  127761321 chr8:127760255-127761321 1     #Loop == 1

In [39]:
dat = dat_region_annot_label
dat %>% dplyr::filter(Region == "chr8:127741717-127742618")

  Chrom ChromStart ChromEnd  Region                   Count Label
1 chr8  127741717  127742618 chr8:127741717-127742618 3     #Loop == 3

## Save results

In [40]:
txt_fdiry = file.path(
    FD_RES, 
    "region_annotation", 
    "fcc_astarr_macs_input_overlap",
    "summary"
)
txt_fname = "result.summary.connectivity.loop.tsv"
txt_fpath = file.path(txt_fdiry, txt_fname)

dat = dat_region_annot_label
write_tsv(dat, txt_fpath)

In [10]:
dat = dat_region_annot_pair
vec = dat$Region_A
print(length(vec))
print(length(unique(vec)))

[1] 227729
[1] 53760

In [11]:
vec1 = 1:20
vec2 = c("#Loop == 1", "#Loop == 2", "#Loop == 3", rep("#Loop > 3", 17))
fun = function(txt){
    res = fun_str_map_match(txt, vec1, vec2)
    return(res)
}

In [12]:
dat = dat_region_annot_pair
dat = dat %>%
    dplyr::select(Region_A, Region_B) %>%
    dplyr::distinct() %>%
    dplyr::group_by(Region_A) %>%
    dplyr::summarise(Count = n(), .groups="drop") %>%
    dplyr::mutate(
        Label  = paste("#Loop ==", Count),
        Label2 = fun(Count))

dat_region_annot_label = dat
print(dim(dat))
fun_display_table(head(dat, 3))

[1] 53760     4

Region_A,Count,Label,Label2
chr10:100009244-100010395,3,#Loop == 3,#Loop == 3
chr10:100046000-100046575,4,#Loop == 4,#Loop > 3
chr10:100185030-100186618,3,#Loop == 3,#Loop == 3

In [13]:
dat = dat_region_annot_label
table(dat$Count)

    1     2     3     4     5     6     7     8     9
23728 15329  9874  3688   907   198    27     8     1

In [36]:
table(tmp$Label)

#Loop == 1 #Loop == 2 #Loop == 3  #Loop > 3
     23728      15329       9874       4829