---
title: FCC Peak calls
subtitle: export annotation
format:
    html:
        code-fold:  true
        code-tools: true
---

**Set environment**

In [1]:
suppressMessages(suppressWarnings(source("../run_config_project_sing.R")))
show_env()

You are working on        Singularity
BASE DIRECTORY (FD_BASE): /mount
REPO DIRECTORY (FD_REPO): /mount/repo
WORK DIRECTORY (FD_WORK): /mount/work
DATA DIRECTORY (FD_DATA): /mount/data

You are working with      ENCODE FCC
PATH OF PROJECT (FD_PRJ): /mount/repo/Proj_ENCODE_FCC
PROJECT RESULTS (FD_RES): /mount/repo/Proj_ENCODE_FCC/results
PROJECT SCRIPTS (FD_EXE): /mount/repo/Proj_ENCODE_FCC/scripts
PROJECT DATA    (FD_DAT): /mount/repo/Proj_ENCODE_FCC/data
PROJECT NOTE    (FD_NBK): /mount/repo/Proj_ENCODE_FCC/notebooks
PROJECT DOCS    (FD_DOC): /mount/repo/Proj_ENCODE_FCC/docs
PROJECT LOG     (FD_LOG): /mount/repo/Proj_ENCODE_FCC/log
PROJECT APP     (FD_APP): /mount/repo/Proj_ENCODE_FCC/app
PROJECT REF     (FD_REF): /mount/repo/Proj_ENCODE_FCC/references

In [2]:
txt_fdiry = file.path(
    FD_RES, 
    "region_annotation", 
    "fcc_astarr_macs_input_overlap",
    "summary"
)
txt_fname = "matrix*tsv"
txt_fglob = file.path(txt_fdiry, txt_fname)

vec_txt_fpath = Sys.glob(txt_fglob)
vec_txt_fname = basename(vec_txt_fpath)

vec = vec_txt_fname
print(vec)

 [1] "matrix.annotation.chipseq_flagship.tsv"
 [2] "matrix.annotation.chipseq_full.tsv"
 [3] "matrix.annotation.chipseq_histone.tsv"
 [4] "matrix.annotation.chipseq_subset.tsv"
 [5] "matrix.annotation.fcc_peak_call.tsv"
 [6] "matrix.annotation.genome_tss.tsv"
 [7] "matrix.annotation.merge.chipseq_full.fcc.tss.tsv"
 [8] "matrix.annotation.prepare.cre.chipseq_full.fcc.tss.tsv"
 [9] "matrix.annotation.prepare.cre.chipseq_full.fcc.tsv"
[10] "matrix.annotation.prepare.cre.chipseq_full.only.tsv"
[11] "matrix.annotation.prepare.enh.chipseq_full.fcc.tss.tsv"
[12] "matrix.annotation.prepare.enh.chipseq_full.fcc.tsv"
[13] "matrix.annotation.prepare.enh.chipseq_full.only.tsv"
[14] "matrix.annotation.prepare.full.chipseq_full.fcc.tss.tsv"
[15] "matrix.annotation.prepare.full.chipseq_full.fcc.tsv"
[16] "matrix.annotation.prepare.full.chipseq_full.only.tsv"
[17] "matrix.annotation.test_chrX.chipseq_full.fcc.tss.tsv"
[18] "matrix.annotation.test_chrX.chipseq_full.only.tsv"
[19] "matrix.mca_dim50.prepare.cre.chipseq_full.fcc.tss.tsv"
[20] "matrix.mca_dim70.prepare.cre.chipseq_full.fcc.tss.tsv"
[21] "matrix.mca_dim90.prepare.cre.chipseq_full.fcc.tss.tsv"
[22] "matrix.mca_exp90.prepare.cre.chipseq_full.fcc.tss.tsv"
[23] "matrix.mca_exp90.test_chrX.chipseq_full.fcc.tss.tsv"

In [3]:
txt_fdiry = file.path(
    FD_RES, 
    "region_annotation", 
    "fcc_astarr_macs_input_overlap",
    "summary"
)
txt_fname = "matrix.annotation.fcc_peak_call.tsv"
txt_fpath = file.path(txt_fdiry, txt_fname)

dat = read_tsv(txt_fpath, show_col_types = FALSE)

dat_region_annot_fcc = dat
print(dim(dat))
fun_display_table(head(dat))

[1] 115953     14

Chrom,ChromStart,ChromEnd,Region,ASTARR_A,WSTARR_A,LMPRA_A,TMPRA_A,ASTARR_R,WSTARR_R,LMPRA_R,TMPRA_R,CRISPRi-HCRFF:CASA,CRISPRi-Growth:Signif
chr1,10038,10405,chr1:10038-10405,0,0,0,0,1,0,0,0,0,0
chr1,16025,16338,chr1:16025-16338,0,0,0,0,1,0,0,0,0,0
chr1,17288,17689,chr1:17288-17689,0,0,0,0,1,0,0,0,0,0
chr1,28934,29499,chr1:28934-29499,0,0,0,0,1,0,0,0,0,0
chr1,115429,115969,chr1:115429-115969,1,0,0,0,0,0,0,0,0,0
chr1,136201,137353,chr1:136201-137353,0,0,0,0,1,0,0,0,0,0

In [4]:
txt_fdiry = file.path(
    FD_RES, 
    "region_nuc", 
    "fcc_astarr_macs"
)
txt_fname = "K562.hg38.ASTARR.macs.KS91.input.rep_all.max_overlaps.q5.bed.gz"
txt_fpath = file.path(txt_fdiry, txt_fname)

dat = read_tsv(txt_fpath, show_col_types = FALSE)
dat = dat %>% dplyr::select(
    `#1_usercol`,
    `2_usercol`,
    `3_usercol`,
    `5_pct_gc`,
    `12_seq_len`
)
colnames(dat) = c("Chrom", "ChromStart", "ChromEnd", "pGC", "Length")

dat_region_gc = dat
print(dim(dat))
fun_display_table(head(dat, 3))

[1] 150042      5

Chrom,ChromStart,ChromEnd,pGC,Length
chr1,10038,10405,0.523161,367
chr1,14282,14614,0.578313,332
chr1,16025,16338,0.587859,313

In [5]:
tmp = dat_region_gc
tmp = tmp  %>% 
    dplyr::mutate(High_GC = as.integer(pGC > 0.60)) %>%
    dplyr::select(Chrom, ChromStart, ChromEnd, High_GC)

dat = dat_region_annot_fcc
dat = dat %>% dplyr::left_join(tmp, by = c("Chrom", "ChromStart", "ChromEnd"))
dat = dat %>% dplyr::mutate(ASTARR_R_GC = ifelse(High_GC == 1, 0, ASTARR_R))

dat_region_annot_fcc_pgc = dat
head(dat)

  Chrom ChromStart ChromEnd Region             ASTARR_A WSTARR_A LMPRA_A
1 chr1   10038      10405   chr1:10038-10405   0        0        0
2 chr1   16025      16338   chr1:16025-16338   0        0        0
3 chr1   17288      17689   chr1:17288-17689   0        0        0
4 chr1   28934      29499   chr1:28934-29499   0        0        0
5 chr1  115429     115969   chr1:115429-115969 1        0        0
6 chr1  136201     137353   chr1:136201-137353 0        0        0
  TMPRA_A ASTARR_R WSTARR_R LMPRA_R TMPRA_R CRISPRi-HCRFF:CASA
1 0       1        0        0       0       0
2 0       1        0        0       0       0
3 0       1        0        0       0       0
4 0       1        0        0       0       0
5 0       0        0        0       0       0
6 0       1        0        0       0       0
  CRISPRi-Growth:Signif High_GC ASTARR_R_GC
1 0                     0       1
2 0                     0       1
3 0                     1       0
4 0                     1       0
5 0                     0       0
6 0                     1       0

In [6]:
dat = dat_region_annot_fcc_pgc
dat = dat %>% dplyr::select(Region, ASTARR_R, ASTARR_R_GC, High_GC) 

#print(dim(dat))
#dat = dat %>% dplyr::distinct()

print(dim(dat))
head(dat, 3)

[1] 115953      4

  Region           ASTARR_R ASTARR_R_GC High_GC
1 chr1:10038-10405 1        1           0
2 chr1:16025-16338 1        1           0
3 chr1:17288-17689 1        0           1

In [7]:
addmargins(table(dat$ASTARR_R, dat$High_GC))

      0     1     Sum
  0   37428  4802  42230
  1   51351 22372  73723
  Sum 88779 27174 115953

In [8]:
addmargins(table(dat$ASTARR_R_GC, dat$High_GC))

      0     1     Sum
  0   37428 27174  64602
  1   51351     0  51351
  Sum 88779 27174 115953

In [9]:
dat = dat_region_annot_fcc
dat = dat %>% dplyr::select(Region, ends_with("_A"))
head(dat)

  Region             ASTARR_A WSTARR_A LMPRA_A TMPRA_A
1 chr1:10038-10405   0        0        0       0
2 chr1:16025-16338   0        0        0       0
3 chr1:17288-17689   0        0        0       0
4 chr1:28934-29499   0        0        0       0
5 chr1:115429-115969 1        0        0       0
6 chr1:136201-137353 0        0        0       0

In [10]:
dat = dat_region_annot_fcc
dat = dat %>% dplyr::select(Region, ends_with("_R"))
head(dat)

  Region             ASTARR_R WSTARR_R LMPRA_R TMPRA_R
1 chr1:10038-10405   1        0        0       0
2 chr1:16025-16338   1        0        0       0
3 chr1:17288-17689   1        0        0       0
4 chr1:28934-29499   1        0        0       0
5 chr1:115429-115969 0        0        0       0
6 chr1:136201-137353 1        0        0       0

In [11]:
dat = dat_region_annot_fcc_pgc
dat = dat %>% 
    dplyr::select(Region, ASTARR_R_GC, ends_with("_R")) %>%
    dplyr::select(-ASTARR_R)
head(dat)

  Region             ASTARR_R_GC WSTARR_R LMPRA_R TMPRA_R
1 chr1:10038-10405   1           0        0       0
2 chr1:16025-16338   1           0        0       0
3 chr1:17288-17689   0           0        0       0
4 chr1:28934-29499   0           0        0       0
5 chr1:115429-115969 0           0        0       0
6 chr1:136201-137353 0           0        0       0

In [12]:
dat = dat_region_annot_fcc
dat = dat %>% 
    dplyr::select(Region, ends_with("_A")) %>% 
    tibble::column_to_rownames(var="Region")

vec = apply(dat, 1, sum)
idx = (vec > 0)
vec = vec[idx]

dat = data.frame(
    Region    = names(vec),
    Num_Assay = vec,
    Type      = "Enhancer"
)

dat_region_fcc_vote_enh = dat
cat(sum(idx), "/", length(idx), "\n")

47686 / 115953

In [13]:
dat = dat_region_annot_fcc
dat = dat %>% 
    dplyr::select(Region, ends_with("_R")) %>% 
    tibble::column_to_rownames(var="Region")

vec = apply(dat, 1, sum)
idx = (vec > 0)
vec = vec[idx]

dat = data.frame(
    Region    = names(vec),
    Num_Assay = vec,
    Type      = "Repressor"
)

dat_region_fcc_vote_rep = dat
cat(sum(idx), "/", length(idx), "\n")

74542 / 115953

In [14]:
dat = dat_region_annot_fcc_pgc
dat = dat %>% 
    dplyr::select(Region, ASTARR_R_GC, ends_with("_R")) %>%
    dplyr::select(-ASTARR_R) %>% 
    tibble::column_to_rownames(var="Region")

vec = apply(dat, 1, sum)
idx = (vec > 0)
vec = vec[idx]

dat = data.frame(
    Region    = names(vec),
    Num_Assay = vec,
    Type      = "Repressor_GCFilter"
)

dat_region_fcc_vote_rep_pgc = dat
cat(sum(idx), "/", length(idx), "\n")

53193 / 115953

In [19]:
dat = bind_rows(
    dat_region_fcc_vote_enh,
    dat_region_fcc_vote_rep,
    dat_region_fcc_vote_rep_pgc
)
dat = dat %>% 
    tidyr::separate(Region, into = c("Chrom", "ChromStart", "ChromEnd"), remove = FALSE) %>%
    dplyr::select(Chrom, ChromStart, ChromEnd, Region, Num_Assay, Type)

dat_region_fcc_vote_merge = dat
print(dim(dat))
head(dat)

[1] 175421      6

                       Chrom ChromStart ChromEnd Region             Num_Assay
chr1:115429-115969     chr1  115429     115969   chr1:115429-115969 1
chr1:184091-184563     chr1  184091     184563   chr1:184091-184563 1
chr1:605104-605675     chr1  605104     605675   chr1:605104-605675 1
chr1:778233-779389     chr1  778233     779389   chr1:778233-779389 3
chr1:818708-819335...5 chr1  818708     819335   chr1:818708-819335 1
chr1:826796-828040...6 chr1  826796     828040   chr1:826796-828040 1
                       Type
chr1:115429-115969     Enhancer
chr1:184091-184563     Enhancer
chr1:605104-605675     Enhancer
chr1:778233-779389     Enhancer
chr1:818708-819335...5 Enhancer
chr1:826796-828040...6 Enhancer

In [20]:
txt_fdiry = file.path(
    FD_RES, 
    "region_annotation", 
    "fcc_astarr_macs_input_overlap",
    "summary2"
)
txt_fname = "result.summary.fcc_peak_call.assayvote.gcfilter.tsv"
txt_fpath = file.path(txt_fdiry, txt_fname)

dat = dat_region_fcc_vote_merge

write_tsv(dat, txt_fpath)

In [21]:
addmargins(table(dat$Num_Assay, dat$Type))

      Enhancer Repressor Repressor_GCFilter Sum
  1   27403    71923     51591              150917
  2   13617     2610      1599               17826
  3    6609        9         3                6621
  4      57        0         0                  57
  Sum 47686    74542     53193              175421

In [28]:
dat = dat_region_annot_fcc
dat = dat %>% 
    dplyr::select(Region, ends_with("_A")) %>% 
    tibble::column_to_rownames(var="Region")

vec = apply(dat, 1, sum)
idx = (vec > 0)
vec = names(vec[idx])

dat = data.frame(
    Region    = vec,
    Num_Assay = 1L,
    Type      = "Enhancer"
)

dat_region_fcc_vote1_enh = dat
cat(sum(idx), "/", length(idx), "\n")

47686 / 115953

In [30]:
dat = dat_region_annot_fcc
dat = dat %>% 
    dplyr::select(Region, ends_with("_R")) %>% 
    tibble::column_to_rownames(var="Region")

vec = apply(dat, 1, sum)
idx = (vec > 0)
vec = names(vec[idx])

dat = data.frame(
    Region    = vec,
    Num_Assay = 1L,
    Type      = "Repressor"
)

dat_region_fcc_vote1_rep = dat
cat(sum(idx), "/", length(idx), "\n")

74542 / 115953

In [31]:
dat = dat_region_annot_fcc_pgc
dat = dat %>% 
    dplyr::select(Region, ASTARR_R_GC, ends_with("_R")) %>%
    dplyr::select(-ASTARR_R) %>% 
    tibble::column_to_rownames(var="Region")

vec = apply(dat, 1, sum)
idx = (vec > 0)
vec = names(vec[idx])

dat = data.frame(
    Region    = vec,
    Num_Assay = 1L,
    Type      = "Repressor_GCFilter"
)

dat_region_fcc_vote1_rep_pgc = dat
cat(sum(idx), "/", length(idx), "\n")

53193 / 115953

In [32]:
dat = dat_region_annot_fcc
dat = dat %>% 
    dplyr::select(Region, ends_with("_A")) %>% 
    tibble::column_to_rownames(var="Region")

vec = apply(dat, 1, sum)
idx = (vec > 1)
vec = names(vec[idx])

dat = data.frame(
    Region    = vec,
    Num_Assay = 2L,
    Type      = "Enhancer"
)

dat_region_fcc_vote2_enh = dat
cat(sum(idx), "/", length(idx), "\n")

20283 / 115953

In [33]:
dat = dat_region_annot_fcc
dat = dat %>% 
    dplyr::select(Region, ends_with("_R")) %>% 
    tibble::column_to_rownames(var="Region")

vec = apply(dat, 1, sum)
idx = (vec > 1)
vec = names(vec[idx])

dat = data.frame(
    Region    = vec,
    Num_Assay = 2L,
    Type      = "Repressor"
)

dat_region_fcc_vote2_rep = dat
cat(sum(idx), "/", length(idx), "\n")

2619 / 115953

In [34]:
dat = dat_region_annot_fcc_pgc
dat = dat %>% 
    dplyr::select(Region, ASTARR_R_GC, ends_with("_R")) %>%
    dplyr::select(-ASTARR_R) %>% 
    tibble::column_to_rownames(var="Region")

vec = apply(dat, 1, sum)
idx = (vec > 1)
vec = names(vec[idx])

dat = data.frame(
    Region    = vec,
    Num_Assay = 2L,
    Type      = "Repressor_GCFilter"
)

dat_region_fcc_vote2_rep_pgc = dat
cat(sum(idx), "/", length(idx), "\n")

1602 / 115953

In [36]:
txt_fdiry = file.path(
    FD_RES, 
    "region_annotation", 
    "fcc_astarr_macs_input_overlap",
    "summary2"
)
txt_fname = "result.summary.fcc_peak_call.assayvote.gcfilter.tsv"
txt_fpath = file.path(txt_fdiry, txt_fname)

dat = bind_rows(
    dat_region_fcc_vote1_enh,
    dat_region_fcc_vote1_rep,
    dat_region_fcc_vote1_rep_pgc,
    dat_region_fcc_vote2_enh,
    dat_region_fcc_vote2_rep,
    dat_region_fcc_vote2_rep_pgc
)

write_tsv(dat, txt_fpath)

In [30]:
vec = c(vec_txt_fcc_vote1_enh, vec_txt_fcc_vote1_rep)
vec = unique(vec)
vec_txt_fcc_ = vec
print(length(vec))

[1] 22517

In [31]:
vec = c(vec_txt_fcc_enh, vec_txt_fcc_rep_pgc)
vec = unique(vec)
vec_txt_fcc = vec
print(length(vec))

[1] 21721

In [36]:
lst = list(
    "CRES_AssayVote2"          = unique(c(vec_txt_fcc_enh, vec_txt_fcc_rep)),
    "CRES_AssayVote2_GCFilter" = unique(c(vec_txt_fcc_enh, vec_txt_fcc_rep_pgc))
)
print(lapply(lst, length))

$CRES_AssayVote2
[1] 22517

$CRES_AssayVote2_GCFilter
[1] 21721

In [37]:
txt_fdiry = file.path(
    FD_RES, 
    "region_annotation", 
    "fcc_astarr_macs_input_overlap",
    "summary"
)
txt_fname = "region.fcc_peak_call.assayvote2.RDS"
txt_fpath = file.path(txt_fdiry, txt_fname)

lst = list(
    "CRES_AssayVote2"          = unique(c(vec_txt_fcc_enh, vec_txt_fcc_rep)),
    "CRES_AssayVote2_GCFilter" = unique(c(vec_txt_fcc_enh, vec_txt_fcc_rep_pgc))
)

saveRDS(lst, txt_fpath)