---
title: Prepare Hi-C data 12 (in situ Hi-C)
subtitle: Prepare data (TAD)
format:
    html:
        code-fold:  true
        code-tools: true
---

**Set environment**

In [1]:
suppressMessages(suppressWarnings(source("../run_config_project_sing.R")))
show_env()

You are working on        Singularity: singularity_proj_encode_fcc
BASE DIRECTORY (FD_BASE): /data/reddylab/Kuei
REPO DIRECTORY (FD_REPO): /data/reddylab/Kuei/repo
WORK DIRECTORY (FD_WORK): /data/reddylab/Kuei/work
DATA DIRECTORY (FD_DATA): /data/reddylab/Kuei/data

You are working with      ENCODE FCC
PATH OF PROJECT (FD_PRJ): /data/reddylab/Kuei/repo/Proj_ENCODE_FCC
PROJECT RESULTS (FD_RES): /data/reddylab/Kuei/repo/Proj_ENCODE_FCC/results
PROJECT SCRIPTS (FD_EXE): /data/reddylab/Kuei/repo/Proj_ENCODE_FCC/scripts
PROJECT DATA    (FD_DAT): /data/reddylab/Kuei/repo/Proj_ENCODE_FCC/data
PROJECT NOTE    (FD_NBK): /data/reddylab/Kuei/repo/Proj_ENCODE_FCC/notebooks
PROJECT DOCS    (FD_DOC): /data/reddylab/Kuei/repo/Proj_ENCODE_FCC/docs
PROJECT LOG     (FD_LOG): /data/reddylab/Kuei/repo/Proj_ENCODE_FCC/log
PROJECT REF     (FD_REF): /data/reddylab/Kuei/repo/Proj_ENCODE_FCC/references

**Set global variables**

In [2]:
TXT_FOLDER_REGION = "hic_insitu_K562_ENCSR545YBD"
TXT_ASSAY = "hic_insitu"
TXT_INDEX = "ENCSR545YBD"

## Import data

**View files**

In [3]:
txt_folder = TXT_FOLDER_REGION
txt_fdiry  = file.path(FD_DAT, "external", txt_folder)

vec = dir(txt_fdiry)
for (txt in vec){cat(txt, "\n")}

K562.hg38.ENCSR545YBD.ENCFF271SAF.hic_insitu.contact_domain.bedpe.gz
K562.hg38.ENCSR545YBD.ENCFF616PUW.hic_insitu.matrix.hic
K562.hg38.ENCSR545YBD.ENCFF693XIL.hic_insitu.loop.bedpe.gz
run_download.log.txt
run_download.sh

**Import data**

In [4]:
### set file path
txt_folder = TXT_FOLDER_REGION
txt_fdiry  = file.path(FD_DAT, "external", txt_folder)
txt_fname = "K562.hg38.ENCSR545YBD.ENCFF271SAF.hic_insitu.contact_domain.bedpe.gz"
txt_fpath = file.path(txt_fdiry, txt_fname)

### read table
dat = read_tsv(txt_fpath, col_types = list("color"=col_character()), show_col_types = FALSE)

### arrange columns
dat = dat %>% dplyr::filter(!row_number() == 1)
colnames(dat)[1] = "chr"

### assign and show
dat_region_import = dat
print(dim(dat))
fun_display_table(head(dat))

New names:
• `score` -> `score...8`
• `score` -> `score...12`
Warning message:
“One or more parsing issues, call `problems()` on your data frame for details,
e.g.:
  dat <- vroom(...)
  problems(dat)”

[1] 5703   16

chr,x1,x2,chr2,y1,y2,name,score...8,strand1,strand2,color,score...12,uVarScore,lVarScore,upSign,loSign
chr10,84565000,86085000,chr10,84565000,86085000,.,.,.,.,"255,255,0",0.7973227,0.3603668,0.3402993,0.4446594,0.5478586
chr10,50985000,52225000,chr10,50985000,52225000,.,.,.,.,"255,255,0",1.0083018,0.3171058,0.3477260,0.5433548,0.4545161
chr10,98415000,99300000,chr10,98415000,99300000,.,.,.,.,"255,255,0",0.6516994,0.2746902,0.2858612,0.4402222,0.6153263
chr10,112500000,113595000,chr10,112500000,113595000,.,.,.,.,"255,255,0",1.1134926,0.2805900,0.2788020,0.6329752,0.5778512
chr10,98715000,99265000,chr10,98715000,99265000,.,.,.,.,"255,255,0",0.6108739,0.2388994,0.2776476,0.4019481,0.4756494
chr10,94630000,95075000,chr10,94630000,95075000,.,.,.,.,"255,255,0",1.0027722,0.2445123,0.2682168,0.6469136,0.4656790

In [5]:
colnames(dat)

 [1] "chr"        "x1"         "x2"         "chr2"       "y1"
 [6] "y2"         "name"       "score...8"  "strand1"    "strand2"
[11] "color"      "score...12" "uVarScore"  "lVarScore"  "upSign"
[16] "loSign"

## Rename columns

In [6]:
fun_toupper_first = function(txt_input){
    txt_first  = toupper(substring(txt_input, 1, 1))
    txt_rest   = substring(txt_input, 2)
    txt_output = paste0(txt_first, txt_rest)
    return(txt_output)
}

In [7]:
### init
dat = dat_region_import

### rename location
vec = c(
    "Chrom_1", "ChromStart_1", "ChromEnd_1",
    "Chrom_2", "ChromStart_2", "ChromEnd_2"
)
colnames(dat)[1:6] = vec

### captialize the first letter
vec = colnames(dat)
vec = fun_toupper_first(vec)

### rename score and centroid
vec = dplyr::recode(
    vec, 
    "Score...8"  = "Score", 
    "Score...12" = "DomainScore",
    "Strand1"    = "Strand_1", 
    "Strand2"    = "Strand_2"
)
colnames(dat) = vec

### assign and show
dat_region_rename = dat
print(dim(dat))
fun_display_table(head(dat))

[1] 5703   16

Chrom_1,ChromStart_1,ChromEnd_1,Chrom_2,ChromStart_2,ChromEnd_2,Name,Score,Strand_1,Strand_2,Color,DomainScore,UVarScore,LVarScore,UpSign,LoSign
chr10,84565000,86085000,chr10,84565000,86085000,.,.,.,.,"255,255,0",0.7973227,0.3603668,0.3402993,0.4446594,0.5478586
chr10,50985000,52225000,chr10,50985000,52225000,.,.,.,.,"255,255,0",1.0083018,0.3171058,0.3477260,0.5433548,0.4545161
chr10,98415000,99300000,chr10,98415000,99300000,.,.,.,.,"255,255,0",0.6516994,0.2746902,0.2858612,0.4402222,0.6153263
chr10,112500000,113595000,chr10,112500000,113595000,.,.,.,.,"255,255,0",1.1134926,0.2805900,0.2788020,0.6329752,0.5778512
chr10,98715000,99265000,chr10,98715000,99265000,.,.,.,.,"255,255,0",0.6108739,0.2388994,0.2776476,0.4019481,0.4756494
chr10,94630000,95075000,chr10,94630000,95075000,.,.,.,.,"255,255,0",1.0027722,0.2445123,0.2682168,0.6469136,0.4656790

**Explore**

In [8]:
dat = dat_region_rename
cat("Chrom:     ", all(dat$Chrom_1      == dat$Chrom_2),      "\n")
cat("ChromStart:", all(dat$ChromStart_1 == dat$ChromStart_2), "\n")
cat("ChromEnd:  ", all(dat$ChromEnd_1   == dat$ChromEnd_2),   "\n")

Chrom:      TRUE
ChromStart: TRUE
ChromEnd:   TRUE

## Arrange table

In [9]:
### init
dat = dat_region_rename

### arrange columns
dat = dat %>% 
    dplyr::mutate(
        Region = fun_gen_region(Chrom_1, ChromStart_1, ChromEnd_1),
        Size   = ChromEnd_1 - ChromStart_1
    )

### assign and show
dat_region_arrange = dat
print(dim(dat))
fun_display_table(head(dat, 3))

[1] 5703   18

Chrom_1,ChromStart_1,ChromEnd_1,Chrom_2,ChromStart_2,ChromEnd_2,Name,Score,Strand_1,Strand_2,Color,DomainScore,UVarScore,LVarScore,UpSign,LoSign,Region,Size
chr10,84565000,86085000,chr10,84565000,86085000,.,.,.,.,"255,255,0",0.7973227,0.3603668,0.3402993,0.4446594,0.5478586,chr10:84565000-86085000,1520000
chr10,50985000,52225000,chr10,50985000,52225000,.,.,.,.,"255,255,0",1.0083018,0.3171058,0.3477260,0.5433548,0.4545161,chr10:50985000-52225000,1240000
chr10,98415000,99300000,chr10,98415000,99300000,.,.,.,.,"255,255,0",0.6516994,0.2746902,0.2858612,0.4402222,0.6153263,chr10:98415000-99300000,885000

## Prepare region

In [10]:
### init
vec_txt_cname_A = c("Chrom_1", "ChromStart_1", "ChromEnd_1", "Region")
vec_txt_cname   = c("Chrom",   "ChromStart",   "ChromEnd",   "Region", "Group", "Label")
txt_assay = TXT_ASSAY

### prepare region
dat = dat_region_arrange
dat = dat %>% 
    dplyr::select(!!!vec_txt_cname_A) %>% 
    dplyr::mutate(
        Group = txt_assay,
        Label = "TAD"
    ) %>%
    dplyr::distinct()
colnames(dat) = vec_txt_cname

### assign and show
dat_region_simplify = dat
print(dim(dat))
fun_display_table(head(dat))

[1] 5703    6

Chrom,ChromStart,ChromEnd,Region,Group,Label
chr10,84565000,86085000,chr10:84565000-86085000,hic_insitu,TAD
chr10,50985000,52225000,chr10:50985000-52225000,hic_insitu,TAD
chr10,98415000,99300000,chr10:98415000-99300000,hic_insitu,TAD
chr10,112500000,113595000,chr10:112500000-113595000,hic_insitu,TAD
chr10,98715000,99265000,chr10:98715000-99265000,hic_insitu,TAD
chr10,94630000,95075000,chr10:94630000-95075000,hic_insitu,TAD

## Save results

In [11]:
### set file path
txt_folder = TXT_FOLDER_REGION
txt_fdiry  = file.path(FD_RES, "region", txt_folder)
txt_fname = "K562.hg38.hic_insitu.TAD.bed.gz"
txt_fpath = file.path(txt_fdiry, txt_fname)

### get table
dat = dat_region_simplify
dat = dat %>% dplyr::arrange(Chrom, ChromStart, ChromEnd)

### write tabel
dir.create(txt_fdiry, showWarnings = FALSE)
write_tsv(dat, txt_fpath, col_names = FALSE)

In [12]:
### set file path
txt_folder = TXT_FOLDER_REGION
txt_fdiry  = file.path(FD_RES, "region", txt_folder, "summary")
txt_fname = "K562.hg38.hic_insitu.TAD.tsv"
txt_fpath = file.path(txt_fdiry, txt_fname)

### get table
dat = dat_region_arrange
dat = dat %>% dplyr::arrange(
    Chrom_1, ChromStart_1, ChromEnd_1,
    Chrom_2, ChromStart_2, ChromEnd_2
)

### write tabel
dir.create(txt_fdiry, showWarnings = FALSE)
write_tsv(dat, txt_fpath)